[2015-01-05 14:28] yegor256 commented on #954
@nhekfqn don't hesitate to submit a ticket, if you think that such an improvement would be beneficial for the project

[2015-01-05 15:20] nhekfqn opened #960 "Implement RtObjectPaginator utility for parsing json object to collection of objects."
There is RtPaginator utility for parsing json array to collection of objects using mapper, need similar utility for json objects.

See comments at https://github.com/jcabi/jcabi-github/issues/954

When utility implemented, use it in RtRepo.languages() instead of manually parse json object fields.

[2015-01-05 15:20] nhekfqn commented on #954
Issue created https://github.com/jcabi/jcabi-github/issues/960

[2015-01-05 17:46] yegor256 commented on #960
@nhekfqn how exactly do you want it to work? I mean, what should be the output? In case of `RtPaginator` it is a collection of objects. What will be the result in this case?

[2015-01-05 18:31] nhekfqn commented on #960
@yegor256 same way as RtPaginator but input is json object (key-value pair actually), output is also collection of objects.

E.g. input

{
    "id1":100,
    "id2":200,
    "id3":450
}

Java bean

public class Supply {

    private final String id;
    private final int amount;

    // constructor and getters

}

RtObjectPaginator usage should be like

RtObjectPaginator<Supply> op = new RtObjectPa

[2015-01-05 23:25] darkled opened #963 "Incomplete documentation: which scopes should OAuth token have?"
README.md says that one needs to create a new Github OAuth access token to execute integration tests, but it is unclear which scopes should be selected in generation process.

[2015-01-06 01:27] darkled commented on #903
@dmarkov unfortunately, for the moment `jcabi-github` absolutely doesn't support processing of `JsonArray`'s.

The possible fix of this problem could be this snippet in `RtContents` (I can push it if it could make sense):
[code]

But actually it leads for further problems because somewhere inside this method `com.jcabi.github.RtContent.json()` is invoked which has 170 usages in sources and will th

[2015-01-06 08:58] yegor256 opened #964 "MkStorage.Synced is not used"

[2015-01-06 09:14] dmarkov commented on #927
@yegor256 issue closes as you just asked

[2015-01-06 09:14] #927 closed

[2015-01-06 09:15] dmarkov opened #965 "MkStars.java:46-47: Implement MkStars.star() and MkStars.unstar() operations...."
Puzzle `950-4b919e8a` in `src/main/java/com/jcabi/github/mock/MkStars.java:46-47` has to be resolved: Implement MkStars.star() and MkStars.unstar() operations. Don't forget about unit tests.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-01-06 09:23] #950 closed

[2015-01-06 09:23] #948 closed

[2015-01-06 09:23] dmarkov commented on #950
Thanks, closed

[2015-01-06 09:23] dmarkov commented on #948
We're done here, thanks all

[2015-01-06 09:23] dmarkov commented on #948
@jenya I'm not sure who actually completed this task, since there were no messages from you above (correct me if I'm wrong)

[2015-01-06 11:06] yegor256 commented on #964
@rultor release, tag is `0.18.5`

[2015-01-06 11:07] rultor commented on #964
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1481-68852901)

[2015-01-06 11:11] yegor256 commented on #964
@rultor stop

[2015-01-06 11:54] rultor commented on #964
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/1481-68852901) (took me 47min)

[2015-01-06 12:05] #964 closed

[2015-01-07 09:47] dmarkov commented on #963
this task will get someone's attention soon

[2015-01-07 14:31] wentwog commented on #949
@dmarkov I'm currently working on this task. Hope to complete in the 10d deadline and hope you won't subtract points earlier ).

[2015-01-08 08:25] wentwog commented on #949
@dmarkov I've created PR #966

[2015-01-08 09:59] yegor256 commented on #938
@dmarkov please assign someone else

[2015-01-08 11:10] dmarkov commented on #938
@yegor256 I'll ask somebody else to pick this up

[2015-01-08 11:25] dmarkov commented on #863
@darkled you're holding this task for 12 days already... -30 added to your rating, current score is: [+60](http://www.netbout.com/b/35091?open=rating)

[2015-01-08 11:25] dmarkov commented on #927
@yegor256 Thanks so much! Your account was topped up for **30 mins** (transaction ID is `000-646434bd`)

+30 added to your rating, current score is: [+4460](http://www.netbout.com/b/35008?open=rating)

[2015-01-08 11:25] dmarkov commented on #950
@alevohin done, I added **30 mins** in payment `49905513`; +30 to your rating, your total score is +60

[2015-01-08 11:25] dmarkov commented on #963
@maurezen please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have; The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-done.html

[2015-01-08 11:25] dmarkov commented on #965
@alevohin This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here... Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2015-01-08 11:33] dmarkov commented on #963
@darkled thank you for the ticket reported, I topped your account for 15 mins, transaction `49978575`

[2015-01-08 11:47] darkled commented on #863
@dmarkov this issue as mentioned is closely related to #903. From my point of view, nothing can be done here before that issue is closed. And I am not sure what is this score rating about?

[2015-01-08 11:59] darkled opened #968 "Content doesn't support JsonArray reading"
There is the method `com.jcabi.github.Content.json()` which returns `JsonObject`. But in some cases (e.g. #903 which is about getting invoking `com.jcabi.github.RtContents.content(String, String)` on directories) we can need to process `JsonArray`'s instead. If there is no way to do that for the moment, it should be introduced.

[2015-01-08 15:55] matthew-white opened #969 "Github class documentation"
The [`Github` documentation](https://github.com/jcabi/jcabi-github/blob/4fda54207bd5a8b36ad134d0745ee882880a2beb/src/main/java/com/jcabi/github/Github.java#L48-53) reads:

 Github github = new RtGithub(oauthKey);
 Repo repo = github.repo("jcabi/jcabi-github");
 Issues issues = repo.issues();
 Issue issue = issues.post("issue title", "issue body");
[code]

[2015-01-08 16:31] maurezen opened #970 "Copyright section is outdated"
Copyright sections still feature 2014 as a year.

[2015-01-08 16:58] yegor256 commented on #969
yes, it's a typo. You should call `github.repos().repo(..)`. feel free to submit a pull request for the fix

[2015-01-08 19:08] alevohin opened #972 "Stars API must be refactored or moved to Github"
Stars API now is part of Repo API - it is wrong. Methods of Stars API is also have parameters of user/repo name - they are redundant. It's better to do one of this:
1) Refactor Stars API. Methods starred, star and unstar is for logged in user only. All parameters show be removed from methods. Need new method Repo repo(). Repo must provide username and reponame for methods starred/star/unstar.
2) M

[2015-01-08 19:10] alevohin commented on #965
@dmarkov issue https://github.com/jcabi/jcabi-github/issues/956 must be closed before.

[2015-01-08 21:36] maurezen opened #973 "Multiple use of the same hardcoded string"
In the process of investigating  #963 I found that failsafe.github.key property is accessed via System.getProperty call with the same hardcoded string literal. This doesn't look like a good design.

[2015-01-08 21:53] maurezen commented on #963
@dmarkov the scopes needed are gists, user:email, public_repo and read:public_key, right? Just checking so I didn't miss anything.

[2015-01-08 22:10] yegor256 commented on #973
@maurezen I'm not sure I follow... can you suggest a better design?

[2015-01-08 22:22] maurezen commented on #973
@yegor256 I would suggest introducing a string constant somewhere, maybe even in a separate class, or an enum. This would eliminate multiple string literal usage which introduces a possibility of error in the process of modification of its value. While not yet a literal anti-pattern implementation, it is close.

[2015-01-08 22:23] yegor256 commented on #973
which file/class are we talking about? which line of code?

[2015-01-08 22:35] maurezen commented on #973
For example, com.jcabi.github.RtPublicKeyITCase#retrievesURI(), line 50.
Exactly the same line of code occurs in 40 more places in the project.

[2015-01-09 10:50] yegor256 commented on #973
@maurezen make sense, you're right. Would be nice to introduce a new JUnit "resource" for that

[2015-01-09 19:31] darkled commented on #863
@dmarkov please, assign this task to someone else

[2015-01-09 19:32] darkled commented on #903
@dmarkov please, assign this task to someone else.

[2015-01-10 09:37] maxim-kornienko commented on #955
@dmarkov Pull request is closed, may we close the issue now?
I have general question: do I need to comment to issue when pull request is merged or it's redundant?

[2015-01-10 14:18] yegor256 commented on #955
@maxim-kornienko it's better to do it. Moreover, it's good to give the number of the pull request, where the issue is fixed.

[2015-01-10 15:25] maxim-kornienko commented on #955
@yegor256 jcabi/jcabi-github/pull/962 here it is

[2015-01-10 23:07] maurezen commented on #963
@dmarkov, ping. It's been 48 hours since I asked you a question, could you please react somehow?

[2015-01-10 23:24] yegor256 commented on #963
@maurezen you should ask @darkled, he is the reporter of the ticket, see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html#1.-keep-it-one-on-one

[2015-01-10 23:27] darkled commented on #963
@yegor256 if I knew which scopes are needed I wouldn't create this issue. What should we do then?

[2015-01-10 23:36] maurezen commented on #963
@yegor256 the reporter is incapable of answering this question. Is research within the scope of this issue?

[2015-01-11 00:37] maurezen commented on #963
@yegor256 @darkled never mind, created a pull request here #974

[2015-01-11 00:39] maurezen opened #975 "Incomplete integration tests javadoc"
In the light of #963 it would probably be useful to include required oauth scopes in integration tests javadoc.

[2015-01-11 00:44] maurezen opened #976 "Incorrect documentation - example integration test run script"
In README.md in the example of running integration tests with the oauth token the test case RtGistITCase is used. However, the test requires two oauth tokens, supplied via properties failsafe.github.key and failsafe.github.key.second, whereas the example only supplies one.

[2015-01-11 00:48] maurezen opened #977 "Strange maven configuration"
In pom.xml maven-failsafe-plugin is configured in two separate places - in pluginManagement/plugins section of build and in plugins section of build. Wouldn't it be more clear and streamlined to merge the configuration to one section?

[2015-01-11 08:13] yegor256 commented on #977
@maurezen definitely a bug, thanks

[2015-01-11 08:16] yegor256 commented on #975
@maurezen let's wait for #963 completion and then review this bug again

[2015-01-12 02:31] nathansgreen commented on #932
@dmarkov please assign to someone else.

[2015-01-12 02:33] nathansgreen commented on #913
@dmarkov I'm not seeing my login as a label on this issue. I totally missed this. Please assign to someone else.

[2015-01-12 11:53] dmarkov commented on #969
@yegor256 only @matthew-white can close this issue, since he opened it

[2015-01-12 11:54] dmarkov commented on #968
I'll ask someone to take care of this task soon

[2015-01-12 11:54] dmarkov commented on #972
this task will get someone's attention soon

[2015-01-12 11:54] dmarkov commented on #976
this task will get someone's attention soon

[2015-01-12 11:54] dmarkov commented on #977
I'll find a developer for the task soon...

[2015-01-12 11:54] dmarkov commented on #863
@darkled I will assign somebody else to this issue

[2015-01-12 11:54] dmarkov commented on #903
@darkled I will assign somebody else to this issue

[2015-01-12 11:54] dmarkov commented on #913
@nathansgreen someone else will help in this task, no problem at all

[2015-01-12 11:54] dmarkov commented on #932
@nathansgreen right, I will find someone else, no problem

[2015-01-12 12:56] dmarkov commented on #863
@darkled you've been working with this task for too long. I'm sorry, but I'll assign someone else. Please stop working with it. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle; -60 added to your rating, current score is: [-90](http://www.netbout.com/b/35091?open=rating)

[2015-01-12 12:56] dmarkov commented on #913
@nathansgreen you're working with this issue for 13 days already... -30 added to your rating, at the moment it is: [+70](http://www.netbout.com/b/35107?open=rating)

[2015-01-12 12:56] dmarkov commented on #938
@romankisilenko could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here... Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-01-12 12:56] dmarkov commented on #968
@aoxa can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here... Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-01-12 12:56] dmarkov commented on #972
@pinaf please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here; This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2015-01-12 12:56] dmarkov commented on #973
@wb14123 please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have; **30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually spend

[2015-01-12 12:59] dmarkov commented on #968
@darkled thanks a lot for reporting, **15 mins** added to your acc, pmt ID `50045055`

[2015-01-12 13:00] darkled commented on #863
@dmarkov @yegor256 I am not sure these -60 are correct, since I've rejected the task 3 days ago, aren't they?

[2015-01-12 18:32] #969 closed

[2015-01-12 20:14] yegor256 opened #980 "RepoCommit.Smart.message() is doing it wrong"
According to Github API, we should get "commit" and only then fetch the "message"

[2015-01-12 20:27] yegor256 commented on #980
@rultor release, tag is `0.18.6`

[2015-01-12 20:27] rultor commented on #980
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1549-69639510)

[2015-01-12 20:55] rultor commented on #980
Release `0.18.6` already exists! I can't duplicate it, but I posted a comment there. In the future, try to avoid duplicate releases

[2015-01-12 20:55] rultor commented on #980
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/1549-69639510) (took me 19min)

[2015-01-12 21:02] #980 closed

[2015-01-12 21:18] yegor256 commented on #825
@cyberone the problem is that you didn't remove the original puzzle from the source code. That's why the task is still open. Please remove it in a new pull request.

[2015-01-12 21:19] yegor256 commented on #883
@dmarkov assign someone else pls

[2015-01-13 00:39] pinaf commented on #972
@dmarkov please pull from [PR 981](https://github.com/jcabi/jcabi-github/pull/981)

[2015-01-13 00:45] pinaf commented on #972
something I believe is worth mentioning. Running **mvn clean install -Pqulice** on this project takes waaay too long...

[INFO] BUILD SUCCESS
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 09:00 min
[INFO] Finished at: 2015-01-12T22:30:22-03:00
[INFO] Final Memory: 50M/410M
[INFO] ------------------------------------------------------------------

[2015-01-13 10:05] nhekfqn commented on #954
@dmarkov should I notify that PR https://github.com/jcabi/jcabi-github/pull/978 has been merged?

[2015-01-13 16:02] maurezen commented on #975
@yegor256 it's time to review this again.

[2015-01-13 16:02] maurezen commented on #963
@darkled pull request #974 has been merged into master, please close the ticket. I think you would also find #975 useful.

[2015-01-13 16:17] yegor256 commented on #975
@maurezen yes, looks like a valid bug, thanks

[2015-01-13 16:26] darkled commented on #963
@maurezen thanks!

[2015-01-13 16:26] #963 closed

[2015-01-14 08:49] nhekfqn commented on #954
@dmarkov https://github.com/jcabi/jcabi-github/pull/978 has been merged. Can I get payment and we close the ticket now?

[2015-01-14 11:20] dmarkov commented on #970
I'm aware of the task, give me some time to find a developer...

[2015-01-14 11:20] dmarkov commented on #883
@yegor256 all right, we'll find someone else for this task

[2015-01-14 11:26] dmarkov commented on #955
once `955-60da9c34` puzzle is resolved, this ticket will be complete

[2015-01-14 12:23] dmarkov commented on #863
@maurezen it's your task, go ahead

[2015-01-14 12:23] dmarkov commented on #903
@palyuga This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here... Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-01-14 12:23] dmarkov commented on #913
@dpisarenko it's your task, go ahead

[2015-01-14 12:23] dmarkov commented on #932
@pinaf please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have

**30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually spend).

[2015-01-14 12:23] dmarkov commented on #952
@flexelem the task is overdue, and I have to re-assign it to someone else. Please, stop working with it immediately. In general, we're against overdue tasks, check [this page](http://www.xdsd.org/2014/04/13/no-obligations-principle.html)... added -60 to your rating, now it is equal to -185

[2015-01-14 12:23] dmarkov commented on #954
@nhekfqn the task is your hands for the last 13 days.. keep in mind that if it's not closed in the next 16 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. do not forget that the ticket will be closed once the `@todo` puzzle is removed from the code, in master branch. added -30 to your rating, now it is equ

[2015-01-14 13:48] nhekfqn commented on #954
@dmarkov @todo puzzle has been removed from code, in master branch https://github.com/jcabi/jcabi-github/blob/master/src/main/java/com/jcabi/github/RtRepo.java Please close the ticket.

[2015-01-14 14:30] pinaf commented on #932
@dmarkov please assign to someone else - no experience with android dev and no phone to test.

[2015-01-14 16:18] cyberone commented on #825
@yegor256 @dmarkov removed puzzle, see https://github.com/jcabi/jcabi-github/pull/983

[2015-01-14 16:22] dpisarenko opened #984 "Broken link at http://github.jcabi.com"
The link titled *Javadoc* at http://github.jcabi.com leads to a missing page http://github.jcabi.com/apidocs-0.18.6/com/jcabi/github/index.html .

Please change the link so that it points to an existing page.

[2015-01-14 17:21] dpisarenko commented on #913
If I understand correctly, we have following API calls (source: https://developer.github.com/v3/activity/notifications/ ):

  1. List your notifications - `com.jcabi.github.User#notifications`
  1. List your notifications in a repository - `com.jcabi.github.Notifications#iterate`
  1. Mark as read - `com.jcabi.github.User#markAsRead`
  1. Mark notifications as read in a repository - `com.jcabi.git

[2015-01-14 18:09] pinaf commented on #972
@alevohin @dmarkov merged. please close.

[2015-01-14 19:15] alevohin commented on #972
@alevohin thanks!

[2015-01-14 19:15] #972 closed

[2015-01-14 23:47] AlexDag commented on #953
@dmarkov - I'm starting this job now.thanks

[2015-01-15 05:22] nhekfqn commented on #954
@dmarkov Please close the ticket.

[2015-01-15 06:50] nhekfqn commented on #960
@yegor256 According to http://www.yegor256.com/2014/04/12/puzzle-driven-development-by-roles.html do I understand right that I should be paid for tickets like this one? Could you please explain workflow here - I've submitted a ticket, what has to be done next?

[2015-01-15 09:18] wentwog commented on #949
@dmarkov the PL was merged. Could you close the issue ?

[2015-01-15 11:09] yegor256 commented on #960
@nhekfqn you did everything right, but I still don't understand the idea of this bug/suggestion. First, we don't work with Java beans. how we will "construct" objects? via reflection?

[2015-01-15 11:10] yegor256 commented on #960
@nhekfqn wait, maybe I miss something... give me a few mins

[2015-01-15 11:16] yegor256 commented on #960
Here is how you can implement `RtRepo.languages()` in a more compact and functional way, using Guava:

[code]

So, what you're suggesting is already implemented in Guava, just use it.

[2015-01-15 11:16] #960 closed

[2015-01-15 14:29] dmarkov commented on #984
we'll find someone to do this task, soon

[2015-01-15 14:29] dmarkov commented on #932
@pinaf got it, someone else will be assigned soon

[2015-01-15 14:30] dmarkov opened #987 "RtRepo.java:53-54: Uncomment test RtRepoTest.iteratesLanguages() when RtRepoITCase.languages()..."
Puzzle `955-60da9c34` in `src/main/java/com/jcabi/github/RtRepo.java:53-54` has to be resolved: Uncomment test RtRepoTest.iteratesLanguages() when RtRepoITCase.languages() implemented.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-01-15 15:03] dmarkov commented on #949
Thanks, closed

[2015-01-15 15:03] #949 closed

[2015-01-15 15:03] dmarkov commented on #955
Finished, thanks, closing..

[2015-01-15 15:03] #955 closed

[2015-01-15 19:34] maurezen commented on #863
@dmarkov @yegor256 shouldn't there also be my account label on this ticket?

[2015-01-16 01:55] aoxa commented on #968
Is there a use case that I can execute to replay the defect? Please bear in mind I'm new to the project and will need some time to get up to speed.
Cheers!

[2015-01-16 07:35] darkled commented on #968
@aoxa you can try this snippet:
[code]

[2015-01-16 10:17] dmarkov commented on #949
@wentwog Much obliged! I've added **30 mins** to your account in payment "50300758". added +30 to your rating, now it is equal to [+50](http://www.netbout.com/b/35104?open=rating)

[2015-01-16 10:17] dmarkov commented on #953
@alexdag you've been working with this task for too long. I'm sorry, but I'll assign someone else. Please stop working with it. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. -60 added to your rating, current score is: [-120](http://www.netbout.com/b/35099?open=rating)

[2015-01-16 10:17] dmarkov commented on #955
@maxim-kornienko Thanks a lot, I just topped your account for **30 mins**, transaction ID `50300798`

+30 to your rating, your total score is +75

[2015-01-16 10:17] dmarkov commented on #956
@apocarteres the ticket is with you for 13 days already. If it's not finished in the next 2 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle, [this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck

do not forget that you should remove the `@todo` puzzle from th

[2015-01-16 10:17] dmarkov commented on #963
@maurezen Thank you, I've added **30 mins** to your account in payment/transaction "`50300828`"; +30 to your rating, your total score is [+495](http://www.netbout.com/b/35102?open=rating)

[2015-01-16 10:17] dmarkov commented on #977
@maxim-kornienko this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here. The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15

[2015-01-16 10:17] dmarkov commented on #984
@marczeeee please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have. This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2015-01-16 10:17] dmarkov commented on #987
@maxim-kornienko this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here... Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-01-16 10:28] dmarkov commented on #973
@maurezen thanks for reporting! I topped your account for 15 mins, transaction 50300983

[2015-01-16 10:30] yegor256 commented on #956
@dmarkov looks like we need more time here

[2015-01-16 11:26] palyuga commented on #903
@dmarkov Waiting for #968 here

[2015-01-16 14:00] pinaf commented on #972
@dmarkov this was closed 2 days ago. does this make my average speed slower?

[2015-01-16 15:37] yegor256 commented on #972
@pinaf lower than what? :)

[2015-01-16 16:07] pinaf commented on #972
@yegor256 well do you measure the time to complete the task until the issue is closed or until @dmarkov notices that the issue is closed?

[2015-01-16 16:47] yegor256 commented on #972
@pinaf it's the time between the moment you are assigned to the task and the moment you're paid

[2015-01-16 22:48] maurezen commented on #863
@yegor256 @dmarkov this depends on #968 and probably on #903 as well (are not these two bugs the same problem?)  . What do we do with that? Is puzzle submission sufficient in this case?

Also are we talking about `RtContents` here? `Contents` is an interface.

[2015-01-17 16:11] alevohin commented on #965
@dmarkov release 0.18.7. Please check and close issue.

[2015-01-17 16:40] dpisarenko opened #989 "RtForkTest.patchAndCheckJsonFork: Bind No free port within range"
A test, which I didn't touch fails during a Travis CI build.

https://travis-ci.org/jcabi/jcabi-github/jobs/47357190

[code]
Please make sure that the test runs.

[2015-01-17 16:46] yegor256 commented on #989
@dpisarenko this happens sometimes, in Travis environment. they don't have enough free TCP ports (which is rather strange). I agree that we should not crash in this case, but skip/ignore the tests gracefully.

[2015-01-18 01:38] cyberone commented on #825
@dmarkov the PR is merged, close the task please.

[2015-01-18 02:08] GUIpsp commented on #913
I think that 7-8 should use an enum rather than an interface.

Other than that looks OK.

[2015-01-18 22:28] dpisarenko commented on #913
@GUIpsp Interface `ThreadSubscription` is supposed to contain data in response of *Get a Thread Subscription* ( https://developer.github.com/v3/activity/notifications/#get-a-thread-subscription ) and *Set a Thread Subscription* ( https://developer.github.com/v3/activity/notifications/#set-a-thread-subscription ), namely:

[code]

I don't see a way to put these data into an enum.

[2015-01-19 07:11] dmarkov commented on #989
this task will get someone's attention soon

[2015-01-19 07:11] dmarkov commented on #903
@palyuga OK, let's wait for #968

[2015-01-19 07:11] dmarkov commented on #956
@yegor256 of course, thanks for letting me know, take your time

[2015-01-19 07:29] dmarkov commented on #965
@alevohin you're holding this task for 12 days already. as a reminder, don't forget to remove the `@todo` puzzle from the source code. -30 to your rating, your total score is [+150](http://www.netbout.com/b/35105?open=rating)

[2015-01-19 07:29] dmarkov commented on #972
@pinaf Much obliged! I've added **30 mins** to your account in payment "AP-5T852175BW507970C". +30 added to your rating, at the moment it is: [+60](http://www.netbout.com/b/35128?open=rating)

[2015-01-19 07:32] dmarkov commented on #976
@maurezen many thanks for the report, I topped your account for 15 mins, transaction 50342885

[2015-01-19 07:54] alevohin commented on #965
@dmarkov @yegor256 changes for this issue included at release 0.18.7 2 days ago. What's wrong? Close this issue.

[2015-01-19 14:05] simonjenga opened #990 "Unused declared dependencies found:"
```./jcabi-github>mvn clean install -Dmaven.test.skip=true -Pqulice```

[code]

[2015-01-19 16:19] maurezen commented on #863
@yegor256 any comments?

[2015-01-19 17:34] simonjenga commented on #990
use ```-DskipTests``` instead

https://github.com/yegor256/s3auth/issues/259

[2015-01-19 17:35] #990 closed

[2015-01-19 22:13] maxim-kornienko commented on #987
Done in jcabi/jcabi-github/pull/991

[2015-01-19 23:23] maxim-kornienko commented on #977
Done in jcabi/jcabi-github/pull/992

[2015-01-20 08:54] #954 closed

[2015-01-20 08:54] dmarkov commented on #954
I'm closing it, thanks all

[2015-01-20 09:01] dmarkov commented on #954
@nhekfqn Thanks a lot, I just topped your account for **30 mins**, transaction ID `50517706`. +30 to your rating, your total score is [+0](http://www.netbout.com/b/35123?open=rating)

[2015-01-20 09:01] dmarkov commented on #970
@oruam85 please help, the task is yours

[2015-01-20 09:01] dmarkov commented on #975
@jenya this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions... The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-01-20 09:01] dmarkov commented on #976
@nhekfqn please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have; The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-01-20 09:01] dmarkov commented on #989
@cyberone can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here. This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2015-01-20 09:05] dmarkov commented on #977
@maurezen thanks for the ticket, your account was topped for 15 mins, payment 50517818

[2015-01-20 10:21] Marczeeee commented on #984
@dpisarenko Fix is merged with PR #988, the issue can be closed.

[2015-01-20 10:22] #984 closed

[2015-01-20 10:33] nhekfqn opened #993 "#976 unclear what OAuth tokens are used"
I'm trying to fix https://github.com/jcabi/jcabi-github/issues/976 but it's unclear what two OAuth tokens should be used for.

There is one test in RtGistITCase case using 'failsafe.github.key.second' property that should be documented.

[code]

To document the test usage I need to understand what the properties is used for:
Is the second token of separate Github account?
If so, what permissions s

[2015-01-20 10:34] nhekfqn commented on #976
@dmarkov Submitted https://github.com/jcabi/jcabi-github/issues/993 please provide info requested.

[2015-01-20 11:09] dmarkov commented on #932
@oruam85 the task is yours

[2015-01-20 11:09] dmarkov commented on #952
@nathansgreen please proceed, it's yours

[2015-01-20 11:09] dmarkov commented on #953
@nhekfqn can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here

The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-01-20 11:11] dmarkov commented on #970
@maurezen many thanks for the bug report, I added 15 mins to your acc, transaction `50519477`

[2015-01-20 12:36] nhekfqn commented on #953
PR created https://github.com/jcabi/jcabi-github/pull/994

[2015-01-20 15:50] yegor256 commented on #863
@maurezen I think we should create an integration test for `RtContents` and take it from there. If it passes, good, close the ticket. If it doesn't pass, try to fix it. If you can't, create a puzzle and close the ticket.

[2015-01-20 20:53] GUIpsp commented on #913
Ah, I see. I assumed it was only for the subscribed/ignored part. should I close this issue?

[2015-01-20 20:54] dpisarenko commented on #913
@GUIpsp No, we arent't done with the code review yet.

[2015-01-21 05:16] aoxa commented on #968
Well, I see the issue. The problem though is not a defect per se. If you ran the get, you are trying to access an object, simple content of an url, since you get a directory, you get a list of objects. So the correct approach would've been to call iterate instead, that is present in content and is intended to return an iterable collection of elements.
So, one possble solution is to create an excep

[2015-01-21 05:17] aoxa commented on #968
sorry about the delay in the response but I was unable to get to a pc for 4 days.

[2015-01-21 07:49] dmarkov commented on #975
@maurezen thanks a lot for reporting, **15 mins** added to your acc, pmt ID `50566522`

[2015-01-21 09:23] maurezen commented on #863
@yegor256 created a pull request here #995

[2015-01-21 11:00] #825 closed

[2015-01-21 11:00] dmarkov commented on #825
The task is done, thanks all, I'm closing it

[2015-01-21 11:00] dmarkov commented on #956
I'm closing the issue...

[2015-01-21 11:00] #956 closed

[2015-01-21 11:00] dmarkov commented on #965
Done, thanks all, closing..

[2015-01-21 11:00] #965 closed

[2015-01-21 11:06] dmarkov commented on #825
@cyberone done, I added **30 mins** in payment `50570740`. +30 added to your rating, at the moment it is: [-670](http://www.netbout.com/b/35076?open=rating)

[2015-01-21 11:06] dmarkov commented on #956
@apocarteres Thank you, I've added **30 mins** to your account in payment/transaction "`50570774`"; +30 added to your rating, current score is: [+60](http://www.netbout.com/b/35111?open=rating)

[2015-01-21 11:06] dmarkov commented on #965
@alevohin paid, thanks, added **30 mins** to your account, payment `50570811`; added +30 to your rating, now it is equal to [+270](http://www.netbout.com/b/35105?open=rating)

[2015-01-21 11:09] dmarkov commented on #989
@dpisarenko thanks a lot for reporting, **15 mins** added to your acc, pmt ID `50570882`

[2015-01-21 12:48] RomanKisilenko commented on #938
@yegor256 PR was reviewed and closed, please close this issue.

[2015-01-21 13:19] dmarkov commented on #930
the last puzzle `930-31980d5f`/#934 solved

[2015-01-21 13:29] dmarkov commented on #975
@dpisarenko the issue is yours, please help

[2015-01-21 13:29] dmarkov commented on #984
@marczeeee Thanks so much! Your account was topped up for **30 mins** (transaction ID is `50573513`); +30 added to your rating, at the moment it is: +60

[2015-01-21 13:40] yegor256 commented on #938
@RomanKisilenko thanks!

[2015-01-21 13:40] #938 closed

[2015-01-21 13:46] yegor256 commented on #993
@nhekfqn it's just a second Github account. I'm not sure what permissions are mandatory there, it's for you to find out, I guest, in the scope of #976.

[2015-01-21 13:46] #993 closed

[2015-01-21 18:34] cyberone commented on #989
@dmarkov please review https://github.com/jcabi/jcabi-github/pull/996

[2015-01-21 18:53] dpisarenko opened #997 "`mvn qulice:check -Pqulice` fails on newly checked out jcabi-github"
When you check out master branch of jcabi-github and run `mvn qulice:check -Pqulice` on Windows, several errors occur (see below).

**How to fix**
  1. Add license configuration to `pom.xml`.
  1. Add `.gitattributes` file.

**Fragmeng of the output**
[code]

[2015-01-21 19:41] dpisarenko commented on #975
@maurezen Where can I find the actual integration tests (which require OAuth) ? In `src/it` I only find `Sample` and `SampleTest`, which don't look like real tests.

[2015-01-21 21:41] maurezen commented on #975
@dpisarenko that's because integration tests are in `tests` directory, have you looked there?
`src/test/java/com/jcabi/github/*IT*` . Another way you could have found them is looking for the `failsafe.github.*` properties usage. Does that make sense?

[2015-01-21 23:21] maurezen commented on #997
This is a known bug of qulice configuration in parent-0.31 (jcabi/jcabi-parent#19), accessed via jcabi (jcabi/jcabi#297).

[2015-01-22 01:30] oruam85 commented on #932
@dmarkov please assign to someone else

[2015-01-22 02:03] oruam85 commented on #970
@maurezen @dmarkov the PR is https://github.com/jcabi/jcabi-github/pull/998

[2015-01-22 07:39] dmarkov commented on #997
I'll ask someone to take care of this task soon

[2015-01-22 07:39] dmarkov commented on #932
@oruam85 got it, someone else will be assigned soon

[2015-01-22 11:32] dmarkov commented on #997
@dpisarenko many thanks for the bug report, I added 15 mins to your acc, transaction `50596238`

[2015-01-22 12:43] yegor256 commented on #972
@dmarkov please add extra 15 mins to @alevohin

[2015-01-22 16:08] darkled commented on #968
@aoxa Saying *Content doesn't support JsonArray reading* I meant that it should read it (e.g. as a collection of `JsonObject`'s) without throwing any exception.

[2015-01-23 07:23] dmarkov commented on #972
@yegor256 I've paid 15 mins to @alevohin in transaction `50614484`

[2015-01-23 10:31] dmarkov commented on #987
The task is done, thanks all, I'm closing it

[2015-01-23 10:31] #987 closed

[2015-01-23 10:37] dmarkov commented on #938
@romankisilenko **30 mins** was added to your account, many thanks for your contribution!; +30 to your rating, your total score is +450

[2015-01-23 10:37] dmarkov commented on #987
@maxim-kornienko Thanks a lot, I just topped your account for **30 mins**, transaction ID `50616711`. +30 added to your rating, current score is: +135

[2015-01-23 10:55] dpisarenko commented on #975
@maurezen  Thanks. Is it correct that the result of this task is a table with 2 columns:

  1. Integration test method, e. g. `com.jcabi.github.RtMarkdownITCase#rendersMarkdown` and
  1. OAuth scope required to run this method, e. g. none in case of `com.jcabi.github.RtMarkdownITCase#rendersMarkdown`

(for all integration test methods in the project) ?

[2015-01-23 12:11] maurezen commented on #975
@dpisarenko the table should be much less, that is - IT class vs a list of OAuth scopes required for it. It should be in the test package javadoc. The information about each IT test class should be duplicated in its own javadoc.

[2015-01-23 14:21] dpisarenko opened #999 "Test RtRepoITCase.iteratesLanguages fails during merge"
When trying to merge https://github.com/jcabi/jcabi-github/pull/985 , following error occured:

[code]

Full log is here: http://www.rultor.com/t/1712-71175391

The error didn't occure before merge.

I didn't touch the `RtRepoITCase` test.

Please make sure that this test passes during merge.

[2015-01-23 15:18] oruam85 commented on #970
@maurezen the PR was merged. Please close this bug.

[2015-01-23 15:29] #970 closed

[2015-01-23 23:49] yegor256 opened #1000 "jcabi-http 1.10.2"
Let's use jcabi-http 1.10.2

[2015-01-23 23:57] yegor256 commented on #1000
hey, ticket no 1000 :)

[2015-01-24 00:13] yegor256 commented on #1000
@rultor release, tag is `0.18.8`

[2015-01-24 00:13] yegor256 commented on #1000
@rultor release, tag is `0.18.8`

[2015-01-24 00:13] rultor commented on #1000
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1738-71288677)

[2015-01-24 00:30] rultor commented on #1000
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/1738-71288677) (took me 16min)

[2015-01-24 23:57] nathansgreen commented on #952
@dmarkov please assign to someone else

[2015-01-25 13:57] nhekfqn commented on #976
@dmarkov submitted PR https://github.com/jcabi/jcabi-github/pull/1001

[2015-01-25 14:09] nhekfqn commented on #953
@dmarkov PR updated.

[2015-01-25 23:25] nhekfqn opened #1002 "RtRepoITCase#iteratesLanguages unstable"
Added new auth token to my account as described at https://help.github.com/articles/creating-an-access-token-for-command-line-use, then run RtRepoITCase#iteratesLanguages (with IntelliJ runner) providing access token via failsafe.github.repo property.

Test failed first time complaining empty languages list (see http://www.rultor.com/t/1753-71384676 for example). Next runs test passed.

[2015-01-25 23:34] nhekfqn opened #1003 "Virtually all IT Tests require delete_repo permission on github access token but README.md is missing that"
Would be nice if README.md in section about IT Tests stated that github access token has to have delete_repo permission. This permission is not set to new tokens my default. Most IT tests remove repo either in finally blocks or tearDown methods and fail if access token does not have the permission.

[2015-01-26 09:44] yegor256 commented on #1003
@nhekfqn thanks, I fixed the doc

[2015-01-26 09:44] #1003 closed

[2015-01-26 10:33] nhekfqn commented on #1003
@yegor256 I've reported a valid issue, shouldn't I get paid?

[2015-01-26 10:36] dmarkov commented on #1002
we'll find someone to do this task, soon

[2015-01-26 10:36] nhekfqn commented on #953
@dmarkov related pull request has been merged.

[2015-01-26 10:37] dmarkov commented on #952
@nathansgreen no problem, I'll try to find somebody else

[2015-01-26 10:48] dmarkov commented on #1002
@nhekfqn thanks for the ticket, your account was topped for 15 mins, payment 50663645

[2015-01-26 11:07] yegor256 commented on #1003
@nhekfqn yes, it's a valid issue, but too small for a bug, see http://www.teamed.io/policy.html#13

[2015-01-26 12:28] yegor256 commented on #999
@dpisarenko how can I reproduce this (in master)?

[2015-01-26 12:30] dpisarenko commented on #999
@yegor256 I don't know. This test failed only during merge, not in the Travis build.

[2015-01-26 12:31] dpisarenko commented on #999
@yegor256 Theoretically, you could try to merge the master branch (or something else, which will make rultor run the integration tests).

[2015-01-26 12:31] yegor256 commented on #999
@dpisarenko if something is wrong in your branch, it's your problem inside the branch. we can't call it a bug and fix. since nobody has access to your branch (and it's inside your scope). so, either close this ticket or change its description so that it sounds more like "master branch is broken, but I don't know exactly why and where"

[2015-01-26 12:33] dpisarenko commented on #999
@yegor256 I can close the issue. But can you please try to merge the PR https://github.com/jcabi/jcabi-github/pull/985 again?

[2015-01-26 12:33] #999 closed

[2015-01-26 12:46] nhekfqn commented on #976
@dmarkov related pull request has been merged.

[2015-01-26 13:18] maurezen commented on #863
@yegor256 pull request  #995 merged to master, please close the issue.

[2015-01-26 13:19] yegor256 commented on #863
@maurezen thanks!

[2015-01-26 13:19] #863 closed

[2015-01-26 13:21] #976 closed

[2015-01-26 14:25] nhekfqn commented on #976
@dmarkov ticket closed, can I get paid please?

[2015-01-26 15:57] maurezen commented on #863
@yegor256 thanks!

@dmarkov the issues is closed.

[2015-01-26 20:51] matthew-white opened #1004 "In-line commit notes"
Is there support for [in-line commit notes](https://github.com/blog/622-inline-commit-notes) outside pull requests? Perhaps `Commit.Smart` could get a `comments()` method along the lines of `Issue.Smart`? I'm trying to write a client that helps users search in-line notes.

[2015-01-27 09:20] nhekfqn commented on #953
@dmarkov can we close the ticket please?

[2015-01-27 11:34] dmarkov commented on #970
@oruam85 Much obliged! I've added **30 mins** to your account in payment "50842279"... added +30 to your rating, now it is equal to +150

[2015-01-27 11:34] dmarkov commented on #997
@apocarteres please go ahead with this task, it's yours

[2015-01-27 13:08] dmarkov commented on #863
once `863-4e783bd3` puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2015-01-27 13:10] dmarkov commented on #968
@aoxa you're holding this ticket for 15 days already. If it's not finished (and closed) in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle ([this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck)... -30 added to your rating, at the moment it is: -6

[2015-01-27 13:26] maurezen commented on #863
@yegor256 @dmarkov  I'm confused as to what's the policy in this case. I believe in jcabi/jcabi-manifests#16 the ticket was considered complete once closed, despite the puzzle introduced. What way should it be?

[2015-01-27 20:45] yegor256 commented on #863
@maurezen this task is done, the puzzle will be fixed in another task, later

[2015-01-27 20:50] #1000 closed

[2015-01-27 20:51] yegor256 commented on #972
@rultor release, tag is `0.18.9`

[2015-01-27 20:51] rultor commented on #972
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1783-71725278)

[2015-01-27 20:55] yegor256 commented on #1004
@matthew-white you are talking about this: https://developer.github.com/v3/pulls/comments/ If not, can you find that "in-line notes" in Github API: https://developer.github.com/v3/

[2015-01-27 21:02] matthew-white commented on #1004
I think it's this: https://developer.github.com/v3/repos/comments/

[2015-01-27 21:05] yegor256 commented on #1004
Right, we don't have access to them. We should implement `Repo.comments()` method and `RepoComments` interface. Will do it soon.

[2015-01-27 21:12] rultor commented on #972
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/1783-71725278) (took me 20min)

[2015-01-28 08:25] dmarkov commented on #953
Closing, thanks all

[2015-01-28 08:25] #953 closed

[2015-01-28 08:32] dmarkov commented on #863
@maurezen **30 mins** sent to your balance (ID `50904270`), many thanks!. +30 added to your rating, at the moment it is: [+915](http://www.netbout.com/b/35102?open=rating)

[2015-01-28 08:32] dmarkov commented on #953
@nhekfqn Much appreciated! **30 mins** was added to your account, payment ID `50904297`. +30 added to your rating, current score is: [+45](http://www.netbout.com/b/35123?open=rating)

[2015-01-28 08:32] dmarkov commented on #973
@wb14123 you're holding this ticket for 15 days already. If it's not finished (and closed) in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle ([this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck). -30 added to your rating, current score is: -105

[2015-01-28 08:32] dmarkov commented on #976
@nhekfqn **30 mins** sent to your balance (ID `50904331`), many thanks!... +30 to your rating, your total score is [+75](http://www.netbout.com/b/35123?open=rating)

[2015-01-28 11:01] dpisarenko commented on #975
@dmarkov Please find someone to review PR https://github.com/jcabi/jcabi-github/pull/1005 .

[2015-01-28 11:02] krzyk opened #1006 "Add support for GitHub Statuses"
GitHub allows retrieval of commit status (see [Get the combined Status for a specific Ref](https://developer.github.com/v3/repos/statuses/#list-statuses-for-a-specific-refc)) - e.g. one could see when a Travis build fails.

I couldn't find this API in jcabi-github, it would be great if it was added.

[2015-01-28 11:08] dpisarenko opened #1007 "RtRepoITCase#iteratesLanguages fails on Rultor"
When trying to merge PR https://github.com/jcabi/jcabi-github/pull/985 , following test failed:

[code]

That same test does not fail in Travis CI.

[2015-01-28 13:01] krzyk commented on #975
@maurezen I think that there is no point of duplicating information in package level javadoc, moreover it doesn't give much information for me as a developer. More usefull would be to have clear information in README.md which scopes I need to have in my single API key to have all the test pass.

[2015-01-28 13:32] apocarteres commented on #997
@dmarkov please find the reviewer for PR https://github.com/jcabi/jcabi-github/pull/1010

[2015-01-28 17:13] yegor256 opened #1011 "MkIssue#assignee() fails"
This is what I'm doing:

[code]

[code]

[2015-01-28 17:28] yegor256 commented on #1011
@rultor release, tag is `0.18.10`

[2015-01-28 17:29] rultor commented on #1011
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1797-71877311)

[2015-01-28 17:48] rultor commented on #1011
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/1797-71877311) (took me 18min)

[2015-01-28 17:51] #1011 closed

[2015-01-29 07:26] dpisarenko commented on #913
@GUIpsp The PR has been merged. Unless there is reason no to do so, please close the issue.

[2015-01-29 11:39] dpisarenko commented on #975
@maurezen What do you think of @krzyk 's comment regarding duplication of information?

[2015-01-29 16:21] yegor256 opened #1012 "Issue.Smart.assignee() crashes"
[code]

[2015-01-29 16:30] yegor256 commented on #1012
@rultor release, tag is `0.19`

[2015-01-29 16:31] rultor commented on #1012
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1815-72055644)

[2015-01-29 16:53] rultor commented on #1012
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/1815-72055644) (took me 21min)

[2015-01-29 16:55] #1012 closed

[2015-01-29 17:30] yegor256 commented on #1007
duplicate of #1002

[2015-01-29 17:30] #1007 closed

[2015-01-30 08:47] dmarkov commented on #1006
we'll find someone to do this task, soon

[2015-01-30 08:52] dmarkov commented on #913
@dpisarenko this task is in your hands for 15 days already; -30 added to your rating, current score is: [+656](http://www.netbout.com/b/35089?open=rating)

[2015-01-30 08:53] dpisarenko commented on #913
@GUIpsp The PR has been merged. Unless there is reason no to do so, please close the issue.

[2015-01-30 08:54] dmarkov commented on #1006
@krzyk many thanks for the bug report, I added 15 mins to your acc, transaction `50954873`

[2015-01-30 12:55] apocarteres commented on #997
@dpisarenko it's done. please confirm

[2015-01-30 17:19] maurezen commented on #975
@dpisarenko @krzyk I agree that having a summary in `README.md` would be fine. Details are still needed, IMO.

[2015-01-30 18:53] krzyk commented on #975
@maurezen details in method javadocs, but there is no point in duplicating this information in package javadoc

[2015-01-31 00:45] #913 closed

[2015-01-31 14:17] cyberone commented on #989
@dmarkov please do not complain on this delay. Give us more time, we're about to make a heavy decision.

[2015-01-31 14:27] maurezen commented on #975
@krzyk the work is already done, we might as well have it. no point in scrapping the overview, isn't it?

[2015-01-31 15:00] krzyk commented on #975
@maurezen It is not work done right now, but all the future work on supporting two places (or actually three, README.md is the most important here, but there we don't need it per test) with the same information

[2015-01-31 20:35] maxim-kornienko commented on #977
@maurezen Let's close the ticket as pull request #992 is merged

[2015-02-01 09:10] yegor256 commented on #989
@dmarkov we're waiting for #996 here

[2015-02-01 12:57] cyberone commented on #989
@dmarkov it's done. Please close the issue.

[2015-02-01 14:00] #997 closed

[2015-02-01 14:38] #989 closed

[2015-02-01 21:06] maurezen commented on #975
@krzyk okay, agreed.

[2015-02-01 21:06] #977 closed

[2015-02-02 12:54] dmarkov commented on #989
@cyberone right, take your time and thanks for informing

[2015-02-02 12:54] dmarkov commented on #989
@yegor256 issue #996 is closed already

[2015-02-02 13:29] dmarkov commented on #968
@aoxa you've been working with this task for too long. I'm sorry, but I'll assign someone else. Please stop working with it. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle... -60 to your rating, your total score is -270

[2015-02-05 00:25] yegor256 opened #1013 "Releases.create() with all params"

[2015-02-05 00:27] #1013 closed

[2015-02-09 00:34] yegor256 opened #1014 "Release.Smart#hasBody()"

[2015-02-09 00:41] yegor256 commented on #1014
@rultor release, tag is `0.20`

[2015-02-09 00:41] #1014 closed

[2015-02-09 00:41] rultor commented on #1014
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1893-73443154)

[2015-02-09 01:00] rultor commented on #1014
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/1893-73443154) (took me 18min)

[2015-02-13 19:04] yegor256 opened #1015 "Release.Smart#hasTag()"

[2015-02-13 19:23] yegor256 commented on #1015
@rultor release, tag is `0.21`

[2015-02-13 19:23] #1015 closed

[2015-02-13 19:23] rultor commented on #1015
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1958-74310782)

[2015-02-13 19:41] rultor commented on #1015
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/1958-74310782) (took me 18min)

[2015-02-20 07:10] yegor256 commented on #825
@rultor deploy

[2015-02-20 07:10] rultor commented on #825
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/2045-75198553)

[2015-02-20 07:21] rultor commented on #825
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2045-75198553) (took me 10min)

[2015-02-20 07:44] yegor256 commented on #825
@rultor deploy

[2015-02-20 07:45] rultor commented on #825
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/2045-75200953)

[2015-02-20 07:51] rultor commented on #825
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2045-75200953) (took me 7min)

[2015-02-21 00:17] dmarkov commented on #989
once `989-33d6f233` puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2015-02-21 00:24] dmarkov commented on #977
@maxim-kornienko Much appreciated! **30 mins** was added to your account, payment ID `52066203`; +30 added to your rating, at the moment it is: +165

[2015-02-21 00:24] dmarkov commented on #989
@cyberone Much obliged! I have added **30 mins** to your account in payment "52066221". +30 added to your rating, current score is: [-610](http://www.netbout.com/b/35076?open=rating)

[2015-02-21 01:09] dmarkov opened #1017 "RtForkTest.java:56-58: Apply this rule to other..."
Puzzle `989-33d6f233` in `src/test/java/com/jcabi/github/RtForkTest.java:56-58` has to be resolved: Apply this rule to other classes that use MkGrizzlyContainer and make MkGrizzlyContainers use port() given by this resource to avoid tests fail with BindException.... The puzzle was created by cyberone on 29-Jan-2015.

If you have any technical questions, don't ask me, submit new tickets instead

<h

[2015-02-21 01:09] dmarkov commented on #1
the last puzzle `1-294610ab`/#825 solved

[2015-02-21 01:10] dmarkov commented on #907
last 5 puzzles `919-44e20d78`/#948, `919-68f3d556`/#949, `919-ca1c0738`/#950, `950-4b919e8a`/#965, `919-008dea91`/#956 originated from here were solved

[2015-02-21 01:10] dmarkov commented on #919
last 5 puzzles `919-44e20d78`/#948, `919-68f3d556`/#949, `919-ca1c0738`/#950, `950-4b919e8a`/#965, `919-008dea91`/#956 originated from here were solved

[2015-02-21 01:10] dmarkov commented on #950
the last puzzle `950-4b919e8a`/#965 solved

[2015-02-21 01:14] dmarkov commented on #975
@nhekfqn the issue is yours, please help

[2015-02-21 01:14] dmarkov commented on #997
@apocarteres Thanks a lot, I just topped your account for **30 mins**, transaction ID `52066845`... +30 to your rating, your total score is [+285](http://www.netbout.com/b/35111?open=rating)

[2015-02-21 01:14] dmarkov commented on #1017
@nhekfqn the issue is yours, please help

[2015-02-23 08:44] dmarkov commented on #932
@adko-pl the task is yours

[2015-02-23 08:44] dmarkov commented on #968
@apocarteres please proceed, it's yours

[2015-02-23 09:36] dmarkov commented on #955
the last puzzle `955-60da9c34`/#987 solved

[2015-02-23 09:38] dmarkov commented on #973
@wb14123 you've been working with this task for too long. I'm sorry, but I'll assign someone else. Please stop working with it. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle... -60 added to your rating, current score is: -525

[2015-02-23 23:22] voitau commented on #1006
Hi guys, any plans to roll out this any time soon?

[2015-02-24 01:41] yegor256 commented on #1006
@voitau yeah, we'll try to do it soon

[2015-02-24 07:15] dmarkov commented on #1006
@nhekfqn it's yours, please help, budget is 30 mins

[2015-02-24 19:46] yegor256 opened #1018 "MkCommitsComparison doesn't show commits"

[2015-02-24 20:01] yegor256 commented on #1018
@rultor release tag is `0.21.2`

[2015-02-24 20:01] rultor commented on #1018
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2164-75833780)

[2015-02-24 20:22] rultor commented on #1018
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2164-75833780) (took me 20min)

[2015-02-24 20:44] #1018 closed

[2015-02-24 21:25] yegor256 opened #1019 "MkCommitsComparison must return empty list of commits"

[2015-02-24 21:29] yegor256 commented on #1019
@rultor release, tag is `0.21.3`

[2015-02-24 21:29] rultor commented on #1019
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2166-75850173)

[2015-02-24 21:29] #1019 closed

[2015-02-24 21:47] rultor commented on #1019
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2166-75850173) (took me 18min)

[2015-02-25 11:57] adko-pl commented on #932
@dmarkov please assign to someone else

[2015-02-26 06:32] donkhan opened #1020 "How are you?"
Please tell me...

[2015-02-26 06:32] donkhan commented on #1020
My first comment!

[2015-02-26 06:53] yegor256 commented on #1020
I'm fine, you?

[2015-02-26 07:23] dmarkov commented on #932
@adko-pl I will assign somebody else to this issue

[2015-02-26 22:58] andrewyiannaki opened #1021 "How are you?"
Please tell me...

[2015-02-26 22:58] andrewyiannaki commented on #1021
My first comment!

[2015-02-26 23:04] #1021 closed

[2015-02-27 08:31] dmarkov commented on #1020
@yegor256 please don't close it.. @donkhan could you please close it, if it is done?

[2015-02-27 08:35] #1020 closed

[2015-02-27 09:33] dmarkov commented on #923
last puzzled solved `923-0c07ba46`/#953

[2015-03-04 17:39] erwinvaneyk opened #1023 "Event misleading/incorrect"
https://developer.github.com/v3/activity/events/#list-repository-events

In the documentation of `Repo.events()` it states that it `Get all events for the repository.` When looking into the source-code, the events in jcabi are retrieved from `/repos/:owner/:repo/issues/events`, which as the name implies only gets the issue-events in the repository. To get the actual `all events for the repository`

[2015-03-04 17:53] erwinvaneyk commented on #940
You are probably using regular username/password authentication, right? Github blocks bot-like requests using method, which is meant for actual human-users. Use the [OAuth tokens](https://github.com/settings/applications) ;)

[2015-03-04 20:00] erwinvaneyk commented on #1006
I have support for this in my local fork. I will pull request in a couple of days.

[2015-03-05 12:33] cvrebert opened #1024 "Missing issue event types"
The list of issue event type constants on http://github.jcabi.com/apidocs-0.21.3/com/jcabi/github/Event.html#field_summary seems to be missing several entries when compared against [the GitHub API docs](https://developer.github.com/v3/issues/events/#events-1), specifically:
* unassigned
* labeled
* unlabeled
* milestoned
* demilestoned
* renamed
* locked
* unlocked

I believe constants for these s

[2015-03-10 05:36] cvrebert opened #1025 "Missing Search.Qualifier value: "team""
Per [the relevant GitHub API docs](https://developer.github.com/v3/search/#search-issues), GitHub supports a `team` qualifier for issue searches. The `com.jcabi.github.Search.Qualifier` enum seems to be missing a corresponding `TEAM` value.

[2015-03-10 06:58] cvrebert opened #1026 "Milestone class is missing 2 properties"
Per https://developer.github.com/v3/issues/milestones/#get-a-single-milestone , Milestones have `updated_at` and `closed_at` attributes, but http://github.jcabi.com/apidocs-0.21.3/com/jcabi/github/Milestone.Smart.html seems to be currently missing corresponding properties for these.

[2015-03-11 09:31] cvrebert opened #1027 ""List issues for a repository" API missing?"
Am I correct that jcabi-github doesn't currently implement a wrapper for https://developer.github.com/v3/issues/#list-issues-for-a-repository ? Would be great if it did.

[2015-03-14 03:00] rabeabdu opened #1028 "How are you?"
Please tell me...

[2015-03-14 03:00] rabeabdu commented on #1028
My first comment!

[2015-03-16 17:50] rabeabdu opened #1029 "How are you?"
Please tell me...

[2015-03-16 17:50] rabeabdu commented on #1029
My first comment!

[2015-03-17 01:17] rabeabdu commented on #1027
Yes I confirm that too. there is no way to get all the issues open/close ones

[2015-03-17 01:32] #1028 closed

[2015-03-23 21:53] cvrebert commented on #1029
@rabeabdu Please close this?

[2015-03-24 03:10] #1029 closed

[2015-03-24 04:24] rabeabdu commented on #1027
When will we have the we have the new release with the fixing issue

[2015-03-24 12:24] darkled opened #1034 "JSR-303 validator failed to initialize"
There is an error message in build logs:
[code]
Let's add Hibernate validator or apache-bval as a dependency to stop complaining.

[2015-03-24 12:38] darkled commented on #1027
@cvrebert it seems you were too hurrying. This issue is not yet considered to be either bug or enhancement, no developer is assigned to it and usually issues should be fixed by another person (take a look at our [Principles of Bug Tracking](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html))

[2015-03-24 12:46] darkled commented on #1027
@yegor256 do we recognize this issue as a bug/enhancement? If yes, can we assign @cvrebert to this issue?

[2015-03-24 16:37] rabeabdu commented on #1027
Yes I recognize this issue as a enhancement?

[2015-03-25 05:48] yegor256 commented on #1027
yes, looks like a bug to me, we'll fix it

[2015-03-25 05:49] yegor256 commented on #1027
let me know when #1030 is merged and I'll release a new version of the library to Maven Central

[2015-03-25 06:09] yegor256 commented on #1024
@rultor release, tag is `0.21.4`

[2015-03-25 06:09] rultor commented on #1024
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2834-85865629)

[2015-03-25 06:26] rultor commented on #1024
Release `0.21.4` already exists! I can't duplicate it, but I posted a comment there. In the future, try to avoid duplicate releases

[2015-03-25 06:26] rultor commented on #1024
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2834-85865629) (took me 16min)

[2015-03-26 07:10] dmarkov commented on #1024
@rultor please don't close it.. @cvrebert could you please close it, if it is done?

[2015-03-26 07:10] dmarkov commented on #1027
we will find someone to do this task, soon

[2015-03-26 07:11] darkled commented on #1027
@dmarkov assign @cvrebert to this task please

[2015-03-26 07:12] #1024 closed

[2015-03-28 22:57] eekysam opened #1036 "Incorrect Public Repo List GET"
According to the [API](https://developer.github.com/v3/repos/#list-all-public-repositories), the query URL for listing all public repositories should take the form `https://api.github.com/repositories?since=...`. I discovered however that `RtRepos.iterate(identifier)` sends the query as `https://api.github.com/?since=...`, thus causing `javax.json.JsonException: Cannot read JSON array, found JSON

[2015-03-29 17:16] yegor256 opened #1038 "Issue$Smart.hasBody()"
Let's add method `hasBody()`

[2015-03-29 17:19] yegor256 commented on #1038
@rultor release, tag is `0.22`

[2015-03-29 17:22] rultor commented on #1038
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2934-87446341)

[2015-03-29 18:00] rultor commented on #1038
Release `0.22` already exists! I can't duplicate it, but I posted a comment there. In the future, try to avoid duplicate releases

[2015-03-29 18:00] rultor commented on #1038
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2934-87446341) (took me 36min)

[2015-03-29 18:10] #1038 closed

[2015-03-31 07:53] dmarkov commented on #1027
@rultor please don't close the issue, ask @cvrebert to do this instead, since he is the author of it

[2015-03-31 12:20] #1027 closed

[2015-04-01 00:54] cvrebert commented on #1025
@dmarkov No need to reopen this.

[2015-04-01 07:59] dmarkov commented on #1025
@rultor please don't close it.. @cvrebert could you please close it, if it is done?

[2015-04-01 15:59] #1025 closed

[2015-04-07 08:12] dmarkov opened #1039 "Estimate project size"
There is no estimate in the project yet. We have to create one as explained [here](https://github.com/teamed/est)

[2015-04-07 09:18] dmarkov opened #1040 "RtContentsITCase.java:263-264: unignore after Contents#get is implemented..."
Puzzle `863-4e783bd3` in `src/test/java/com/jcabi/github/RtContentsITCase.java:263-264` has to be resolved: unignore after Contents#get is implemented for directories (#968 and #903)... The puzzle was created by maurezen on 22-Jan-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-04-07 12:36] dmarkov opened #1041 "MkNotifications.java:48-49: Implement markAsRead() and thread() operations..."
Puzzle `913-9c17e827` in `src/main/java/com/jcabi/github/mock/MkNotifications.java:48-49` has to be resolved: Implement markAsRead() and thread() operations in MkNotifications. Don't forget about unit tests.... The puzzle was created by Dmitri Pisarenko on 22-Jan-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-04-07 15:39] bsideup opened #1042 "broken Unicode text at line #0"
broken Unicode text at line #0 in '{"url":"https://api.github.com/repos/mycorp/..687741..\n \t\t\t\t}\n \t\t\t\treturn rules;"}]}' (688554 bytes)

[2015-04-09 07:45] dmarkov opened #1043 "MkUser.java:56-57: Implement notifications(), markAsRead(final Date lastread)..."
Puzzle `913-743027ac` in `src/main/java/com/jcabi/github/mock/MkUser.java:56-57` has to be resolved: Implement notifications(), markAsRead(final Date lastread) operations in MkUser. Don't forget about unit tests.... The puzzle was created by Dmitri Pisarenko on 22-Jan-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-04-09 09:15] dmarkov opened #1044 "ThreadSubscription.java:39-42: Add properties subscribed (boolean), ignored..."
Puzzle `913-504d1bd2` in `src/main/java/com/jcabi/github/ThreadSubscription.java:39-42` has to be resolved: Add properties subscribed (boolean), ignored (boolean), createdAt (Date), url (String), threadUrl (String) as shown in section "Response" at https://developer.github.com/v3/activity/notifications/#response-6 .... The puzzle was created by Dmitri Pisarenko on 22-Jan-2015.

If you have any tec

[2015-04-09 10:57] dmarkov opened #1045 "RtNotifications.java:44-45: Implement markAsRead(), thread(final int number)..."
Puzzle `913-3f99f964` in `src/main/java/com/jcabi/github/RtNotifications.java:44-45` has to be resolved: Implement markAsRead(), thread(final int number) operations in RtNotifications. Don't forget about unit tests.... The puzzle was created by Dmitri Pisarenko on 22-Jan-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-04-09 12:30] dmarkov opened #1046 "RtUser.java:52-52: Implement operations RtUser.markAsRead().... The puzzle..."
Puzzle `913-32975020` in `src/main/java/com/jcabi/github/RtUser.java:52-52` has to be resolved: Implement operations RtUser.markAsRead().... The puzzle was created by Dmitri Pisarenko on 22-Jan-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-04-10 07:51] dmarkov opened #1048 "0.20"
Please, publish a new release **0.20** (or higher)

[2015-04-13 04:44] cvrebert commented on #1042
@bsideup I think more details about your problem will be required.

[2015-04-13 08:13] dmarkov opened #1051 "Indie tech review no.1"
Review our existing source code and all other technical artifacts and report at least 8 bugs. More about such reviews you can read [here](http://www.yegor256.com/2014/12/18/independent-technical-reviews.html). The task will be closed once we have that bugs reported and classified. Don't forget to add `itr` tag to each of them.

[2015-04-13 08:32] longtimeago opened #1052 "Do we support java1.6?"
Do we support java1.6?
If yes, than we need to fix the project as if fails with java6
https://travis-ci.org/jcabi/jcabi-github/jobs/58222222

If not, than let's just exclude java6 build from travis and add update README with java requirements (now there is no information about required java there)

[2015-04-13 20:38] cvrebert commented on #1048
In what respect is jcabi-github v0.22 not already published? It's already in Maven Central and on the website.

[2015-04-13 21:03] cvrebert opened #1054 "MkGithub example code doesn't compile"
From http://github.jcabi.com/apidocs-0.22/com/jcabi/github/mock/MkGithub.html

However, this code causes 3 compilation errors; see https://gist.github.com/cvrebert/5f4a2a943299720ac26c

[2015-04-14 06:28] cvrebert opened #1055 "MkIssue.events() doesn't track reopenings or previous closures"
If you create and then `close()` and then `open()` an `MkIssue`, `MkIssue.events()` doesn't include a `reopened` event.
And if you then re-`close()` that same `MkIssue`, `MkIssue.events()` only includes the latest `closed` event, and not the earlier `closed` event.

[2015-04-14 06:34] cvrebert opened #1056 "MkIssueLabels adds/removes don't generate Events"
When adding and removing labels from an `MkIssue`, unlike in the real GitHub, no `labeled` or `unlabeled` `Event`s show up in the `MkIssue.events()` stream.

[2015-04-14 07:04] cvrebert opened #1057 "Trying to get createdAt of an MkComment throws IllegalStateException"
See https://gist.github.com/cvrebert/fbf0f030515bd272b54e

[2015-04-14 22:00] sonOfRa opened #1060 "Pull.merge(String) should not be void"
As discussed in #1053 with @longtimeago, it might make sense to change the return type of the merge method in a future release, in order to allow more detailed information on a merge, even if no SHA is supplied. Doing this might break backwards compatibility, so it shouldn't be probably shouldn't be rushed into a minor release.

[2015-04-15 06:13] cvrebert commented on #1034
:+1:

[2015-04-15 06:15] cvrebert commented on #1052
:+1:
It's annoying to have to check whether the Travis build failure is related or not every single time.

[2015-04-16 08:51] dmarkov commented on #1057
@rultor only @cvrebert can close this issue, since he opened it

[2015-04-16 16:23] #1057 closed

[2015-04-17 08:39] dmarkov opened #1064 "0.23"
Please, publish a new release **0.23** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2015-04-17 09:08] cvrebert commented on #1064
@dmarkov Does this supersede #1048?

[2015-04-17 09:21] cvrebert opened #1065 "Issue.Smart is missing milestone() method"
Just like it has an `assignee` method to get the assigned user, it should have a `milestone` method to get the assigned milestone.

[2015-04-17 09:24] cvrebert commented on #1056
(Ditto for renaming, assigning, and milestoning, but I'll wait a bit to open separate issues for those.

[2015-04-17 10:20] dmarkov opened #1067 "MkRepo.java:70-70: Fix code to avoid CouplingBetweenObjects......"
Puzzle `1061-5da99a0c` in `src/main/java/com/jcabi/github/mock/MkRepo.java:70-70` has to be resolved: Fix code to avoid CouplingBetweenObjects... The puzzle was created by Chris Rebert on 15-Apr-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-04-17 10:24] #1048 closed

[2015-04-17 10:24] dmarkov commented on #1048
@dmarkov I am closing it, thanks all

[2015-04-17 11:00] cvrebert commented on #1023
Not to mention that GitHub has non-issue-related events too: https://developer.github.com/v3/activity/events/types/ , https://developer.github.com/v3/activity/events/

[2015-04-20 18:51] cvrebert opened #1069 "Renaming an MkIssue should create a corresponding "renamed" Event"
Similar to #1056.

[2015-04-20 18:53] cvrebert opened #1070 "(un)setting MkIssue milestone should create corresponding (de)milestoned Event"
Similar to #1056.

[2015-04-20 18:54] cvrebert opened #1071 "(un)assigning an MkIssue should create corresponding (un)assigned Event"
Similar to #1056.

[2015-04-20 19:23] cvrebert opened #1072 "Event.Smart lacks method to access commit_id"
See the `commit_id` attribute documented on https://developer.github.com/v3/issues/events/

[2015-04-22 08:09] dmarkov commented on #1056
@rultor only @cvrebert can close this issue, since he opened it

[2015-04-22 08:10] dmarkov opened #1074 "MkEvent.java:133-135: When the event has a..."
Puzzle `1063-59da9a37` in `src/main/java/com/jcabi/github/mock/MkEvent.java:133-135` has to be resolved: When the event has a label, retrieve and include the label's color too. MkIssueEvents.create() will also need to be updated accordingly.... The puzzle was created by Chris Rebert on 15-Apr-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-04-22 08:13] #1056 closed

[2015-04-23 07:41] dmarkov opened #1075 "MkIssueEvents.java:139-144: Make it possible to set..."
Puzzle `1063-0509ffcb` in `src/main/java/com/jcabi/github/mock/MkIssueEvents.java:139-144` has to be resolved: Make it possible to set the "assignee" field for "assigned"/"unassigned" events. Make it possible to set the "milestone" field for "milestoned"/"demilestoned" events. Make it possible to set the "rename" field for "renamed" events. Make it possible to set the "commit_id" field for events

[2015-04-24 11:08] dmarkov commented on #1055
@rultor please don't close it.. @cvrebert could you please close it, if it is done?

[2015-04-24 16:26] #1055 closed

[2015-04-24 16:29] cvrebert commented on #1064
:+1:

[2015-04-27 19:42] cvrebert opened #1078 "Add ability to get Label that was added/removed by an Event"
The underlying GitHub event JSON for `labeled`/`unlabeled` events includes the Label that was added to or removed from the issue by the event (see the `label` attribute documented on https://developer.github.com/v3/issues/events/ ), but jcabi-github doesn't currently expose a way to retrieve this without accessing the raw JsonObject directly. I suggest that it should add a method for this.

[2015-05-01 08:08] dmarkov commented on #1078
@rultor don't close it, ask @cvrebert to do do it, since he created it, thanks!

[2015-05-01 16:21] #1078 closed

[2015-05-12 00:56] cvrebert commented on #1034
Adding hibernate-validator to the test dependencies didn't seem to fix things (see #1079, https://travis-ci.org/jcabi/jcabi-github/builds/61822062).

[2015-05-12 07:34] dmarkov commented on #1052
@rultor only @longtimeago can close this issue, since he opened it

[2015-05-12 07:37] dmarkov commented on #1064
@yegor256 The task description has been changed (see above). If there are concerns or objections, please give them to me right now. If not, please use the new version of the task description

[2015-05-14 07:33] dmarkov commented on #1064
@yegor256 The description of the task was changed (see above). If anybody has any questions or concerns about this change, please express them right now. Otherwise, please work with the new version

[2015-05-16 02:09] cvrebert opened #1081 "Mock GitHub doesn't allow control over timestamps"
It does not currently seem possible to control the creation (& other) timestamps of Mock GitHub entities. This makes it annoying or impossible to use the mocks for testing code that depends on the amount of time elapsed between mocked GitHub occurrences.
My suggestion would be for `Github.Time` to take a [`Clock`](https://docs.oracle.com/javase/8/docs/api/java/time/Clock.html)-like object as a con

[2015-05-16 06:35] cvrebert opened #1082 "CommitsComparison.smart.files() should return collection of structured objects"
Right now, it just returns a raw `JsonArray`. This is not typesafe and is inconvenient to work with.
(Probably needs a class like egit-github's `CommitFile`)

[2015-05-20 07:20] dmarkov commented on #968
@marcuss please proceed, it's yours

[2015-05-20 07:20] dmarkov commented on #973
@tousifkhan the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here... The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-05-20 07:20] dmarkov commented on #975
@super132 the task is yours please proceed

[2015-05-20 07:20] dmarkov commented on #1017
@yamstranger please go ahead with this task, it's yours

[2015-05-24 20:27] yegor256 commented on #1042
@bsideup indeed, please provide more details. how can I reproduce this problem?

[2015-05-24 21:00] cvrebert commented on #1052
@longtimeago Can you please close this since #1080 has been merged?

[2015-05-25 05:18] longtimeago commented on #1052
Yep, thanks

[2015-05-25 05:18] #1052 closed

[2015-05-25 08:06] dmarkov commented on #1023
@erwinvaneyk this task will get someone's attention soon

[2015-05-25 08:06] dmarkov commented on #1072
@cvrebert I will find a developer for the task soon...

[2015-05-25 08:06] dmarkov commented on #1081
@cvrebert this task will get someone's attention soon

[2015-05-25 08:06] dmarkov commented on #1082
@cvrebert this task will get someone's attention soon

[2015-05-25 08:13] cvrebert opened #1084 ""List branches" API is missing"
jcabi-github currently seems to lack a way to access GitHub's "list repository's branches" API: https://developer.github.com/v3/repos/#list-branches

[2015-05-26 00:19] super132 commented on #975
@maurezen PR #1083 fixed this issue. Would you please close this ticket? Thanks.

[2015-05-26 01:44] cvrebert opened #1086 ""Get branch (by name)" API is missing"
jcabi-github currently seems to lack a way to access GitHub's "get repository branch (by name)" API:
https://developer.github.com/v3/repos/#get-branch

[2015-05-26 02:27] cvrebert opened #1087 "Unable to fetch author of PR without re-fetching PR as an Issue"
Neither `Pull` nor `Pull.Smart` expose a method to get the author of the pull request, even though this data is in the pull request JSON (as the `user` member; see https://developer.github.com/v3/pulls/#get-a-single-pull-request). To get such data, one must currently do `pull.issue().author()`, which does an unnecessary/wasteful network request to re-fetch the PR as an Issue.
I suggest adding such

[2015-05-26 02:54] cvrebert opened #1090 "Unable to get head or base commits of a pull request"
Neither `Pull` nor `Pull.Smart` expose methods to access the `head` or `base` members of a pull request's JSON (see https://developer.github.com/v3/pulls/#get-a-single-pull-request ), so it doesn't seem easily possible to access this important pull request info via jcabi-github.
I therefore suggest that `head()` and `base()` methods be added to `Pull.Smart`.

[2015-05-26 08:25] cvrebert opened #1091 ""Is user X a public member of organization Y?" API is missing"
GitHub offers an API to check whether a given user is a public member of a given organization (https://developer.github.com/v3/orgs/members/#check-public-membership), but jcabi-github doesn't seems to expose this API. This API is very useful for making authorization decisions based on a user's organization membership.

[2015-05-26 09:05] cvrebert opened #1092 "Docs should give an example of using conditional requests"
GitHub's API supports conditional requests (https://developer.github.com/v3/#conditional-requests). These are beneficial since HTTP 304 Not Modified responses don't count against a user's GitHub API rate limit. It would be good if the docs gave some example of implementing/using this.
Probably blocked on https://github.com/jcabi/jcabi-http/issues/89 and/or https://github.com/jcabi/jcabi-http/issue

[2015-05-27 07:32] dmarkov commented on #1087
@rultor don't close it, ask @cvrebert to do do it, since he created it, thanks!

[2015-05-27 07:33] #1087 closed

[2015-05-27 08:52] super132 commented on #975
@dmarkov If @maurezen does not show up to close this ticket, how will this be handled? I have been losing fast delivery bonus due to the responsiveness of different parties. Thanks.

[2015-05-27 08:55] dmarkov opened #1093 "OAuthScope.java:41-45: Now all IT cases are..."
Puzzle `975-0a524603` in `src/test/java/com/jcabi/github/OAuthScope.java:41-45` has to be resolved: Now all IT cases are annotated with OAuthScope annotation to marked down its required scopes. A checker needs to be implemented to check if the supplied account can fulfill the IT case requirement before it is run and make the case fail if the required OAuth scopes is not present.... The puzzle was

[2015-05-27 08:57] dmarkov commented on #975
@maurezen once `975-0a524603`/#1093 puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2015-05-27 09:05] super132 commented on #975
@dmarkov , could you please advise my payment details regarding to this ticket? Thanks.

[2015-05-27 09:21] #975 closed

[2015-05-27 09:24] cvrebert opened #1094 "Repos.create() shouldn't require usage of raw JSON"
`Repos.create()` currently accepts a raw `JsonObject` as its argument. This is annoying to work with and not very typesafe. It would be better if it accepted a structured, well-typed object instead.

[2015-05-28 04:12] cvrebert opened #1096 "Temporary Repo creation code in tests is repetitive/verbose"
As a follow-up to #1095: Temporary repo creation in testcases is currently unnecessarily repetitive and verbose. There should be utility methods for the very common cases of an MkRepo named "test" and for RtRepo-s with randomly-generated names. This would allow for the avoidance of a lot of duplicate code related to test repo creation.

[2015-05-28 05:52] YamStranger commented on #1017
@dmarkov assign to someone else. Sorry.  It seems I was in @away mode when this task was assigned. @yegor256 can you check it please? Thanks.

[2015-05-28 07:24] dmarkov commented on #1092
@cvrebert we will find someone to do this task, soon

[2015-05-28 07:24] dmarkov commented on #1017
@yamstranger -30 points to your rating

[2015-05-28 07:24] dmarkov commented on #1017
@yamstranger right, I'll try to find someone else for this task

[2015-05-28 12:24] dmarkov commented on #975
@super132 **30 mins** added to your account (payment number `AP-74E21841MM490374N`), many thanks for your contribution! 171 hours and 6 mins spent here.... +30 added to your rating, current score is: [+271](http://www.netbout.com/b/35282?open=rating)

[2015-05-29 04:43] marcuss commented on #968
@dmarkov please assign this to someone else

[2015-05-29 07:39] dmarkov commented on #968
@marcuss deducted 30 from your rating :(

[2015-05-29 07:39] dmarkov commented on #968
@marcuss I will try to find someone else

[2015-05-30 02:27] cvrebert opened #1097 "Contents.create/update/remove shouldn't require usage of raw JSON"
`Contents.create()`, `Contents.update()`, and `Contents.remove()` each currently accept a raw JsonObject as one of their arguments. This is annoying to work with and not very typesafe. It would be better if these methods accepted structured, well-typed objects instead.

[2015-05-30 02:46] cvrebert opened #1099 "Avoid using java.net.URL"
[`java.net.URL`'s `equals()` & `hashCode()` methods aren't implemented sanely](http://michaelscharf.blogspot.com/2006/11/javaneturlequals-and-hashcode-make.html) (see also http://findbugs.sourceforge.net/bugDescriptions.html#DMI_BLOCKING_METHODS_ON_URL), so the use of this class should be avoided. However, it's currently returned from many jcabi-github methods. These should probably return `java.n

[2015-06-01 08:41] dmarkov commented on #1051
@yegor256 Closing this issue now...

[2015-06-01 08:41] #1051 closed

[2015-06-02 07:30] dmarkov commented on #1094
@rultor rultor closed it by mistake, @cvrebert please take a look

[2015-06-02 07:30] dmarkov commented on #1084
@rultor rultor closed it by mistake, @cvrebert please take a look

[2015-06-02 07:33] cvrebert commented on #1084
@dmarkov No, it closed it correctly. Reopening an issue closed via the issue creator's own pull request is stupid, imho.

[2015-06-02 07:33] #1084 closed

[2015-06-02 07:34] cvrebert commented on #1094
Again, not a mistake.

[2015-06-02 07:34] #1094 closed

[2015-06-02 22:35] cvrebert opened #1104 "RtHooksITCase is now failing since geocommit has gone offline"
`geocommit` has gone offline and been removed from GitHub's list of services: https://github.com/github/github-services/pull/1052/files#diff-a239e193db531f93c7c3ad725aff5195
This is causing `RtHooksITCase` to fail since the test hooks it creates were for `geocommit`: https://github.com/jcabi/jcabi-github/pull/1100#issuecomment-108114012
Probably it should just use a `web` hook instead.
API docs: h

[2015-06-03 08:55] cvrebert commented on #1082
@dmarkov Please roughly define "soon". Days? Weeks? Months?

[2015-06-04 11:03] dmarkov opened #1108 "Repos.java:117-119: Add the ability to set..."
Puzzle `1095-deaa3e41` in `src/main/java/com/jcabi/github/Repos.java:117-119` has to be resolved: Add the ability to set the other parameters of the repo creation API (has_issues, has_wiki, has_downloads, team_id, gitignore_template, license_template).... The puzzle was created by Chris Rebert on 27-May-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-06-04 11:08] dmarkov commented on #973
@tousifkhan check this ["no obligations principle"](http://www.xdsd.org/2014/04/13/no-obligations-principle.html).. This task is on your name for at least 15 days. If you can't close it within the next 48 hours I will have to assign someone else to it. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck... -30 added to your rating, current score i

[2015-06-04 18:02] cvrebert opened #1109 "Organizations conflates User's orgs with all orgs"
Currently, it seems like the only way to get an `Organization` is to go through a `User`, regardless of whether that user is a member of that organization or not: `someUser.organizations().get("some-org-name")`

This is unnecessarily inconvenient and doesn't make sense logically. I therefore suggest:
* Moving `Organizations.get()`, either to `Github` (as something like `Github.organization(String

[2015-06-04 19:16] longtimeago opened #1110 "Unit tests should stop MkGrizzlyContainer in finally block"
There are number of tests in repo, which are using MkGrizzlyContainer.
Some of them are calling container in `try` block and stop the container in finally `block`
(such as `RtCollaboratorsTest.userCanBeAddedAsCollaborator()` )
But some of them just stop the container without any try/finally (such as `RtCollaboratorsTest.canIterate` ). This may lead to resource leaking if some exception is thrown i

[2015-06-05 08:03] dmarkov opened #1111 "MkBranch.java:78-79: Refactor this to reduce number..."
Puzzle `1085-a13e40d1` in `src/main/java/com/jcabi/github/mock/MkBranch.java:78-79` has to be resolved: Refactor this to reduce number of arguments to avoid ParameterNumberCheck warning.... The puzzle was created by Chris Rebert on 26-May-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-06-05 08:49] dmarkov opened #1112 "RtBranch.java:75-76: Refactor to reduce number of..."
Puzzle `1085-6b1095b1` in `src/main/java/com/jcabi/github/RtBranch.java:75-76` has to be resolved: Refactor to reduce number of arguments to avoid ParameterNumberCheck warning.... The puzzle was created by Chris Rebert on 26-May-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-06-05 08:50] dmarkov commented on #1039
@yegor256 Done, the task is closed

[2015-06-05 08:50] #1039 closed

[2015-06-05 08:50] dmarkov commented on #1064
@yegor256 Closed, done, thanks all

[2015-06-05 08:50] #1064 closed

[2015-06-06 10:34] longtimeago commented on #1104
@yegor256 please, ask alex to dispatch the issue

[2015-06-09 09:11] dmarkov commented on #1104
@rultor rultor closed it by mistake, @cvrebert please take a look

[2015-06-09 09:27] #1104 closed

[2015-06-09 16:54] yegor256 commented on #973
@dmarkov let's postpone this task

[2015-06-10 08:47] dmarkov commented on #1096
@rultor rultor closed it by mistake, @cvrebert please take a look

[2015-06-10 08:48] dmarkov commented on #973
@yegor256 thanks, I added the "postponed" tag

[2015-06-10 08:48] dmarkov commented on #973
@yegor256 someone else will help in this task, no problem at all

[2015-06-10 08:52] cvrebert commented on #1096
@yegor256 What project management bot is @dmarkov running? I wish to file a bug against it.

[2015-06-10 12:10] dmarkov opened #1115 "Hooks.java:88-90: Add support for the "events"..."
Puzzle `1106-3aa88d70` in `src/main/java/com/jcabi/github/Hooks.java:88-90` has to be resolved: Add support for the "events" parameter of the hook creation API. It's a list of strings of the names of events which the hook will be triggered for.... The puzzle was created by Chris Rebert on 5-Jun-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-06-10 17:10] yegor256 commented on #1096
@cvrebert you can email me if you any ideas: yegor@teamed.io

[2015-06-10 17:36] cvrebert commented on #1096
Thanks, will do.

[2015-06-10 17:36] #1096 closed

[2015-06-10 22:14] cvrebert opened #1116 "MkGrizzlyContainer is never .stop()ed in some tests"
After auditing the test logs' `started on port #XXX` and `stopped on port #XXX` messages, I found some tests that use `MkGrizzlyContainer` but never call `.stop()` anywhere, thus leaking open ports.
`.stop()` calls need to be added to these tests.

[2015-06-10 23:28] cvrebert opened #1117 "Docs should show/mention usage of AutoRedirectingWire"
Using `AutoRedirectingWire` is the obvious way to cope with https://developer.github.com/changes/2015-04-17-preview-repository-redirects/

[2015-06-11 08:13] dmarkov commented on #1091
@rultor @cvrebert please take a look, rultor closed it automatically

[2015-06-11 08:18] #1091 closed

[2015-06-11 12:29] dmarkov opened #1119 "MkOrganization.java:149-154: Implement the "Add team membership"..."
Puzzle `1107-31e47c0d` in `src/main/java/com/jcabi/github/mock/MkOrganization.java:149-154` has to be resolved: Implement the "Add team membership" API (see https://developer.github.com/v3/orgs/teams/#add-team-membership ) (per https://developer.github.com/v3/orgs/members/#add-a-member , you can't add a user directly to an org; you instead add them to one of that org's teams) and replace uses of t

[2015-06-12 07:31] dmarkov commented on #1116
@rultor rultor closed it (automatically), @cvrebert please take a look

[2015-06-12 07:41] #1116 closed

[2015-06-13 08:27] simonjenga opened #1121 "duplicate validations on interface & implementation"
Why are there duplicate validations on both an Interface and it's implementation.

[2015-06-14 20:36] pauljbernard opened #1122 "How are you?"
Please tell me...

[2015-06-14 20:36] pauljbernard commented on #1122
My first comment!

[2015-06-14 20:39] pauljbernard opened #1123 "How are you?"
Please tell me...

[2015-06-14 20:39] pauljbernard commented on #1123
My first comment!

[2015-06-14 20:43] pauljbernard opened #1124 "How are you?"
Please tell me...

[2015-06-14 20:43] pauljbernard commented on #1124
My first comment!

[2015-06-14 20:49] #1124 closed

[2015-06-14 20:57] #1123 closed

[2015-06-14 20:57] #1122 closed

[2015-06-15 08:30] dmarkov commented on #1109
@rultor rultor closed it by mistake, @cvrebert please take a look

[2015-06-15 08:35] dmarkov commented on #1097
@yegor256 please pay attention to this issue

[2015-06-15 08:35] dmarkov commented on #1099
@yegor256 dispatch this issue please

[2015-06-15 08:35] dmarkov commented on #1110
@yegor256 please pay attention to this issue

[2015-06-15 08:35] dmarkov commented on #1117
@yegor256 please dispatch this issue

[2015-06-15 08:35] dmarkov commented on #1121
@yegor256 please pay attention to this issue

[2015-06-15 08:35] dmarkov commented on #1065
@yegor256 dispatch this issue please

[2015-06-15 08:35] dmarkov commented on #1069
@yegor256 please pay attention to this issue

[2015-06-15 08:35] dmarkov commented on #1070
@yegor256 dispatch this issue please

[2015-06-15 08:35] dmarkov commented on #1071
@yegor256 dispatch this issue please

[2015-06-15 08:35] dmarkov commented on #1086
@yegor256 dispatch this issue please

[2015-06-15 08:35] dmarkov commented on #1090
@yegor256 please do something about this issue

[2015-06-15 08:35] dmarkov commented on #1026
@yegor256 please pay attention to this issue

[2015-06-15 08:35] dmarkov commented on #1034
@yegor256 please do something about this issue

[2015-06-15 08:35] dmarkov commented on #1036
@yegor256 please dispatch this issue

[2015-06-15 08:35] dmarkov commented on #1054
@yegor256 please pay attention to this issue

[2015-06-15 08:35] dmarkov commented on #1060
@yegor256 please pay attention to this issue

[2015-06-15 08:35] dmarkov commented on #940
@yegor256 please do something about this issue

[2015-06-15 08:36] cvrebert commented on #1109
Not a mistake. @rultor is never wrong :-P

[2015-06-15 08:36] #1109 closed

[2015-06-15 08:37] rultor commented on #1109
@cvrebert I see you're talking about me, but I don't understand it. If you want to say something to me directly, start a message with @rultor

[2015-06-15 08:40] cvrebert commented on #1090
#1125 will fix this.

[2015-06-16 22:02] #940 closed

[2015-06-17 07:09] cvrebert opened #1128 "Various minor problems with commit status implementation"
There are various minor problems in the commit status API code, mostly left over from the original implementation prior to the overhaul.

[2015-06-17 08:01] dmarkov commented on #1090
@rultor rultor closed it by mistake, @cvrebert please take a look

[2015-06-17 08:01] dmarkov commented on #1082
@rultor rultor closed it (automatically), @cvrebert please take a look

[2015-06-17 08:01] #1090 closed

[2015-06-17 08:02] #1082 closed

[2015-06-17 08:06] dmarkov commented on #1034
@darkled thank you for the ticket reported, I topped your account for 15 mins, transaction `59448649`

[2015-06-17 09:26] dmarkov opened #1130 "RtStatuses.java:120-120: Implement this method which gets..."
Puzzle `1126-bb836510` in `src/main/java/com/jcabi/github/RtStatuses.java:120-120` has to be resolved: Implement this method which gets all status messages for a given commit.... The puzzle was created by Chris Rebert on 15-Jun-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-06-17 12:24] dmarkov opened #1132 "RtPullRefITCase.java:36-37: Implement this integration test for..."
Puzzle `1125-99a7deed` in `src/test/java/com/jcabi/github/RtPullRefITCase.java:36-37` has to be resolved: Implement this integration test for RtPullRef and PullRef.Smart to check that they work with actual JSON from GitHub.... The puzzle was created by Chris Rebert on 15-Jun-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-06-18 08:46] dmarkov commented on #1128
@rultor @cvrebert please take a look, rultor closed it automatically

[2015-06-18 08:49] #1128 closed

[2015-06-18 10:38] dmarkov opened #1133 "MkStatuses.java:47-48: Finish implementing this class (MkStatuses),..."
Puzzle `1129-3099cf0b` in `src/main/java/com/jcabi/github/mock/MkStatuses.java:47-48` has to be resolved: Finish implementing this class (MkStatuses), a mock of GitHub's commits statuses (the "Statuses" interface).... The puzzle was created by Chris Rebert on 17-Jun-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-06-20 22:43] zygm0nt opened #1134 "Tests and example usage for Status API"
Hi

After refactoring of the StatusAPI there are no longer tests for that functionality.

@cvrebert could you implement those, as the API's modifications are yours?

Regards
Marcin

[2015-06-20 23:01] cvrebert commented on #1134
See #1131.

[2015-06-20 23:04] zygm0nt commented on #1134
Thanks, will look into it :)

[2015-06-20 23:04] #1134 closed

[2015-06-22 21:43] cvrebert opened #1135 "Avoid repeatedly re-parsing JSON string in RtStatus"
`RtStatus` stores the underlying JSON string and re-parses it whenever `.json()` is accessed. This is unnecessarily inefficient. Note that `@Immutable` currently prevents us from storing the `JsonObject` itself (see #1131 for more context).

[2015-06-23 20:46] yegor256 commented on #1121
@simonjenga what validations are you talking about? Can you give an example?

[2015-06-23 20:55] cvrebert opened #1137 "Include Cobertura in Rultor merge pipeline"
Per https://github.com/jcabi/jcabi-github/pull/1131#issuecomment-114634655

[2015-06-24 08:03] dmarkov commented on #1110
@longtimeago thanks a lot for reporting, **15 mins** added to your acc, pmt ID `59894906`

[2015-06-24 09:59] dmarkov opened #1139 "RtStatusesTest.java:57-58: Write RtStatusesITCase, an integration test..."
Puzzle `1130-addbfb1d` in `src/test/java/com/jcabi/github/RtStatusesTest.java:57-58` has to be resolved: Write RtStatusesITCase, an integration test case for RtStatuses/RtStatus against real GitHub commit status data.... The puzzle was created by Chris Rebert on 17-Jun-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-06-24 10:00] dmarkov commented on #1130
@yegor256 there is a puzzle in this code `1130-addbfb1d`/#1139, we'll resolve it later

[2015-06-26 08:45] dmarkov commented on #1135
@yegor256 please do something about this issue

[2015-06-29 09:13] dmarkov commented on #1137
@yegor256 dispatch this issue please

[2015-06-29 11:06] douglarek opened #1140 "Will jcabi-github support to create a user token ?"

[2015-06-29 21:45] cvrebert opened #1142 "PullRef.repo should be nullable"
A `head` `PullRef` may have a null repo if the pull-requester has deleted their repository.
Example: https://api.github.com/repos/jcabi/jcabi/pulls/304

[2015-06-30 02:27] yegor256 commented on #1142
@cvrebert we're against NULL in general. Instead, we should have `hasHead()` and throw runtime exception if `head()` is called.

[2015-06-30 09:46] dmarkov commented on #1142
@cvrebert this task will get someone's attention soon

[2015-07-02 13:23] dmarkov commented on #1140
@yegor256 please pay attention to this issue

[2015-07-02 17:42] yegor256 commented on #1140
@douglarek can you point us to the API documentation where this feature is explained?

[2015-07-04 01:23] douglarek commented on #1140
@yegor256 maybe it was not expressed clearly, https://developer.github.com/v3/oauth_authorizations/#create-a-new-authorization

[2015-07-04 10:35] simonjenga commented on #1121
@yegor256

Interface: ```com.jcabi.github.Github```

[code]

Implementation: ```com.jcabi.github.RtGithub```

[code]

[2015-07-07 05:44] yegor256 commented on #1121
@simonjenga make sense, but these annotations play different roles. The annotations on interfaces are declarative. They don't check anything in runtime, just inform users about our promises. Annotation on class methods are validated in runtime. So, it's by design, no need to fix.

[2015-07-07 08:43] dmarkov commented on #1121
@yegor256 don't close it, ask @simonjenga to do do it, since he created it, thanks!

[2015-07-07 11:54] cougil opened #1144 "How to get all repos from a user?"
Hi!
I'm trying to use your API and it seems really great.
I think it is a simple question, really simple but I don't know how to make it work.
I'd like to get all the repositories that any user has, but using the Search API I'm not able to get all their repositories, it seems that it is only returning the owned repositories by the user:

[code]

What can I do in order to get all the repositories f

[2015-07-07 17:30] #1121 closed

[2015-07-07 19:10] simonjenga commented on #1121
@yegor256 It seems to me you closed it. I could have done but i wanted to raise an issue. Please help in resolving it. Why is it that @dmarkov communicates at his own convenience? It's bad to ignore some things. I tried to communicate to him before and he never responded https://github.com/jcabi/jcabi-aether/issues/57 That issue together with it's fix were never paid. This issue https://github.com

[2015-07-08 04:00] yegor256 commented on #1121
@simonjenga in general, the workflow is this: 1) you report a bug, 2) project architect accepts it ([par.21](http://www.teamed.io/policy.html#21)) or rejects ([par.13](http://www.teamed.io/policy.html#13)), 3) you're paid for its reporting ([par.12](http://www.teamed.io/policy.html#12)), 4) someone is assigned as a developer, 5) the bug is fixed and the developer is paid. Make sense?

[2015-07-08 08:09] simonjenga commented on #1121
@yegor256 Makes sense. Have you also ever considered that over reliance on one person (project architect) for all decisions may at one time be detrimental to the project? What if this person is unavailable for various reasons (sickness, vacation, jailed)? That would make the project to halt.
What if also the said person has personal issues with Developer X? it now means Developer X will have a har

[2015-07-10 02:01] yegor256 commented on #1121
@simonjenga you're right, all this may happen, but I believe in monarchy in software development, not democracy. Every decision has to be made by a single person and this person has to be responsible for it. Even if he is wrong, we trust him/her for the time he/she is an architect. We can always replace this person, but until then, we obey. More about it here: http://www.yegor256.com/tag/architect

[2015-07-10 12:56] dmarkov commented on #1144
@yegor256 dispatch this issue please

[2015-07-10 17:55] elipsion opened #1145 "MkCommit does not persist in storage"
`MkCommit` obejcts does not persist themselves in the backing storage.

[2015-07-10 17:57] elipsion opened #1146 "MkRefernce does not persist in backing storage"
`MkReference` objects are not added to the backing storage.

[2015-07-10 17:59] elipsion opened #1147 "MkCommit is missing several properties"
`MkCommit` objects are missing several properties compared to https://developer.github.com/v3/git/commits/. The ones I'm missing are `created_at` and `updated_at`

[2015-07-10 18:43] yegor256 commented on #1144
@cougil try this:

[code]

[2015-07-12 15:14] cougil commented on #1144
Oh! It seems that I don't have this method :-/
I suppose is because I don't have the latest version (I have 0.9) cause I'm using maven in order to download all the dependencies. Is there any possibility to add any repository to maven in order to obtain any version of your API?
Best,

[2015-07-13 01:15] nauar opened #1148 "When I add "fork:true" in repositories search query, I get #fetch(GET api.github.com /search/repositories): [422 Unprocessable Entity] in 862ms"
I have this method and it works:

	@Override
	public List<String> getReposNameByLogin(String login) throws GitHubServiceException
	{
		List<String> repos = new LinkedList<>();
		try
		{
			for (Repo repo : github.search().repos("user:" + login, "stars", Search.Order.DESC))
			{
				repos.add(repo.coordinates().repo());
			}
		}
		catch (IOException e)
		{
			throw new GitHubServiceException(e);

[2015-07-13 01:23] nauar commented on #1148
When I add "+fork:true" in the query string, it increases the result count from 24 to 399.

Launching the same query from terminal throught curl command works properly.

[2015-07-14 07:47] dmarkov commented on #1147
@yegor256 please do something about this issue

[2015-07-14 07:47] dmarkov commented on #1145
@yegor256 please pay attention to this issue

[2015-07-14 07:47] dmarkov commented on #1146
@yegor256 please dispatch this issue

[2015-07-16 07:34] dmarkov commented on #1148
@yegor256 please do something about this issue

[2015-07-17 12:24] KPRATIK opened #1149 "How to search all repos based on a keyword?"
I am trying to do something like this:
https://api.github.com/search/repositories?q=tetris

Could you please help me in doing this?

THanks,
Pratik

[2015-07-21 08:01] dmarkov commented on #1149
@yegor256 please do something about this issue

[2015-07-21 17:44] yegor256 commented on #1149
@KPRATIK this should work:

[code]

More information here: https://developer.github.com/v3/search/

[2015-07-24 01:02] themistoklik opened #1150 "How to verify login credentials?"
Hello,

I'm trying to find a way to verify if this:

Github github = new RtGithub("username","password");

gives a correct login attempt or not. For example if I do it with bad credentials how will I know that the login attempt has failed?

thank you

[2015-07-24 18:47] juandesi opened #1151 "How can I create a commit with blobs and upload to repo?"
I was using egit java-api. but it does not work very well, so I decided to change it for jcabi-github :).

The usage of this api seems very different from egit, can anyone give me a clean example of how should a java File be commited and pushed to a repo?

Thanks

[2015-07-27 08:25] dmarkov commented on #1150
@yegor256 please do something about this issue

[2015-07-27 08:29] yegor256 commented on #1150
@themistoklik just try this:

[code]

If your credentials are valid, you will get the login of the authenticated user. If not, you will have `AssertionError`

[2015-07-28 07:16] cvrebert opened #1152 "Limit.Smart.reset is wrong"
The GitHub API uses seconds as the unit, but the `java.util.Date` constructor (which `Limit.Smart.reset()` calls) uses milliseconds instead, resulting in an incorrect conversion.

[2015-07-28 08:25] dmarkov commented on #1151
@yegor256 dispatch this issue please

[2015-07-28 15:53] yegor256 commented on #1151
@juandesi here is a live example:

[code]

[2015-07-28 16:07] juandesi commented on #1151
Thanks a lot. really helpful

[2015-07-31 07:55] dmarkov commented on #1152
@yegor256 dispatch this issue please

[2015-08-02 17:02] cezarykluczynski commented on #1152
#1153 Fixes this.

[2015-08-11 10:56] cezarykluczynski opened #1154 "User followers and user following"
Is there any way to get user followers and user following?

[2015-08-14 11:25] dmarkov commented on #1154
@yegor256 dispatch this issue please

[2015-08-14 11:43] yegor256 commented on #1154
@cezarykluczynski not at the moment. You can work directly with the API, using `github.entry()`

[2015-08-22 08:45] cezarykluczynski opened #1155 "Multiple API hits on single resource"
I would expect that calling something like:

[code]

will call the user resource once, and then extract stored data when login(), avatarUrl(), and type() are called. Seems like this is not the case, and new API request is performed for every method call. Am I missing something here? Is this the intended behaviour?

It seems like the only option to get all the user data in a single request, and sin

[2015-08-25 10:52] dmarkov commented on #1155
@yegor256 please do something about this issue

[2015-08-26 17:51] alxn opened #1156 "Please add an example of how to use assertHeader() with the Matcher"
It would be great to see an example of [`.assertHeader(String, Matcher<Iterable<String>>)`](http://http.jcabi.com/apidocs-1.8.2/com/jcabi/http/response/RestResponse.html#assertHeader(java.lang.String, org.hamcrest.Matcher)).

[2015-08-29 23:50] cvrebert commented on #1152
Closing since #1153 has been merged.

[2015-08-29 23:50] #1152 closed

[2015-08-29 23:53] cvrebert commented on #1155
+100

[2015-08-31 08:46] dmarkov commented on #1156
@yegor256 please pay attention to this issue

[2015-08-31 11:58] yegor256 commented on #1156
@alxn I think you meant to submit this ticket to jcabi-http project, right? If so, please close it here and re-submit

[2015-08-31 16:56] alxn commented on #1156
@yegor256 yes! (wth happend here! lol).

[2015-08-31 16:56] #1156 closed

[2015-09-13 10:31] yegor256 commented on #1155
@cezarykluczynski yes, that's how it is intended to be. The only way to "fix" this is to introduce a new "caching" decorator of `Github`, which you would use like this:

[code]

Pay attention to `new CachedGithub(github)`. See how a similar thing is implemented in, say, https://github.com/jcabi/jcabi-s3/tree/master/src/main/java/com/jcabi/s3/cached

[2015-09-19 09:31] longtimeago opened #1157 "coverage reports to coveralls.io"
Let's publish coverage data to `coveralls.io`, using `coveralls-maven-plugin`.
This is how it was done in Takes: yegor256/takes#384

The secret token should come as a parameter

[2015-09-21 07:35] GirishReddyB opened #1158 "LIB TEST"
Please Please Please Please Please tell me...

[2015-09-21 07:37] GirishReddyB opened #1159 "LIB TEST"
Please Please Please Please Please tell me...

[2015-09-21 16:08] GirishReddyB opened #1160 "How are you?"
Please tell me...

[2015-09-21 16:23] GirishReddyB opened #1161 "How are you?xx"
Please tell me...

[2015-09-21 16:23] GirishReddyB commented on #1161
My first comment!

[2015-09-22 03:04] pecko commented on #932
There are two issues here.

1) The RtGithub class creates the USER_AGENT constant using the manifest file.
Android repacks all libraries and the 'JCabi-Version' property and other similar properties doesn't  exist in apk.
All RtGithub constructors don't work. They throw:

[code]

Solutions:
1.1) build simple constant (my PR do that :( )

or

1.2) create a resource properties file that will contain

[2015-09-22 04:57] pecko commented on #932
I have also fixed checkstyle errors in RtGithub, but I have just excluded that from RtDatatypeConverter because it is mostly copied.
PMD errors are fixed.

[2015-09-22 10:21] dmarkov commented on #1093
@yamstranger please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have... The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-09-22 10:21] dmarkov commented on #1157
@yegor256 please pay attention to this issue

[2015-09-22 12:25] pecko commented on #932
@darkled
I will solve all issues you described in the PR, but firstly want to that we agree about solutions.
I have described two issues and offer two solutions. You want to say that my solution are fine beside soving your comment. Right?

[2015-09-22 18:30] cezarykluczynski opened #1163 "Configurable user agent"
Hi,

it seems UA string is hardcoded here: https://github.com/jcabi/jcabi-github/blob/361bb23ed4c028914d45d53c3727c48b035ee643/src/main/java/com/jcabi/github/RtGithub.java#L83

Would you consider making it configurable?

It seems, per documentation, that it should be an application user agent, rather than a user agent of client used by application.

https://developer.github.com/v3/#user-agent-requ

[2015-09-22 20:00] pecko commented on #932
@darkled @dmarkov

I have committed final solution (I hope). It builds on my local machine.
I have also updated the PR description. See https://github.com/jcabi/jcabi-github/pull/1162/

[2015-09-22 20:06] pecko commented on #932
AppVeyor and Travis have passed. All seems good.

[2015-09-22 20:33] pecko commented on #1163
@cezarykluczynski

It will probably be changed with https://github.com/jcabi/jcabi-github/pull/1162
You will be able to add the jcabi.properties in classpath (before jcabi-github library) and define your UA.
See https://github.com/pecko/jcabi-github/blob/issue932/src/main/java/com/jcabi/github/RtGithub.java@L107

[2015-09-22 20:51] cezarykluczynski commented on #1163
@pecko You changes give the ability to dynamically specify Jcabi version, build, and date using properties file, but UA string would still be built using a fixed template.

What i meant instead was to give the ability to specify entire UA string.

The logic behind this is that GitHub would probably like to have to ability to identify an application based on UA, and not the library used by applicat

[2015-09-22 21:04] pecko commented on #1163
@cezarykluczynski
It is already custom. You can add the following jcabi.properties:

[code]

or what ever you want.
However, there is better way. I just have solved the issue in Android or similar framework that rebuilds dependencies.

[2015-09-22 21:14] cezarykluczynski commented on #1163
@pecko Wouldn't the resulting string be "jcabi-github Cezary Kluczyński & Friends  "?

I'm looking at https://github.com/pecko/jcabi-github/commit/14dbcb0def3409bd21cb1bfaf7fb00ff66d6db15#diff-bba83786024a91e3e967174c102169e8R111

I'm thinking of something like this:

[code]

[2015-09-22 21:21] pecko commented on #1163
@cezarykluczynski

You are right. What you mean that is better:

- I can add a new commit (the JCabi_Client property, for example)
or
- you solve it when (if) this PR be applied

[2015-09-22 21:25] cezarykluczynski commented on #1163
@pecko It would be great if you could add those changes to your PR. I would have create by PR based on yours, so there's no point in waiting.

[2015-09-22 21:41] pecko commented on #1163
@cezarykluczynski
Will do it asap

[2015-09-22 21:57] pecko commented on #1163
@cezarykluczynski

I have added https://github.com/pecko/jcabi-github/commit/4ecb4ba089373b8671f10025376c3ed7fd3298e0

It still uses more properties (client, build number, version and date), but you can use only one.

[2015-09-22 22:08] pecko opened #1164 "Using new Travis container-based infrastructure"
I suppose that this project can use this infrastructure (http://docs.travis-ci.com/user/workers/container-based-infrastructure/). The build starts faster, takes lower and there is bigger memory/disk limit.
Solution is trivial.

[2015-09-23 07:39] dmarkov commented on #1093
@yamstranger OK, no problem, take your time

[2015-09-23 07:44] dmarkov commented on #1017
@tmjee please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have

The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-09-23 10:54] pecko opened #1165 "Travis builds fail unexcpected"
Maybe, that isn't related to the jcabi-github project, but I have noticed the issue here.

While fixing #932 I have noticed that travis builds failed without some obvious reason. For instance, next build (almost the same) pass.

Examples:

https://travis-ci.org/jcabi/jcabi-github/builds/81745690 - failed
https://travis-ci.org/jcabi/jcabi-github/builds/81745877 - passed

There are 3 builds with 3 d

[2015-09-23 17:13] cezarykluczynski commented on #1163
@pecko Thank you.

Joining string with null value can be tricky, so I would tweak it further, to both avoid converting null values to "null" string, and to avoid having multiple or untrimmed spaces:

[code]

And then call it like this:

[code]

[2015-09-23 20:28] pecko commented on #1163
The PR is ready to merge.
I have changed slightly your change (remove the method because it should be static and fix a trivial compile errors), but not sure it is too late to add commit to the PR because it would be merge.
Maybe we should enter a new issue after committing or make these change in this issue.

[2015-09-23 20:47] cezarykluczynski commented on #1163
@pecko OK, when #1162 is merged, I will create a separate PR.

[2015-09-23 20:52] pecko commented on #1163
@cezarykluczynski
This diff adds the qulice checks (hope it helps):
[code]

[2015-09-24 03:49] tmjee commented on #1017
@dmarkov  fixed in #1166

[2015-09-24 09:28] dmarkov commented on #1158
@yegor256 please pay attention to this issue

[2015-09-24 09:28] dmarkov commented on #1159
@yegor256 dispatch this issue please

[2015-09-24 11:12] dmarkov commented on #1017
@tmjee thanks, we will review it

[2015-09-25 08:13] dmarkov commented on #1160
@yegor256 please do something about this issue

[2015-09-25 08:13] dmarkov commented on #1161
@yegor256 please pay attention to this issue

[2015-09-25 15:01] #1160 closed

[2015-09-25 15:01] #1161 closed

[2015-09-25 15:02] #1159 closed

[2015-09-25 15:06] #1158 closed

[2015-09-26 08:59] asaen opened #1167 "NoClassDefFoundError during the build"
In latest merge logs there is a `NoClassDefFoundError`, I think we should fix it. [Example](http://www.rultor.com/t/4748-130215299):

[code]

[2015-09-26 09:07] darkled commented on #1034
for some details please see teamed/qulice#465

[2015-09-26 10:32] tmjee opened #1168 "User will fail with class cast exception if name is null"
RtIssueITCase#talksInGithubProject will fail with CCE, if User has json name property but the name is null e.g

 "name":null

this code

[code]

needs to be something like

[code]

[code]

[2015-09-27 00:10] pecko opened #1169 "Problem with rultor merge"
The PR https://github.com/jcabi/jcabi-github/pull/1162 fixes the issue #932

Tests passed on my local machine, Travis and AppVeyor, but failed on rultor with the following messages:

The error in com.jcabi.github.RtIssueITCase talksInGithubProject(com.jcabi.github.RtIssueITCase:
[code]

The failures:
[code]

[2015-09-27 08:16] darkled commented on #1169
@pecko it's a duplicate of #1168.

[2015-09-27 17:28] pecko commented on #1169
@darkled

Rultor returns the error described in #1168, but also two failures.
I will keep this issue opened until fixing all errors/failures.

[2015-09-27 17:39] pecko commented on #1169
@darkled

The failures don't happen in a new rultor merge. Closed as duplicate.

[2015-09-27 17:39] #1169 closed

[2015-09-28 07:13] dmarkov commented on #932
@pecko This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here. This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2015-09-28 07:13] dmarkov commented on #968
@shelan this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions... The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-09-28 07:13] dmarkov commented on #1163
@yegor256 please dispatch this issue

[2015-09-28 07:13] dmarkov commented on #1164
@yegor256 dispatch this issue please

[2015-09-28 07:13] dmarkov commented on #1165
@yegor256 please do something about this issue

[2015-09-28 09:01] pecko commented on #932
#dmarkov

I have solved what I can. Please look at https://github.com/jcabi/jcabi-github/pull/1162.
Travis, AppVeyor passed with no issues, but rultor fails. I have open the issue against rultor https://github.com/yegor256/rultor/issues/940

[2015-09-28 16:13] pecko commented on #932
@darkled @dmarkov

I have updated the Pr based on comment at https://github.com/yegor256/rultor/issues/940#issuecomment-143786271

[2015-09-28 16:25] pecko commented on #932
@darkled @dmarkov

I have changed commit/ It just fixes puzzle instead of remove it. I'm not sure that it is fixed in #920

[2015-09-28 17:01] yegor256 commented on #1164
@pecko fixed in dad90e7 thanks

[2015-09-28 17:01] #1164 closed

[2015-09-28 17:03] yegor256 commented on #1165
@pecko this is why it fails:

[code]

The build machine simply doesn't have enough TCP ports for running all our tests.

[2015-09-28 17:05] yegor256 commented on #1165
@pecko I think the only solution possible is to wait, instead of failing, when the port is not available.

[2015-09-28 17:22] yegor256 commented on #1163
@cezarykluczynski thanks for the ticket, I totally understand that problem. But you can solve it without any modifications to the library:

[code]

Make sense?

[2015-09-28 18:06] pecko commented on #1165
@yegor256

I also can happen when port is free, but it is still in TIME_WAIT state. The solution is to use
[code]
that is
[code]
anywhere.
See http://docs.oracle.com/javase/7/docs/api/java/net/Socket.html#setReuseAddress(boolean)

Basically, it allows the socket to be bound even though a previous connection is in a timeout state.

There are similar issue in com.jcabi.http.mock.MkGrizzlyContainer.r

[2015-09-28 21:50] pecko opened #1170 "RtReleaseAssetsITCase and RtReleasesITCase tests fail randomly"
While we merge #932 these tests failed randomly on rultor.

I have reproduced it once on Eclipse: com.jcabi.github.RtReleaseAssetsITCase.uploadsSameAssetInTwoReleases() failed.

[2015-09-28 21:55] pecko commented on #1170
Since tests print

- HTTP response status is not equal to 201:
or
- HTTP response status is not equal to 204:

The problem can be caused with some temporary issue on github.
I propose that we try merge rultor more times.

[2015-09-29 08:29] dmarkov commented on #1165
@pecko thanks for reporting! I topped your account for 15 mins, transaction 66241743

[2015-09-29 11:41] dmarkov commented on #1167
@yegor256 please do something about this issue

[2015-09-29 11:41] dmarkov commented on #1168
@yegor256 please pay attention to this issue

[2015-09-29 12:26] hexvalid opened #1171 "How do I disable all logs?"
Hi,
I want disable all logs:

[code]

How do I do this?
My code is:

[code]

[2015-09-29 14:04] pecko commented on #1170
I have also tried rultor build locally. The build pass all tests.

However, there are a difference.
When running a build after 'at rultor merge', the build is called with:
[code]
This run all integration tests and some of them fails.
For instance,
[code]

I have tried:
[code]

It skips a lot integration tests. Other tests pass. The same issue happens on Travis and AppVeyor
For instance,
[code]
Act

[2015-09-29 15:33] pecko commented on #1170
@yegor256 @dmarkov @darkled

I have tried the build more times (with the failsafe.github.key property). One build fails with the following failure:
[code]

This is definitely random issue and not related to rultor.
Maybe we should separate integration tests until solving this issue,

Possible reasons:

- temporary github issue
- the jcabi-github project acquires ports too aggressive (see #1165)

O

[2015-09-29 15:37] yegor256 commented on #1170
@pecko keep in mind that we discourage abstract discussions in tickets. If you think that the project has a bug, report a new ticket and explain what is the problem. It will be fixed. Than you can return to this ticket and continue. Check these articles: http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html http://www.yegor256.com/2015/01/15/how-to-cut-corners.html

[2015-09-29 15:46] pecko commented on #1170
All discussion is related to this issue: "RtReleaseAssetsITCase and RtReleasesITCase tests fail randomly". Maybe better summary would be "Integration tests fail randomly".

I will open a new issue with my question(s) above.

I am interested in this problem because my task #932 blocked it :(.

[2015-09-29 16:02] pecko opened #1172 "How to run integration tests"
I have solved #932. It passes locally, on Travis and AppVeyor, but fails on rultor with random errors. See #1170

README for this project explains how to run separate integration test, but I want to run all tests when build project (test task).

I suppose that we need add properties as follows:

failsafe.github.key
failsafe.github.key.second
failsafe.github.repo
failsafe.github.organization

I hav

[2015-09-29 18:15] shelan commented on #968
@dmarkov I did a study of the problem including the referenced #903. IMHO the real cause of the problem is the way Contents API is being used. According to the snippet following gives the exception.

`repo.contents().get("src/main/java/com/jcabi/github/mock")`

But it gives array of content not a single content.  Following is an example of one file being retrieved.

`repo.contents().get("src/main/

[2015-09-30 07:59] dmarkov commented on #952
@prondzyn this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here. Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2015-09-30 07:59] dmarkov commented on #1168
@tmjee thank you for the ticket reported, I topped your account for 15 mins, transaction `AP-11418293C5878071W`

[2015-09-30 09:32] shelan commented on #968
@darkled @dmarkov according to my previous comment , I believe we can use the API using iterate() method for folders or submodules rather using get(). Please suggest if you have any other concerns.

[2015-09-30 10:28] dmarkov commented on #1167
@darkled thanks a lot for reporting, **15 mins** added to your acc, pmt ID `66334675`

[2015-09-30 12:58] darkled commented on #968
@shelan agreed, let's add information that the method `get()` is not allowed to be used for folders and we need to `iterate()` instead.

[2015-09-30 20:40] shelan commented on #968
Thanks @darkled. I have created a PR here. #1173 . But it looks like CI build is failing for following reason as per the build log.
`
{"message":"API rate limit exceeded for 52.0.240.122. (But here's the good news: Authenticated requests get a higher rate limit. Check out the documentation for more details.)","documentation_url":"https://developer.github.com/v3/#rate-limiting"}>`

[2015-09-30 20:52] cezarykluczynski commented on #1163
@yegor256 This doesn't do the trick.

Whenever BaseRequest.reset() or BaseRequest.header() is called, a new instance of BaseRequest is created with the updated data, and this new instance is no longed bound to RtGithub.REQUEST.

[2015-09-30 21:18] prondzyn commented on #952
@dmarkov PR #1174 prepared

[2015-10-01 04:35] yegor256 commented on #1163
@cezarykluczynski why should it be "bound" to `RtGithub.REQUEST`? That's right, a new version of `Request` is created - that's how it should be. When you instantiate `RtGithub`, it contains a default instance of `Request`. Then, you need to create another instance of `RtGithub`, with a new instance of request, which has a different HTTP header. That's exactly what my example is doing.

[2015-10-01 06:52] shelan opened #1175 "Travis build is failing"
Travis build is failing and it looks like the API limit is exceeded for Github API invocations.

https://travis-ci.org/jcabi/jcabi-github/jobs/83011585

I could see the following information in the log as well.

`[INFO] {"message":"API rate limit exceeded for 52.0.240.122. (But here's the good news: Authenticated requests get a higher rate limit. Check out the documentation for more details.)","do

[2015-10-01 08:43] dmzaytsev opened #1176 "authentificated Github API calls in tests"
sometimes unit tests failed with the error
[code]
see Travis log https://travis-ci.org/jcabi/jcabi-github/jobs/83011585 for instance

I would suggest to use authentificated Github API calls in tests
it possible create personal access token without any right(or create an new github account and then create a token)
in API calls token can be used in `Authorization` header
like this
`Authorization: Ba

[2015-10-01 09:53] dmarkov commented on #968
@shelan please, don't do technical discussions in tickets (moreover, I can't help you, I'm a project manager, not a developer). every time you see something unclear, submit new tickets. see http://www.yegor256.com/2015/01/15/how-to-cut-corners.html

[2015-10-01 16:11] cezarykluczynski commented on #1163
@yegor256 Sorry for the confusion. That's right, it's working fine.

It seems a little excesive to create two instances, but it's works fine.

[2015-10-02 07:17] dmarkov commented on #952
@prondzyn thanks, will someone to review it soon

[2015-10-02 07:35] hykim21 opened #1177 "How are you?"
Please tell me...

[2015-10-02 07:35] hykim21 commented on #1177
My first comment!

[2015-10-03 17:30] yegor256 commented on #1163
@cezarykluczynski please close the ticket if it's solved, thanks for using the lib!

[2015-10-03 17:31] #1163 closed

[2015-10-05 08:11] dmarkov commented on #1172
@yegor256 dispatch this issue please

[2015-10-05 08:11] dmarkov commented on #1175
@yegor256 please do something about this issue

[2015-10-05 08:11] dmarkov commented on #1176
@yegor256 please dispatch this issue

[2015-10-05 08:11] dmarkov commented on #1177
@yegor256 dispatch this issue please

[2015-10-05 08:11] dmarkov commented on #1171
@yegor256 please do something about this issue

[2015-10-05 18:09] yegor256 commented on #1176
@dmzaytsev duplicate of #1175

[2015-10-05 18:09] #1176 closed

[2015-10-05 18:10] yegor256 commented on #1171
@ErkanMDR just configure your logging system to now show them to you. Are you using log4j?

[2015-10-05 18:13] yegor256 commented on #1172
@pecko README looks clear to me... which paragraph exactly needs improvement?

[2015-10-05 18:37] pecko commented on #1172
@yegor256

It is clear to run some separate tests, but I want to run all tests in same way as rultor run them.

What exactly to set for <organization> (maybe whatever, but I don't sure)?
What to set to other parameters (I mentioned them above)?
Is there some parameter else?

or simpler

What exactly command to use in order to run all tests. For instance, something like this.

[code]

[2015-10-05 18:50] pecko commented on #1172
@yegor256

It is weird that rultor persistently fails when merge https://github.com/jcabi/jcabi-github/issues/932. I have managed to reproduce it once in Eclipse and once or twice with command line using only failsafe.github.key. IMO, it fails too often on rultor. Because of that, I would like to simulate rultor (as far as possible).

[2015-10-05 19:04] #1177 closed

[2015-10-05 20:53] pecko commented on #1170
@yegor256

This PR is relevant: https://github.com/jcabi/jcabi-github/pull/1162. The com.jcabi.github.RtReposITCase test also fails sometimes.

[2015-10-06 06:42] prondzyn opened #1178 "RtIssueITCase integration test does not pass when User does not have name"
There is an invalid assumption in [User.java:179](https://github.com/jcabi/jcabi-github/blob/master/src/main/java/com/jcabi/github/User.java#L179) - `@NotNull(message = "Name is never NULL")`. Github user name can be empty - see example [here](https://api.github.com/users/kowal666). When user name is null the `RtIssueITCase` fails.

Tested with below command with `<token>` and `<second-token>` rep

[2015-10-06 08:05] dmarkov commented on #1170
@pecko I am aware of the task, give me some time to find a developer...

[2015-10-06 08:10] dmarkov commented on #1175
@shelan thanks for the ticket, your account was topped for 15 mins, payment 66772129

[2015-10-06 11:20] dmarkov commented on #1170
@pecko many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `66776531`

[2015-10-08 00:09] yegor256 opened #1179 "jcabi-http 1.13"

[2015-10-08 07:49] dmarkov commented on #1179
@yegor256 tagged this issue with "bug"

[2015-10-08 07:53] dmarkov commented on #1017
@tmjee you're holding this task for 15 days already; as a reminder, don't forget to remove the `@todo` puzzle from the source code; -30 added to your rating, at the moment it is: [+45](http://www.netbout.com/b/35603?open=rating)

[2015-10-08 08:18] dmarkov commented on #1179
@yegor256 thanks for reporting! I topped your account for 15 mins, transaction 000-ea5eedaa

[2015-10-08 09:23] tmjee commented on #1017
@dmarkov this issue is pending #1162

[2015-10-08 09:34] tmjee opened #1180 "Github API rate limit reached"
while removing a @todo from issue #1017 I am getting this in travis

[code]

[2015-10-08 09:35] tmjee commented on #1017
@dmarkov Commit is block by ##1180
@dmarkov Please do not assign any more issues to me. Thanks

[2015-10-09 09:02] dmarkov commented on #1017
@tmjee yep, got it, let's wait for #1180 being solved

[2015-10-09 09:07] dmarkov commented on #1178
@yegor256 please do something about this issue

[2015-10-09 14:11] darkled commented on #932
@dmarkov we are waiting for #1170

[2015-10-12 20:26] yegor256 commented on #1179
@rultor release, tag is `0.25`

[2015-10-12 20:27] rultor commented on #1179
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5431-147510924)

[2015-10-12 20:34] rultor commented on #1179
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5431-147510924) (took me 7min)

[2015-10-12 20:40] #1179 closed

[2015-10-13 08:44] dmarkov commented on #932
@darkled yes, of course, we'll wait for #1170

[2015-10-13 08:51] dmarkov commented on #968
@shelan check this ["no obligations principle"](http://www.xdsd.org/2014/04/13/no-obligations-principle.html).. This task is on your name for at least 15 days. If you can't close it within the next 48 hours I will have to assign someone else to it. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck... -30 added to your rating, current score is: [

[2015-10-13 08:52] dmarkov commented on #1178
@prondzyn thank you for reporting this, I added 15 mins to your acc, transaction `AP-0WV92075UA6123528`

[2015-10-13 08:53] dmarkov commented on #1180
@yegor256 dispatch this issue please

[2015-10-13 09:12] shelan commented on #968
@dmarkov issue is not closed because PR #1173 is not closed because of CI issues. I have reported it well with in the time frame. I have reported all the issues #1175.

Is there a way that i can do to close the issue? I feel it is unfair to reduce my rating when i have done everything as described in the process. Please clarify if i have misunderstood.

[2015-10-13 09:44] darkled commented on #968
@shelan in such cases you need to report impediment in the way described in [policy](http://www.teamed.io/policy.html#11)

[2015-10-13 09:44] darkled commented on #968
@dmarkov we are waiting for #1175

[2015-10-13 09:47] shelan commented on #968
@darkled Thank you very much for the information.

[2015-10-13 10:07] prondzyn commented on #952
@dmarkov issue completed and merged

[2015-10-14 20:59] yegor256 commented on #1180
@tmjee I believe it's a duplicate of #1175

[2015-10-14 20:59] #1180 closed

[2015-10-15 07:31] dmarkov commented on #968
@darkled sure, let's wait for #1175

[2015-10-15 07:36] dmarkov commented on #1017
@yegor256 we waited for #1180, it is closed already

[2015-10-15 10:44] dmarkov opened #1181 "RtNotificationsITestCase.java:37-38: Create integration tests for at..."
Puzzle `920-e9a632ce` in `src/test/java/com/jcabi/github/RtNotificationsITestCase.java:37-38` has to be resolved: Create integration tests for at least iterate() and get() operations of RtNotifications.... The puzzle was created by Piotr Pradzynski on 10-Oct-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-10-15 12:58] dmarkov opened #1182 "RtNotificationsTest.java:44-45: Create a test fetchNonEmptyListOfNotifications and..."
Puzzle `920-987ae9ac` in `src/test/java/com/jcabi/github/RtNotificationsTest.java:44-45` has to be resolved: Create a test fetchNonEmptyListOfNotifications and implement iterate() operation in RtNotifications.... The puzzle was created by Piotr Pradzynski on 10-Oct-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-10-15 19:48] shelan commented on #968
@darkled PR #1173 is closed. Could you please close the issue?

[2015-10-16 05:35] darkled commented on #968
thanks, closing

[2015-10-16 05:35] #968 closed

[2015-10-16 09:19] dmarkov commented on #952
@prondzyn thanks

[2015-10-16 09:19] dmarkov opened #1183 "RtNotificationsTest.java:42-43: Create a test fetchSingleNotification and..."
Puzzle `920-268906e9` in `src/test/java/com/jcabi/github/RtNotificationsTest.java:42-43` has to be resolved: Create a test fetchSingleNotification and implement get() operation in RtNotifications.... The puzzle was created by Piotr Pradzynski on 10-Oct-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-10-16 09:27] dmarkov commented on #903
@lthuangiang #968 is closed, it was an impediment

[2015-10-16 12:40] dmarkov opened #1184 "Notification.java:42-46: Create Smart decorator to get..."
Puzzle `920-1bdea297` in `src/main/java/com/jcabi/github/Notification.java:42-46` has to be resolved: Create Smart decorator to get other properties of Notification, such as reason, unread, updated_at, last_read_at, url, etc. See https://developer.github.com/v3/activity/notifications/#view-a-single-thread for details. Don't forget about unit tests.... The puzzle was created by Piotr Pradzynski on

[2015-10-16 12:43] dmarkov commented on #952
@yegor256 Done, the task is closed

[2015-10-16 12:43] #952 closed

[2015-10-16 12:45] dmarkov commented on #952
@prondzyn Much appreciated! **30 mins** was added to your account, payment ID `AP-1R597726YE984414W`, time spent is 362 hours and 45 mins

+30 to your rating, your total score is [+45](http://www.netbout.com/b/35715?open=rating)

[2015-10-19 07:40] dmarkov opened #1185 "RtNotificationsTest.java:46-47: Create a test markNotificationAsRead and..."
Puzzle `920-14172983` in `src/test/java/com/jcabi/github/RtNotificationsTest.java:46-47` has to be resolved: Create a test markNotificationAsRead and implement mark() operation in RtNotifications.... The puzzle was created by Piotr Pradzynski on 10-Oct-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-10-19 07:45] dmarkov commented on #968
@shelan thanks, I just added **30 mins** to your account, payment `67512000`, 434 hours and 6 mins spent. +30 added to your rating, current score is: [+60](http://www.netbout.com/b/35659?open=rating)

[2015-10-25 22:15] chandlerh opened #1187 "Casting to User Object"
`Exception in thread "main" java.lang.ClassCastException: org.glassfish.json.JsonNumberImpl$JsonIntNumber cannot be cast to javax.json.JsonString`

[code]

[2015-10-29 08:18] dmarkov commented on #1187
@yegor256 please do something about this issue

[2015-11-02 10:33] dmarkov commented on #903
@palyuga check this ["no obligations principle"](http://www.xdsd.org/2014/04/13/no-obligations-principle.html).. This task is on your name for at least 17 days. If you can't close it within the next 48 hours I will have to assign someone else to it. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck... -30 added to your rating, current score is:

[2015-11-05 13:29] dmarkov commented on #903
@palyuga you've been working with this task for too long. I'm sorry, but I'll assign someone else. Please stop working with it. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. -60 to your rating, your total score is -90

[2015-11-10 08:08] yegor256 opened #1188 "some dependencies are outdated"
See https://www.versioneye.com/user/projects/561a9e43a193340f2800106e#tab-security

[code]

Let's upgrade to fix this.

[2015-11-13 09:05] dmarkov commented on #1188
@yegor256 I added `bug` tag to this ticket

[2015-11-13 12:18] dmarkov commented on #1188
@yegor256 thanks a lot for reporting, **15 mins** added to your acc, pmt ID `000-3f7adc0e`

[2015-11-17 21:09] ErkanMDR commented on #1171
Yes, using log4j

[2015-11-22 15:12] io7m opened #1189 "Getting a clone URL for a given repository?"
Hello.

If I have a value of type `Repo`, how do I retrieve the `clone_url` from that value? There doesn't appear to be anything in the API to do it.

[2015-11-26 09:34] dmarkov commented on #1189
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2015-11-26 10:28] yegor256 commented on #1189
@io7m try this:

[code]

[2015-11-26 10:28] #1189 closed

[2015-12-07 08:42] goorzyn opened #1190 "How are you?"
Please tell me...

[2015-12-07 08:42] goorzyn commented on #1190
My first comment!

[2015-12-10 11:44] dmarkov commented on #1190
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2015-12-10 19:30] #1190 closed

[2015-12-31 03:23] arjunvijayvargiya opened #1192 "How are you?"
Please tell me...

[2015-12-31 03:23] arjunvijayvargiya commented on #1192
My first comment!

[2015-12-31 11:34] arjunvijayvargiya commented on #762
Hi @yegor256
I am getting the following error. How to go about this?
Exception in thread "main" java.lang.ClassCastException: org.glassfish.json.JsonNumberImpl$JsonIntNumber cannot be cast to javax.json.JsonString
	at org.glassfish.json.JsonObjectBuilderImpl$JsonObjectImpl.getJsonString(JsonObjectBuilderImpl.java:194)
	at org.glassfish.json.JsonObjectBuilderImpl$JsonObjectImpl.getString(JsonObject

[2015-12-31 13:21] arjunvijayvargiya commented on #762
@nunobrito  can you please share your working code

[2015-12-31 13:43] arjunvijayvargiya commented on #1187
@yegor256  please reply

[2016-01-01 04:02] #1192 closed

[2016-01-01 04:04] arjunvijayvargiya opened #1193 "Latest version of jcabi-github library"
what is the latest version of jcabi-github library?

[2016-01-03 23:20] Darker opened #1194 "Releases.latest() missing."
Github API provides latest release under `https://api.github.com/repos/:OWNER/:REPO_NAME/releases/latest`. This returns release or 404.

 - [404 example.](https://api.github.com/repos/jcabi/jcabi-github/releases/latest)
 - [Valid release example.](https://api.github.com/repos/mozilla/firefox-ios/releases/latest)

[2016-01-04 07:22] dmarkov commented on #1193
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-01-04 12:13] yegor256 commented on #1193
@arjunvijayvargiya it's 0.25 at the moment, see https://github.com/jcabi/jcabi-github/releases

[2016-01-04 12:13] #1193 closed

[2016-01-04 17:04] yegor256 commented on #1187
@arjunvijayvargiya it's a bug, we'll try to fix it as soon as possible. If you can help with a pull request, would be great!

[2016-01-04 20:12] yegor256 commented on #762
@arjunvijayvargiya it's better to submit a new issue for the problem you're having. Keep in mind that tickets are not chats :) They are for solving problems, one by one, see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html

[2016-01-06 11:39] dmarkov commented on #1017
@piddubnyi this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here... Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2016-01-07 07:55] dmarkov commented on #1194
@yegor256 please dispatch this issue

[2016-01-10 21:08] yegor256 opened #1195 "get rid of validation api"
Let's get rid of validation API and set its dependency `<scope>` to `test` in `pom.xml`. See how it was done here, for example: https://github.com/jcabi/jcabi-http/commit/9bf202f1d8da7d8660141ee6ea155bb4bc2cac1b

[2016-01-11 08:22] dmarkov commented on #1195
@yegor256 tag "bug" added

[2016-01-11 10:55] dmarkov commented on #1195
@yegor256 thanks for reporting! I topped your account for 15 mins, transaction 000-dfe26c22

[2016-01-18 13:35] nunobrito commented on #762
This was solved with the full jar deployment. In the meanwhile no longer have the code available.

For me this can be closed.

[2016-01-19 08:21] piddubnyi commented on #1017
@yegor256 #1196 is merged, please close the issue.

[2016-01-19 18:53] yegor256 commented on #1017
@piddubnyi I didn't open it :) can't close. it will be closed right after the next deployment cycle

[2016-01-20 11:54] dmarkov opened #1197 "RtGistCommentTest.java:57-59: Apply this rule to all..."
Puzzle `1017-59643c80` in `src/test/java/com/jcabi/github/RtGistCommentTest.java:57-59` has to be resolved: Apply this rule to all other classes that use MkGrizzlyContainer and make MkGrizzlyContainers use port() given by this resource to avoid tests fail with BindException.... The puzzle was created by Igor Piddubnyi on 15-Jan-2016.

If you have any technical questions, don't ask me, submit new t

[2016-01-20 11:55] dmarkov commented on #1017
@yegor256 the code made here contains a puzzle `1017-59643c80`/#1197, which will be resolved soon

[2016-01-20 11:59] dmarkov commented on #932
@rajithd please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have; The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-01-21 09:49] rajithd commented on #932
@dmarkov please assign this to someone else. No experience in Android.

[2016-01-21 13:34] dmarkov commented on #932
@rajithd deducted 30 from your rating :(

[2016-01-21 13:34] dmarkov commented on #932
@rajithd right, I will find someone else, no problem

[2016-01-21 13:38] dmarkov commented on #1017
@yegor256 Finished, thanks, closing..

[2016-01-21 13:38] #1017 closed

[2016-01-21 13:40] dmarkov commented on #1017
@piddubnyi **30 mins** sent to your balance (ID `75191065`), many thanks! It took 336 hours and 15 mins.

+30 added to your rating, at the moment it is: [+45](http://www.netbout.com/b/35966?open=rating)

[2016-01-26 02:25] Darker opened #1198 "Attribute 'JCabi-Version' not found in MANIFEST.MF strikes again"
It's not just that this GitHub library adds 5MB of dependencies. It also throws this error when ran from `.jar`:

    Caused by: java.lang.IllegalArgumentException: Attribute 'JCabi-Version' not found in MANIFEST.MF file(s) among 6 other attribute(s)

This doesn't happen when I run the library using the Run button in Netbeans. It's nice that you fixed the typo in the error message, but the error i

[2016-01-26 02:32] Darker commented on #1198
I can't resist asking a question: Why the hell is compile-time stuff checked at run-time? If that was so, I would find about this error much sooner - instead it lurked until I tried to make a release, which I now cannot do.

[2016-01-26 09:13] JimDeanSpivey commented on #1188
@dmarkov May I have this ticket? It is blocking a ticket on Rultor that I am working on.

jacbi-github is a depedency for Rultor and Rultor also needs to upgrade to xembly `.22` . In order to upgrade jcabi-github *and* xembly on Rultor, this needs to be upgraded first.

[2016-01-26 10:29] dmarkov commented on #932
@piddubnyi it's yours, please go ahead

[2016-01-26 14:56] piddubnyi commented on #932
@dmarkov assign this to someone else.

[2016-01-27 09:04] dmarkov commented on #932
@piddubnyi -30 points to your rating :(

[2016-01-27 09:04] dmarkov commented on #932
@piddubnyi I will assign somebody else to this issue

[2016-01-28 07:33] dmarkov commented on #1188
@jimdeanspivey ask @yegor256, he is the architect

[2016-01-28 09:38] dmarkov commented on #932
@amihaiemil it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket... Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-01-29 07:28] dmarkov commented on #1195
@amihaiemil this is your task now, please help. The budget of it is **30 mins**

[2016-01-29 07:28] dmarkov commented on #1198
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-01-29 21:08] yegor256 commented on #1198
@Darker which JAR are you using? are you packaging using Maven?

[2016-02-01 09:45] JimDeanSpivey commented on #1188
@yegor256 Yegor, thoughts on if I should join this project and fix this ticket ?

[2016-02-02 15:47] Darker commented on #1198
I tried several versions which are available from the maven repository. I am using Netbeans Maven project to build my JAR. I do not really know what's going on within the build process, I just created it through GUI.

I will try to commit and push the project now so that you can reproduce the issue. It might take time though, because I already removed this library from the project and will now hav

[2016-02-02 20:27] yegor256 opened #1200 "Xembly 0.22"

[2016-02-02 20:27] #1200 closed

[2016-02-02 20:30] yegor256 commented on #1200
@rultor release, tag is `0.26`

[2016-02-02 20:30] rultor commented on #1200
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6719-178806146)

[2016-02-02 20:38] rultor commented on #1200
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6719-178806146) (took me 8min)

[2016-02-03 05:58] yegor256 commented on #1188
@dmarkov please assign @JimDeanSpivey to this task

[2016-02-04 10:11] dmarkov commented on #1188
@yegor256 OK @jimdeanspivey please go ahead, this task is yours

[2016-02-04 10:13] JimDeanSpivey commented on #1188
@dmarkov Thanks. I think I need to be added to the 'jcabi-github' team in order to continue.

[2016-02-05 21:28] amihaiemil commented on #1195
@dmarkov The PR for this was reviewed and is waiting for Yegor's approval.

[2016-02-05 21:33] amihaiemil commented on #932
@dmarkov Still working on this. If I don't manage to make a PR by Monday, I'll let you know, to give it to someone else.

[2016-02-07 19:48] amihaiemil commented on #932
@dmarkov I didn't manage to make it work on android, please asign to someone else.
There are multiple issues here:
1. ``Manifest.mf`` file cannot be read under android. Using a ``.properties`` file instead works fine.
2. base 64 encoding (``javax.xml.bind.DatatypeConverter`` class not found) -> I tried using ``org.apache.commons.codec.binary.Base64``, but then login doesn't work, I get 401
3. ``ja

[2016-02-08 09:38] dmarkov commented on #932
@amihaiemil 30 points was deducted from your rating

[2016-02-08 09:38] dmarkov commented on #932
@amihaiemil right, I will find someone else, no problem

[2016-02-08 09:38] dmarkov commented on #1188
@jimdeanspivey no, you don't need this

[2016-02-09 09:06] dmarkov commented on #1195
@amihaiemil OK

[2016-02-09 09:09] amihaiemil commented on #1195
@dmarkov The PR for this has been approved and merged today. Now it has to be deployed, I think, before closure. cc: @pinaf

[2016-02-09 13:34] pinaf commented on #1195
@amihaiemil Just ask the ticket creator @yegor256 to close it.

[2016-02-09 13:37] amihaiemil commented on #1195
@pinaf Ok, I thought maybe rultor needs to deploy the PR... in a previous task I had it was merge + deploy.
@yegor256 Can you close this? Thanks

[2016-02-09 18:17] yegor256 commented on #1195
@amihaiemil many thanks!

[2016-02-09 18:17] #1195 closed

[2016-02-09 18:17] yegor256 commented on #1195
@rultor release, tag is `0.27`

[2016-02-09 18:17] rultor commented on #1195
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6903-181989493)

[2016-02-09 18:32] rultor commented on #1195
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6903-181989493) (took me 14min)

[2016-02-09 19:46] mkordas opened #1202 "Sample code from github.jcabi.com does not compile on version 0.23"
There are several compilation problems with the code sample from the main page:
![screenshot from 2016-02-09 20-34-43](https://cloud.githubusercontent.com/assets/5467276/12928237/9afa83be-cf6c-11e5-9dd7-2eb456ad6ade.png)

This code does not pass Qulice checks either, I expect it to be compliant.

Moreover, I'd like to see one example on the main page. Not only how to post a comment in new issue, b

[2016-02-09 20:08] mkordas opened #1203 "Error messages are not meaningful and requests are not validated"
I was just trying to figure out how search API works and I wrote the following code:
[code]
Upon execution it throws exception:
[code]
I see that status was not equal to 200, so what return code it was? Moreover, I think we should have some basic validation of arguments of `issues` method to not have information what is wrong before sending actual request.

There's one more unclear thing for me: w

[2016-02-09 20:38] amihaiemil commented on #1195
@dmarkov I didn't receive the payment automatically when the task was closed. I suppose a payment ID has to be assigned first?

[2016-02-10 07:55] dmarkov commented on #1195
@amihaiemil @yegor256 please help us here

[2016-02-11 08:38] dmarkov commented on #1195
@amihaiemil I added **30 mins** to your account, many thanks for working with the project (AP-5Y9171600R121771G)! The completion time here was 288 hours and 37 mins.; +30 added to your rating, at the moment it is: [+30](http://www.netbout.com/b/36402?open=rating)

[2016-02-12 11:52] cvrebert opened #1204 "Add support for the issue (un)lock API"
- https://developer.github.com/v3/issues/#lock-an-issue
- https://developer.github.com/v3/issues/#unlock-an-issue

[2016-02-15 08:07] dmarkov commented on #1202
@yegor256 please dispatch this issue

[2016-02-15 08:07] dmarkov commented on #1203
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2016-02-15 13:25] dmarkov commented on #1204
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-02-15 19:38] yegor256 commented on #1202
@mkordas let's also get rid of the "main page" and make it as simple as www.takes.org All information and examples should be in README.

[2016-02-15 22:19] mkordas commented on #1202
@yegor256 agreed, let's stay closer to GitHub

[2016-02-16 04:37] yegor256 commented on #1202
@mkordas we'll probably have to do the same in all jcabi projects :( lot of work, but has to be done.

[2016-02-16 12:48] dmarkov commented on #1203
@mkordas thank you for reporting this, I added 15 mins to your acc, transaction `56c31a868bfa314cd00000be`

[2016-02-17 14:01] dmarkov commented on #1202
@mkordas many thanks for the bug report, I added 15 mins to your acc, transaction `56c47d3ba271ba11ff000218`

[2016-02-23 07:45] dmarkov commented on #1188
@jimdeanspivey the task is your hands for the last 18 days.. keep in mind that if it's not closed in the next 24 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck; -30 added to your rating, at the moment it

[2016-02-24 07:17] leemartie commented on #1198
I just started using this API, but unfortunately I am running into this issue too after running 'mvn install' and trying to run the jar w/ dependencies produced.  Thanks for any help!

This is my pom.xml:

`<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-

[2016-02-24 09:45] Darker commented on #1198
I fixed this issue by using another library.

[2016-02-27 15:56] linxingyun opened #1205 "Can't support the combination query"
When using the combination query like below, there is no result return:

[code]

It seems the url as encode can't be supported, which result in failure search. Could you please help to take a look at this? Thanks!

[2016-02-27 16:01] linxingyun commented on #1205
If I open the following URL in chrome, it could return the expected json data. But if use the jcabi-github api as mentioned above, it return with the failure message.

https://api.github.com/search/users?q=location:china+created:<2009-01-01

[2016-02-29 09:45] dmarkov commented on #1188
@jimdeanspivey this task is taking too long, I have to change the performer, sorry. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle

added -60 to your rating, now it is equal to [-202](http://www.netbout.com/b/36321?open=rating)

[2016-03-02 07:26] dmarkov commented on #1205
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-03-02 08:03] yegor256 commented on #1205
@linxingyun can you post the message/exception you're getting?

[2016-03-02 12:55] dmarkov commented on #932
@nesterov-n can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here... This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2016-03-02 14:05] linxingyun commented on #1205
Here is the all content as return from "resp":

200 OK [https://api.github.com/search/users?q=location:china%2Bcreated:%3C2009-01-01]
Server: GitHub.com
Date: Wed, 02 Mar 2016 14:02:23 GMT
Content-Type: application/json; charset=utf-8
Transfer-Encoding: chunked
Status: 200 OK
X-RateLimit-Limit: 10
X-RateLimit-Remaining: 9
X-RateLimit-Reset: 1456927403
Cache-Control: no-cache
X-GitHub-Media-Type: g

[2016-03-02 14:12] linxingyun commented on #1205
From the url as posted above, the URI automatically encode the '+' character as '%2B':
encode "https://api.github.com/search/users?q=location:china+created:<2009-01-01" to "https://api.github.com/search/users?q=location:china%2Bcreated:%3C2009-01-01".

As I open the both two url in chrome, the first one ("https://api.github.com/search/users?q=location:china+created:<2009-01-01") could return expec

[2016-03-04 13:45] linxingyun commented on #1205
@yegor256  please see the detail as posted above. Thanks!

[2016-03-05 06:28] yegor256 commented on #1205
@linxingyun use it like this:

[code]

[2016-03-05 19:35] nesterov-n commented on #932
@dmarkov please assign this to someone else

[2016-03-06 12:59] linxingyun commented on #1205
@yegor256  Thanks a lot! It works fine now.

[2016-03-06 18:43] yegor256 commented on #1205
@linxingyun please, close the issue. thanks for using our lib!

[2016-03-07 07:08] dmarkov commented on #932
@nesterov-n 30 points was deducted from your rating

[2016-03-07 07:08] dmarkov commented on #932
@nesterov-n someone else will help in this task, no problem at all

[2016-03-08 02:19] Duninho opened #1206 "How are you?"
Please tell me...

[2016-03-08 02:19] Duninho commented on #1206
My first comment!

[2016-03-08 02:30] Duninho opened #1207 "How are you?"
Please tell me...

[2016-03-08 02:30] Duninho commented on #1207
My first comment!

[2016-03-08 02:46] Duninho opened #1208 "How are you?"
Please tell me...

[2016-03-08 02:46] Duninho commented on #1208
My first comment!

[2016-03-08 02:51] Duninho opened #1209 "How are you?"
Please tell me...

[2016-03-08 02:51] Duninho commented on #1209
My first comment!

[2016-03-08 02:55] Duninho opened #1210 "How are you?"
Please tell me...

[2016-03-08 02:55] Duninho commented on #1210
My first comment!

[2016-03-08 02:57] Duninho opened #1211 "How are you?"
Please tell me...

[2016-03-08 02:57] Duninho commented on #1211
My first comment!

[2016-03-08 03:03] Duninho opened #1212 "How are you?"
Please tell me...

[2016-03-08 03:03] Duninho commented on #1212
My first comment!

[2016-03-08 21:30] cvogt commented on #1198
@Darker which one?

[2016-03-08 21:30] cvogt commented on #1198
same issue here with 0.23

[2016-03-08 21:33] cvogt commented on #1198
with 0.27 as well, both from maven central ( I think, could be sonatype as well )

[2016-03-08 23:01] cvogt commented on #1198
moved to this one: http://github-api.kohsuke.org/. Be sure to include the jenkins maven resolver. In SBT: resolvers += "repo.jenkins-ci.org" at "http://repo.jenkins-ci.org/public",

[2016-03-11 08:26] dmarkov commented on #1210
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-03-11 08:26] dmarkov commented on #1211
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-03-11 08:26] dmarkov commented on #1212
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-03-11 08:26] dmarkov commented on #1208
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2016-03-11 08:26] dmarkov commented on #1209
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-03-11 08:26] dmarkov commented on #1206
@yegor256 please dispatch this issue

[2016-03-11 08:26] dmarkov commented on #1207
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-03-14 22:04] pajujadhav opened #1213 "How are you?"
Please tell me...

[2016-03-14 22:04] pajujadhav commented on #1213
My first comment!

[2016-03-14 22:05] pajujadhav opened #1214 "How are you?"
Please tell me...

[2016-03-14 22:05] pajujadhav commented on #1214
My first comment!

[2016-03-14 22:05] pajujadhav opened #1215 "How are you?"
Please tell me...

[2016-03-14 22:05] pajujadhav commented on #1215
My first comment!

[2016-03-15 01:21] #1212 closed

[2016-03-15 01:21] #1209 closed

[2016-03-15 01:24] #1206 closed

[2016-03-15 01:35] #1207 closed

[2016-03-15 01:51] #1210 closed

[2016-03-15 08:55] dmarkov commented on #1208
@yegor256 please don't close the issue, ask @Duninho to do this instead, since he is the author of it

[2016-03-15 08:55] dmarkov commented on #1211
@yegor256 don't close it, ask @Duninho to do do it, since he created it, thanks!

[2016-03-15 17:48] #1208 closed

[2016-03-15 17:49] #1211 closed

[2016-03-16 14:21] angryjk opened #1216 "SLF4J libs maven dependencies"
Hi! when i run simple app, that uses your wrapper, taking this message:
--- exec-maven-plugin:1.2.1:exec (default-cli) @ sshmaven.test ---
SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.

[2016-03-16 16:50] #1216 closed

[2016-03-18 08:28] dmarkov commented on #1215
@yegor256 please do something about this issue

[2016-03-18 08:28] dmarkov commented on #1213
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-03-18 08:28] dmarkov commented on #1214
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-03-18 15:02] sadovnikov opened #1218 "determining if the path point to file, directory or does not exist"
if "a_path" points to a directory, then `contents().exists(a_path)` returns `true`, however `contents().get(a_path)` throws class cast exception as mentioned in #903

In the current implementation, there is no way to test is a path belongs to a directory without throwing-and-catching an exception

[2016-03-18 20:37] #1215 closed

[2016-03-19 16:06] #1205 closed

[2016-03-19 16:15] linxingyun opened #1219 "Is there option to set the timeout value?"
When the network is not stable, the application just seems to be hang there during fetch the JsonResponse from Github even after the network get recovery.  So I am getting question on is there an option in  jcabi-github lib to set the timeout value, so that we could handle it when the network is not fine? Thanks a lot!

[2016-03-20 14:31] linxingyun commented on #1219
@yegor256   Thanks!

[2016-03-21 04:33] #1214 closed

[2016-03-21 04:34] #1213 closed

[2016-03-21 04:39] yegor256 commented on #1219
@linxingyun I think you can:

[code]

More details in [jcabi-http](http.jcabi.com) (this is where that `Request` is coming from).

[2016-03-22 08:47] dmarkov commented on #1218
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2016-03-23 15:48] linxingyun commented on #1219
Thanks @yegor256 !
It seems the "jcabi-http"  as packaged in"jcabi-github-0.23-jar-with-dependencies.jar" is not up to date? Since using the timeout() method for com.jcabi.http.Request with "jcabi-github-0.23-jar-with-dependencies.jar" will bring the following build error:

The method timeout(int, int) is undefined for the type Request.

[2016-03-28 22:46] yegor256 commented on #1218
@sadovnikov how would you suggest fixing it?

[2016-03-29 09:18] sadovnikov commented on #1218
@yegor256 actually there is #1217 for this... `exists()` still returns `true` for both directories and files. However `contents().get(a_path)` returns `null` for directories

Although it feels like a work around. Contents in GitHub API represent both directories and files, while in `jcabi-github` it's created for files only

[2016-03-29 14:25] #1219 closed

[2016-03-29 18:40] yegor256 commented on #1218
@sadovnikov maybe we should also make a difference between them? to avoid that confusion. what do you think?

[2016-03-30 06:38] sadovnikov commented on #1218
@yegor256 not throwing an exception is a good step - thanks for merging #1217

Yes, I would change `contents().get(a_path)` to return an object with methods for
* checking type of the path (directory or file) and
* getting either `Content` of the file or `Content[]' (or `List<Content>`) of directory

Should I join http://www.teamed.io/ to implement this?

[2016-03-30 20:18] yegor256 commented on #1218
@sadovnikov no, just submit a pull request and we'll review it and merge. Well, you can certainly try to join us by submitting this form: http://at.teamed.io/join.html :)

[2016-03-31 16:10] linxingyun opened #1220 "Lib crash when the 'login' name as passed could not be find during calling com.jcabi.github.Users.get()"
Run the following code :

		try {
                        Github github = new RtGithub(access_token);
			JsonObject userJsonObject = github.users().get("boluo408").json();
		} catch (Exception ex) {
			ex.printStackTrace();
		}

The jcabi-github lib will crash. Following is the detail log:

[code]

[2016-03-31 16:10] linxingyun commented on #1220
@yegor256

[2016-04-04 11:25] dmarkov commented on #1220
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-04-04 19:16] yegor256 commented on #1220
@linxingyun but the user doesn't exist: https://github.com/boluo408 what kind of response do you expect?

[2016-04-06 13:44] linxingyun commented on #1220
Expected behavior would be no crash even the user is not existed. Could that return will null or throw the Exception? so that the caller could be able to handle that situation. Thanks a lot!

[2016-04-06 13:45] linxingyun commented on #1220
@yegor256  Thanks for help!

[2016-04-07 15:14] davidsowerby opened #1221 "Javadoc out of date"
Javadoc for MkGithub is out of date and a bit misleading:

  github.repos().create("jcabi/jcabi-github");
  Repo repo = github.repos().get("jcabi/jcabi-github");
  Issues issues = repo.issues();
  Issue issue = issues.post("issue title", "issue body")

It should be something like:

Repos.RepoCreate repoCreate=new Repos.RepoCreate("dummy",false)
Repo repo = gitHub.repos().create(repoCreate)
repo.is

[2016-04-07 16:31] davidsowerby opened #1222 "Mocks"
There seem to be some limitations to the mocks you provide, and because your classes are final, I cannot use Spock mocks in the usual way.  Hopefully you have some ideas ...

### Simulating API Exceptions
I am trying to test how my code reacts to a failed attempt to access the GitHub API  - but I cannot see a way to force the ```MkGithub``` or ```MkRepo``` to throw an IOException.  The Mock classe

[2016-04-07 17:28] davidsowerby commented on #1222
As this was a dumb question, I will answer it myself :-)

Just mock the interface.

It has been a long day ...

[2016-04-07 17:28] #1222 closed

[2016-04-11 10:52] dmarkov commented on #1221
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-04-12 21:39] yegor256 commented on #1221
@davidsowerby fixed in 514a106 thanks!

[2016-04-12 21:39] #1221 closed

[2016-04-18 15:05] yegor256 commented on #1220
@linxingyun but we do throw an exception :) or you want an exception with a better description?

[2016-04-22 15:03] linxingyun commented on #1220
@yegor256  Yeah, it throws an error. I have added error catch code in my project. Thanks!

[2016-04-22 15:03] #1220 closed

[2016-04-25 15:54] amihaiemil opened #1223 "Class to get an oauth token from github"
It would be useful to have a class that knows how to make an http POST to

https://github.com/login/oauth/access_token

with params ``client_id, redirect_uri, client_secret and code`` . This way the api entrance with a token would be something like:

``new RtGithub(new RtGithubToken(params).accessToken()) ...``

I think it would help clients refactor their code a lot.

[2016-04-29 08:15] dmarkov commented on #1223
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2016-05-02 09:22] amihaiemil commented on #1223
@yegor256 can u pls have a look here? Thanks

[2016-05-02 14:59] wsdjeg opened #1224 "How are you?"
Please tell me...

[2016-05-02 14:59] wsdjeg commented on #1224
My first comment!

[2016-05-02 15:01] wsdjeg commented on #1224
oh, sorry,I am running the java api testting.

[2016-05-02 15:01] #1224 closed

[2016-05-03 11:00] yegor256 commented on #1223
@amihaiemil this doesn't look like part of the GitHub API. it's something else, which is outside of scope of this project. I agree, it's a nice feature to have, but not in this project.

[2016-05-03 11:00] #1223 closed

[2016-05-04 06:55] amihaiemil opened #1225 "Invalid unit test for emojos api."
Invalid unit test for emojis api.

``RtGithubTest.retrievesEmojisAsJson()`` actually tests the ``RtGithub.meta()`` instead of ``RtGithub.emojis()``. Also, the javadoc is wrong. It says it tests meta, instead of emojis.

[2016-05-04 09:18] amihaiemil opened #1226 "Fix logic in RtForkTest.patchAndCheckJsonFork()"
In this test a ``fork`` is created, patched and some assertions are made.
The test works fine, but the are mocks done illogically, making the test (and thus relation between fork and repo) hard to understand:

There are 2 mock servers started: ``container`` and ``forksContainer``. The created ``repo`` comes from ``forksContainer``, while the created ``fork`` comes from ``container``. This does not

[2016-05-05 10:01] amihaiemil commented on #1225
@dmarkov Can you dispatch this one pls?

[2016-05-05 10:01] amihaiemil commented on #1226
@dmarkov Can you see about this one pls?

[2016-05-09 07:12] dmarkov commented on #1226
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-05-09 07:12] dmarkov commented on #1225
@yegor256 please dispatch this issue

[2016-05-11 04:58] amihaiemil commented on #1226
@yegor256 can you have a look here pls? Thanks

[2016-05-11 04:58] amihaiemil commented on #1225
@yegor256 can you have a look here pls? Thanks

[2016-05-12 07:31] amihaiemil commented on #1226
@yegor256 ping

[2016-05-12 07:31] amihaiemil commented on #1225
@yegor256 ping

[2016-05-16 07:19] amihaiemil commented on #1226
@yegor256 Don't forget about this pls

[2016-05-16 07:19] amihaiemil commented on #1225
@yegor256 Don't forget about this pls

[2016-05-16 14:17] amihaiemil opened #1227 "Implement Jobs API?"
Github also offers an API for jobs - wouldn't it be a plus to have it?

https://jobs.github.com/api

[2016-05-16 20:16] assafwe opened #1228 "How are you?"
Please tell me...

[2016-05-16 20:16] assafwe commented on #1228
My first comment!

[2016-05-16 20:21] assafwe opened #1229 "How are you?"
Please tell me...

[2016-05-16 20:21] assafwe commented on #1229
My first comment!

[2016-05-17 06:28] amihaiemil opened #1230 "Implement reactions API?"
Github recently introduced Reactions API. We could start implementing it.

https://developer.github.com/v3/reactions/#list-reactions-for-a-commit-comment

[2016-05-20 07:32] dmarkov commented on #1228
@yegor256 please dispatch this issue

[2016-05-20 07:32] dmarkov commented on #1229
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-05-20 07:32] dmarkov commented on #1230
@yegor256 please dispatch this issue

[2016-05-20 07:32] dmarkov commented on #1227
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-05-21 14:32] amihaiemil commented on #1230
@yegor256 can u have a look here? Thanks

[2016-05-23 08:04] amihaiemil commented on #1227
@yegor256 ping

[2016-05-31 10:32] amihaiemil commented on #1230
@yegor256 ping

[2016-06-02 07:01] amihaiemil commented on #1225
@yegor256 ping

[2016-06-03 09:34] amihaiemil commented on #1226
@yegor256 ping

[2016-06-05 07:10] yegor256 opened #1233 "jcabi-aspects 0.22.5"
Let's upgrade it

[2016-06-05 07:10] #1233 closed

[2016-06-05 07:14] yegor256 commented on #1233
@rultor release, tag is `0.28`

[2016-06-05 07:14] rultor commented on #1233
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/8649-223797235)

[2016-06-05 07:27] rultor commented on #1233
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/8649-223797235) (took me 13min)

[2016-06-10 08:24] amihaiemil commented on #1198
@Darker @cvogt I solved the issue by adding:

[code]

in ``maven-assembly-plugin``. It can also be added in the ``jar`` and ``ejb`` plugins (and ``war``, I think)`

Basically, it hardcodes the required attributes into the Manifest.mf of your project.

[2016-06-16 08:38] dmarkov commented on #1228
@yegor256 only @assafwe can close this issue, since he opened it

[2016-06-16 08:45] dmarkov commented on #1230
@amihaiemil thanks for this report, I added 15 mins to your account, in transaction `AP-0E1142025P4024845`

[2016-06-16 12:15] dmarkov commented on #1226
@amihaiemil thanks for the ticket, your account was topped for 15 mins, payment AP-9NT580487T283314A

[2016-06-16 12:19] amihaiemil commented on #1227
@yegor256 what do you think here?

[2016-06-17 01:17] kanghj commented on #1187
@chandlerh, @arjunvijayvargiya, a pull request for this has been merged. Let's close this issue since it's fixed.

[2016-06-17 07:26] dmarkov commented on #1225
@amihaiemil thanks for reporting! I topped your account for 15 mins, transaction AP-8LE77559JW103172Y

[2016-06-19 02:38] kanghj commented on #1187
@dmarkov, I want to check if you can close this issue? I understand that usually only the creator of the issue can close, but the creator doesn't seem to use github actively. How does the project's workflow handles about such cases?

[2016-06-19 03:26] arjunvijayvargiya commented on #1187
Fixes #1187

[2016-06-20 06:23] Ellimyst opened #1234 "How are you?"
Please tell me...

[2016-06-20 06:23] Ellimyst commented on #1234
My first comment!

[2016-06-23 00:11] #1229 closed

[2016-06-23 00:22] yegor256 commented on #1227
@amihaiemil I don't think we need that. it seems to be a bit "outside" of GitHub API

[2016-06-23 00:22] #1227 closed

[2016-06-23 07:51] dmarkov commented on #1187
@kanghj @yegor256 could you please help us here?

[2016-06-23 07:56] dmarkov commented on #1234
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-06-23 14:44] arjunvijayvargiya commented on #1187
I am also not able to close this issue. Can anyone guide me on this.

[2016-06-27 19:49] #1234 closed

[2016-06-29 07:55] amihaiemil opened #1235 "MkRepo.json() wrong format"
Github API returns a repo as Json objects of format:

[code]

Thus, wherever I use a ``Repo`` object and access its ``owner``, I would like to substitute it with a mock (when unit testing), like this:

``new MkGithub("amihaiemil").randomRepo()``

However, if I call ``json()`` on the mock, I get:

``{"name":"repo_name","description":"","private":"false","homepage":""}``, so a Json with other format

[2016-07-03 03:29] fanrunqi opened #1236 "Not Human Problem"
I just change name three times ,“One of our mostly harmless robots seems to think you are not a human." happen ; please help me ,thank you very much！

[2016-07-04 07:55] dmarkov commented on #1235
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2016-07-06 07:30] dmarkov commented on #1236
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-07-06 14:51] ravitest000 opened #1237 "How are you?"
Please tell me...

[2016-07-06 14:51] ravitest000 commented on #1237
My first comment!

[2016-07-07 22:25] #1236 closed

[2016-07-08 08:56] dmarkov commented on #1235
@amihaiemil thank you for reporting this, I added 15 mins to your acc, transaction `AP-2WX42521Y2222151M`

[2016-07-26 11:41] motokito opened #1238 "Handle the authority by create issue"
Hiho everyone,
I need some helps about using this github api.
I have created successful issues on my repo. But the problem is:
How can I catch the 404 Unauthorized user error to handle it, if the user data it's not correctly ? Or how can I compare the user data with githubs user data ?
It will be nice if someone give me some tipp or solution.
Thx first 😊😊😊

[2016-07-26 20:42] motokito commented on #1238
Have someone a solution 😊 thx very much

[2016-08-01 07:09] dmarkov commented on #1238
@yegor256 please do something about this issue

[2016-08-07 13:43] amihaiemil opened #1240 "Unhandled API deprecations"
As mentioned [here](https://developer.github.com/v3/versions/#v3-deprecations) there are 25 deprecations which are still supported, but will be removed in the next major release.

Of the 25 points, I found 3 that need to be fixed (points 17, 19 and 25);

17) User.bio() can be removed or marked with ``@ Deprecated`` since it's obsolete

19) User.gravatar() can be removed or marked with ``@ Deprecat

[2016-08-08 18:11] yegor256 commented on #1238
@motokito can you show the code you have already?

[2016-08-08 19:09] motokito commented on #1238
Thx you for your help. But i have found one of other solution. But i am very thx about your write back :smiley:

[2016-08-08 19:09] #1238 closed

[2016-08-11 07:54] dmarkov commented on #1240
@yegor256 please do something about this issue

[2016-08-12 20:36] yegor256 commented on #461
@rultor hello

[2016-08-12 20:37] rultor commented on #461
@yegor256 Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2016-08-12 20:37] yegor256 commented on #461
@rultor good morning

[2016-08-12 20:38] rultor commented on #461
@yegor256 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2016-08-13 12:52] krzyk opened #1241 "Very old qulice is being used"
Right now the project uses qulice version 0.13, while the newest one is 0.17.1.
Let's upgrade to the newest qulice and fix newly reported issues (there will be many).

[2016-08-13 12:54] krzyk opened #1242 "Switch to jacoco maven plugin"
Currently this project uses cobertura plugin for code coverage.
Cobertura requires a separate test phase for calculation of the coverage, which increases the build time.
Jacoco on the other hand is integrated into the standard phases (uses agent to connect to surefire process), so the build process won't need to run the unit tests twice - should speed up the builds in travis and rultor.

Jacoco ma

[2016-08-15 18:16] yegor256 commented on #1240
@amihaiemil I would suggest to report these problem separately, in different tickets.

[2016-08-15 18:16] #1240 closed

[2016-08-15 19:32] amihaiemil opened #1243 "User.bio() is deprecated"
**User.bio()** is deprecated as mentioned [here](https://developer.github.com/v3/versions/#v3-deprecations) (point 17) and will be removed in a future major release.

Thus, it should removed from our lib

[2016-08-15 19:33] amihaiemil opened #1244 "User.gravatar() deprecated"
User.gravatar() will be removed in the next major release of the Github API, as mentioned [here](https://developer.github.com/v3/versions/#v3-deprecations) (point 19).

Thus, it should be removed.

[2016-08-15 19:36] amihaiemil opened #1245 "Issue.assignee becomes Issue.assignees"
As mentioned [here](https://developer.github.com/v3/versions/#v3-deprecations), point 25, Issue.assignee is deprecated and Issue.assignees needs to be used, since now an Issue can have more than just one assignee.

This means some changes in our library as well: in ``MkIssue`` and ``Issue.Smart`` -> for instance ``Issue.assignee() : User`` becomes ``Issue.assignees() : List<User>`` and also ``Issu

[2016-08-15 19:37] amihaiemil commented on #1240
@yegor256 I opened #1243 , #1244 and #1245

[2016-08-17 09:51] dmarkov commented on #1241
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-08-17 09:51] dmarkov commented on #1242
@yegor256 please dispatch this issue

[2016-08-18 08:37] reiz commented on #940
I was running into this issue as well. Have some selenium integration tests for [VersionEye](https://www.versioneye.com) which fail because of this. In my case it's even true because it's an automated integration test, but it's annoying anyway. How can we fix it?

[2016-08-18 16:47] yegor256 commented on #1240
@amihaiemil thanks

[2016-08-19 08:56] dmarkov commented on #1242
@krzyk many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `97303888`

[2016-08-19 08:57] dmarkov commented on #1244
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-08-19 08:57] dmarkov commented on #1245
@yegor256 please do something about this issue

[2016-08-19 08:57] dmarkov commented on #1243
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-08-19 09:50] dmarkov commented on #1241
@krzyk thanks a lot for reporting, **15 mins** added to your acc, pmt ID `97305809`

[2016-08-22 19:59] yegor256 commented on #1244
@amihaiemil we should just remove it, thanks

[2016-08-23 04:12] amihaiemil commented on #1243
@yegor256 what about here?

[2016-08-23 04:12] amihaiemil commented on #1245
@yegor256 and here?

[2016-08-23 08:48] dmarkov commented on #1244
@amihaiemil many thanks for the bug report, I added 15 mins to your acc, transaction `AP-70Y152811X113963H`

[2016-08-24 18:52] amihaiemil opened #1246 "Get rid of Manifest.mf attributes?"
Maybe it would be better to get rid of the manifest.MF attributes and read the 3 parameters from a property file instead? Other users reported issues because the parameters weren't found, and also I encountered the issue with the latest version (I had to hardcode the values in my project's manifest.mf, using assembly-plugin).

If you write the 3 values in a properties file under src/main/resources

[2016-08-29 06:04] amihaiemil commented on #1243
@yegor256 ping

[2016-08-29 06:04] amihaiemil commented on #1245
@yegor256 ping

[2016-08-29 07:15] dmarkov commented on #1246
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-08-30 11:55] amihaiemil opened #1247 "Implement check for Organization membership"

[2016-09-02 13:18] dmarkov commented on #1247
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2016-09-06 09:02] dmarkov commented on #1245
@amihaiemil thanks for this report, I added 15 mins to your account, in transaction `AP-4W276640LU7197419`

[2016-09-07 12:51] amihaiemil commented on #1247
@yegor256 what do you think here? :D

[2016-09-10 22:03] SecurletBeatle opened #1248 "How are you?"
Please tell me...

[2016-09-10 22:03] SecurletBeatle commented on #1248
My first comment!

[2016-09-14 08:23] dmarkov commented on #1248
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-10-03 14:33] hhsadiq commented on #940
I also got this exact problem. They blocked my profile from public. I reported this problem at support and profile was restored in less than half an hour. I think github guys have programmed their NOT SO HARMLESS robot with some weird too-strict rules. They definitely need to revise their policy, it is giving too many false positives.

[2016-10-04 07:57] reiz commented on #940
I'm still getting it from time to time :-|

[2016-10-15 02:19] crabot1 opened #1249 "How are you?"
Please tell me...

[2016-10-15 02:19] crabot1 commented on #1249
My first comment!

[2016-10-15 04:56] crabot1 opened #1250 "How are you?"
Please tell me...

[2016-10-15 04:56] crabot1 commented on #1250
My first comment!

[2016-10-15 04:56] crabot1 opened #1251 "How are you?"
Please tell me...

[2016-10-15 04:56] crabot1 commented on #1251
My first comment!

[2016-10-15 04:58] crabot1 opened #1252 "How are you?"
Please tell me...

[2016-10-15 04:58] crabot1 commented on #1252
My first comment!

[2016-10-15 04:59] crabot1 opened #1253 "How are you?"
Please tell me...

[2016-10-15 04:59] crabot1 commented on #1253
My first comment!

[2016-10-15 05:11] crabot1 opened #1254 "How are you?"
Please tell me...

[2016-10-15 05:11] crabot1 commented on #1254
My first comment!

[2016-11-18 16:28] #1248 closed

[2016-11-18 16:37] yegor256 commented on #1247
@amihaiemil thanks, make sense. Please, keep in mind that we don't pay for bug reporting in open source projects any more.

[2016-11-18 16:40] amihaiemil commented on #1247
@yegor256 sure ^^

[2016-11-22 07:22] yegor256 commented on #1246
@amihaiemil but `MANIFEST.MF` is shipped inside the JAR file. Why this is a problem? Please explain more, I don't get it

[2016-11-22 07:31] amihaiemil commented on #1246
@yegor256 yes, the Manifest.MF is shipped with the jar, but at runtime the code looks in the ``.war``'s Manifest.MF, doesn't go down the dependency tree to look in the jar's manifest.mf
More precisely, the code looks in this Manifest.MF:

![image](https://cloud.githubusercontent.com/assets/6305156/20514714/31bfadc8-b096-11e6-893d-c501cd039481.png)

while the 3 attributes are found in this one:

![

[2016-11-22 12:05] yegor256 commented on #1246
@amihaiemil got it. You're right, let's move to `.properties`

[2016-11-30 04:13] EdwardTang commented on #871
I am wondering how to get a file content from enterprise URI like https://api.github.cerner.com. I looked into the RtGithub class and found the default API URI is hard coded as following:
[code]
Is there a way to customized the default API URI?  I simply just need read the file content anoymously from enterprise Github repos.

[2016-12-09 10:45] InvisibleNemo opened #1255 "How are you?"
Please tell me...

[2016-12-09 10:45] InvisibleNemo commented on #1255
My first comment!

[2016-12-09 10:46] InvisibleNemo opened #1256 "How are you?"
Please tell me...

[2016-12-09 10:46] InvisibleNemo commented on #1256
My first comment!

[2016-12-09 10:56] InvisibleNemo opened #1257 "How are you?"
Please tell me...

[2016-12-09 10:56] InvisibleNemo commented on #1257
My first comment!

[2016-12-09 10:56] InvisibleNemo opened #1258 "How are you?"
Please tell me...

[2016-12-09 10:56] InvisibleNemo commented on #1258
My first comment!

[2016-12-09 10:59] InvisibleNemo opened #1259 "How are you?"
Please tell me...

[2016-12-09 10:59] InvisibleNemo commented on #1259
My first comment!

[2016-12-09 11:03] InvisibleNemo opened #1260 "How are you?"
Please tell me...

[2016-12-09 11:03] InvisibleNemo commented on #1260
My first comment!

[2016-12-12 12:08] dmarkov commented on #1259
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-12-12 12:08] dmarkov commented on #1260
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-12-12 12:08] dmarkov commented on #1255
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-12-12 12:08] dmarkov commented on #1256
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-12-12 12:08] dmarkov commented on #1257
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2016-12-12 12:08] dmarkov commented on #1258
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-12-15 16:31] #1256 closed

[2016-12-15 16:34] #1259 closed

[2016-12-15 16:45] #1258 closed

[2016-12-15 16:46] #1255 closed

[2016-12-15 16:46] #1260 closed

[2016-12-15 17:04] #1257 closed

[2016-12-17 02:52] ejboucher opened #1262 "How are you?"
Please tell me...

[2016-12-17 02:52] ejboucher commented on #1262
My first comment!

[2016-12-17 03:00] #1262 closed

[2016-12-22 09:38] #1040 closed

[2016-12-22 09:38] #1041 closed

[2016-12-22 09:38] #1043 closed

[2016-12-22 09:38] #1045 closed

[2016-12-22 09:38] #1046 closed

[2016-12-22 09:38] #1067 closed

[2016-12-22 09:38] #1074 closed

[2016-12-22 09:38] #1075 closed

[2016-12-22 09:38] #1093 closed

[2016-12-22 09:38] #1108 closed

[2016-12-22 09:38] #1111 closed

[2016-12-22 09:38] #1112 closed

[2016-12-22 09:38] #1115 closed

[2016-12-22 09:38] #1119 closed

[2016-12-22 09:38] #1130 closed

[2016-12-22 09:38] #1132 closed

[2016-12-22 09:38] #1133 closed

[2016-12-22 09:38] #1139 closed

[2016-12-22 09:38] #1181 closed

[2016-12-22 09:38] #1182 closed

[2016-12-22 09:38] #1183 closed

[2016-12-22 09:38] #1184 closed

[2016-12-22 09:38] #1185 closed

[2016-12-22 09:38] #1197 closed

[2016-12-22 09:38] dmarkov commented on #1040
@yegor256 It is closed now

[2016-12-22 09:38] dmarkov commented on #1041
@yegor256 The issue should be closed..

[2016-12-22 09:38] dmarkov commented on #1043
@yegor256 We are done here, thanks all

[2016-12-22 09:38] dmarkov commented on #1044
@yegor256 We are done here, thanks all

[2016-12-22 09:38] #1044 closed

[2016-12-22 09:38] dmarkov commented on #1045
@yegor256 The task is done, thanks all, I am closing it

[2016-12-22 09:38] dmarkov commented on #1046
@yegor256 Closed, thanks all

[2016-12-22 09:38] dmarkov commented on #1067
@yegor256 Finished, thanks, closing..

[2016-12-22 09:38] dmarkov commented on #1074
@yegor256 Thanks, closed

[2016-12-22 09:38] dmarkov commented on #1075
@yegor256 We are done here, thanks all

[2016-12-22 09:38] dmarkov commented on #1093
@yegor256 Closing..

[2016-12-22 09:38] dmarkov commented on #1108
@yegor256 Finished, thanks, closing..

[2016-12-22 09:38] dmarkov commented on #1111
@yegor256 It is closed now

[2016-12-22 09:38] dmarkov commented on #1112
@yegor256 I am closing it, thanks all

[2016-12-22 09:38] dmarkov commented on #1115
@yegor256 The task is done, thanks all, I am closing it

[2016-12-22 09:38] dmarkov commented on #1119
@yegor256 Thanks all, closed

[2016-12-22 09:38] dmarkov commented on #1130
@yegor256 The issue is closed

[2016-12-22 09:38] dmarkov commented on #1132
@yegor256 The issue is closed

[2016-12-22 09:38] dmarkov commented on #1133
@yegor256 Thanks, closing it now.

[2016-12-22 09:38] dmarkov commented on #1139
@yegor256 Thanks all, closed

[2016-12-22 09:38] dmarkov commented on #1181
@yegor256 The task is closed, thanks everybody

[2016-12-22 09:38] dmarkov commented on #1182
@yegor256 Closed, thanks all

[2016-12-22 09:38] dmarkov commented on #1183
@yegor256 Done, the task is closed

[2016-12-22 09:38] dmarkov commented on #1184
@yegor256 The task is done, thanks all, I am closing it

[2016-12-22 09:38] dmarkov commented on #1185
@yegor256 Closing this issue now...

[2016-12-22 09:38] dmarkov commented on #1197
@yegor256 Closing, thanks all

[2016-12-22 09:40] dmarkov commented on #1093
@yamstranger paid, thanks, added **30 mins** to your account, payment `112014187`, 10942 hours and 30 mins was spent; +30 added to your rating, at the moment it is: [+30](http://www.netbout.com/b/35267?open=rating)

[2016-12-26 16:34] dieffrei opened #1263 "Fetching user repos"
When I tried to fetch repos using ""

for (Repo repo : github.repos().iterate("")){
     System.out.println(repo);
}

one error was throwed:

ain] INFO com.jcabi.http.request.BaseRequest - #fetch(GET api.github.com /): [200 OK] in 2s
javax.json.JsonException: Cannot read JSON array, found JSON object
	at org.glassfish.json.JsonReaderImpl.readArray(JsonReaderImpl.java:122)
	at com.jcabi.http.respon

[2016-12-26 16:35] dieffrei commented on #1144
Its seems doesnt work yeat.

[2016-12-30 08:21] dmarkov commented on #1263
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2017-01-06 01:22] xXXIMMATTHEWXXx opened #1264 "Class not found :("
Here is my current code:
[code]
and these are my imports:
`
import com.jcabi.github.Coordinates;
import com.jcabi.github.Github;
import com.jcabi.github.Issue;
import com.jcabi.github.Repo;
import com.jcabi.github.RtGithub;`
and I get this error:
`Exception in thread "main" java.lang.NoClassDefFoundError: org/aspectj/lang/Signature
	at xyz.lexium.giapb.Giapb.main(Giapb.java:14)
Caused by: java.lan

[2017-01-06 01:30] xXXIMMATTHEWXXx commented on #1264
Fixed. But next error:
`Exception in thread "main" java.lang.NoClassDefFoundError: com/jcabi/manifests/Manifests
	at com.jcabi.github.RtGithub.<clinit>(RtGithub.java:82)
	at xyz.lexium.giapb.Giapb.main(Giapb.java:14)
Caused by: java.lang.ClassNotFoundException: com.jcabi.manifests.Manifests
	at java.net.URLClassLoader.findClass(Unknown Source)
	at java.lang.ClassLoader.loadClass(Unknown Source)
	a

[2017-01-06 01:36] xXXIMMATTHEWXXx commented on #1264
Just ignore this. I should have read alittle further....

[2017-01-06 01:36] #1264 closed

[2017-01-06 20:07] xXXIMMATTHEWXXx opened #1265 "How to read files from a repo"
How can I read the contents of a certain file located on the connected repo?

[2017-01-06 23:05] xXXIMMATTHEWXXx opened #1266 "How do i loop through all current issues"
How do i loop through the current list of issues?
Here is my current code:
[code]
I tried .iterate() but i cant get it to work. Any examples?

[2017-01-06 23:16] xXXIMMATTHEWXXx commented on #1266
Also how do I loop through the lablels of the issue ?

[2017-01-16 18:55] mproveprojects opened #1267 "How are you?"
Please tell me...

[2017-01-16 18:55] mproveprojects commented on #1267
My first comment!

[2017-01-16 18:56] mproveprojects opened #1268 "How are you?"
Please tell me...

[2017-01-16 18:56] mproveprojects commented on #1268
My first comment!

[2017-01-16 18:58] #1268 closed

[2017-01-16 18:59] #1267 closed

[2017-01-16 19:12] 0crat commented on #1267
@mproveprojects I'm not managing this repo, remove the [webhook](https://github.com/jcabi/jcabi-github/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-01-16 19:12] 0crat commented on #1268
@mproveprojects I'm not managing this repo, remove the [webhook](https://github.com/jcabi/jcabi-github/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-01-17 16:20] yegor256 commented on #1263
@dieffrei this most likely was due to the temporary down time at GitHub API. Can you try again?

[2017-01-17 16:34] yegor256 commented on #1266
@xXXIMMATTHEWXXx I guess you need something like this (pseudo-code):

[code]

See: https://developer.github.com/v3/issues/#list-issues-for-a-repository

[2017-01-17 16:38] yegor256 commented on #1265
@xXXIMMATTHEWXXx something like this:

[code]

[2017-01-17 19:22] GIAPB commented on #1265
Hello, I am the bot that @xXXIMMATTHEWXXx  is working on. This does not seem to work because it returns a byte array like byte[]. How would i read the file contents

[2017-01-17 19:33] GIAPB commented on #1265
@yegor256 The only way to get the content is to call the .json() method and search for content. But 1) is returns null 2) Its encoded

[2017-01-18 07:31] yegor256 commented on #1265
@GIAPB my fault, this is the right code:

[code]

[2017-01-18 15:00] xXXIMMATTHEWXXx opened #1269 "All depends my *"
The "jcabi-github" with all depends does _not_ contain all needed dependence. The consoles throws some error about missing a static logger class.

[2017-01-18 15:00] 0crat commented on #1269
@yegor256 please, pay attention to this issue

[2017-01-18 21:13] GIAPB opened #1270 "Missing Atribute."
Everything works while in eclipse. The only problem is,
when exported, the console throws this error:
[code]

[2017-01-18 21:13] 0crat commented on #1270
@yegor256 please, pay attention to this issue

[2017-01-19 09:20] yegor256 commented on #1269
@xXXIMMATTHEWXXx what exactly is the exception you're getting?

[2017-01-19 09:52] yegor256 commented on #1270
@GIAPB how do you package your app? It seems that you delete that valuable `META-INF/MANIFEST.MF` that is supposed to be packaged together with all classes from jcabi-github.jar

[2017-01-20 13:08] xXXIMMATTHEWXXx commented on #1269
@yegor256 this:
[code]
is thrown

[2017-01-20 13:09] xXXIMMATTHEWXXx commented on #1270
It in in xyz.lexium.giapb. Nothig else is changed. Just compiled via eclipse

[2017-01-20 13:09] #1266 closed

[2017-01-20 13:09] xXXIMMATTHEWXXx commented on #1265
Thanks