[2018-08-31 18:28] paulodamaso commented on #1424
@amihaiemil Found a better solution, will merge the previous implementation with the actual allowing we to add any kind of items, without adding a `patch` item because it does not makes sense.

[2018-08-31 19:29] paulodamaso commented on #1370
@amihaiemil @g4s8 Looks like this NPE does not happens anymore, made a test to prove it.

[2018-09-01 16:39] 0crat commented on #1370
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1370](https://github.com/jcabi/jcabi-github/issues/1370); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2018-09-05 07:46] 0crat commented on #1424
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-05 07:46] 0crat commented on #1370
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-05 07:46] 0crat commented on #1430
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-06 13:05] paulodamaso commented on #1370
@g4s8 merged, please close

[2018-09-06 13:26] g4s8 commented on #1370
@paulodamaso thanks

[2018-09-06 13:26] #1370 closed

[2018-09-06 13:54] 0crat commented on #1370
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-09-06 13:56] 0crat commented on #1370
The job [#1370](https://github.com/jcabi/jcabi-github/issues/1370) is now out of scope

[2018-09-06 17:02] paulodamaso commented on #1424
@krzyk Merged, please close

[2018-09-06 17:51] 0crat commented on #1370
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1370](https://github.com/jcabi/jcabi-github/issues/1370); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2018-09-06 19:15] krzyk commented on #1424
@paulodamaso thanks

[2018-09-06 19:15] #1424 closed

[2018-09-06 19:35] 0crat commented on #1424
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-09-06 19:35] 0crat commented on #1424
The job [#1424](https://github.com/jcabi/jcabi-github/issues/1424) is now out of scope

[2018-09-10 21:17] llorllale commented on #1430
@0crat wait because I submitted PR #1434 for this

[2018-09-10 21:18] 0crat commented on #1430
@llorllale The impediment for [#1430](https://github.com/jcabi/jcabi-github/issues/1430) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-09-11 18:44] 0crat commented on #1370
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1370](https://github.com/jcabi/jcabi-github/issues/1370); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2018-09-13 09:56] 0crat commented on #1370
The job [#1370](https://github.com/jcabi/jcabi-github/issues/1370) is now out of scope

[2018-09-19 06:39] 0pdd commented on #1430
The puzzle `1425-24428e93` has disappeared from the source code, that's why I closed this issue.

[2018-09-19 06:39] #1430 closed

[2018-09-19 06:39] 0pdd opened #1435 "MkHook.java:48-49: Finish adding tests for MkHook#json()...."
The puzzle `1425-9f6b6bf1` from #1425 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/5ce8049134676db4a7781f86eaf585bdb89556b0/src/main/java/com/jcabi/github/mock/MkHook.java#L48-L49

The puzzle was created by George Aristy on 18-Sep-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is

[2018-09-19 06:39] 0pdd commented on #1425
@paulodamaso the puzzle [#1435](https://github.com/jcabi/jcabi-github/issues/1435) is still not solved; solved: [#1430](https://github.com/jcabi/jcabi-github/issues/1430).

[2018-09-19 06:39] 0crat commented on #1435
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-09-19 06:46] 0crat commented on #1425
@paulodamaso This is what I know about this job in [C9R53K5JA](https://www.0crat.com/p/C9R53K5JA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1425](https://github.com/jcabi/jcabi-github/issues/1425) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C9R53K5JA?q=%7Bjob%3A%27gh%3Ajcabi%2Fjcabi-github%231425%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (re

[2018-09-19 06:58] 0crat commented on #1435
Job [#1435](https://github.com/jcabi/jcabi-github/issues/1435) is now in scope, role is `DEV`

[2018-09-19 07:06] 0crat commented on #1435
The job [#1435](https://github.com/jcabi/jcabi-github/issues/1435) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C9R53K5JA/2620669812); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-09-19 07:06] 0crat commented on #1430
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-09-19 07:06] 0crat commented on #1430
The job [#1430](https://github.com/jcabi/jcabi-github/issues/1430) is now out of scope

[2018-09-19 16:38] LCipre opened #1436 "How are you?"
Please tell me...

[2018-09-19 16:38] LCipre commented on #1436
My first comment!

[2018-09-19 16:38] 0crat commented on #1436
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-09-19 16:38] 0crat commented on #1436
@lcipre[/z](https://www.0crat.com/u/lcipre) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-09-20 20:37] llorllale commented on #1435
@0crat wait because I submitted PR #1437 for this

[2018-09-21 19:02] llorllale opened #1438 "Upgrade to Java 1.8"
I've had to write verbose code for this project that would otherwise be unnecessary if we upgraded to Java 1.8 or later.

Let's please do the upgrade.

Edit: btw, the current build configuration is inconsistent with https://github.jcabi.com:

Because when I try to use 1.8 features - such as lambdas - the build fails with:

[ERROR] /home/llorllale/dev/jcabi-github/src/main/java/com/jcabi/github/RtH

[2018-09-21 19:02] 0crat commented on #1438
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-10-03 07:54] amihaiemil commented on #1438
@g4s8 Do you think it would be an issue for ``/farm`` if we updated jcabi-github to Java 8?

[2018-10-03 08:10] g4s8 commented on #1438
@amihaiemil it should not, farm already uses 1.8

[2018-10-03 08:13] amihaiemil commented on #1438
@llorllale @paulodamaso Let's update it then.

[2018-10-03 08:48] 0crat commented on #1438
Job [#1438](https://github.com/jcabi/jcabi-github/issues/1438) is now in scope, role is `DEV`

[2018-10-04 21:49] 0crat commented on #1438
The job [#1438](https://github.com/jcabi/jcabi-github/issues/1438) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C9R53K5JA/2772145116); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-10-07 16:49] 0pdd commented on #1435
The puzzle `1425-9f6b6bf1` has disappeared from the source code, that's why I closed this issue.

[2018-10-07 16:49] #1435 closed

[2018-10-07 16:49] 0pdd opened #1439 "Hooks.java:85-86: Support for "events" was added to..."
The puzzle `1435-1aa70ed0` from #1435 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/878ff72fc1ed2bf2082b638974554a54db6eeab6/src/main/java/com/jcabi/github/Hooks.java#L85-L86

The puzzle was created by Mihai A on 07-Oct-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2018-10-07 16:49] 0pdd commented on #1425
@paulodamaso the puzzle [#1439](https://github.com/jcabi/jcabi-github/issues/1439) is still not solved; solved: [#1430](https://github.com/jcabi/jcabi-github/issues/1430), [#1435](https://github.com/jcabi/jcabi-github/issues/1435).

[2018-10-07 16:49] 0pdd commented on #1435
@0pdd the puzzle [#1439](https://github.com/jcabi/jcabi-github/issues/1439) is still not solved.

[2018-10-07 16:50] 0crat commented on #1439
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-10-07 17:02] 0crat commented on #1439
Job [#1439](https://github.com/jcabi/jcabi-github/issues/1439) is now in scope, role is `DEV`

[2018-10-07 17:28] 0crat commented on #1435
The job [#1435](https://github.com/jcabi/jcabi-github/issues/1435) is now out of scope

[2018-10-07 17:29] 0crat commented on #1435
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-10-08 19:49] 0crat commented on #1439
The job [#1439](https://github.com/jcabi/jcabi-github/issues/1439) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C9R53K5JA/2811955530); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-10-09 22:45] 0crat commented on #1438
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-10-11 12:56] paulodamaso commented on #1438
@llorllale Merged, please close

[2018-10-11 13:13] llorllale commented on #1438
@paulodamaso thanks

@amihaiemil I feel like one big motivation for this was refactoring the code base, hence leaving a puzzle for continuing that work

[2018-10-11 13:13] #1438 closed

[2018-10-11 13:34] 0crat commented on #1438
The job [#1438](https://github.com/jcabi/jcabi-github/issues/1438) is now out of scope

[2018-10-11 13:37] 0crat commented on #1438
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-10-13 20:39] 0crat commented on #1439
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-10-14 15:48] llorllale commented on #1439
@0crat wait because I submitted PR #1441 for this

[2018-10-14 15:57] 0crat commented on #1439
@llorllale The impediment for [#1439](https://github.com/jcabi/jcabi-github/issues/1439) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-10-18 17:24] 0pdd opened #1442 "JsonNode.java:63-65: JsonNode should be smart enough to..."
The puzzle `1439-22936fd9` from #1439 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/d963d0eece204cae10c90b75cd247fb1fc3dda52/src/main/java/com/jcabi/github/mock/JsonNode.java#L63-L65

The puzzle was created by George Aristy on 18-Oct-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2018-10-18 18:03] 0crat commented on #1442
Job [#1442](https://github.com/jcabi/jcabi-github/issues/1442) is now in scope, role is `DEV`

[2018-10-18 19:15] 0crat commented on #1442
The job [#1442](https://github.com/jcabi/jcabi-github/issues/1442) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C9R53K5JA/2911804408); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-10-19 05:46] 0pdd commented on #1439
The puzzle `1435-1aa70ed0` has disappeared from the source code, that's why I closed this issue.

[2018-10-19 05:46] #1439 closed

[2018-10-19 05:46] 0pdd commented on #1425
@paulodamaso the puzzle [#1442](https://github.com/jcabi/jcabi-github/issues/1442) is still not solved; solved: [#1430](https://github.com/jcabi/jcabi-github/issues/1430), [#1435](https://github.com/jcabi/jcabi-github/issues/1435), [#1439](https://github.com/jcabi/jcabi-github/issues/1439).

[2018-10-19 05:46] 0pdd commented on #1435
@0pdd the puzzle [#1442](https://github.com/jcabi/jcabi-github/issues/1442) is still not solved; solved: [#1439](https://github.com/jcabi/jcabi-github/issues/1439).

[2018-10-19 06:57] 0crat commented on #1439
The job [#1439](https://github.com/jcabi/jcabi-github/issues/1439) is now out of scope

[2018-10-19 06:57] 0crat commented on #1439
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-10-23 18:46] 0crat commented on #1442
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-10-26 01:15] paulodamaso commented on #1442
@0crat wait for https://github.com/jcabi/jcabi-github/pull/1444 review

[2018-10-26 01:16] 0crat commented on #1442
@paulodamaso The impediment for [#1442](https://github.com/jcabi/jcabi-github/issues/1442) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-11-02 08:31] 0pdd commented on #1442
The puzzle `1439-22936fd9` has disappeared from the source code, that's why I closed this issue.

[2018-11-02 08:31] #1442 closed

[2018-11-02 08:55] 0crat commented on #1442
The job [#1442](https://github.com/jcabi/jcabi-github/issues/1442) is now out of scope

[2018-11-02 08:55] 0crat commented on #1442
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-11-09 07:33] 0crat commented on #1157
Thanks for your contribution, @longtimeago[/z](https://www.0crat.com/u/longtimeago)! If you would be a member of [the project](https://www.0crat.com/p/C9R53K5JA), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-11-09 07:33] 0crat commented on #1157
The job [#1157](https://github.com/jcabi/jcabi-github/issues/1157) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C9R53K5JA/e44342c6-56a3-4e36-acea-366abea333c1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2018-11-09 07:36] 0crat commented on #1157
Job `gh:jcabi/jcabi-github#1157` already assigned to @amihaiemil, can't assign to @amihaiemil

[2018-11-09 07:41] 0crat commented on #1157
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-11-09 07:46] 0crat commented on #1436
Job `gh:jcabi/jcabi-github#1436` is not assigned, can't get performer

[2018-11-09 07:46] 0crat commented on #1436
This job is not in scope

[2018-11-14 07:40] 0crat commented on #1157
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-11-16 15:04] akhilkooliyatt opened #1445 "How are you?"
Please tell me...

[2018-11-16 15:04] akhilkooliyatt commented on #1445
My first comment!

[2018-11-16 15:04] 0crat commented on #1445
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-11-16 15:04] 0crat commented on #1445
@akhilkooliyatt[/z](https://www.0crat.com/u/akhilkooliyatt) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-22 12:32] #1445 closed

[2018-11-22 12:48] 0crat commented on #1445
Job `gh:jcabi/jcabi-github#1445` is not assigned, can't get performer

[2018-11-22 12:49] 0crat commented on #1445
This job is not in scope

[2018-12-04 13:15] amihaiemil opened #1446 "Java 8 ->Release version 1.0"
We had multiple tickets solved since the latest release. The biggest change is that we upgraded to Java 8, thus we jump from version ``0.41`` to ``1.0``.

[2018-12-04 14:20] rultor commented on #1446
@amihaiemil Done! FYI, the full log is [here](http://www.rultor.com/t/16762-444098585) (took me 51min)

[2018-12-04 14:21] #1446 closed

[2018-12-04 14:42] 0crat commented on #1446
Job `gh:jcabi/jcabi-github#1446` is not assigned, can't get performer

[2018-12-04 14:42] 0crat commented on #1446
This job is not in scope

[2018-12-04 19:17] 0pdd opened #1447 "JsonNode.java:63-67: JsonNode should be smart enough to..."
The puzzle `1442-b599f0b9` from #1442 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/de877f820c9e746e6032df215c6815b9cf64ffe8/src/main/java/com/jcabi/github/mock/JsonNode.java#L63-L67

The puzzle was created by Paulo Lobo on 27-Oct-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of

[2018-12-04 19:17] 0crat commented on #1447
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-12-04 19:17] 0pdd commented on #1425
@paulodamaso the puzzle [#1447](https://github.com/jcabi/jcabi-github/issues/1447) is still not solved; solved: [#1430](https://github.com/jcabi/jcabi-github/issues/1430), [#1435](https://github.com/jcabi/jcabi-github/issues/1435), [#1439](https://github.com/jcabi/jcabi-github/issues/1439), [#1442](https://github.com/jcabi/jcabi-github/issues/1442).

[2018-12-04 19:17] 0pdd commented on #1435
@0pdd the puzzle [#1447](https://github.com/jcabi/jcabi-github/issues/1447) is still not solved; solved: [#1439](https://github.com/jcabi/jcabi-github/issues/1439), [#1442](https://github.com/jcabi/jcabi-github/issues/1442).

[2018-12-04 19:17] 0pdd commented on #1439
@0pdd the puzzle [#1447](https://github.com/jcabi/jcabi-github/issues/1447) is still not solved; solved: [#1442](https://github.com/jcabi/jcabi-github/issues/1442).

[2018-12-04 19:17] 0pdd commented on #1442
@0pdd the puzzle [#1447](https://github.com/jcabi/jcabi-github/issues/1447) is still not solved.

[2018-12-04 19:18] 0crat commented on #1447
Job [#1447](https://github.com/jcabi/jcabi-github/issues/1447) is now in scope, role is `DEV`

[2018-12-05 07:42] amihaiemil commented on #1275
This seems to be solved, so I'm closing it. Feel free to reopen if the issue appears again.

[2018-12-05 07:42] #1275 closed

[2018-12-05 07:42] amihaiemil commented on #1272
Closing as we have no development here. Feel free to reopen if the issue appears again.

[2018-12-05 07:42] #1272 closed

[2018-12-05 07:43] amihaiemil commented on #1270
This has been fixed in [release 0.37](https://github.com/jcabi/jcabi-github/issues/1373).

[2018-12-05 07:43] #1270 closed

[2018-12-05 07:45] #1243 closed

[2018-12-05 07:57] #1309 closed

[2018-12-05 07:59] amihaiemil commented on #1413
@tarunngc closing this as there are no developments -- please reopen if something reappears :)

[2018-12-05 07:59] #1413 closed

[2018-12-05 08:13] 0crat commented on #1301
Job [#1301](https://github.com/jcabi/jcabi-github/issues/1301) is now in scope, role is `DEV`

[2018-12-05 09:15] 0crat commented on #1275
Job `gh:jcabi/jcabi-github#1275` is not assigned, can't get performer

[2018-12-05 09:15] 0crat commented on #1272
Job `gh:jcabi/jcabi-github#1272` is not assigned, can't get performer

[2018-12-05 09:17] 0crat commented on #1270
Job `gh:jcabi/jcabi-github#1270` is not assigned, can't get performer

[2018-12-05 09:21] 0crat commented on #1243
Job `gh:jcabi/jcabi-github#1243` is not assigned, can't get performer

[2018-12-05 09:22] 0crat commented on #1230
Job [#1230](https://github.com/jcabi/jcabi-github/issues/1230) is now in scope, role is `DEV`

[2018-12-05 09:22] 0crat commented on #1244
Job [#1244](https://github.com/jcabi/jcabi-github/issues/1244) is now in scope, role is `DEV`

[2018-12-05 09:30] 0crat commented on #1225
Job [#1225](https://github.com/jcabi/jcabi-github/issues/1225) is now in scope, role is `DEV`

[2018-12-05 09:32] 0crat commented on #1204
Job [#1204](https://github.com/jcabi/jcabi-github/issues/1204) is now in scope, role is `DEV`

[2018-12-05 09:32] 0crat commented on #1110
Job [#1110](https://github.com/jcabi/jcabi-github/issues/1110) is now in scope, role is `DEV`

[2018-12-05 09:38] 0crat commented on #1086
Job [#1086](https://github.com/jcabi/jcabi-github/issues/1086) is now in scope, role is `DEV`

[2018-12-05 09:39] 0crat commented on #1275
This job is not in scope

[2018-12-05 09:39] 0crat commented on #1272
This job is not in scope

[2018-12-05 09:44] 0crat commented on #1243
This job is not in scope

[2018-12-05 09:59] 0crat commented on #1309
Job `gh:jcabi/jcabi-github#1309` is not assigned, can't get performer

[2018-12-05 09:59] 0crat commented on #1413
Job `gh:jcabi/jcabi-github#1413` is not assigned, can't get performer

[2018-12-05 10:01] 0crat commented on #1204
Thanks for your contribution, @cvrebert[/z](https://www.0crat.com/u/cvrebert)! If you would be a member of [the project](https://www.0crat.com/p/C9R53K5JA), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-12-05 10:01] 0crat commented on #1110
Thanks for your contribution, @longtimeago[/z](https://www.0crat.com/u/longtimeago)! If you would be a member of [the project](https://www.0crat.com/p/C9R53K5JA), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-12-05 10:03] 0crat commented on #1086
Thanks for your contribution, @cvrebert[/z](https://www.0crat.com/u/cvrebert)! If you would be a member of [the project](https://www.0crat.com/p/C9R53K5JA), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-12-05 10:05] 0crat commented on #1309
This job is not in scope

[2018-12-05 10:05] 0crat commented on #1413
This job is not in scope

[2018-12-05 10:08] 0crat commented on #1230
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-12-05 10:08] 0crat commented on #1244
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-12-05 10:08] 0crat commented on #1225
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-12-05 19:49] 0crat commented on #1447
The job [#1447](https://github.com/jcabi/jcabi-github/issues/1447) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C9R53K5JA/f85b7f14-5567-4081-afa2-ba4bbe682bb6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2018-12-06 10:37] 0crat commented on #1301
The job [#1301](https://github.com/jcabi/jcabi-github/issues/1301) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C9R53K5JA/e3aa1690-c23e-4557-93ec-c3884ffcae4b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2018-12-06 10:45] 0crat commented on #1301
Job `gh:jcabi/jcabi-github#1301` already assigned to @paulodamaso, can't assign to @paulodamaso

[2018-12-06 11:17] amihaiemil commented on #1301
@paulodamaso only do the refactoring if it's possible without many changes. If many changes are required, then just remove the puzzle and let's leave it like that :)

[2018-12-06 13:48] 0crat commented on #1230
The job [#1230](https://github.com/jcabi/jcabi-github/issues/1230) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C9R53K5JA/e4f25672-b1a5-4d22-be57-8f5cbcb7920a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2018-12-06 13:48] 0crat commented on #1244
The job [#1244](https://github.com/jcabi/jcabi-github/issues/1244) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C9R53K5JA/31242bbd-bdce-49f9-9a95-1a22243324ae); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2018-12-07 11:11] #1244 closed

[2018-12-07 11:38] 0crat commented on #1244
The job [#1244](https://github.com/jcabi/jcabi-github/issues/1244) is now out of scope

[2018-12-07 11:43] 0crat commented on #1244
Order was finished: +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-07 13:12] paulodamaso commented on #1301
@amihaiemil Well I don't see why refactor it for start. I think that this class is cohesive enough as it is, and this check is being too hard on it in my opinion.

Actually I think that an ideal number for this check would be 5 parameters, 3 I think that is very little.

[2018-12-07 13:16] amihaiemil commented on #1301
@paulodamaso right, makes sense. Then just remove the puzzle (let's not increase the number of params for now) :)

[2018-12-10 20:49] 0crat commented on #1447
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-12-11 01:07] paulodamaso commented on #1301
@0crat wait for #1450 merge

[2018-12-11 01:08] paulodamaso commented on #1230
@0crat wait for #1449 review

[2018-12-11 01:16] 0crat commented on #1301
@paulodamaso The impediment for [#1301](https://github.com/jcabi/jcabi-github/issues/1301) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-11 01:16] 0crat commented on #1230
@paulodamaso The impediment for [#1230](https://github.com/jcabi/jcabi-github/issues/1230) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-11 08:46] 0pdd opened #1451 "Reaction.java:39-42: Implement Reactions to Comments and..."
The puzzle `1230-92aa948b` from #1230 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/c736f37bca18f14c94f7ac618fef88cfd3c5ab62/src/main/java/com/jcabi/github/Reaction.java#L39-L42

The puzzle was created by Paulo Lobo on 07-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the

[2018-12-11 08:46] 0pdd commented on #1230
@amihaiemil the puzzle [#1451](https://github.com/jcabi/jcabi-github/issues/1451) is still not solved.

[2018-12-11 08:46] 0crat commented on #1451
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-12-11 08:52] 0crat commented on #1451
Job [#1451](https://github.com/jcabi/jcabi-github/issues/1451) is now in scope, role is `DEV`

[2018-12-11 14:12] #1230 closed

[2018-12-11 14:33] 0crat commented on #1230
The job [#1230](https://github.com/jcabi/jcabi-github/issues/1230) is now out of scope

[2018-12-11 14:40] 0crat commented on #1230
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-11 16:39] paulodamaso commented on #1301
@amihaiemil Something weird happened, I've removed the puzzle but 0pdd did not closed the issue

[2018-12-12 11:33] paulodamaso commented on #1301
@amihaiemil please close

[2018-12-12 11:56] amihaiemil commented on #1301
@paulodamaso I can try but then I think 0crat will complain and won't make any payments -- it is mandatory that the ticket's reporter closes it.

[2018-12-12 11:56] #1301 closed

[2018-12-12 11:57] amihaiemil commented on #1301
@paulodamaso if no payments are made, I'll boost one of your future task and it will make up for it :)

[2018-12-12 12:05] paulodamaso commented on #1301
@amihaiemil Don't worry, but why didn't 0pdd closed it?

[2018-12-12 12:08] amihaiemil commented on #1301
@paulodamaso no idea. I changed the config now, so I will receive alerts in the future, if something goes wrong: https://github.com/jcabi/jcabi-github/blob/master/.0pdd.yml

[2018-12-12 12:55] paulodamaso commented on #1447
@0crat wait for https://github.com/jcabi/jcabi-github/issues/1452 review

[2018-12-12 12:55] 0crat commented on #1447
@paulodamaso The impediment for [#1447](https://github.com/jcabi/jcabi-github/issues/1447) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-12 17:50] 0crat commented on #1225
The job [#1225](https://github.com/jcabi/jcabi-github/issues/1225) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C9R53K5JA/efa2c4b7-14c4-42ca-8394-adf5a2b2388a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2018-12-17 18:43] 0crat commented on #1225
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-12-17 18:50] 0pdd commented on #1447
The puzzle `1442-b599f0b9` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2018-12-17 18:50] #1447 closed

[2018-12-17 18:50] 0pdd commented on #1425
@paulodamaso all 5 puzzles are solved here: [#1430](https://github.com/jcabi/jcabi-github/issues/1430), [#1435](https://github.com/jcabi/jcabi-github/issues/1435), [#1439](https://github.com/jcabi/jcabi-github/issues/1439), [#1442](https://github.com/jcabi/jcabi-github/issues/1442), [#1447](https://github.com/jcabi/jcabi-github/issues/1447).

[2018-12-17 18:50] 0pdd commented on #1435
@0pdd all 3 puzzles are solved here: [#1439](https://github.com/jcabi/jcabi-github/issues/1439), [#1442](https://github.com/jcabi/jcabi-github/issues/1442), [#1447](https://github.com/jcabi/jcabi-github/issues/1447).

[2018-12-17 18:50] 0pdd commented on #1439
@0pdd all 2 puzzles are solved here: [#1442](https://github.com/jcabi/jcabi-github/issues/1442), [#1447](https://github.com/jcabi/jcabi-github/issues/1447).

[2018-12-17 18:50] 0pdd commented on #1442
@0pdd the only puzzle [#1447](https://github.com/jcabi/jcabi-github/issues/1447) is solved here.

[2018-12-17 18:55] 0crat commented on #1225
The job [#1225](https://github.com/jcabi/jcabi-github/issues/1225) is now out of scope

[2018-12-17 18:57] 0crat commented on #1225
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-17 19:12] 0crat commented on #1447
The job [#1447](https://github.com/jcabi/jcabi-github/issues/1447) is now out of scope

[2018-12-17 19:14] 0crat commented on #1447
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-17 20:05] 0crat commented on #1204
The job [#1204](https://github.com/jcabi/jcabi-github/issues/1204) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C9R53K5JA/2568e19c-566e-422a-aaa3-3814a3f02e1e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2018-12-17 20:16] 0crat commented on #1110
The job [#1110](https://github.com/jcabi/jcabi-github/issues/1110) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C9R53K5JA/8ccfb5f3-2316-401b-b94f-652a1c4e42ea); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2018-12-17 20:43] 0crat commented on #1451
The job [#1451](https://github.com/jcabi/jcabi-github/issues/1451) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C9R53K5JA/a6e9cb46-9d6f-4a75-be54-70dca88538e8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2018-12-19 13:40] Emilien942702 opened #1456 "How are you?"
Please tell me...

[2018-12-19 13:40] Emilien942702 commented on #1456
My first comment!

[2018-12-19 13:40] 0crat commented on #1456
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-12-19 13:40] 0crat commented on #1456
@emilien942702[/z](https://www.0crat.com/u/emilien942702) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-20 08:00] 0pdd opened #1457 "RtBranchesTest.java:114-117: Implement find method in..."
The puzzle `1086-abf60b5c` from #1086 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/859f2d36887de8fa95ecf6f7473857bd3c68f82a/src/test/java/com/jcabi/github/RtBranchesTest.java#L114-L117

The puzzle was created by Paulo Lobo on 18-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2018-12-20 08:00] 0pdd commented on #1457
@amihaiemil please pay attention to this new issue.

[2018-12-20 08:01] 0pdd commented on #1086
@cvrebert the puzzle [#1457](https://github.com/jcabi/jcabi-github/issues/1457) is still not solved.

[2018-12-20 08:01] 0crat commented on #1457
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-12-20 08:02] #1086 closed

[2018-12-20 08:07] 0crat commented on #1457
Job [#1457](https://github.com/jcabi/jcabi-github/issues/1457) is now in scope, role is `DEV`

[2018-12-20 08:20] 0crat commented on #1457
The job [#1457](https://github.com/jcabi/jcabi-github/issues/1457) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C9R53K5JA/3fff8b72-0209-4d63-8dc6-d6b41fe34db7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2018-12-22 20:40] 0crat commented on #1204
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-12-22 21:40] 0crat commented on #1451
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-12-23 11:49] paulodamaso commented on #1457
@0crat wait for #1458 review

[2018-12-23 11:50] 0crat commented on #1457
@paulodamaso The impediment for [#1457](https://github.com/jcabi/jcabi-github/issues/1457) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-26 09:00] amihaiemil opened #1460 "Update website code snippet"
On the project's [website](https://github.jcabi.com/) the example code-snippet will open an Issue in this repo, which is rather annoying. Let's change the snippet and make it point to the ``octocat/Hello-World`` repository (same as in the README).

The website is hosted on the ``gh-pages`` branch.

[2018-12-26 09:01] 0crat commented on #1460
Job [#1460](https://github.com/jcabi/jcabi-github/issues/1460) is now in scope, role is `DEV`

[2018-12-26 09:08] 0crat commented on #1460
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-12-26 09:13] 0pdd opened #1461 "RtGistCommentsTest.java:51-52: Continue to close grizzle..."
The puzzle `1110-dfc7e3c6` from #1110 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/be3dab9939087e054768d8166859b84708d26b73/src/test/java/com/jcabi/github/RtGistCommentsTest.java#L51-L52

The puzzle was created by @rultor on 26-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2018-12-26 09:13] 0pdd commented on #1461
@amihaiemil please pay attention to this new issue.

[2018-12-26 09:13] 0pdd commented on #1110
@longtimeago the puzzle [#1461](https://github.com/jcabi/jcabi-github/issues/1461) is still not solved.

[2018-12-26 09:13] 0crat commented on #1461
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-12-26 09:19] 0crat commented on #1461
Job [#1461](https://github.com/jcabi/jcabi-github/issues/1461) is now in scope, role is `DEV`

[2018-12-26 09:26] 0pdd opened #1462 "Issue.java:61-64: Implement Lock and unlock features to..."
The puzzle `1204-0dae0ae7` from #1204 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/cf87980922e40e0504d8cf55a9fd1596e8975283/src/main/java/com/jcabi/github/Issue.java#L61-L64

The puzzle was created by Paulo Lobo on 24-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puz

[2018-12-26 09:33] 0crat commented on #1462
Job [#1462](https://github.com/jcabi/jcabi-github/issues/1462) is now in scope, role is `DEV`

[2018-12-26 10:45] paulodamaso commented on #1204
@cvrebert Merged, please close

[2018-12-26 11:36] paulodamaso commented on #1204
@0crat wait for closure

[2018-12-26 11:42] 0crat commented on #1204
@paulodamaso The impediment for [#1204](https://github.com/jcabi/jcabi-github/issues/1204) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-26 11:44] amihaiemil commented on #1204
@paulodamaso thanks :)

[2018-12-26 11:44] #1204 closed

[2018-12-26 12:05] 0crat commented on #1204
The job [#1204](https://github.com/jcabi/jcabi-github/issues/1204) is now out of scope

[2018-12-26 12:07] paulodamaso commented on #1110
@longtimeago Please close this one, the PR have already been merged

[2018-12-26 12:08] 0crat commented on #1204
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-26 12:09] 0crat commented on #1461
The job [#1461](https://github.com/jcabi/jcabi-github/issues/1461) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C9R53K5JA/a76a5dee-c7b0-43df-be73-c1e7825a7d02); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2018-12-26 12:11] #1110 closed

[2018-12-26 12:33] 0crat commented on #1110
The job [#1110](https://github.com/jcabi/jcabi-github/issues/1110) is now out of scope

[2018-12-26 12:34] 0crat commented on #1110
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-26 13:33] 0crat commented on #1462
The job [#1462](https://github.com/jcabi/jcabi-github/issues/1462) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C9R53K5JA/1619aa56-47f5-4e40-b5e0-a0b1ed996d21); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2018-12-28 14:33] 0crat commented on #1460
The job [#1460](https://github.com/jcabi/jcabi-github/issues/1460) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C9R53K5JA/3beb326e-d152-4eaa-8636-25ec4c33e346); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2018-12-31 12:41] 0crat commented on #1461
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-12-31 13:40] 0crat commented on #1462
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-01-02 14:41] 0crat commented on #1460
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-01-02 18:07] #1460 closed

[2019-01-02 18:22] 0pdd commented on #1457
The puzzle `1086-abf60b5c` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-01-02 18:22] #1457 closed

[2019-01-02 18:22] 0pdd commented on #1086
@cvrebert the only puzzle [#1457](https://github.com/jcabi/jcabi-github/issues/1457) is solved here.

[2019-01-02 18:33] 0crat commented on #1460
The job [#1460](https://github.com/jcabi/jcabi-github/issues/1460) is now out of scope

[2019-01-02 18:35] 0crat commented on #1460
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-02 18:38] #1451 closed

[2019-01-02 18:38] 0pdd commented on #1451
The puzzle `1230-92aa948b` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-01-02 18:38] 0pdd opened #1466 "Issue.java:65-67: Resume Reaction implementation on..."
The puzzle `1451-d6e99155` from #1451 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/55b5df5b2b06e314b135b4b83b4621614266e381/src/main/java/com/jcabi/github/Issue.java#L65-L67

The puzzle was created by rultor on 02-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2019-01-02 18:38] 0pdd commented on #1466
@amihaiemil please pay attention to this new issue.

[2019-01-02 18:39] 0pdd opened #1467 "Reaction.java:39-43: Check reaction values. At the moment..."
The puzzle `1451-f3cf9bcc` from #1451 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/55b5df5b2b06e314b135b4b83b4621614266e381/src/main/java/com/jcabi/github/Reaction.java#L39-L43

The puzzle was created by rultor on 02-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzz

[2019-01-02 18:39] 0pdd commented on #1467
@amihaiemil please pay attention to this new issue.

[2019-01-02 18:39] 0crat commented on #1466
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-02 18:39] 0pdd opened #1468 "Reaction.java:44-47: Create reaction values constants in..."
The puzzle `1451-68e7202f` from #1451 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/55b5df5b2b06e314b135b4b83b4621614266e381/src/main/java/com/jcabi/github/Reaction.java#L44-L47

The puzzle was created by rultor on 02-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzz

[2019-01-02 18:39] 0pdd commented on #1468
@amihaiemil please pay attention to this new issue.

[2019-01-02 18:39] 0pdd opened #1469 "Reaction.java:48-53: Add reaction support to other Github..."
The puzzle `1451-35370452` from #1451 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/55b5df5b2b06e314b135b4b83b4621614266e381/src/main/java/com/jcabi/github/Reaction.java#L48-L53

The puzzle was created by rultor on 02-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzz

[2019-01-02 18:39] 0pdd commented on #1469
@amihaiemil please pay attention to this new issue.

[2019-01-02 18:39] 0crat commented on #1467
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-02 18:40] 0pdd opened #1470 "RtComment.java:48-50: Implement react ant reactions..."
The puzzle `1451-a700d53f` from #1451 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/55b5df5b2b06e314b135b4b83b4621614266e381/src/main/java/com/jcabi/github/RtComment.java#L48-L50

The puzzle was created by rultor on 02-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puz

[2019-01-02 18:40] 0pdd commented on #1470
@amihaiemil please pay attention to this new issue.

[2019-01-02 18:40] 0pdd commented on #1230
@amihaiemil 5 puzzles [#1466](https://github.com/jcabi/jcabi-github/issues/1466), [#1467](https://github.com/jcabi/jcabi-github/issues/1467), [#1468](https://github.com/jcabi/jcabi-github/issues/1468), [#1469](https://github.com/jcabi/jcabi-github/issues/1469), [#1470](https://github.com/jcabi/jcabi-github/issues/1470) are still not solved; solved: [#1451](https://github.com/jcabi/jcabi-github/iss

[2019-01-02 18:40] 0pdd commented on #1451
@0pdd 5 puzzles [#1466](https://github.com/jcabi/jcabi-github/issues/1466), [#1467](https://github.com/jcabi/jcabi-github/issues/1467), [#1468](https://github.com/jcabi/jcabi-github/issues/1468), [#1469](https://github.com/jcabi/jcabi-github/issues/1469), [#1470](https://github.com/jcabi/jcabi-github/issues/1470) are still not solved.

[2019-01-02 18:40] 0crat commented on #1469
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-02 18:40] 0crat commented on #1468
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-02 18:41] 0crat commented on #1470
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-02 18:50] 0crat commented on #1466
Job [#1466](https://github.com/jcabi/jcabi-github/issues/1466) is now in scope, role is `DEV`

[2019-01-02 18:52] 0crat commented on #1467
Job [#1467](https://github.com/jcabi/jcabi-github/issues/1467) is now in scope, role is `DEV`

[2019-01-02 18:52] 0crat commented on #1469
Job [#1469](https://github.com/jcabi/jcabi-github/issues/1469) is now in scope, role is `DEV`

[2019-01-02 18:55] 0crat commented on #1468
Job [#1468](https://github.com/jcabi/jcabi-github/issues/1468) is now in scope, role is `DEV`

[2019-01-02 18:55] 0crat commented on #1470
Job [#1470](https://github.com/jcabi/jcabi-github/issues/1470) is now in scope, role is `DEV`

[2019-01-02 18:55] 0crat commented on #1457
The job [#1457](https://github.com/jcabi/jcabi-github/issues/1457) is now out of scope

[2019-01-02 18:57] 0crat commented on #1457
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-02 19:02] 0crat commented on #1451
The job [#1451](https://github.com/jcabi/jcabi-github/issues/1451) is now out of scope

[2019-01-02 19:03] 0crat commented on #1451
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-04 20:47] paulodamaso commented on #1461
@0crat wait for #1472 review

[2019-01-04 20:48] 0crat commented on #1461
@paulodamaso The impediment for [#1461](https://github.com/jcabi/jcabi-github/issues/1461) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-08 10:39] 0crat commented on #1466
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-01-09 11:37] #1461 closed

[2019-01-09 11:37] 0pdd commented on #1461
The puzzle `1110-dfc7e3c6` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-01-09 11:37] 0pdd opened #1473 "RtGistCommentsTest.java:51-52: Continue to close grizzle..."
The puzzle `1461-e726d1aa` from #1461 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/592cfe7c7ee8d7b2b491462cd356d34019a20279/src/test/java/com/jcabi/github/RtGistCommentsTest.java#L51-L52

The puzzle was created by @amihaiemil on 09-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the t

[2019-01-09 11:37] 0pdd commented on #1473
@amihaiemil please pay attention to this new issue.

[2019-01-09 11:37] 0pdd commented on #1110
@longtimeago the puzzle [#1473](https://github.com/jcabi/jcabi-github/issues/1473) is still not solved; solved: [#1461](https://github.com/jcabi/jcabi-github/issues/1461).

[2019-01-09 11:37] 0pdd commented on #1461
@0pdd the puzzle [#1473](https://github.com/jcabi/jcabi-github/issues/1473) is still not solved.

[2019-01-09 11:39] 0crat commented on #1473
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-09 11:43] 0crat commented on #1473
Job [#1473](https://github.com/jcabi/jcabi-github/issues/1473) is now in scope, role is `DEV`

[2019-01-09 11:49] 0pdd commented on #1466
The puzzle `1451-d6e99155` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-01-09 11:49] #1466 closed

[2019-01-09 11:49] 0pdd commented on #1462
The puzzle `1204-0dae0ae7` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-01-09 11:49] #1462 closed

[2019-01-09 11:50] 0pdd opened #1474 "Issue.java:61-65: Implement lock reason validation...."
The puzzle `1462-43294d01` from #1462 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/e4a1b0d438765a0253747071d525839aa421f1a5/src/main/java/com/jcabi/github/Issue.java#L61-L65

The puzzle was created by Paulo Lobo on 02-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puz

[2019-01-09 11:50] 0pdd commented on #1474
@amihaiemil please pay attention to this new issue.

[2019-01-09 11:50] 0pdd commented on #1230
@amihaiemil 4 puzzles [#1467](https://github.com/jcabi/jcabi-github/issues/1467), [#1468](https://github.com/jcabi/jcabi-github/issues/1468), [#1469](https://github.com/jcabi/jcabi-github/issues/1469), [#1470](https://github.com/jcabi/jcabi-github/issues/1470) are still not solved; solved: [#1451](https://github.com/jcabi/jcabi-github/issues/1451), [#1466](https://github.com/jcabi/jcabi-github/iss

[2019-01-09 11:50] 0pdd commented on #1451
@0pdd 4 puzzles [#1467](https://github.com/jcabi/jcabi-github/issues/1467), [#1468](https://github.com/jcabi/jcabi-github/issues/1468), [#1469](https://github.com/jcabi/jcabi-github/issues/1469), [#1470](https://github.com/jcabi/jcabi-github/issues/1470) are still not solved; solved: [#1466](https://github.com/jcabi/jcabi-github/issues/1466).

[2019-01-09 11:50] 0pdd commented on #1204
@cvrebert the puzzle [#1474](https://github.com/jcabi/jcabi-github/issues/1474) is still not solved; solved: [#1462](https://github.com/jcabi/jcabi-github/issues/1462).

[2019-01-09 11:50] 0pdd commented on #1462
@0pdd the puzzle [#1474](https://github.com/jcabi/jcabi-github/issues/1474) is still not solved.

[2019-01-09 12:11] 0crat commented on #1461
The job [#1461](https://github.com/jcabi/jcabi-github/issues/1461) is now out of scope

[2019-01-09 12:12] 0crat commented on #1461
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-09 12:19] 0crat commented on #1462
The job [#1462](https://github.com/jcabi/jcabi-github/issues/1462) is now out of scope

[2019-01-09 12:19] 0crat commented on #1466
The job [#1466](https://github.com/jcabi/jcabi-github/issues/1466) is now out of scope

[2019-01-09 12:20] 0crat commented on #1462
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-09 12:20] 0crat commented on #1466
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-09 12:21] 0crat commented on #1467
The job [#1467](https://github.com/jcabi/jcabi-github/issues/1467) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C9R53K5JA/6a6ae7db-bb9b-4db8-9656-787732cecd57); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-01-14 12:39] 0crat commented on #1467
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-01-15 10:41] 0crat commented on #1469
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-01-16 08:21] #1469 closed

[2019-01-16 08:21] 0pdd commented on #1469
The puzzle `1451-35370452` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-01-16 08:22] 0pdd opened #1476 "Reaction.java:48-51: Add support to team discussion and..."
The puzzle `1469-93fe85c7` from #1469 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/2ce81e403cb31bb99dd87575a534e2b237532386/src/main/java/com/jcabi/github/Reaction.java#L48-L51

The puzzle was created by Paulo Lobo on 15-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the

[2019-01-16 08:22] 0pdd commented on #1476
@amihaiemil please pay attention to this new issue.

[2019-01-16 08:22] 0pdd commented on #1230
@amihaiemil 4 puzzles [#1467](https://github.com/jcabi/jcabi-github/issues/1467), [#1468](https://github.com/jcabi/jcabi-github/issues/1468), [#1470](https://github.com/jcabi/jcabi-github/issues/1470), [#1476](https://github.com/jcabi/jcabi-github/issues/1476) are still not solved; solved: [#1451](https://github.com/jcabi/jcabi-github/issues/1451), [#1466](https://github.com/jcabi/jcabi-github/iss

[2019-01-16 08:22] 0pdd commented on #1451
@0pdd 4 puzzles [#1467](https://github.com/jcabi/jcabi-github/issues/1467), [#1468](https://github.com/jcabi/jcabi-github/issues/1468), [#1470](https://github.com/jcabi/jcabi-github/issues/1470), [#1476](https://github.com/jcabi/jcabi-github/issues/1476) are still not solved; solved: [#1466](https://github.com/jcabi/jcabi-github/issues/1466), [#1469](https://github.com/jcabi/jcabi-github/issues/14

[2019-01-16 08:22] 0pdd commented on #1469
@0pdd the puzzle [#1476](https://github.com/jcabi/jcabi-github/issues/1476) is still not solved.

[2019-01-16 08:22] 0crat commented on #1476
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-17 10:03] 0pdd opened #1477 "RtIssue.java:50-52: Implement react and reactions..."
The puzzle `1466-fde76671` from #1466 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/4b33410a270691d2d6424e33d159e9b420f150ec/src/main/java/com/jcabi/github/RtIssue.java#L50-L52

The puzzle was created by @amihaiemil on 17-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the

[2019-01-17 10:03] 0pdd commented on #1477
@amihaiemil please pay attention to this new issue.

[2019-01-17 10:03] 0pdd commented on #1230
@amihaiemil 5 puzzles [#1467](https://github.com/jcabi/jcabi-github/issues/1467), [#1468](https://github.com/jcabi/jcabi-github/issues/1468), [#1470](https://github.com/jcabi/jcabi-github/issues/1470), [#1476](https://github.com/jcabi/jcabi-github/issues/1476), [#1477](https://github.com/jcabi/jcabi-github/issues/1477) are still not solved; solved: [#1451](https://github.com/jcabi/jcabi-github/iss

[2019-01-17 10:03] 0pdd commented on #1451
@0pdd 5 puzzles [#1467](https://github.com/jcabi/jcabi-github/issues/1467), [#1468](https://github.com/jcabi/jcabi-github/issues/1468), [#1470](https://github.com/jcabi/jcabi-github/issues/1470), [#1476](https://github.com/jcabi/jcabi-github/issues/1476), [#1477](https://github.com/jcabi/jcabi-github/issues/1477) are still not solved; solved: [#1466](https://github.com/jcabi/jcabi-github/issues/14

[2019-01-17 10:03] 0pdd commented on #1466
@0pdd the puzzle [#1477](https://github.com/jcabi/jcabi-github/issues/1477) is still not solved.

[2019-01-17 10:03] 0crat commented on #1477
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-17 10:35] 0crat commented on #1477
Job [#1477](https://github.com/jcabi/jcabi-github/issues/1477) is now in scope, role is `DEV`

[2019-01-17 12:33] 0crat commented on #1468
The job [#1468](https://github.com/jcabi/jcabi-github/issues/1468) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C9R53K5JA/296c3814-e8e4-439c-bd77-f4c4b29b25c9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-01-17 12:33] 0crat commented on #1468
Job `gh:jcabi/jcabi-github#1468` already assigned to @paulodamaso, can't assign to @paulodamaso

[2019-01-17 12:41] 0crat commented on #1470
The job [#1470](https://github.com/jcabi/jcabi-github/issues/1470) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C9R53K5JA/71f9c2ec-0fe4-471e-895a-32432ed52e76); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-01-17 12:54] 0crat commented on #1470
Job `gh:jcabi/jcabi-github#1470` already assigned to @paulodamaso, can't assign to @paulodamaso

[2019-01-17 12:58] 0crat commented on #1473
The job [#1473](https://github.com/jcabi/jcabi-github/issues/1473) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C9R53K5JA/deaad4de-016a-42d6-9d7a-ac8b84fc4e00); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-01-17 16:32] paulodamaso commented on #1467
@0crat wait for #1478 review

[2019-01-17 16:33] 0crat commented on #1467
@paulodamaso The impediment for [#1467](https://github.com/jcabi/jcabi-github/issues/1467) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-19 01:10] fabriciofx opened #1481 "Remove grizzly and put takes instead"
Let's remove grizzly e put takes (takes.org) instead.

[2019-01-19 01:10] 0crat commented on #1481
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-19 01:10] 0crat commented on #1481
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-19 06:56] amihaiemil commented on #1481
@fabriciofx grizzly is used in the tests, and it is there for jcabi-http's MkContainer, right?

I don't see any advantage in using takes, only a big effort of rewriting all unit tests...

[2019-01-19 14:43] 0pdd commented on #1468
The puzzle `1451-68e7202f` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-01-19 14:43] #1468 closed

[2019-01-19 14:43] 0pdd commented on #1230
@amihaiemil 4 puzzles [#1467](https://github.com/jcabi/jcabi-github/issues/1467), [#1470](https://github.com/jcabi/jcabi-github/issues/1470), [#1476](https://github.com/jcabi/jcabi-github/issues/1476), [#1477](https://github.com/jcabi/jcabi-github/issues/1477) are still not solved; solved: [#1451](https://github.com/jcabi/jcabi-github/issues/1451), [#1466](https://github.com/jcabi/jcabi-github/iss

[2019-01-19 14:43] 0pdd commented on #1451
@0pdd 4 puzzles [#1467](https://github.com/jcabi/jcabi-github/issues/1467), [#1470](https://github.com/jcabi/jcabi-github/issues/1470), [#1476](https://github.com/jcabi/jcabi-github/issues/1476), [#1477](https://github.com/jcabi/jcabi-github/issues/1477) are still not solved; solved: [#1466](https://github.com/jcabi/jcabi-github/issues/1466), [#1468](https://github.com/jcabi/jcabi-github/issues/14

[2019-01-19 14:43] #1473 closed

[2019-01-19 14:43] 0pdd commented on #1473
The puzzle `1461-e726d1aa` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-01-19 14:43] 0pdd opened #1482 "RtGitignoresTest.java:51-52: Continue to close grizzle..."
The puzzle `1473-e726d1aa` from #1473 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/910abe07275a484506dba7e6730fabe94b9ded68/src/test/java/com/jcabi/github/RtGitignoresTest.java#L51-L52

The puzzle was created by Paulo Lobo on 17-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2019-01-19 14:43] 0pdd commented on #1482
@amihaiemil please pay attention to this new issue.

[2019-01-19 14:43] 0pdd commented on #1110
@longtimeago the puzzle [#1482](https://github.com/jcabi/jcabi-github/issues/1482) is still not solved; solved: [#1461](https://github.com/jcabi/jcabi-github/issues/1461), [#1473](https://github.com/jcabi/jcabi-github/issues/1473).

[2019-01-19 14:43] 0pdd commented on #1461
@0pdd the puzzle [#1482](https://github.com/jcabi/jcabi-github/issues/1482) is still not solved; solved: [#1473](https://github.com/jcabi/jcabi-github/issues/1473).

[2019-01-19 14:43] 0pdd commented on #1473
@0pdd the puzzle [#1482](https://github.com/jcabi/jcabi-github/issues/1482) is still not solved.

[2019-01-19 14:45] 0crat commented on #1482
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-19 14:51] 0crat commented on #1482
Job [#1482](https://github.com/jcabi/jcabi-github/issues/1482) is now in scope, role is `DEV`

[2019-01-19 15:08] 0crat commented on #1473
The job [#1473](https://github.com/jcabi/jcabi-github/issues/1473) is now out of scope

[2019-01-19 15:08] 0crat commented on #1468
The job [#1468](https://github.com/jcabi/jcabi-github/issues/1468) is now out of scope

[2019-01-19 15:08] 0crat commented on #1473
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-19 15:09] 0crat commented on #1468
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-20 15:09] fabriciofx commented on #1481
@amihaiemil The problem is `grizzly` dependency is too much outdated and the new versions change the API. So, IMHO if we will change a lot the API is better change grizzly to takes.

[2019-01-20 21:44] amihaiemil commented on #1481
@fabriciofx Even so, ``grizzly`` is only used in the tests and it is not directly used by ``jcabi-github`` (if I remember well) - it is used internally by ``jcabi-http``... so if there are any changes in the API of grizzly, they should be fixed in jcabi-http.

But anyway, it is a big effort which is not worth it, considering it's all about the unit tests. :)
I also wouldn't be confortable reimplem

[2019-01-20 21:44] #1481 closed

[2019-01-20 22:04] 0crat commented on #1481
Job `gh:jcabi/jcabi-github#1481` is not assigned, can't get performer

[2019-01-20 22:04] 0crat commented on #1481
This job is not in scope

[2019-01-21 08:16] 0pdd commented on #1467
The puzzle `1451-f3cf9bcc` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-01-21 08:16] #1467 closed

[2019-01-21 08:17] 0pdd opened #1483 "Reaction.java:39-43: Check reaction values. At the moment..."
The puzzle `1467-f3cf9bcc` from #1467 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/7a7278bfa8127a26c6b9eeb5d16661acc19c92bc/src/main/java/com/jcabi/github/Reaction.java#L39-L43

The puzzle was created by Paulo Lobo on 20-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the

[2019-01-21 08:17] 0pdd commented on #1451
@0pdd 4 puzzles [#1470](https://github.com/jcabi/jcabi-github/issues/1470), [#1476](https://github.com/jcabi/jcabi-github/issues/1476), [#1477](https://github.com/jcabi/jcabi-github/issues/1477), [#1483](https://github.com/jcabi/jcabi-github/issues/1483) are still not solved; solved: [#1466](https://github.com/jcabi/jcabi-github/issues/1466), [#1467](https://github.com/jcabi/jcabi-github/issues/14

[2019-01-21 08:17] 0pdd commented on #1467
@0pdd the puzzle [#1483](https://github.com/jcabi/jcabi-github/issues/1483) is still not solved.

[2019-01-21 08:17] 0crat commented on #1483
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-21 10:13] 0crat commented on #1483
Job [#1483](https://github.com/jcabi/jcabi-github/issues/1483) is now in scope, role is `DEV`

[2019-01-21 10:22] 0crat commented on #1467
The job [#1467](https://github.com/jcabi/jcabi-github/issues/1467) is now out of scope

[2019-01-21 10:23] 0crat commented on #1467
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-21 19:54] 0crat commented on #1476
The job [#1476](https://github.com/jcabi/jcabi-github/issues/1476) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C9R53K5JA/f9f34354-6200-4e45-976e-a66a391d8fae); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-01-21 20:06] 0crat commented on #1477
The job [#1477](https://github.com/jcabi/jcabi-github/issues/1477) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C9R53K5JA/b92e6bc7-411f-4956-a930-6d52a7fa6a34); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-01-22 12:43] 0crat commented on #1470
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-01-22 20:46] 0crat commented on #1482
The job [#1482](https://github.com/jcabi/jcabi-github/issues/1482) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C9R53K5JA/537a2e21-114d-4359-9648-6ba0e682f720); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-01-22 20:50] 0crat commented on #1482
Job `gh:jcabi/jcabi-github#1482` already assigned to @paulodamaso, can't assign to @paulodamaso

[2019-01-23 14:23] 0crat commented on #1483
The job [#1483](https://github.com/jcabi/jcabi-github/issues/1483) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C9R53K5JA/0423cbd8-0952-4c59-83b9-d339e7fce27a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-01-23 16:06] #1482 closed

[2019-01-23 16:06] 0pdd commented on #1482
The puzzle `1473-e726d1aa` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-01-23 16:07] 0pdd opened #1487 "RtOrganizationsTest.java:52-53: Continue to close grizzle..."
The puzzle `1482-e726d1aa` from #1482 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/6b2ccb3a5453675979cee90ce70384d7f49b4aa9/src/test/java/com/jcabi/github/RtOrganizationsTest.java#L52-L53

The puzzle was created by Mihai A on 23-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2019-01-23 16:07] 0pdd commented on #1487
@amihaiemil please pay attention to this new issue.

[2019-01-23 16:07] 0pdd commented on #1110
@longtimeago the puzzle [#1487](https://github.com/jcabi/jcabi-github/issues/1487) is still not solved; solved: [#1461](https://github.com/jcabi/jcabi-github/issues/1461), [#1473](https://github.com/jcabi/jcabi-github/issues/1473), [#1482](https://github.com/jcabi/jcabi-github/issues/1482).

[2019-01-23 16:07] 0pdd commented on #1461
@0pdd the puzzle [#1487](https://github.com/jcabi/jcabi-github/issues/1487) is still not solved; solved: [#1473](https://github.com/jcabi/jcabi-github/issues/1473), [#1482](https://github.com/jcabi/jcabi-github/issues/1482).

[2019-01-23 16:07] 0pdd commented on #1473
@0pdd the puzzle [#1487](https://github.com/jcabi/jcabi-github/issues/1487) is still not solved; solved: [#1482](https://github.com/jcabi/jcabi-github/issues/1482).

[2019-01-23 16:07] 0pdd commented on #1482
@0pdd the puzzle [#1487](https://github.com/jcabi/jcabi-github/issues/1487) is still not solved.

[2019-01-23 16:08] 0crat commented on #1487
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-23 16:13] 0crat commented on #1487
Job [#1487](https://github.com/jcabi/jcabi-github/issues/1487) is now in scope, role is `DEV`

[2019-01-23 16:20] #1477 closed

[2019-01-23 16:20] 0pdd commented on #1477
The puzzle `1466-fde76671` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-01-23 16:20] 0pdd commented on #1230
@amihaiemil 3 puzzles [#1470](https://github.com/jcabi/jcabi-github/issues/1470), [#1476](https://github.com/jcabi/jcabi-github/issues/1476), [#1483](https://github.com/jcabi/jcabi-github/issues/1483) are still not solved; solved: [#1451](https://github.com/jcabi/jcabi-github/issues/1451), [#1466](https://github.com/jcabi/jcabi-github/issues/1466), [#1467](https://github.com/jcabi/jcabi-github/iss

[2019-01-23 16:20] 0pdd commented on #1451
@0pdd 3 puzzles [#1470](https://github.com/jcabi/jcabi-github/issues/1470), [#1476](https://github.com/jcabi/jcabi-github/issues/1476), [#1483](https://github.com/jcabi/jcabi-github/issues/1483) are still not solved; solved: [#1466](https://github.com/jcabi/jcabi-github/issues/1466), [#1467](https://github.com/jcabi/jcabi-github/issues/1467), [#1468](https://github.com/jcabi/jcabi-github/issues/14

[2019-01-23 16:20] 0pdd commented on #1466
@0pdd the only puzzle [#1477](https://github.com/jcabi/jcabi-github/issues/1477) is solved here.

[2019-01-23 16:32] 0crat commented on #1482
Job was finished in 19 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-23 16:35] #1470 closed

[2019-01-23 16:35] 0pdd commented on #1470
The puzzle `1451-a700d53f` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-01-23 16:35] 0pdd commented on #1230
@amihaiemil 2 puzzles [#1476](https://github.com/jcabi/jcabi-github/issues/1476), [#1483](https://github.com/jcabi/jcabi-github/issues/1483) are still not solved; solved: [#1451](https://github.com/jcabi/jcabi-github/issues/1451), [#1466](https://github.com/jcabi/jcabi-github/issues/1466), [#1467](https://github.com/jcabi/jcabi-github/issues/1467), [#1468](https://github.com/jcabi/jcabi-github/iss

[2019-01-23 16:35] 0pdd commented on #1451
@0pdd 2 puzzles [#1476](https://github.com/jcabi/jcabi-github/issues/1476), [#1483](https://github.com/jcabi/jcabi-github/issues/1483) are still not solved; solved: [#1466](https://github.com/jcabi/jcabi-github/issues/1466), [#1467](https://github.com/jcabi/jcabi-github/issues/1467), [#1468](https://github.com/jcabi/jcabi-github/issues/1468), [#1469](https://github.com/jcabi/jcabi-github/issues/14

[2019-01-23 16:52] 0crat commented on #1482
The job [#1482](https://github.com/jcabi/jcabi-github/issues/1482) is now out of scope

[2019-01-23 16:54] 0crat commented on #1482
Order was finished: +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-23 16:54] 0crat commented on #1477
Job was finished in 44 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-23 16:59] 0crat commented on #1477
The job [#1477](https://github.com/jcabi/jcabi-github/issues/1477) is now out of scope

[2019-01-23 17:05] 0crat commented on #1477
Order was finished: +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-23 17:05] 0crat commented on #1470
The job [#1470](https://github.com/jcabi/jcabi-github/issues/1470) is now out of scope

[2019-01-23 17:05] 0crat commented on #1470
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-26 20:44] 0crat commented on #1476
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-01-28 14:43] 0crat commented on #1483
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-01-28 17:50] 0crat commented on #1487
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-01-29 00:01] paulodamaso commented on #1487
@0crat wait for #1488 merge

[2019-01-29 00:03] 0crat commented on #1487
@paulodamaso The impediment for [#1487](https://github.com/jcabi/jcabi-github/issues/1487) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-31 01:17] paulodamaso commented on #1476
@0crat refuse

[2019-01-31 01:34] 0crat commented on #1476
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-05 02:49] paulodamaso commented on #1483
@0crat wait for #1489 review and merge

[2019-02-05 02:53] 0crat commented on #1483
@paulodamaso The impediment for [#1483](https://github.com/jcabi/jcabi-github/issues/1483) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-05 14:50] #1487 closed

[2019-02-05 14:50] 0pdd commented on #1487
The puzzle `1482-e726d1aa` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-02-05 14:50] 0pdd opened #1490 "RtReferenceTest.java:52-53: Continue to close grizzle..."
The puzzle `1487-7b753dc7` from #1487 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/990b781805471a664a6c8670b4b9e9c0e1ffb7e6/src/test/java/com/jcabi/github/RtReferenceTest.java#L52-L53

The puzzle was created by Paulo Lobo on 23-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2019-02-05 14:50] 0pdd commented on #1490
@amihaiemil please pay attention to this new issue.

[2019-02-05 14:50] 0pdd commented on #1110
@longtimeago the puzzle [#1490](https://github.com/jcabi/jcabi-github/issues/1490) is still not solved; solved: [#1461](https://github.com/jcabi/jcabi-github/issues/1461), [#1473](https://github.com/jcabi/jcabi-github/issues/1473), [#1482](https://github.com/jcabi/jcabi-github/issues/1482), [#1487](https://github.com/jcabi/jcabi-github/issues/1487).

[2019-02-05 14:50] 0pdd commented on #1461
@0pdd the puzzle [#1490](https://github.com/jcabi/jcabi-github/issues/1490) is still not solved; solved: [#1473](https://github.com/jcabi/jcabi-github/issues/1473), [#1482](https://github.com/jcabi/jcabi-github/issues/1482), [#1487](https://github.com/jcabi/jcabi-github/issues/1487).

[2019-02-05 14:50] 0pdd commented on #1473
@0pdd the puzzle [#1490](https://github.com/jcabi/jcabi-github/issues/1490) is still not solved; solved: [#1482](https://github.com/jcabi/jcabi-github/issues/1482), [#1487](https://github.com/jcabi/jcabi-github/issues/1487).

[2019-02-05 14:51] 0pdd commented on #1482
@0pdd the puzzle [#1490](https://github.com/jcabi/jcabi-github/issues/1490) is still not solved; solved: [#1487](https://github.com/jcabi/jcabi-github/issues/1487).

[2019-02-05 14:51] 0pdd commented on #1487
@0pdd the puzzle [#1490](https://github.com/jcabi/jcabi-github/issues/1490) is still not solved.

[2019-02-05 14:52] 0crat commented on #1490
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-02-05 14:56] 0crat commented on #1490
Job [#1490](https://github.com/jcabi/jcabi-github/issues/1490) is now in scope, role is `DEV`

[2019-02-05 15:05] #1483 closed

[2019-02-05 15:05] 0pdd commented on #1483
The puzzle `1467-f3cf9bcc` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-02-05 15:05] 0pdd commented on #1230
@amihaiemil the puzzle [#1476](https://github.com/jcabi/jcabi-github/issues/1476) is still not solved; solved: [#1451](https://github.com/jcabi/jcabi-github/issues/1451), [#1466](https://github.com/jcabi/jcabi-github/issues/1466), [#1467](https://github.com/jcabi/jcabi-github/issues/1467), [#1468](https://github.com/jcabi/jcabi-github/issues/1468), [#1469](https://github.com/jcabi/jcabi-github/iss

[2019-02-05 15:05] 0pdd commented on #1451
@0pdd the puzzle [#1476](https://github.com/jcabi/jcabi-github/issues/1476) is still not solved; solved: [#1466](https://github.com/jcabi/jcabi-github/issues/1466), [#1467](https://github.com/jcabi/jcabi-github/issues/1467), [#1468](https://github.com/jcabi/jcabi-github/issues/1468), [#1469](https://github.com/jcabi/jcabi-github/issues/1469), [#1470](https://github.com/jcabi/jcabi-github/issues/14

[2019-02-05 15:05] 0pdd commented on #1467
@0pdd the only puzzle [#1483](https://github.com/jcabi/jcabi-github/issues/1483) is solved here.

[2019-02-05 15:24] 0crat commented on #1487
The job [#1487](https://github.com/jcabi/jcabi-github/issues/1487) is now out of scope

[2019-02-05 15:24] 0crat commented on #1487
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-05 15:31] 0crat commented on #1483
The job [#1483](https://github.com/jcabi/jcabi-github/issues/1483) is now out of scope

[2019-02-05 15:31] 0crat commented on #1490
The job [#1490](https://github.com/jcabi/jcabi-github/issues/1490) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C9R53K5JA/84d5de05-dfd2-4b4b-956c-1d8a94955e55); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-02-05 15:33] 0crat commented on #1490
Job `gh:jcabi/jcabi-github#1490` already assigned to @paulodamaso, can't assign to @paulodamaso

[2019-02-05 15:34] 0crat commented on #1483
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-10 13:00] #1490 closed

[2019-02-10 13:00] 0pdd commented on #1490
The puzzle `1487-7b753dc7` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-02-10 13:00] 0pdd opened #1492 "RtStatusesTest.java:60-61: Continue to close grizzle..."
The puzzle `1490-7b753dc7` from #1490 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/6747249f898318148bc1a46596a95945a7789749/src/test/java/com/jcabi/github/RtStatusesTest.java#L60-L61

The puzzle was created by Paulo Lobo on 10-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text o

[2019-02-10 13:00] 0pdd commented on #1492
@amihaiemil please pay attention to this new issue.

[2019-02-10 13:00] 0pdd commented on #1110
@longtimeago the puzzle [#1492](https://github.com/jcabi/jcabi-github/issues/1492) is still not solved; solved: [#1461](https://github.com/jcabi/jcabi-github/issues/1461), [#1473](https://github.com/jcabi/jcabi-github/issues/1473), [#1482](https://github.com/jcabi/jcabi-github/issues/1482), [#1487](https://github.com/jcabi/jcabi-github/issues/1487), [#1490](https://github.com/jcabi/jcabi-github/is

[2019-02-10 13:00] 0pdd commented on #1461
@0pdd the puzzle [#1492](https://github.com/jcabi/jcabi-github/issues/1492) is still not solved; solved: [#1473](https://github.com/jcabi/jcabi-github/issues/1473), [#1482](https://github.com/jcabi/jcabi-github/issues/1482), [#1487](https://github.com/jcabi/jcabi-github/issues/1487), [#1490](https://github.com/jcabi/jcabi-github/issues/1490).

[2019-02-10 13:00] 0pdd commented on #1473
@0pdd the puzzle [#1492](https://github.com/jcabi/jcabi-github/issues/1492) is still not solved; solved: [#1482](https://github.com/jcabi/jcabi-github/issues/1482), [#1487](https://github.com/jcabi/jcabi-github/issues/1487), [#1490](https://github.com/jcabi/jcabi-github/issues/1490).

[2019-02-10 13:00] 0pdd commented on #1482
@0pdd the puzzle [#1492](https://github.com/jcabi/jcabi-github/issues/1492) is still not solved; solved: [#1487](https://github.com/jcabi/jcabi-github/issues/1487), [#1490](https://github.com/jcabi/jcabi-github/issues/1490).

[2019-02-10 13:00] 0pdd commented on #1487
@0pdd the puzzle [#1492](https://github.com/jcabi/jcabi-github/issues/1492) is still not solved; solved: [#1490](https://github.com/jcabi/jcabi-github/issues/1490).

[2019-02-10 13:00] 0pdd commented on #1490
@0pdd the puzzle [#1492](https://github.com/jcabi/jcabi-github/issues/1492) is still not solved.

[2019-02-10 13:01] 0crat commented on #1492
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-02-10 13:07] 0crat commented on #1492
Job [#1492](https://github.com/jcabi/jcabi-github/issues/1492) is now in scope, role is `DEV`

[2019-02-10 13:13] 0crat commented on #1492
The job [#1492](https://github.com/jcabi/jcabi-github/issues/1492) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C9R53K5JA/96a72934-bccd-4f01-926c-65f2ef8dce0f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-02-10 13:25] 0crat commented on #1490
The job [#1490](https://github.com/jcabi/jcabi-github/issues/1490) is now out of scope

[2019-02-10 13:26] 0crat commented on #1490
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-12 18:50] chbrown13 opened #1493 "User.Smart get String values is broken"
I am trying to get information for GitHub users, namely email addresses. When using a User.Smart object, calling the email()  and bio() functions fail with a ClassCastException shown below:

[code]

[code]

[2019-02-12 18:50] 0crat commented on #1493
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-02-12 18:50] 0crat commented on #1493
@chbrown13[/z](https://www.0crat.com/u/chbrown13) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-12 19:08] chbrown13 commented on #1493
Never mind, only appears for users without email addresses. Was expecting a null value instead of an error.

[2019-02-28 03:06] rainywang opened #1494 "How can I download a zip file from a specific commit?"
After I get a RepoCommit by
    `RepoCommit.Smart smt = new RepoCommit.Smart(commit);`
I want to get the Zip file of the commit via` smt.sha()` and download the file from GitHub.

Is it possible to do this?

[2019-02-28 03:06] 0crat commented on #1494
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-02-28 03:06] 0crat commented on #1494
@rainywang[/z](https://www.0crat.com/u/rainywang) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-03 16:14] g4s8 opened #1495 "Incorrect hasName implementation"
Github API returns `null` as `name` JSON field if user doesn't have a name, but `User.Smart#hasName` implementation doesn't check it:
[code]
So when I check that user has a name and then read this name I'm getting an error:
[code]
(https://github.com/zerocracy/farm/issues/1753).

[2019-03-03 16:14] 0crat commented on #1495
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-03-03 16:14] 0crat commented on #1495
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-03 20:48] amihaiemil commented on #1495
@g4s8 please provide a PR, there are no DEVs on the project and I don't really have time for it now.

I'll release it afterwards. Thanks!

[2019-03-09 16:59] amihaiemil commented on #1494
@rainywang I'm not sure it's implemented in the library, but if you can get the ``sha`` code, then you might be able to make the HTTP call yourself, by using the underlying HTTP request (you can get it from the ``Github`` instance which has the method ``entry()``)

[2019-03-31 18:37] #1456 closed

[2019-03-31 18:53] 0crat commented on #1456
Job `gh:jcabi/jcabi-github#1456` is not assigned, can't get performer

[2019-03-31 18:53] 0crat commented on #1456
This job is not in scope

[2019-06-04 14:01] henriquetruta opened #1496 "Support Checks API"
Is there any plan to support the new v3 Checks API?
https://developer.github.com/v3/checks/

[2019-06-04 14:01] 0crat commented on #1496
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-06-04 14:01] 0crat commented on #1496
@henriquetruta[/z](https://www.0crat.com/u/henriquetruta) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-06-04 14:03] amihaiemil commented on #1496
@henriquetruta The project is out of budget at the moment and so out of contributors, unfortunately. However, PRs are welcome if you care to start implementing it -- just make sure to not break the library's architecture,

[2019-06-04 14:07] 0crat commented on #1496
Job [#1496](https://github.com/jcabi/jcabi-github/issues/1496) is now in scope, role is `DEV`

[2019-06-04 14:07] 0crat commented on #1496
Thanks for your contribution, @henriquetruta[/z](https://www.0crat.com/u/henriquetruta)! If you would be a member of [the project](https://www.0crat.com/p/C9R53K5JA), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2019-06-04 14:09] amihaiemil commented on #1496
@henriquetruta Keep in mind that in this library everything is 100% encapsulated behind interfaces so, if you want a quick workarouind, you can probably extend the ``Github`` interface by adding the method ``Checks :: checks()`` ...

You also have access to the underlying HTTP request (via ``Github.entry()``, if I remember well), so you can make the request directly yourself if you are in a hurry.

[2019-06-04 14:48] amihaiemil commented on #1495
@g4s8 do you still have this issue, care to provide a PR? :D

[2019-06-22 10:10] davidkarlsen opened #1497 "Support setting API-endpoint"
https://github.com/jcabi/jcabi-github/blob/d3308efd6f3dac6017599d1b31a8f30664694c3b/src/main/java/com/jcabi/github/RtGithub.java seems to hard-code the api-endpoint.
Can you open this to be configurable? I'd like to use the SDK towards our enterprise instance.

[2019-06-22 10:10] 0crat commented on #1497
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-06-22 10:10] 0crat commented on #1497
@davidkarlsen[/z](https://www.0crat.com/u/davidkarlsen) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-06-22 10:10] davidkarlsen commented on #1497
Relates to https://github.com/jcabi/jcabi-github/issues/871

[2019-06-24 12:51] amihaiemil commented on #1497
@davidkarlsen There is a public Constructor which accepts a ``Request`` object: https://github.com/jcabi/jcabi-github/blob/d3308efd6f3dac6017599d1b31a8f30664694c3b/src/main/java/com/jcabi/github/RtGithub.java#L147

Can you try to configure your own Request and use that Constructor? The Request is from the ``jcabi-http`` project, you can see how the static one is [configured](https://github.com/jca

[2019-06-24 12:54] amihaiemil commented on #1497
@davidkarlsen In principle, the Request should not be hard to configure: just choose between ApacheRequest and JdkRequest (whichever impl you want to have), add the base URI (and only that, the rest is fluently appended by the SDK as you call methods) + required HTTP Headers, like Authorization.

[2019-07-25 09:35] p3pijn commented on #1314
It is possible to iterate over the tags of a repo in Github API v3:
See https://developer.github.com/v3/repos/#list-tags

[2019-07-30 13:27] davidkarlsen commented on #1497
works like a charm - thanks!

[2019-07-30 13:27] #1497 closed

[2019-07-30 13:46] 0crat commented on #1497
Job `gh:jcabi/jcabi-github#1497` is not assigned, can't get performer

[2019-07-30 13:46] 0crat commented on #1497
This job is not in scope

[2019-07-30 13:59] davidkarlsen opened #1498 "Iterating all users fail"
[code]

Running GHE on-prem 2.17.1

code:
[code]

[2019-07-30 13:59] 0crat commented on #1498
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-07-30 13:59] 0crat commented on #1498
@davidkarlsen[/z](https://www.0crat.com/u/davidkarlsen) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-08-18 22:03] e13mort opened #1499 "Can't find how to config a mocked github instance with a predefined xml file"
I've searched for the docs in the Readme.md and in the javadoc (https://www.javadoc.io/doc/com.jcabi/jcabi-github/1.0)

[2019-08-18 22:03] 0crat commented on #1499
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-08-18 22:03] 0crat commented on #1499
@e13mort[/z](https://www.0crat.com/u/e13mort) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-01-02 13:02] rosetta-development opened #1500 "Error :java.lang.NoSuchFieldException: modifiers in jdk13"
When using JDK13 we got the following error:

org.aspectj.lang.NoAspectBoundException: Exception while initializing com.jcabi.aspects.aj.MethodLogger: java.lang.IllegalStateException: **java.lang.NoSuchFieldException: modifiers**
        at com.jcabi.aspects.aj.MethodLogger.aspectOf(MethodLogger.java:1)
        at com.jcabi.github.RtGithub.repos(RtGithub.java:159)
        at
----------------------

[2020-01-02 13:02] 0crat commented on #1500
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2020-01-02 13:02] 0crat commented on #1500
@rosetta-development[/z](https://www.0crat.com/u/rosetta-development) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-01-02 18:49] amihaiemil commented on #1500
@rosetta-development This is actually an Issue with project jcabi-aspects. I've opened an Issue in that project. Let's move the discussion there.

[2020-01-02 18:49] #1500 closed

[2020-01-02 19:07] 0crat commented on #1500
Job `gh:jcabi/jcabi-github#1500` is not assigned, can't get performer

[2020-01-02 19:07] 0crat commented on #1500
This job is not in scope

[2020-01-14 14:05] ShalomGottesman opened #1501 "Create Repo in Organization"
Is there a way to create a repository inside an organization?

[2020-01-14 14:05] 0crat commented on #1501
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2020-01-14 14:05] 0crat commented on #1501
@shalomgottesman[/z](https://www.0crat.com/u/shalomgottesman) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-01-14 14:32] amihaiemil commented on #1501
@ShalomGottesman I'm not sure. I searched the API Docs and found nothing in this matter.

You can create a repo under the authenticated user like this:

[code]

After creating it, an option would be to [transfer](https://developer.github.com/v3/repos/#transfer-a-repository) it (Github API allows it).

However, ``jcabi-github`` doesn't have the ``Repo.transfer(...)`` method. Maybe you can implement

[2020-01-14 14:36] amihaiemil commented on #1501
@ShalomGottesman You can also make the ``transfer`` request yourself. The ``Github`` object offers the [entry()](https://github.com/jcabi/jcabi-github/blob/master/src/main/java/com/jcabi/github/RtGithub.java#L153) method which returns the underlying HTTP Request.

Look inside [RtGithub](https://github.com/jcabi/jcabi-github/blob/master/src/main/java/com/jcabi/github/RtGithub.java) to see how the `

[2020-01-15 09:03] amihaiemil opened #1503 "Fix Qulice errors and release #1502"
PR #1502 has been merged, but it contains a few [Qulice errors](https://travis-ci.org/jcabi/jcabi-github/builds/637260143#L2082).
Let's fix them so we can release a new version.

[2020-01-15 09:03] amihaiemil commented on #1501
fixed. Continuing work in #1503 for release.

[2020-01-15 09:03] #1501 closed

[2020-01-15 09:10] 0crat commented on #1503
The job [#1503](https://github.com/jcabi/jcabi-github/issues/1503) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C9R53K5JA/20a955b8-9029-4ca9-a101-b734de8df4c7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2020-01-15 09:10] 0crat commented on #1503
Job `gh:jcabi/jcabi-github#1503` already assigned to @amihaiemil, can't assign to @amihaiemil

[2020-01-15 09:12] 0crat commented on #1503
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2020-01-15 09:12] 0crat commented on #1503
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2020-01-15 09:12] 0crat commented on #1503
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2020-01-15 09:21] 0crat commented on #1501
Job `gh:jcabi/jcabi-github#1501` is not assigned, can't get performer

[2020-01-15 09:21] 0crat commented on #1501
This job is not in scope

[2020-01-15 18:10] amihaiemil opened #1504 "Add tests for RepoCreate with Organization"
From #1502

Add a unit test and an integration test for creating a Repo under a organization (``Github.repos().create(...)``).

[2020-01-15 18:11] amihaiemil opened #1505 "Implement the Mock version for RepoCreate with Org"
From #1502

We should also implement the mock version for creating a repo under an organization (``MkGithub.repos().create(...)``)

[2020-01-15 18:18] amihaiemil opened #1507 "Release version 1.1"
Let's release version 1.1

Changes:

- Implemented repo creation inside organizations (#1502);
- Implemented ``Repos.exists(...)`` (#1508  and #1512);
- Added constructors for class RtGithub, through which users can specify a different domain.  (#1518)

[2020-01-15 18:28] #1503 closed

[2020-01-15 18:30] amihaiemil commented on #1507
@rultor release it, tag is `1.1`

[2020-01-15 18:36] rultor commented on #1507
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21188-574791363)

[2020-01-15 18:43] rultor commented on #1507
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21188-574791363) (spent 7min)

[code]

[2020-01-15 18:52] 0crat commented on #1503
Order was finished: +35 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2020-01-15 18:53] 0crat commented on #1503
The job [#1503](https://github.com/jcabi/jcabi-github/issues/1503) is now out of scope

[2020-01-15 18:53] 0crat commented on #1503
Job was finished in 9 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-01-16 08:59] amihaiemil commented on #1507
@rultor release it, tag is `1.1`

[2020-01-16 09:00] rultor commented on #1507
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21188-575051164)

[2020-01-16 09:07] rultor commented on #1507
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21188-575051164) (spent 6min)

[code]

[2020-01-16 09:13] amihaiemil commented on #1507
@ShalomGottesman The rultor chatbot is having some problems (see [here](https://github.com/yegor256/rultor/issues/1324)).

We have to wait until it is fixed, so we can release to Maven Central.

I cannot release it manually because I don't have the required credentials and GPG keys... it is all automated by rultor.

[2020-01-16 15:35] amihaiemil commented on #1507
@rultor release it, tag is `1.1`

[2020-01-16 15:37] rultor commented on #1507
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21188-575207768)

[2020-01-16 15:46] rultor commented on #1507
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21188-575207768) (spent 8min)

[code]

[2020-01-19 09:00] amihaiemil opened #1509 "Fix checkstyle for PR 1508"
Fix checkstyle errors for PR #1508. See [here](https://travis-ci.org/jcabi/jcabi-github/builds/639027560#L2082)

[2020-01-19 09:02] amihaiemil commented on #1509
@ShalomGottesman I will fix the checkstyle errors and I will also rename your method from ``contains`` to ``exists`` :)

[2020-01-19 09:16] amihaiemil opened #1510 "Add tests for RtRepos.exists(...)"
We should add unit and integration tests for method RtRepos.exists(...);

[2020-01-19 09:16] amihaiemil opened #1511 "Implement MkRepos.exists(...)"
We should implement the mock version of Repos.exists(...). Don't forget to also test it.

[2020-01-19 09:32] #1509 closed

[2020-01-19 09:32] amihaiemil commented on #1507
@rultor release it, tag is `1.1`

[2020-01-19 09:34] rultor commented on #1507
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21188-575984892)

[2020-01-19 09:40] rultor commented on #1507
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21188-575984892) (spent 6min)

[code]

[2020-01-19 16:18] constantinosloizou commented on #1510
What is this method suppose to do?

[2020-01-19 20:53] 0crat commented on #1509
Job [#1509](https://github.com/jcabi/jcabi-github/issues/1509) is closed, can't start order

[2020-01-19 21:02] 0crat commented on #1509
Job `gh:jcabi/jcabi-github#1509` is not assigned, can't get performer

[2020-01-19 21:21] 0crat commented on #1509
This job is not in scope

[2020-01-20 08:11] amihaiemil commented on #1510
@constantinosloizou This method checks if the given repository (Coordinates) exists on Github or not.

If you want to contribute, you can start with a unit test. Have a look and see how other unit tests are done. In principle, you start a **mock** HTTP Server, define a port, make the Request and the query the mock HTTP Endpoint to see how the Request that got to it looks like -- obviously, the req

[2020-01-22 14:54] amihaiemil commented on #1507
@rultor release it, tag is `1.1`

[2020-01-22 14:57] rultor commented on #1507
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21188-577219692)

[2020-01-22 15:04] rultor commented on #1507
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21188-577219692) (spent 6min)

[code]

[2020-01-24 19:19] amihaiemil commented on #1507
@rultor release it, tag is `1.1`

[2020-01-24 19:20] #1511 closed

[2020-01-24 19:21] rultor commented on #1507
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21188-578264144)

[2020-01-24 19:27] rultor commented on #1507
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21188-578264144) (spent 6min)

[code]

[2020-01-24 19:28] amihaiemil commented on #1507
@ShalomGottesman We still have problems with rultor. I'm trying to fix it now.

[2020-01-24 19:53] 0crat commented on #1511
Job `gh:jcabi/jcabi-github#1511` is not assigned, can't get performer

[2020-01-24 19:54] 0crat commented on #1511
This job is not in scope

[2020-01-24 20:48] kkashi01 opened #1516 "Organization github"
This is great tool. However, We have github that has been setup for our organization (github.xxxx.com). Is there anyway to change the base url to use url other than github.com?

[2020-01-24 20:48] 0crat commented on #1516
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2020-01-24 20:48] 0crat commented on #1516
@kkashi01[/z](https://www.0crat.com/u/kkashi01) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-01-24 21:07] amihaiemil commented on #1516
@kkashi01 Yes, there is the constructor [RtGithub(Request)](https://github.com/jcabi/jcabi-github/blob/master/src/main/java/com/jcabi/github/RtGithub.java#L147).

You can configure your own request with your URL. However, you have to also configure the Content-Type and other headers. See how the [default Request](https://github.com/jcabi/jcabi-github/blob/master/src/main/java/com/jcabi/github/RtGi

[2020-01-24 21:14] amihaiemil commented on #1516
@kkashi01 I added the explanation in the README: https://github.com/jcabi/jcabi-github#work-with-githubs-api

[2020-01-24 21:15] amihaiemil commented on #1516
@kkashi01 I'm closing this ticket. Feel free to open another one if you encounter any other issues.

[2020-01-24 21:15] #1516 closed

[2020-01-24 21:32] 0crat commented on #1516
Job `gh:jcabi/jcabi-github#1516` is not assigned, can't get performer

[2020-01-24 21:33] 0crat commented on #1516
This job is not in scope

[2020-01-24 21:48] kkashi01 opened #1517 "Implement RtGithub Constructors For Custom Domain"
Thanks for quick turn-around on issue below and updating README.

Relates to: https://github.com/jcabi/jcabi-github/issues/1516

Follow-up, does it make sense to update code to a constructor that takes Request and token?
Or a way to set Token and/or userid/pwd in RtGithub? Per your suggestion, if RtGithub is instantiated with custom-domain, we won't be able to set token (or userid/pwd). Is my unde

[2020-01-24 21:49] 0crat commented on #1517
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2020-01-24 21:49] 0crat commented on #1517
@kkashi01[/z](https://www.0crat.com/u/kkashi01) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-01-25 09:31] amihaiemil commented on #1517
@kkashi01

I think you can do that right when you are instantiating the Request. See how its done in the constructors that we have now. I believe all you have to do is the following (**for token**)

[code]

or the following **for password**

[code]

Is it not possible to do this? Or do you think it's ugly?

[2020-01-25 09:43] amihaiemil commented on #1507
@rultor release it, tag is `1.1`

[2020-01-25 09:45] rultor commented on #1507
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21188-578392149)

[2020-01-25 09:45] amihaiemil commented on #1517
@kkashi01 On a second thought, I think we will implement a few extra constructors so you can specify a custom domain without bothering with all the configuration of a Request.

But in the meantime, the above snippets of code should work fine :)

[2020-01-25 09:51] rultor commented on #1507
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21188-578392149) (spent 6min)

[code]

[2020-01-25 14:14] kkashi01 commented on #1517
@amihaiemil Thanks for the code-snippet. Constructor for custom domain would definitely help.
Meanwhile, using your code snippet, I'm definitely getting closer. However, getting a 406 [1] below. The issue for getting 406 code is because the url request should be like [2] not [1]. In [1], the path "/repo" is automatically added. For my case, it should be eliminated. Thoughts?

[1] 406 Not Acceptabl

[2020-01-25 14:38] amihaiemil commented on #1517
@kkashi01 I'm afraid changing URI paths is not possible. Github's URI paths are at the core of this library's architecture.

Encapsulation and the objects' precedence/fluency all follow Github's URIs. This cannot be changed unless breakig encapsulation or changing the architecture fundamentally.

If you have your own Github instance deplyed, my advice is to not change URIs. Changing the domain is

[2020-01-25 15:26] kkashi01 commented on #1517
@amihaiemil  thanks. Unfortunately I don't have control over our github and [2] above is just how the URL is set up. I do find your library very elegant and useful. Need to see how to handle this.

[2020-01-25 15:37] amihaiemil commented on #1517
@kkashi01 I **think** you could "highjack" the URI building logic by providing your own ``Request`` to the constructor.

``Request`` is an interface which you could decorate with come implementations that would "ignore" certain paths when they are being added throughout the library.

But this would be very painful and error-prone. First of all, you would have to study all the classes and methods o

[2020-01-25 16:56] amihaiemil commented on #1517
@kkashi01 I've implemented the constructors, see PR #1518

It will be released as soon as possible, with version ``1.1`` of this library. However, we're having some issues with Rultor at the moment (rultor is the chatbot which automates our release process), and we're waiting for those to be fixed...

[2020-01-25 17:11] amihaiemil commented on #1505
@maviteixeira Do you also have the time/willingness to fix this issue? I've seen you understood how the mock version works :D

[2020-01-25 17:13] 0crat commented on #1505
Job [#1505](https://github.com/jcabi/jcabi-github/issues/1505) is now in scope, role is `DEV`

[2020-01-25 17:18] 0crat commented on #1505
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2020-01-25 19:03] kkashi01 commented on #1517
@amihaiemil Thanks for the update. Will wait for v1.1 and give it a try.
Looking through the code, I see that "/repos" is being hard coded in many classes (e.g. RtPull, RtIssue, ...).

Do you think it makes sense to update Repo class to have "/repos" as default attribute and allow setting it through a constructor method? That way, all above classes ( like above) can just call a helper method on Re

[2020-01-25 21:03] amihaiemil commented on #1517
@kkashi01

Yes, this would be an option, I'll look into it tomorrow :)

This will surely not happen. Helper methods are against our principles and besides that, encapsulation would be broken. Repo would become some sort of utility class.

But you are right, most classes should set their root paths (e.g. RtRepos -> /repos; RtIssues -> /issues etc) in their ctor rather than hardcoding them throughou

[2020-01-25 21:05] amihaiemil commented on #1517
@kkashi01 I assume the end result would be something like this:

[code]

[2020-01-25 21:07] kkashi01 commented on #1517
@amihaiemil getting much closer :+1:  THANKS

[2020-01-26 14:47] amihaiemil commented on #1517
@kkashi01 I looked into it.

Having the paths injected through the constructor is a good idea, but only for us, internally -- for instance, if Github's paths will change in the future, then it will be easier for us to do the change as well.

But, to be honest with you, I don't like the idea of letting the user specify paths when calling methods such as ``repos()``. If we allow this, then the libra

[2020-01-26 14:49] amihaiemil commented on #1507
@rultor release it, tag is `1.1`

[2020-01-26 14:51] rultor commented on #1507
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21188-578508644)

[2020-01-26 15:01] rultor commented on #1507
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21188-578508644) (spent 9min)

[code]

[2020-01-26 15:10] maviteixeira commented on #1505
@amihaiemil Sure, no problem.
Could you please check the [PR ](https://github.com/jcabi/jcabi-github/pull/1519)and see if it is what you expected?

[2020-01-26 15:14] amihaiemil commented on #1505
@0crat assign @maviteixeira

[2020-01-26 15:18] 0crat commented on #1505
@amihaiemil The job [#1505](https://github.com/jcabi/jcabi-github/issues/1505) assigned to @maviteixeira[/z](https://www.0crat.com/u/maviteixeira), here is [why](https://www.0crat.com/footprint/C9R53K5JA/70a794e8-f593-47f6-b5ff-ad17dac94eff); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zer

[2020-01-26 15:19] 0crat commented on #1505
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2020-01-26 16:39] kkashi01 commented on #1517
@amihaiemil

Agreed and this will definitely be a good change:

I totally understand your point. However, this library will **possibly** have limitation that it won't work for enterprise Custom Domains unless a workaround is provided

if Github.entry works for updating the Request, then **I think** this should be good and solves mine (and alike custom domain) issues

Sure. If you are refactoring t

[2020-01-26 17:50] amihaiemil opened #1520 "Inject root paths in the constructor"
Classes such as RtRepos and RrIssues are hardcoding their root paths (/repos and /issues respectively) in all of their methods.

These root paths should be set in the constructor to remove repetition and make future path changes easier.

[2020-01-26 17:52] amihaiemil commented on #1517
@kkashi01 thanks. I will continue with the refactoring in #1520.

I'm closing this ticket since the main issue here was solved, I've implemented constructors for custom domains.

Will be released as soon as rultor is fixed ...

[2020-01-26 17:52] #1517 closed

[2020-01-26 18:09] 0crat commented on #1517
Job `gh:jcabi/jcabi-github#1517` is not assigned, can't get performer

[2020-01-26 18:09] 0crat commented on #1517
This job is not in scope

[2020-01-27 12:11] #1505 closed

[2020-01-27 12:30] 0crat commented on #1505
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @maviteixeira[/z](https://www.0crat.com/u/maviteixeira), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-01-27 12:30] 0crat commented on #1505
Job was finished in 20 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-01-27 12:30] 0crat commented on #1505
The job [#1505](https://github.com/jcabi/jcabi-github/issues/1505) is now out of scope

[2020-01-27 12:39] sereshqua commented on #1505
@0crat quality good

[2020-01-27 12:56] 0crat commented on #1505
Order was finished, quality is "good": +40 point(s) just awarded to @maviteixeira[/z](https://www.0crat.com/u/maviteixeira)

[2020-01-27 12:56] 0crat commented on #1505
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-01-27 18:12] ShalomGottesman opened #1521 "Add collaborator to organization repo with permissions"
Does the Request object have the ability to add parameters? For purposes like this:
https://developer.github.com/v3/repos/collaborators/#add-user-as-a-collaborator

[2020-01-27 18:12] 0crat commented on #1521
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2020-01-27 18:12] 0crat commented on #1521
@shalomgottesman[/z](https://www.0crat.com/u/shalomgottesman) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-01-27 18:18] amihaiemil commented on #1521
@ShalomGottesman Yes, you should be able to do it via the ``uri()`` method (which returns the ``RequestURI``:

[code]

[2020-01-27 20:29] ShalomGottesman commented on #1521
@amihaiemil Will this work with also editing the path and when using a Request.PUT method?

[2020-01-28 07:45] amihaiemil commented on #1521
@ShalomGottesman I don't see any reason why it shouldn't work. Give it a try and open a ticket is something goes wrong :)

[2020-01-28 16:12] amihaiemil commented on #1507
@rultor release it, tag is `1.1`

[2020-01-28 16:13] rultor commented on #1507
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21188-579328188)

[2020-01-28 16:20] rultor commented on #1507
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21188-579328188) (spent 6min)

[code]

[2020-01-30 15:49] amihaiemil commented on #1157
@0crat refuse

[2020-01-30 15:52] 0crat commented on #1157
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) I see that you unassigned this issue; the order is still assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2020-01-30 15:54] 0crat commented on #1157
@amihaiemil The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#1157](https://github.com/jcabi/jcabi-github/issues/1157), please stop working. Reason for job resignation: Order was cancelled

[2020-01-30 15:56] 0crat commented on #1157
Tasks refusal is discouraged (job refused in 10736 hours), see [§6](http://www.zerocracy.com/policy.html#6): -20 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2020-01-30 16:17] 0crat commented on #1157
Job `gh:jcabi/jcabi-github#1157` is not assigned, can't get performer

[2020-01-30 20:33] 0crat commented on #1157
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2020-01-30 20:33] 0crat commented on #1157
@longtimeago[/z](https://www.0crat.com/u/longtimeago) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-04 11:55] Guseyn opened #1523 "Poor naming and static method"
[code]
What is it? I cannot read and understand this code.

[2020-02-04 11:56] 0crat commented on #1523
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2020-02-04 11:56] 0crat commented on #1523
@guseyn[/z](https://www.0crat.com/u/guseyn) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-04 11:56] Guseyn commented on #1523
it's impossible to understand

[2020-02-04 17:15] amihaiemil commented on #1510
@0crat assign @maviteixeira

[2020-02-04 18:02] 0crat commented on #1510
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2020-02-04 18:03] 0crat commented on #1510
@amihaiemil The job [#1510](https://github.com/jcabi/jcabi-github/issues/1510) assigned to @maviteixeira[/z](https://www.0crat.com/u/maviteixeira), here is [why](https://www.0crat.com/footprint/C9R53K5JA/6b6c6a77-0a61-457d-af16-def787b2ee1e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zer

[2020-02-04 18:15] 0crat commented on #1510
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2020-02-04 18:20] #1510 closed

[2020-02-04 18:20] amihaiemil commented on #1507
@rultor release it, tag is `1.1`

[2020-02-04 18:22] rultor commented on #1507
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21188-582046434)

[2020-02-04 18:28] rultor commented on #1507
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21188-582046434) (spent 6min)

[code]

[2020-02-04 18:58] 0crat commented on #1510
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-02-04 19:02] 0crat commented on #1510
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @maviteixeira[/z](https://www.0crat.com/u/maviteixeira), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-02-04 19:24] sereshqua commented on #1510
@constantinosloizou please make sure you start all the comments with the name of the user they are referred to, [see](https://github.com/jcabi/jcabi-github/issues/1510#issuecomment-576020800)

[2020-02-04 19:32] amihaiemil commented on #1510
@sereshqua I fixed that comment. Please give a 'good' verdict, that person is not part of our team.

[2020-02-04 19:40] sereshqua commented on #1510
@amihaiemil i am sorry, but the policy is the same, if there is smb who did not keep - it is rule violation; i will need to wait his comment that he would not do in next issues

[2020-02-04 19:44] amihaiemil commented on #1510
@sereshqua this is an opensource project with no budget. Please do as I asked and let's move on with our lives.

I personally find this QA layer quite useless...

[2020-02-04 19:45] amihaiemil commented on #1510
@sereshqua that person will probably never reply, I'm talking from experience.

Give a good verdict please and let's move on.

[2020-02-04 19:45] sereshqua commented on #1510
@amihaiemil sorry, but policy is policy, I disagree

[2020-02-04 19:46] sereshqua commented on #1510
@amihaiemil

if this person does reply within 4 days, then I would give a verdict

[2020-02-05 23:06] amihaiemil commented on #1504
@0crat assign @maviteixeira

[2020-02-05 23:30] 0crat commented on #1504
@amihaiemil The job [#1504](https://github.com/jcabi/jcabi-github/issues/1504) assigned to @maviteixeira[/z](https://www.0crat.com/u/maviteixeira), here is [why](https://www.0crat.com/footprint/C9R53K5JA/5c0d4989-9c72-4976-a6e8-51024b3ff9fb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zer

[2020-02-05 23:34] 0crat commented on #1504
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2020-02-05 23:53] 0crat commented on #1504
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2020-02-06 09:01] #1504 closed

[2020-02-09 11:56] sereshqua commented on #1510
@0crat quality acceptable

[2020-02-09 11:59] 0crat commented on #1510
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-02-09 12:00] 0crat commented on #1510
Order was finished, quality is "acceptable": +35 point(s) just awarded to @maviteixeira[/z](https://www.0crat.com/u/maviteixeira)

[2020-02-10 23:56] 0crat commented on #1504
@maviteixeira[/z](https://www.0crat.com/u/maviteixeira) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-02-11 09:28] amihaiemil commented on #1507
@rultor release it, tag is `1.1`

[2020-02-11 09:29] rultor commented on #1507
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21188-584543969)

[2020-02-11 09:36] rultor commented on #1507
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21188-584543969) (spent 6min)

[code]

[2020-02-11 09:38] amihaiemil commented on #1507
@yegor256 See here? Maven build cannot download deps because it still uses HTTP.

We need the new version of Maven which you added in the ``yegor256/rultor-image`` Dockerfile.

This repo uses ``yegor256/java8`` which still inherits from the old ``yegor256/rultor`` -- that's why we need to rebuild it on DockerHub...

[2020-02-12 03:55] 0crat commented on #1504
@maviteixeira[/z](https://www.0crat.com/u/maviteixeira) resigned from [#1504](https://github.com/jcabi/jcabi-github/issues/1504), since the job is not in scope anymore

[2020-02-12 04:46] 0crat commented on #1504
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.51.6](https://github.com/zerocracy/farm): CID: [7f818c15-4c02-4488-abd1-1435e33ec7ef](https://www.0crat.com/footprint/C9R53K5JA/7f818c15-4c02-4488-abd1-1435e33ec7ef), Type: "Order was canceled"

[2020-02-19 12:25] amihaiemil commented on #1507
@rultor try to release tag is `1.1`

[2020-02-19 12:26] rultor commented on #1507
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21188-588198692)

[2020-02-19 12:33] rultor commented on #1507
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21188-588198692) (spent 6min)

[code]

[2020-02-26 10:03] amihaiemil commented on #1507
@rultor release it, tag is `1.1`

[2020-02-26 10:05] rultor commented on #1507
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21188-591342882)

[2020-02-26 10:08] rultor commented on #1507
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21188-591342882) (spent 2min)

[code]

[2020-02-26 10:14] amihaiemil commented on #1507
@rultor release it, tag is `1.1`

[2020-02-26 10:16] rultor commented on #1507
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21188-591348005)

[2020-02-26 10:19] rultor commented on #1507
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21188-591348005) (spent 2min)

[code]

[2020-02-26 10:29] amihaiemil commented on #1507
@rultor release it, tag is `1.1`

[2020-02-26 10:32] rultor commented on #1507
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21188-591354959)

[2020-02-26 10:36] rultor commented on #1507
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21188-591354959) (spent 4min)

[code]

[2020-03-02 14:35] amihaiemil commented on #1507
@rultor try to release, tag is `1.1`

[2020-03-02 14:37] rultor commented on #1507
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21188-593432062)

[2020-03-02 14:41] rultor commented on #1507
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21188-593432062) (spent 4min)

[code]

[2020-03-12 01:28] paulodamaso opened #1526 "Support for draft pull requests"
Github recently introduced draft pull requests: https://github.blog/2019-02-14-introducing-draft-pull-requests/. This allows to create PRs in a draft status, indicating that they are not ready for review yet.

[2020-03-12 01:28] 0crat commented on #1526
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2020-03-12 06:57] amihaiemil commented on #1526
@0crat assign @paulodamaso

[2020-04-23 02:48] otuounitc opened #1528 "RtGithub producing Exception in thread "main" java.lang.NoClassDefFoundError: org/apache/http/client/methods/HttpEntityEnclosingRequestBase"
I get this error when I'm trying to create an object of `RtGithub` class.
Like this :
`val rep = RtGithub("...token...")`

Here's the log:
**`Exception in thread "main" java.lang.NoClassDefFoundError: org/apache/http/client/methods/HttpEntityEnclosingRequestBase
	at com.jcabi.http.request.ApacheRequest.<clinit>(ApacheRequest.java:82)
	at com.jcabi.github.RtGithub.<clinit>(RtGithub.java:82)
	at com

[2020-04-23 10:49] amihaiemil commented on #1528
@otuounitc  Seems like the class ``org.apache.http.client.methods.HttpEntityEnclosingRequestBase`` is missing. Are you sure you have the correct Apache HttpClient dependency?

[2020-05-07 15:31] ShalomGottesman commented on #1507
Has this been looked into?

[2020-05-17 14:32] #1521 closed

[2020-05-17 14:38] ShalomGottesman opened #1529 "Add collaborator with permission not working"
I am trying to add a collaborator to an organization repository with the following code:

Github github = new RtGithub("ShalomGottesman", "*************");
		JsonResponse body = github.entry().uri()
				.queryParam("permission",  "pull")
				.path("/repos/OWNER/REPO/collaborators/PERSON_TO_ADD")
				.back().method(Request.PUT).body().back().fetch().as(JsonResponse.class);
Where OWNER, REPO, and PE

[2020-05-17 14:38] 0crat commented on #1529
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2020-05-17 14:52] 0crat commented on #1521
Job `gh:jcabi/jcabi-github#1521` is not assigned, can't get performer

[2020-05-18 08:03] amihaiemil commented on #1529
@ShalomGottesman To be honest, I have no idea, sorry.

But your code is correct and this question has nothing to do with jcabi-github, but rather with Github's API itself. Therefore, I am closing this ticket.

I suggest you ask this question on StackOverflow and/or reddit/r/github. Maybe if you write an e-mail to Github's Support, they could help.

[2020-05-18 08:03] #1529 closed

[2020-05-18 08:20] 0crat commented on #1529
Job `gh:jcabi/jcabi-github#1529` is not assigned, can't get performer

[2020-05-19 11:00] yegor256 opened #1530 "Commit.Smart#isVerified()"
Let's implement `isVerified()` method

[2020-05-19 11:00] 0crat commented on #1530
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2020-05-19 11:01] 0crat commented on #1530
The job [#1530](https://github.com/jcabi/jcabi-github/issues/1530) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C9R53K5JA/9cf981d2-5206-4ceb-af73-5d06983f38dc); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-05-19 11:30] yegor256 commented on #1530
@rultor release, tag is `1.1`

[2020-05-19 11:31] rultor commented on #1530
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22098-630759430)

[2020-05-19 11:36] rultor commented on #1530
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22098-630759430) (spent 5min)

[code]

[2020-05-19 12:36] yegor256 commented on #1530
@rultor release, tag is `1.1`

[2020-05-19 12:37] rultor commented on #1530
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22098-630788975)

[2020-05-19 12:44] rultor commented on #1530
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22098-630788975) (spent 7min)

[code]

[2020-05-19 19:10] yegor256 commented on #1530
@rultor release, tag is `1.1`

[2020-05-19 19:12] rultor commented on #1530
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22098-631024993)

[2020-05-19 19:43] yegor256 commented on #1530
@rultor stop

[2020-05-19 19:43] yegor256 commented on #1530
@rultor release, tag is `1.1`

[2020-05-19 19:44] rultor commented on #1530
@yegor256 OK, I'll try to stop current task.

[2020-05-19 19:45] rultor commented on #1530
@yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22098-631041222) (spent 33min)

[code]

[2020-05-19 19:49] rultor commented on #1530
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22098-631041278)

[2020-05-19 19:59] rultor commented on #1530
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/22098-631041278) (took me 10min)

[2020-05-19 20:07] #1530 closed

[2020-05-19 20:24] 0crat commented on #1530
Job was finished in 9 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-05-20 06:48] amihaiemil commented on #1507
@ShalomGottesman FYI, version 1.1 is now released.

[2020-05-20 06:48] #1507 closed

[2020-05-20 07:06] 0crat commented on #1507
Job `gh:jcabi/jcabi-github#1507` is not assigned, can't get performer

[2020-05-20 10:35] yegor256 opened #1531 "RepoCommit.Smart#isVerified() is broken"
[code]

[2020-05-20 10:43] yegor256 commented on #1531
@rultor release, tag is `1.1.1`

[2020-05-20 10:46] rultor commented on #1531
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22120-631396844)

[2020-05-20 11:00] rultor commented on #1531
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/22120-631396844) (took me 13min)

[2020-05-20 11:07] #1531 closed

[2020-05-20 11:26] 0crat commented on #1531
Job `gh:jcabi/jcabi-github#1531` is not assigned, can't get performer

[2020-05-20 11:36] 0crat commented on #1531
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2020-05-27 16:19] ShalomGottesman opened #1533 "Adding collaborator asserts wrong return code"
RtCollaborator.add asserts the return value to HttpURLConnection.HTTP_NO_CONTENT
As per https://developer.github.com/v3/repos/collaborators/#response-when-person-is-already-a-collaborator, the 204 return is only if the user is ALREADY a collaborator, but when adding a new one should be 201 (HttpURLConnection.HTTP_CREATED). See https://developer.github.com/v3/repos/collaborators/#response-when-a-ne

[2020-05-27 16:20] 0crat commented on #1533
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2020-05-27 17:57] amihaiemil commented on #1533
@ShalomGottesman Yes, it can be changed, 2 or more stati can be specified. You can look at the isCollaborator method from the same class, to see how.

Please, make a Pull Request, there is nobody working on this at the moment.

[2020-05-28 06:10] amihaiemil opened #1535 "Release 1.1.2"
Let's release 1.1.2, it contains: #1532 and #1534

[2020-05-28 07:41] amihaiemil commented on #1535
@rultor release it, tag is `1.1.2`

[2020-05-28 08:26] rultor commented on #1535
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22204-635171598)

[2020-05-28 08:42] rultor commented on #1535
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/22204-635171598) (took me 15min)

[2020-05-28 08:46] amihaiemil commented on #1535
@ShalomGottesman Version ``1.1.2`` with your 2 PRs has just been released, thanks!

[2020-05-28 08:46] #1535 closed

[2020-05-28 08:49] amihaiemil commented on #1533
released with 1.1.2

[2020-05-28 08:49] #1533 closed

[2020-05-28 09:03] 0crat commented on #1535
Job `gh:jcabi/jcabi-github#1535` is not assigned, can't get performer

[2020-05-28 09:06] 0crat commented on #1533
Job `gh:jcabi/jcabi-github#1533` is not assigned, can't get performer

[2020-05-31 14:36] GargAnan commented on #1528
Did you get to resolve this?@otuounitc

[2020-06-24 23:09] fred8 opened #1538 "Assets upload issue with Github enterprise."
RtReleaseAssets upload use a static uri uri: "https://uploads.github.com"
`this.request.uri().set(URI.create("https://uploads.github.com"))`

It should leverage the `upload_url` in the repository github response.

[2020-06-24 23:09] 0crat commented on #1538
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2020-06-24 23:22] fred8 commented on #1538
Thank @0crat! I m kind of stuck in my project. I can workaround abd do an extra sh script but not really convenient.

[2020-06-25 00:23] 0crat commented on #1538
Are you speaking to me or about me [here](https://github.com/jcabi/jcabi-github/issues/1538#issuecomment-649124353); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2020-06-25 05:58] amihaiemil commented on #1538
@fred8 There doens't seem to be any ``upload_url`` in the repo JSON returned by the API: https://api.github.com/repos/jcabi/jcabi-github

Or maybe I don't understand what you mean?

[2020-06-25 17:33] fred8 commented on #1538
@amihaiemil Sorry I meant the "release" API response

[2020-06-26 08:10] amihaiemil commented on #1538
@fred8 Can you please make a PR? There isn't anyone actively working on this project at the moment and I don't really have time for it either.

If you wanna make a PR, please start small, don't write a lot of code: Qulice (our static code analyzer) will probably kick you from all directions...

[2020-07-08 20:23] andreoss opened #1539 "https://github.jcabi.com/ is out of date"
[The site](https://github.jcabi.com/) is displaying information about 0.41
Probably related to https://github.com/jcabi/jcabi-http/issues/203

[2020-07-08 20:23] 0crat commented on #1539
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2020-07-08 20:30] amihaiemil commented on #1539
@andreoss Can you please investigate and make a Pull Request? The website is generated by Maven, but I'm not sure of the details. :)

[2020-07-12 10:03] andreoss commented on #1539
@amihaiemil
`site` profile was fixed by this PR https://github.com/jcabi/jcabi-parent/pull/96
We need to switch to a newer parent (https://github.com/jcabi/jcabi/pull/324), and run `@rultor deploy`.
Note that rultor will ignore site deployment failures:
https://github.com/jcabi/jcabi-github/blob/master/.rultor.yml#L27

[2020-07-21 08:09] eric-5512 opened #1540 "Hi,I use RtGithub to create 422 Unprocessable Entity"
version 1.1.2

issues.get is easy to use

code:

[code]

[code]

[2020-08-20 08:41] TheJavaGuy opened #1541 "Getting events for an issue is broken for all events with ID > 2147483647"
I use jcabi-github 1.1.2. I want to get (fetch) all events for an issue in my repo. I use code similar to this:

[code]

Unfortunately, it fails with the following response from GH API:
`{"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/issues#get-an-issue-event"}
Expected: HTTP response with status 200
     but: was <404 Not Found [https://api.github.com/repos/MY_

[2020-08-20 08:49] amihaiemil commented on #1541
@TheJavaGuy Right, that's probably the issue. Can you please make a Pull Request? There aren't any contributors actively working on this repo at the moment, unfortunately.

[2020-08-24 21:57] TheJavaGuy commented on #1541
@amihaiemil Sure, I'll make it soon.

[2020-09-03 22:33] andreoss commented on #1539
@amihaiemil
The root cause is https://github.com/jcabi/jcabi-maven-skin/issues/34.
The work-around would be to remove `<head>` from `site.xml`

[2020-09-04 05:23] amihaiemil commented on #1539
@andreoss that's quite an important part of an HTML page. Maybe you can make a PR to fix ths issue in jcabi-maven-skin?

[2020-09-07 13:59] #1060 closed

[2020-10-03 18:55] andreoss commented on #1539
@amihaiemil Please take a look at https://github.com/jcabi/jcabi-maven-skin/pull/37.

Can you also elaborate please on why it's important to have this macro?

[2020-10-04 09:23] amihaiemil commented on #1539
@andreoss I have no idea what that macro is or what is it for, sorry :)

[2020-11-27 05:04] yegor256 opened #1544 "let's upgrade to jcabi 1.27.0"
Let's upgrade our `pom.xml` to the latest parent: 1.27.0

[2022-01-11 12:36] andreoss opened #1555 "Fetching content from specific commit"
[code]

This example fetches content from `master`, but it should from the selected commit

[2022-05-27 08:34] tzulberti-zendesk opened #1557 "Error while creating Gist"
I am creating a gist using the following example:

[code]

But the response from Github is the following one:
[code]

I checked this with version 0.41 mentioned [here](https://github.jcabi.com/) and the latest 1.1.2 release version

[2022-05-31 03:15] tzulberti-zendesk commented on #1557
This was related to an issue with the OUATH key that I was using. Not to the code itself.

[2022-05-31 03:15] #1557 closed

[2022-07-05 19:43] 0pdd opened #1558 "Issue.java:61-66: Implement lock reason validation...."
The puzzle `1462-97ade784` from #1462 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/36b7b8e022c257ded6cd67b8a7cface4c5ec77f8/src/main/java/com/jcabi/github/Issue.java#L61-L66

The puzzle was created by @yegor256 on 05-Jul-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the proble

[2022-07-05 19:43] 0pdd commented on #1558
@amihaiemil please pay attention to this new issue.

[2022-07-05 19:43] 0pdd opened #1559 "MkBranch.java:77-79: Refactor this to reduce number of..."
The puzzle `1085-95e4d268` from #1085 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/36b7b8e022c257ded6cd67b8a7cface4c5ec77f8/src/main/java/com/jcabi/github/mock/MkBranch.java#L77-L79

The puzzle was created by @yegor256 on 05-Jul-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when th

[2022-07-05 19:43] 0pdd opened #1560 "MkIssueEvents.java:135-141: Make it possible to set the..."
The puzzle `1063-c98e5ecc` from #1063 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/36b7b8e022c257ded6cd67b8a7cface4c5ec77f8/src/main/java/com/jcabi/github/mock/MkIssueEvents.java#L135-L141

The puzzle was created by @yegor256 on 05-Jul-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2022-07-05 19:43] 0pdd commented on #1560
@amihaiemil please pay attention to this new issue.

[2022-07-05 19:43] 0pdd opened #1561 "RtStatuses.java:117: Implement this method which gets all..."
The puzzle `1126-bb836510` from #1126 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/36b7b8e022c257ded6cd67b8a7cface4c5ec77f8/src/main/java/com/jcabi/github/RtStatuses.java#L117-L117

The puzzle was created by Yegor Bugayenko on 05-Jul-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" wh

[2022-07-05 19:43] 0pdd commented on #1561
@amihaiemil please pay attention to this new issue.

[2022-07-05 19:43] 0pdd opened #1562 "RtNotificationsTest.java:47-49: Create a test..."
The puzzle `920-4390f200` from #920 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/36b7b8e022c257ded6cd67b8a7cface4c5ec77f8/src/test/java/com/jcabi/github/RtNotificationsTest.java#L47-L49

The puzzle was created by Yegor Bugayenko on 05-Jul-22.

 role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is

[2022-07-05 19:43] 0pdd opened #1563 "OAuthScope.java:41-49: Now all IT cases are annotated..."
The puzzle `975-75395faa` from #975 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/36b7b8e022c257ded6cd67b8a7cface4c5ec77f8/src/test/java/com/jcabi/github/OAuthScope.java#L41-L49

The puzzle was created by Yegor Bugayenko on 05-Jul-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when t

[2022-07-05 19:43] 0pdd commented on #1563
@amihaiemil please pay attention to this new issue.

[2022-07-05 19:43] 0pdd commented on #1462
@0pdd the puzzle [#1558](https://github.com/jcabi/jcabi-github/issues/1558) is still not solved.

[2022-07-05 19:43] 0pdd commented on #913
@GUIpsp 3 puzzles [#unknown](), [#unknown](), [#unknown]() are still not solved.

[2022-07-05 19:44] 0pdd commented on #1469
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-05 19:44] 0pdd commented on #1130
@dmarkov the puzzle [#unknown]() is still not solved.

[2022-07-05 19:44] 0pdd commented on #863
@yegor256 the puzzle [#unknown]() is still not solved.

[2022-07-05 19:44] 0pdd commented on #1490
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-05 19:44] 0pdd commented on #975
@maurezen the puzzle [#1563](https://github.com/jcabi/jcabi-github/issues/1563) is still not solved.

[2022-07-10 20:24] yegor256 commented on #1544
@rultor release, tag is `1.2.0`

[2022-07-10 20:25] rultor commented on #1544
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26188-1179793068)

[2022-07-10 21:32] rultor commented on #1544
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26188-1179793068) (took me 1hr)

[2022-07-11 03:17] #1544 closed

[2022-07-11 03:19] yegor256 commented on #1539
@andreoss fixed

[2022-07-11 03:19] #1539 closed

[2022-07-25 14:53] zjffdu opened #1566 "Anyway to detect whether Content is folder or file"
Seems I can use `Content#json` to detect whether it is folder because `Content#json` will throw exception when it is a folder. But it doesn't seems a good api for that, does anyone know is there any more intuitive api for that? Thanks

[2022-08-26 06:29] yegor256 opened #1567 "check permissions of a collaborator"

[2022-08-26 08:43] yegor256 commented on #1567
@rultor release, tag is `1.3.0`

[2022-08-26 08:43] rultor commented on #1567
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26602-1228227119)

[2022-08-26 09:22] rultor commented on #1567
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26602-1228227119) (took me 38min)

[2022-08-26 09:26] #1567 closed

[2022-08-26 09:46] 0crat commented on #1567
Job `gh:jcabi/jcabi-github#1567` is not assigned, can't get performer

[2022-08-26 10:22] yegor256 opened #1568 "mess with deps"

[2022-08-26 10:43] yegor256 commented on #1568
@rultor release, tag is `1.3.1`

[2022-08-26 10:44] rultor commented on #1568
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26603-1228341782)

[2022-08-26 11:22] rultor commented on #1568
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26603-1228341782) (took me 37min)

[2022-08-26 11:22] #1568 closed

[2022-08-26 11:43] 0crat commented on #1568
Job `gh:jcabi/jcabi-github#1568` is not assigned, can't get performer

[2022-09-09 04:05] yegor256 opened #1569 "saxon 11 for testing"

[2022-09-09 04:10] yegor256 commented on #1569
@rultor release, tag is `1.3.2`

[2022-09-09 04:11] rultor commented on #1569
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26775-1241476593)

[2022-09-09 04:50] rultor commented on #1569
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26775-1241476593) (took me 38min)

[2022-09-09 06:00] #1569 closed

[2022-09-09 06:01] yegor256 commented on #1566
@zjffdu if this checking is available through GitHub API, we can have it here too. Otherwise, sorry...

[2022-09-09 06:17] 0crat commented on #1569
Job `gh:jcabi/jcabi-github#1569` is not assigned, can't get performer

[2022-09-10 04:16] #1348 closed

[2022-09-10 04:33] 0crat commented on #1348
Job `gh:jcabi/jcabi-github#1348` is not assigned, can't get performer

[2022-09-16 00:24] 0crat commented on #1348
@yegor256[/z](https://www.0crat.com/u/yegor256) resigned from [#1348](https://github.com/jcabi/jcabi-github/issues/1348), since the job is not in scope anymore

[2022-09-26 06:25] renovate[bot] opened #1573 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Rate-Limited

These updates are currently rate-limited. Click on a checkbox below to force their creation now.

 - [ ] Update dependency org.slf4j:slf4j-reload4j to v2.0.2
 - [ ] Update dependency com.jcabi:jcabi to v1.35.0
 - [