[2017-01-20 13:09] #1265 closed

[2017-01-21 07:06] yegor256 commented on #1269
@xXXIMMATTHEWXXx it's just a warning in logging console, not an exception. You can just ignore this.

[2017-01-21 14:48] GIAPB commented on #1269
Any way to make it go away. I dont think it will be nice for storage over a very long time as it happens every time I launch it

[2017-01-27 20:12] yegor256 commented on #1270
@xXXIMMATTHEWXXx I'm afraid that "compile via eclipse" is what broke the structure of the JAR file. Try to package with Maven.

[2017-01-27 20:13] yegor256 commented on #1269
@GIAPB to make it disappear you have to configure SLF4J bridge to some logging facility, like log4j.

[2017-01-27 20:19] xXXIMMATTHEWXXx commented on #1269
This _should_ be the in docs

[2017-01-27 20:19] xXXIMMATTHEWXXx commented on #1270
Thanks

[2017-01-27 20:30] yegor256 commented on #1269
@xXXIMMATTHEWXXx I agree. Would be great if you can submit a pull request. I would suggest to make changes to README.md. This will be helpful: http://stackoverflow.com/questions/4311026/how-to-get-slf4j-hello-world-working-with-log4j

[2017-01-27 20:32] yegor256 opened #1271 "Comments.iterate() with "since""
Let's add an ability to iterate with "since". See http://developer.github.com/v3/issues/comments/#list-comments-on-an-issue

[2017-01-27 21:11] yegor256 commented on #1271
@rultor release, tag is `0.29`

[2017-01-27 21:11] rultor commented on #1271
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10741-275775491)

[2017-01-27 21:23] rultor commented on #1271
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10741-275775491) (took me 12min)

[2017-01-27 21:27] #1271 closed

[2017-01-29 19:11] xXXIMMATTHEWXXx commented on #932
This does not seem like something that will be fixed soon. Please stop passing it like a hot potato

[2017-01-30 22:22] TheWithz opened #1272 "Cannot build correctly via gradle"
`compile 'com.jcabi:jcabi-github:0.23'`

https://hastebin.com/asuharekag.swift

Not sure what happened. It was working fine, and then exploded. I looked through the stack trace and couldn't find the root cause of the issue.

EDIT 1:
this is the error output

  Required by:
      project :

EDIT 2:
using version 0.29 "the latest version i could find" gives this
https://hastebin.com/jimelodipe.rb

[2017-01-30 22:22] 0crat commented on #1272
@yegor256 please, pay attention to this issue

[2017-01-31 12:27] yegor256 commented on #1272
@TheWithz can you just try again? Looks like a network error to me.

[2017-01-31 12:49] amit---kumar opened #1273 "How are you?"
Please tell me...

[2017-01-31 12:49] amit---kumar commented on #1273
My first comment!

[2017-01-31 12:49] 0crat commented on #1273
@yegor256 please, pay attention to this issue

[2017-01-31 13:06] #1273 closed

[2017-02-22 03:17] Nate-Ding opened #1274 "How are you?"
Please tell me...

[2017-02-22 03:17] 0crat commented on #1274
@yegor256 please, pay attention to this issue

[2017-02-22 03:17] Nate-Ding commented on #1274
My first comment!

[2017-02-22 03:27] #1274 closed

[2017-02-22 03:27] 0crat commented on #1274
Oops! Job `gh:jcabi/jcabi-github#1274` was not in scope

[2017-02-22 03:29] Nate-Ding commented on #1274
I`m sorry for this issue #1274。This issue is not real issue. It was created by the demo code on http://github.jcabi.com/

[2017-02-24 00:07] jdjasperson opened #1275 "HTTP 302 Issued from GitHub results in failure"
When GitHub issues an HTTP 302 response, the jcabi library creates an exception rather than following the redirect link located in the `Location` response header.  A 302 response is being incorrectly interpreted as an error, when it is not.

Below is the relevant message in the stack trace; I've removed my organization and repo information.  This is a private, enterprise level repository.

302 Fou

[2017-02-24 00:07] 0crat commented on #1275
@yegor256 please, pay attention to this issue

[2017-03-07 06:59] yegor256 opened #1276 "Repo.Smart.hasDescription()"

[2017-03-07 07:01] yegor256 commented on #1276
@rultor release, tag is `0.30`

[2017-03-07 07:02] rultor commented on #1276
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11097-284639084)

[2017-03-07 07:05] rultor commented on #1276
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11097-284639084) (spent 4min)

[code]

[2017-03-07 07:10] yegor256 commented on #1276
@rultor release, tag is `0.30`

[2017-03-07 07:11] rultor commented on #1276
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11097-284640555)

[2017-03-07 07:19] rultor commented on #1276
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11097-284640555) (took me 7min)

[2017-03-07 07:25] #1276 closed

[2017-03-17 20:41] chbrown13 opened #1277 "How are you?"
Please tell me...

[2017-03-17 20:41] chbrown13 commented on #1277
My first comment!

[2017-03-17 20:41] 0crat commented on #1277
@yegor256 please, pay attention to this issue

[2017-03-17 20:44] chbrown13 opened #1278 "How are you?"
Please tell me...

[2017-03-17 20:44] chbrown13 commented on #1278
My first comment!

[2017-03-17 20:45] 0crat commented on #1278
@yegor256 please, pay attention to this issue

[2017-03-17 20:45] chbrown13 opened #1279 "How are you?"
Please tell me...

[2017-03-17 20:45] chbrown13 commented on #1279
My first comment!

[2017-03-17 20:45] 0crat commented on #1279
@yegor256 please, pay attention to this issue

[2017-03-17 20:49] chbrown13 opened #1280 "How are you?"
Please tell me...

[2017-03-17 20:49] chbrown13 commented on #1280
My first comment!

[2017-03-17 20:50] 0crat commented on #1280
@yegor256 please, pay attention to this issue

[2017-03-17 20:58] chbrown13 opened #1281 "How are you?"
Please tell me...

[2017-03-17 20:58] chbrown13 commented on #1281
My first comment!

[2017-03-17 20:58] 0crat commented on #1281
@yegor256 please, pay attention to this issue

[2017-03-17 21:00] #1277 closed

[2017-03-17 21:00] #1281 closed

[2017-03-17 21:00] #1280 closed

[2017-03-17 21:00] #1279 closed

[2017-03-17 21:01] #1278 closed

[2017-04-05 16:01] Pavelvl80 opened #1282 "How are you?"
Please tell me...

[2017-04-05 16:01] Pavelvl80 commented on #1282
My first comment!

[2017-04-05 16:01] 0crat commented on #1282
@yegor256 please, pay attention to this issue

[2017-04-15 11:35] amihaiemil commented on #1270
@GIAPB  @xXXIMMATTHEWXXx The problem is that the library reads some attributes from its Manifest.MF file. This causes troubles when it is packaged in a ``.war`` for instance. You can solve this issue with ``maven-assembly-plugin``. Here's how I did it: https://github.com/jcabi/jcabi-github/issues/1198#issuecomment-225122003 .

There is also an issue open, to change this mechanism; https://github.c

[2017-04-25 00:51] simplesteph opened #1283 "Pagination and Rate limit"
Hi,

How can I control how many results I get at the same time?
My call is
[code]

And then I'm getting the error:
[code]

1) How can I specify the page size to be 100 ? (max authorised)
2) How can I throttle my iteratable to respect the rate limiting? This should be done under the hood ideally?

[2017-04-25 00:51] 0crat commented on #1283
@yegor256 please, pay attention to this issue

[2017-04-25 14:21] yegor256 commented on #1275
@jdjasperson thanks for reporting this, definitely a bug on our side. Let me try to fix it

[2017-04-25 14:31] 0pdd opened #1284 "Notification.java:42-46: Create Smart decorator to get other..."
The puzzle `920-1bdea297` in [`src/main/java/com/jcabi/github/Notification.java`](https://github.com/jcabi/jcabi-github/blob/master/src/main/java/com/jcabi/github/Notification.java) (lines 42-46) has to be resolved: Create Smart decorator to get other properties of Notification, such as reason, unread, updated_at, last_read_at, url, etc. See https://developer.github.com/v3/activity/notifications/#

[2017-04-25 14:31] 0pdd opened #1285 "RtNotificationsITestCase.java:37-38: Create integration tests for at least..."
The puzzle `920-e9a632ce` in [`src/test/java/com/jcabi/github/RtNotificationsITestCase.java`](https://github.com/jcabi/jcabi-github/blob/master/src/test/java/com/jcabi/github/RtNotificationsITestCase.java) (lines 37-38) has to be resolved: Create integration tests for at least iterate() and get() operations of RtNotifications.

The puzzle was created by Piotr Pradzynski on 10-Oct-15.

Estimate: 30

[2017-04-25 14:31] 0pdd opened #1286 "RtNotificationsTest.java:42-43: Create a test fetchSingleNotification..."
The puzzle `920-268906e9` in [`src/test/java/com/jcabi/github/RtNotificationsTest.java`](https://github.com/jcabi/jcabi-github/blob/master/src/test/java/com/jcabi/github/RtNotificationsTest.java) (lines 42-43) has to be resolved: Create a test fetchSingleNotification and implement get() operation in RtNotifications.

The puzzle was created by Piotr Pradzynski on 10-Oct-15.

Estimate: 30 minutes, r

[2017-04-25 14:31] 0pdd opened #1287 "RtNotificationsTest.java:44-45: Create a test..."
The puzzle `920-987ae9ac` in [`src/test/java/com/jcabi/github/RtNotificationsTest.java`](https://github.com/jcabi/jcabi-github/blob/master/src/test/java/com/jcabi/github/RtNotificationsTest.java) (lines 44-45) has to be resolved: Create a test fetchNonEmptyListOfNotifications and implement iterate() operation in RtNotifications.

The puzzle was created by Piotr Pradzynski on 10-Oct-15.

Estimate:

[2017-04-25 14:31] 0pdd opened #1288 "RtNotificationsTest.java:46-47: Create a test markNotificationAsRead..."
The puzzle `920-14172983` in [`src/test/java/com/jcabi/github/RtNotificationsTest.java`](https://github.com/jcabi/jcabi-github/blob/master/src/test/java/com/jcabi/github/RtNotificationsTest.java) (lines 46-47) has to be resolved: Create a test markNotificationAsRead and implement mark() operation in RtNotifications.

The puzzle was created by Piotr Pradzynski on 10-Oct-15.

Estimate: 30 minutes, r

[2017-04-25 14:31] 0pdd opened #1289 "RtNotifications.java:44-45: Implement markAsRead(), thread(final..."
The puzzle `913-3f99f964` in [`src/main/java/com/jcabi/github/RtNotifications.java`](https://github.com/jcabi/jcabi-github/blob/master/src/main/java/com/jcabi/github/RtNotifications.java) (lines 44-45) has to be resolved: Implement markAsRead(), thread(final int number) operations in RtNotifications. Don't forget about unit tests.

The puzzle was created by Dmitri Pisarenko on 22-Jan-15.

Estimate

[2017-04-25 14:31] 0pdd opened #1290 "RtUser.java:52-52: Implement operations..."
The puzzle `913-32975020` in [`src/main/java/com/jcabi/github/RtUser.java`](https://github.com/jcabi/jcabi-github/blob/master/src/main/java/com/jcabi/github/RtUser.java) (lines 52-52) has to be resolved: Implement operations RtUser.markAsRead().

The puzzle was created by Dmitri Pisarenko on 22-Jan-15.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new

[2017-04-25 14:31] 0pdd opened #1291 "ThreadSubscription.java:39-42: Add properties subscribed (boolean),..."
The puzzle `913-504d1bd2` in [`src/main/java/com/jcabi/github/ThreadSubscription.java`](https://github.com/jcabi/jcabi-github/blob/master/src/main/java/com/jcabi/github/ThreadSubscription.java) (lines 39-42) has to be resolved: Add properties subscribed (boolean), ignored (boolean), createdAt (Date), url (String), threadUrl (String) as shown in section "Response" at https://developer.github.com/v3

[2017-04-25 14:31] 0crat commented on #1284
@yegor256 please, pay attention to this issue

[2017-04-25 14:31] 0pdd opened #1292 "MkNotifications.java:48-49: Implement markAsRead() and thread()..."
The puzzle `913-9c17e827` in [`src/main/java/com/jcabi/github/mock/MkNotifications.java`](https://github.com/jcabi/jcabi-github/blob/master/src/main/java/com/jcabi/github/mock/MkNotifications.java) (lines 48-49) has to be resolved: Implement markAsRead() and thread() operations in MkNotifications. Don't forget about unit tests.

The puzzle was created by Dmitri Pisarenko on 22-Jan-15.

Estimate: 3

[2017-04-25 14:31] 0crat commented on #1285
@yegor256 please, pay attention to this issue

[2017-04-25 14:31] 0crat commented on #1286
@yegor256 please, pay attention to this issue

[2017-04-25 14:31] 0crat commented on #1288
@yegor256 please, pay attention to this issue

[2017-04-25 14:31] 0pdd opened #1293 "MkUser.java:56-57: Implement notifications(),..."
The puzzle `913-743027ac` in [`src/main/java/com/jcabi/github/mock/MkUser.java`](https://github.com/jcabi/jcabi-github/blob/master/src/main/java/com/jcabi/github/mock/MkUser.java) (lines 56-57) has to be resolved: Implement notifications(), markAsRead(final Date lastread) operations in MkUser. Don't forget about unit tests.

The puzzle was created by Dmitri Pisarenko on 22-Jan-15.

Estimate: 30 mi

[2017-04-25 14:31] 0pdd opened #1294 "RtContentsITCase.java:263-264: unignore after Contents#get is..."
The puzzle `863-4e783bd3` in [`src/test/java/com/jcabi/github/RtContentsITCase.java`](https://github.com/jcabi/jcabi-github/blob/master/src/test/java/com/jcabi/github/RtContentsITCase.java) (lines 263-264) has to be resolved: unignore after Contents#get is implemented for directories (#968 and #903)

The puzzle was created by maurezen on 22-Jan-15.

Estimate: 30 minutes, role: IMP.

If you have an

[2017-04-25 14:31] 0crat commented on #1287
@yegor256 please, pay attention to this issue

[2017-04-25 14:31] 0pdd opened #1295 "RtGistCommentTest.java:57-59: Apply this rule to all other classes..."
The puzzle `1017-59643c80` in [`src/test/java/com/jcabi/github/RtGistCommentTest.java`](https://github.com/jcabi/jcabi-github/blob/master/src/test/java/com/jcabi/github/RtGistCommentTest.java) (lines 57-59) has to be resolved: Apply this rule to all other classes that use MkGrizzlyContainer and make MkGrizzlyContainers use port() given by this resource to avoid tests fail with BindException.

The

[2017-04-25 14:31] 0pdd opened #1296 "MkRepo.java:70-70: Fix code to avoid CouplingBetweenObjects"
The puzzle `1061-5da99a0c` in [`src/main/java/com/jcabi/github/mock/MkRepo.java`](https://github.com/jcabi/jcabi-github/blob/master/src/main/java/com/jcabi/github/mock/MkRepo.java) (lines 70-70) has to be resolved: Fix code to avoid CouplingBetweenObjects

The puzzle was created by Chris Rebert on 15-Apr-15.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, subm

[2017-04-25 14:31] 0crat commented on #1292
@yegor256 please, pay attention to this issue

[2017-04-25 14:31] 0pdd opened #1297 "MkEvent.java:133-135: When the event has a label, retrieve..."
The puzzle `1063-59da9a37` in [`src/main/java/com/jcabi/github/mock/MkEvent.java`](https://github.com/jcabi/jcabi-github/blob/master/src/main/java/com/jcabi/github/mock/MkEvent.java) (lines 133-135) has to be resolved: When the event has a label, retrieve and include the label's color too. MkIssueEvents.create() will also need to be updated accordingly.

The puzzle was created by Chris Rebert on 1

[2017-04-25 14:31] 0pdd opened #1298 "MkIssueEvents.java:139-144: Make it possible to set the..."
The puzzle `1063-0509ffcb` in [`src/main/java/com/jcabi/github/mock/MkIssueEvents.java`](https://github.com/jcabi/jcabi-github/blob/master/src/main/java/com/jcabi/github/mock/MkIssueEvents.java) (lines 139-144) has to be resolved: Make it possible to set the "assignee" field for "assigned"/"unassigned" events. Make it possible to set the "milestone" field for "milestoned"/"demilestoned" events. Ma

[2017-04-25 14:31] 0crat commented on #1289
@yegor256 please, pay attention to this issue

[2017-04-25 14:31] 0crat commented on #1293
@yegor256 please, pay attention to this issue

[2017-04-25 14:31] 0pdd opened #1299 "OAuthScope.java:41-45: Now all IT cases are annotated with..."
The puzzle `975-0a524603` in [`src/test/java/com/jcabi/github/OAuthScope.java`](https://github.com/jcabi/jcabi-github/blob/master/src/test/java/com/jcabi/github/OAuthScope.java) (lines 41-45) has to be resolved: Now all IT cases are annotated with OAuthScope annotation to marked down its required scopes. A checker needs to be implemented to check if the supplied account can fulfill the IT case req

[2017-04-25 14:31] yegor256 commented on #1275
@rultor release, tag is `0.31`

[2017-04-25 14:31] 0pdd opened #1300 "Repos.java:117-119: Add the ability to set the other..."
The puzzle `1095-deaa3e41` in [`src/main/java/com/jcabi/github/Repos.java`](https://github.com/jcabi/jcabi-github/blob/master/src/main/java/com/jcabi/github/Repos.java) (lines 117-119) has to be resolved: Add the ability to set the other parameters of the repo creation API (has_issues, has_wiki, has_downloads, team_id, gitignore_template, license_template).

The puzzle was created by Chris Rebert

[2017-04-25 14:31] 0crat commented on #1294
@yegor256 please, pay attention to this issue

[2017-04-25 14:31] 0pdd opened #1301 "RtBranch.java:75-76: Refactor to reduce number of..."
The puzzle `1085-6b1095b1` in [`src/main/java/com/jcabi/github/RtBranch.java`](https://github.com/jcabi/jcabi-github/blob/master/src/main/java/com/jcabi/github/RtBranch.java) (lines 75-76) has to be resolved: Refactor to reduce number of arguments to avoid ParameterNumberCheck warning.

The puzzle was created by Chris Rebert on 26-May-15.

Estimate: 30 minutes, role: IMP.

If you have any technica

[2017-04-25 14:31] 0crat commented on #1291
@yegor256 please, pay attention to this issue

[2017-04-25 14:31] 0crat commented on #1290
@yegor256 please, pay attention to this issue

[2017-04-25 14:31] 0crat commented on #1296
@yegor256 please, pay attention to this issue

[2017-04-25 14:31] 0crat commented on #1297
@yegor256 please, pay attention to this issue

[2017-04-25 14:31] 0crat commented on #1299
@yegor256 please, pay attention to this issue

[2017-04-25 14:31] 0crat commented on #1300
@yegor256 please, pay attention to this issue

[2017-04-25 14:31] 0crat commented on #1295
@yegor256 please, pay attention to this issue

[2017-04-25 14:31] 0crat commented on #1301
@yegor256 please, pay attention to this issue

[2017-04-25 14:32] 0crat commented on #1298
@yegor256 please, pay attention to this issue

[2017-04-25 14:32] rultor commented on #1275
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11497-297049111)

[2017-04-25 14:34] rultor commented on #1275
@jdjasperson @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11497-297049111) (spent 2min)

[code]

[2017-04-25 14:52] #1282 closed

[2017-04-25 21:04] yegor256 commented on #1275
@rultor release, tag is `0.31`

[2017-04-25 21:04] rultor commented on #1275
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11497-297164395)

[2017-04-26 14:20] yegor256 commented on #1275
@rultor release, tag is `0.31`

[2017-04-26 14:22] rultor commented on #1275
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11497-297423510)

[2017-04-26 16:24] rultor commented on #1275
@jdjasperson @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11497-297423510) (spent 2hr)

[code]

[2017-04-27 13:20] yegor256 commented on #1275
@rultor release, tag is `0.31`

[2017-04-27 13:20] rultor commented on #1275
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11497-297710896)

[2017-04-27 13:23] rultor commented on #1275
@jdjasperson @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11497-297710896) (spent 3min)

[code]

[2017-04-27 14:36] amihaiemil commented on #1275
@yegor256 Don't you think this should be implemented in jcabi-http rather than here? :D It's the job of the http-client to follow 302 Location, after all.

[2017-04-28 05:34] yegor256 commented on #1275
@rultor release, tag is `0.31`

[2017-04-28 05:34] rultor commented on #1275
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11497-297911178)

[2017-04-28 05:41] rultor commented on #1275
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11497-297911178) (took me 7min)

[2017-04-28 05:45] yegor256 commented on #1275
@jdjasperson should be fine now, try version 0.31 and close the ticket if it works. Thanks!

[2017-04-28 05:46] yegor256 commented on #1275
@amihaiemil not really. The HTTP client should be generic. Not always you need to follow 30x redirects. Sometimes (very often) you just need to get the answer as is, and never follow the `Location`.

[2017-05-11 12:59] 0pdd opened #1302 "RtNotificationsITestCase.java:37-38: Create integration tests for at least..."
The puzzle `920-e9a632ce` in [`src/test/java/com/jcabi/github/RtNotificationsITestCase.java`](https://github.com/jcabi/jcabi-github/blob/master/src/test/java/com/jcabi/github/RtNotificationsITestCase.java) (lines 37-38) has to be resolved: Create integration tests for at least iterate() and get() operations of RtNotifications.

The puzzle was created by Piotr Pradzynski on 10-Oct-15.

Estimate: 30

[2017-05-11 12:59] 0pdd opened #1303 "RtNotificationsTest.java:46-47: Create a test markNotificationAsRead..."
The puzzle `920-14172983` in [`src/test/java/com/jcabi/github/RtNotificationsTest.java`](https://github.com/jcabi/jcabi-github/blob/master/src/test/java/com/jcabi/github/RtNotificationsTest.java) (lines 46-47) has to be resolved: Create a test markNotificationAsRead and implement mark() operation in RtNotifications.

The puzzle was created by Piotr Pradzynski on 10-Oct-15.

Estimate: 30 minutes, r

[2017-05-11 12:59] 0pdd opened #1304 "RtUser.java:52-52: Implement operations..."
The puzzle `913-32975020` in [`src/main/java/com/jcabi/github/RtUser.java`](https://github.com/jcabi/jcabi-github/blob/master/src/main/java/com/jcabi/github/RtUser.java) (lines 52-52) has to be resolved: Implement operations RtUser.markAsRead().

The puzzle was created by Dmitri Pisarenko on 22-Jan-15.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new

[2017-05-11 12:59] 0pdd opened #1305 "MkUser.java:56-57: Implement notifications(),..."
The puzzle `913-743027ac` in [`src/main/java/com/jcabi/github/mock/MkUser.java`](https://github.com/jcabi/jcabi-github/blob/master/src/main/java/com/jcabi/github/mock/MkUser.java) (lines 56-57) has to be resolved: Implement notifications(), markAsRead(final Date lastread) operations in MkUser. Don't forget about unit tests.

The puzzle was created by Dmitri Pisarenko on 22-Jan-15.

Estimate: 30 mi

[2017-05-11 12:59] 0pdd opened #1306 "RtGistCommentTest.java:57-59: Apply this rule to all other classes..."
The puzzle `1017-59643c80` in [`src/test/java/com/jcabi/github/RtGistCommentTest.java`](https://github.com/jcabi/jcabi-github/blob/master/src/test/java/com/jcabi/github/RtGistCommentTest.java) (lines 57-59) has to be resolved: Apply this rule to all other classes that use MkGrizzlyContainer and make MkGrizzlyContainers use port() given by this resource to avoid tests fail with BindException.

The

[2017-05-11 12:59] 0pdd opened #1307 "MkIssueEvents.java:139-144: Make it possible to set the..."
The puzzle `1063-0509ffcb` in [`src/main/java/com/jcabi/github/mock/MkIssueEvents.java`](https://github.com/jcabi/jcabi-github/blob/master/src/main/java/com/jcabi/github/mock/MkIssueEvents.java) (lines 139-144) has to be resolved: Make it possible to set the "assignee" field for "assigned"/"unassigned" events. Make it possible to set the "milestone" field for "milestoned"/"demilestoned" events. Ma

[2017-05-11 12:59] 0crat commented on #1302
@yegor256 please, pay attention to this issue

[2017-05-11 12:59] 0crat commented on #1305
@yegor256 please, pay attention to this issue

[2017-05-11 12:59] 0pdd opened #1308 "MkBranch.java:78-79: Refactor this to reduce number of..."
The puzzle `1085-a13e40d1` in [`src/main/java/com/jcabi/github/mock/MkBranch.java`](https://github.com/jcabi/jcabi-github/blob/master/src/main/java/com/jcabi/github/mock/MkBranch.java) (lines 78-79) has to be resolved: Refactor this to reduce number of arguments to avoid ParameterNumberCheck warning.

The puzzle was created by Chris Rebert on 26-May-15.

Estimate: 30 minutes, role: IMP.

If you ha

[2017-05-11 12:59] 0crat commented on #1303
@yegor256 please, pay attention to this issue

[2017-05-11 12:59] 0pdd opened #1309 "Hooks.java:88-90: Add support for the "events"..."
The puzzle `1106-3aa88d70` in [`src/main/java/com/jcabi/github/Hooks.java`](https://github.com/jcabi/jcabi-github/blob/master/src/main/java/com/jcabi/github/Hooks.java) (lines 88-90) has to be resolved: Add support for the "events" parameter of the hook creation API. It's a list of strings of the names of events which the hook will be triggered for.

The puzzle was created by Chris Rebert on 05-Ju

[2017-05-11 12:59] 0crat commented on #1304
@yegor256 please, pay attention to this issue

[2017-05-11 12:59] 0crat commented on #1307
@yegor256 please, pay attention to this issue

[2017-05-11 12:59] 0crat commented on #1308
@yegor256 please, pay attention to this issue

[2017-05-11 12:59] 0pdd opened #1310 "MkOrganization.java:149-154: Implement the "Add team membership"..."
The puzzle `1107-31e47c0d` in [`src/main/java/com/jcabi/github/mock/MkOrganization.java`](https://github.com/jcabi/jcabi-github/blob/master/src/main/java/com/jcabi/github/mock/MkOrganization.java) (lines 149-154) has to be resolved: Implement the "Add team membership" API (see https://developer.github.com/v3/orgs/teams/#add-team-membership ) (per https://developer.github.com/v3/orgs/members/#add-a

[2017-05-11 12:59] 0pdd opened #1311 "RtStatusesTest.java:57-58: Write RtStatusesITCase, an..."
The puzzle `1130-addbfb1d` in [`src/test/java/com/jcabi/github/RtStatusesTest.java`](https://github.com/jcabi/jcabi-github/blob/master/src/test/java/com/jcabi/github/RtStatusesTest.java) (lines 57-58) has to be resolved: Write RtStatusesITCase, an integration test case for RtStatuses/RtStatus against real GitHub commit status data.

The puzzle was created by Chris Rebert on 17-Jun-15.

Estimate: 3

[2017-05-11 12:59] 0crat commented on #1306
@yegor256 please, pay attention to this issue

[2017-05-11 12:59] 0pdd opened #1312 "RtPullRefITCase.java:36-37: Implement this integration test for..."
The puzzle `1125-99a7deed` in [`src/test/java/com/jcabi/github/RtPullRefITCase.java`](https://github.com/jcabi/jcabi-github/blob/master/src/test/java/com/jcabi/github/RtPullRefITCase.java) (lines 36-37) has to be resolved: Implement this integration test for RtPullRef and PullRef.Smart to check that they work with actual JSON from GitHub.

The puzzle was created by Chris Rebert on 15-Jun-15.

Esti

[2017-05-11 12:59] 0pdd opened #1313 "MkStatuses.java:47-48: Finish implementing this class..."
The puzzle `1129-3099cf0b` in [`src/main/java/com/jcabi/github/mock/MkStatuses.java`](https://github.com/jcabi/jcabi-github/blob/master/src/main/java/com/jcabi/github/mock/MkStatuses.java) (lines 47-48) has to be resolved: Finish implementing this class (MkStatuses), a mock of GitHub's commits statuses (the "Statuses" interface).

The puzzle was created by Chris Rebert on 17-Jun-15.

Estimate: 30

[2017-05-11 12:59] 0crat commented on #1309
@yegor256 please, pay attention to this issue

[2017-05-11 12:59] 0crat commented on #1312
@yegor256 please, pay attention to this issue

[2017-05-11 12:59] 0crat commented on #1310
@yegor256 please, pay attention to this issue

[2017-05-11 12:59] 0crat commented on #1311
@yegor256 please, pay attention to this issue

[2017-05-11 12:59] 0crat commented on #1313
@yegor256 please, pay attention to this issue

[2017-05-31 16:38] javacreed commented on #1218
Not sure if this is the correct channel and I apologize in advance for that.

The `contents.get(path,ref)` makes a request every time it is invoked and thus the following example of retrieving all files and folders under a given path is inefficient.

[code]

The ```contents.iterate(dir, branch)``` retrieves all information and there is no point in making the same request again to determine whether

[2017-06-08 11:23] tieskedh opened #1314 "tags as releases"
In some projects, the releases are represented b tags only (eg. jhy/jsoup).
for more info see https://github.com/bcit-ci/CodeIgniter/issues/3421.
In these examples, the releases are empty.
as stated, the (unreliable) way to get the same goal is to iterate through the tags.

My question is:
How can iI iterate through the tags of a repo?

[2017-06-08 11:23] 0crat commented on #1314
@yegor256 please, pay attention to this issue

[2017-06-09 07:39] yegor256 commented on #1314
@tieskedh I don't think it's possible, but I may be wrong. Try to find it in Google. If GitHub API allows that we most certainly can help. Otherwise, you should checkout the repo and use `git` directly.

[2017-06-16 03:41] halirutan opened #1315 "slf4j: loader constraint violation when used inside IntelliJ IDEA plugin"
I have a GitHub auto-report and wanted to use this library. However, calling a thing as simple as

[code]

throughs an exception. Can I do something about this?

[code]

[2017-06-16 03:41] 0crat commented on #1315
@yegor256 please, pay attention to this issue

[2017-06-17 15:08] fatb0t opened #1316 "How are you?"
Please tell me...

[2017-06-17 15:08] 0crat commented on #1316
@yegor256 please, pay attention to this issue

[2017-06-17 15:10] #1316 closed

[2017-06-17 15:11] 0crat commented on #1316
Oops! Job `gh:jcabi/jcabi-github#1316` was not in scope

[2017-06-19 07:51] yegor256 commented on #1315
@halirutan seems like a conflict of dependencies. What I would try to do is to exclude slf4j dependency from jcabi-github. Something like this in your `pom.xml`:

[code]

It seems that you have conflicts of dependencies.

[2017-06-20 01:11] halirutan commented on #1315
I don't use Maven for building, but I basically tried exactly this. I downloaded the basic jar and all its dependencies. Then I deleted the `slf4j.jar` from the libraries and forced the usage of  IDEA's `slf4.jar` with the same result.

Since I need only a few lines of GitHub communication code, I move on the `egit` library. I thought I should still create an issue for this.

[2017-06-23 13:49] crummy commented on #1198
FYI for gradle this can be fixed with:
[code]

[2017-06-29 07:31] yegor256 opened #1317 "jersey 2.x"
Let's upgrade to Jersey 2

[2017-06-29 07:32] 0pdd opened #1318 "RtUser.java:52-52: Implement operations..."
The puzzle `913-32975020` in [`src/main/java/com/jcabi/github/RtUser.java`](https://github.com/jcabi/jcabi-github/blob/master/src/main/java/com/jcabi/github/RtUser.java) (lines 52-52) has to be resolved: "Implement operations RtUser.markAsRead()."

The puzzle was created by Dmitri Pisarenko on 22-Jan-15.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit n

[2017-06-29 07:32] yegor256 commented on #1317
@rultor release, tag is `0.32`

[2017-06-29 07:33] #1290 closed

[2017-06-29 07:34] rultor commented on #1317
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12195-311886287)

[2017-06-29 07:50] rultor commented on #1317
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12195-311886287) (took me 16min)

[2017-06-29 07:51] #1317 closed

[2017-07-17 16:56] 0pdd opened #1320 "RtGistCommentTest.java:57-59: Apply this rule to all other classes..."
The puzzle `1017-59643c80` in [`src/test/java/com/jcabi/github/RtGistCommentTest.java`](https://github.com/jcabi/jcabi-github/blob/master/src/test/java/com/jcabi/github/RtGistCommentTest.java) (lines 57-59) has to be resolved: "Apply this rule to all other classes that use MkGrizzlyContainer and make MkGrizzlyContainers use port() given by this resource to avoid tests fail with BindException."

Th

[2017-07-17 16:56] 0pdd opened #1321 "MkOrganization.java:149-154: Implement the "Add team membership"..."
The puzzle `1107-31e47c0d` in [`src/main/java/com/jcabi/github/mock/MkOrganization.java`](https://github.com/jcabi/jcabi-github/blob/master/src/main/java/com/jcabi/github/mock/MkOrganization.java) (lines 149-154) has to be resolved: "Implement the "Add team membership" API (see https://developer.github.com/v3/orgs/teams/#add-team-membership ) (per https://developer.github.com/v3/orgs/members/#add-

[2017-07-17 16:56] 0crat commented on #1320
@yegor256 please, pay attention to this issue

[2017-07-17 16:56] 0crat commented on #1321
@yegor256 please, pay attention to this issue

[2017-07-18 10:02] yegor256 commented on #1283
@simplesteph you may use [`LimitedIterable`](http://static.javadoc.io/org.cactoos/cactoos/0.11/org/cactoos/list/LimitedIterable.html) from [Cactoos](http://www.cactoos.org):

[code]

[2017-07-22 22:07] jcamiloradamesa opened #1322 "Webhooks request end points"
Hello Guys

I am wondering if is possible to use jcabi in order to create GitHub web hooks end points (custom end points which accept web hooks calls).  Usually this end points implemented with Jersey or Spring MVC use models classes that match request json (not compatible with jcabi idea I think), as an alternative I was thinking to obtain  request json and obtain instance i.e of `Pull` as  [RtPu

[2017-07-22 22:07] 0crat commented on #1322
@yegor256 please, pay attention to this issue

[2017-07-23 19:53] yegor256 commented on #1322
@jcamiloradamesa this is outside of the scope of this project. You just need to parse them using any JSON parser and _then_ connect to GitHub API, if you need to.

[2017-07-23 19:59] jcamiloradamesa commented on #1322
@yegor256 thanks, appreciate quick response and clarification

[2017-07-23 19:59] #1322 closed

[2017-07-23 19:59] 0crat commented on #1322
Oops! Job `gh:jcabi/jcabi-github#1322` was not in scope

[2017-08-02 09:07] carlosmiranda opened #1323 "Mock pull request created by MkGithub is not a pull according to Issue.Smart.isPull()"
The unit test below fails:

[code]

Seeing that the issue referred to is actually a pull request, `issue.isPull()` should really return `true`.

[2017-08-02 09:07] 0crat commented on #1323
@yegor256 please, pay attention to this issue

[2017-08-04 07:28] yegor256 commented on #1323
@0crat assign @g4s8

[2017-08-04 07:28] 0crat commented on #1323
@yegor256 Job `gh:jcabi/jcabi-github#1323` assigned to @g4s8, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)). @g4s8 is not a member of this project yet, but can request to join. @g4s8 check your [Zerocracy profile](http://www.0crat.com/u/g4s8) and follow the instructions.

[2017-08-04 07:29] 0crat commented on #1323
+15 points just awarded to @carlosmiranda, total is [+255](http://www.0crat.com/u/carlosmiranda).

[2017-08-04 16:02] g4s8 commented on #1323
@yegor256 how can I join this project? I didn't find instructions on my profile page

[2017-08-04 16:24] yegor256 commented on #1323
@g4s8 that's a bug, submit it to zerocracy GitHub, we'll fix

[2017-08-06 18:02] g4s8 opened #1325 "Integration tests can fail due to abuse protection"
Integration tests fails with 403 forbidden error when accessing Github API:
[code]
see this log for example: http://www.rultor.com/t/12587-320468783

[2017-08-06 18:02] 0crat commented on #1325
@yegor256 please, pay attention to this issue

[2017-08-06 19:18] yegor256 commented on #1325
@0crat in

[2017-08-06 19:18] 0crat commented on #1325
@yegor256 Job `gh:jcabi/jcabi-github#1325` is in scope.

[2017-08-06 19:18] 0crat commented on #1325
+15 points just awarded to @g4s8, total is [+780](http://www.0crat.com/u/g4s8).

[2017-08-31 14:55] oliviercailloux opened #1326 "Conflicting dependencies"
Hi,
Using com.jcabi:jcabi-github:0.32 ([POM](https://repo1.maven.org/maven2/com/jcabi/jcabi-github/0.32/jcabi-github-0.32.pom))makes my project fail when I use other APIs related to Rest, Json, or the like. The 0.32 version relies on quite old dependencies, because of its parent, com.jcabi:jcabi1.20.1 ([POM](https://repo1.maven.org/maven2/com/jcabi/jcabi/1.20.1/jcabi-1.20.1.pom)).

Please update!

[2017-08-31 14:56] 0crat commented on #1326
@yegor256 please, pay attention to this issue

[2017-09-07 20:31] yegor256 commented on #1326
@oliviercailloux let me try here: https://github.com/jcabi/jcabi-github/pull/1327

[2017-09-08 01:23] rdifrango commented on #871
I had the same question as we have an enterprise instances of GitHub, thus we need to customize the URI that's container in the `REQUEST` object.

[2017-09-10 18:10] damiansulewski opened #1328 "How are you?"
Please tell me...

[2017-09-10 18:10] damiansulewski commented on #1328
My first comment!

[2017-09-10 18:10] 0crat commented on #1328
@yegor256 please, pay attention to this issue

[2017-09-10 18:11] damiansulewski opened #1329 "How are you?"
Please tell me...

[2017-09-10 18:11] damiansulewski commented on #1329
My first comment!

[2017-09-10 18:11] 0crat commented on #1329
@yegor256 please, pay attention to this issue

[2017-09-11 13:45] 0crat commented on #1329
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-11 13:45] #1329 closed

[2017-09-11 13:47] #1328 closed

[2017-09-11 13:47] 0crat commented on #1328
Oops! Job `gh:jcabi/jcabi-github#1328` was not in scope

[2017-09-11 13:47] 0crat commented on #1328
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-11 14:45] 0crat commented on #1329
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-11 14:48] 0crat commented on #1328
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-11 15:45] 0crat commented on #1329
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-11 15:48] 0crat commented on #1328
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-11 16:45] 0crat commented on #1329
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-11 16:48] 0crat commented on #1328
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-11 17:45] 0crat commented on #1329
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-11 17:48] 0crat commented on #1328
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-11 18:45] 0crat commented on #1329
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-11 18:48] 0crat commented on #1328
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-11 19:45] 0crat commented on #1329
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-11 19:48] 0crat commented on #1328
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-11 20:45] 0crat commented on #1329
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-11 20:48] 0crat commented on #1328
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-11 21:45] 0crat commented on #1329
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-11 21:48] 0crat commented on #1328
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-11 22:45] 0crat commented on #1329
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-11 22:49] 0crat commented on #1328
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-11 23:46] 0crat commented on #1329
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-11 23:49] 0crat commented on #1328
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-12 00:46] 0crat commented on #1329
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-12 00:49] 0crat commented on #1328
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-12 01:46] 0crat commented on #1329
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-12 01:49] 0crat commented on #1328
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-12 02:46] 0crat commented on #1329
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-12 02:49] 0crat commented on #1328
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-12 03:46] 0crat commented on #1329
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-12 04:46] 0crat commented on #1329
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-12 04:49] 0crat commented on #1328
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-12 05:46] 0crat commented on #1329
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-12 05:49] 0crat commented on #1328
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-12 06:46] 0crat commented on #1329
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-12 06:49] 0crat commented on #1328
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-12 07:46] 0crat commented on #1329
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-12 07:49] 0crat commented on #1328
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-12 08:46] 0crat commented on #1329
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-12 08:50] 0crat commented on #1328
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-12 09:47] 0crat commented on #1329
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-12 09:50] 0crat commented on #1328
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-12 10:47] 0crat commented on #1329
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-12 10:50] 0crat commented on #1328
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-12 11:47] 0crat commented on #1329
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-12 11:50] 0crat commented on #1328
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-12 12:47] 0crat commented on #1329
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-12 12:50] 0crat commented on #1328
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-12 13:47] 0crat commented on #1329
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-12 13:50] 0crat commented on #1328
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-12 14:47] 0crat commented on #1329
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-12 14:50] 0crat commented on #1328
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-12 15:47] 0crat commented on #1329
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-12 15:50] 0crat commented on #1328
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-16 06:37] oliviercailloux commented on #1326
I am unsure I understand your previous message. What’s the current status? Are you still investigating? Should I test something?

[2017-09-21 08:18] yegor256 commented on #1326
@rultor release, tag is `0.33`

[2017-09-21 08:19] rultor commented on #1326
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12990-331086375)

[2017-09-21 08:36] rultor commented on #1326
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12990-331086375) (took me 17min)

[2017-09-21 09:17] yegor256 commented on #1326
@oliviercailloux try version 0.33 please, it has all the updated deps

[2017-09-26 20:36] chbrown13 opened #1330 "Pull Request Iterator Parameters"
I am trying to get a list of pull requests for a repository with any status, open or closed, however I can only get opened pull requests when iterating through a repo's PRs even when passing in "all" or "closed" as a parameter.

[code]

[2017-09-26 20:36] 0crat commented on #1330
@yegor256 please, pay attention to this issue

[2017-09-29 21:00] oliviercailloux commented on #1326
Thanks! I still have a problem. When leaving my dependency to [org.glassfish.jersey.bundles:jaxrs-ri](http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22org.glassfish.jersey.bundles%22%20AND%20a%3A%22jaxrs-ri%22):2.26, calls to the JAX-RS API (following [this](https://github.com/oliviercailloux/java-course/blob/master/JAX-RS%20client.adoc) pattern) fail with:
[code]
When removing that dependency,

[2017-10-04 06:48] yegor256 commented on #1325
@g4s8 it's fixed already, they are disabled for Rultor and Travis.

[2017-10-04 06:48] 0crat commented on #1325
Are you speaking to me or about me? You must always start your message with my name if you want to address it to me.

[2017-10-04 06:59] g4s8 commented on #1325
@yegor256 thanks, now it merged

[2017-10-04 06:59] #1325 closed

[2017-10-04 06:59] 0crat commented on #1325
Job `gh:jcabi/jcabi-github#1325` is now out of scope.

[2017-10-04 06:59] 0crat commented on #1325
Are you speaking to me or about me? You must always start your message with my name if you want to address it to me.

[2017-10-04 07:01] g4s8 commented on #1323
@carlosmiranda it was fixed in #1323, can we close this?

[2017-10-04 07:01] 0crat commented on #1323
Are you speaking to me or about me? You must always start your message with my name if you want to address it to me.

[2017-10-04 07:57] yegor256 commented on #1323
@rultor release, tag is `0.33.1`

[2017-10-04 07:57] 0crat commented on #1323
Are you speaking to me or about me? You must always start your message with my name if you want to address it to me.

[2017-10-04 07:57] rultor commented on #1323
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13074-334077952)

[2017-10-04 07:58] 0crat commented on #1323
Are you speaking to me or about me? You must always start your message with my name if you want to address it to me.

[2017-10-04 08:13] rultor commented on #1323
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13074-334077952) (took me 16min)

[2017-10-04 08:13] 0crat commented on #1323
Are you speaking to me or about me? You must always start your message with my name if you want to address it to me.

[2017-10-04 23:48] carlosmiranda commented on #1323
@g4s8 thanks!

[2017-10-04 23:48] #1323 closed

[2017-10-04 23:48] 0crat commented on #1323
Job `gh:jcabi/jcabi-github#1323` is now out of scope.

[2017-10-04 23:48] 0crat commented on #1323
Order was successfully finished: +30 points just awarded to @g4s8, total is [+1965](http://www.0crat.com/u/g4s8).

[2017-10-09 12:37] yegor256 commented on #1330
@chbrown13 are you sure? The code looks correct, we do pass parameters to GitHub: https://github.com/jcabi/jcabi-github/blob/master/src/main/java/com/jcabi/github/RtPulls.java#L129

[2017-10-09 13:20] chbrown13 commented on #1330
Ok gotcha, yes I'm sure this is happening.

[2017-10-09 13:24] chbrown13 commented on #1330
@yegor256 For example in the screenshot below I'm specifically looking for "closed" PRs in a test repo and previously closed pull request 22. However when iterating through and printing PR numbers everything except 22 is returned.

![image](https://user-images.githubusercontent.com/4522684/31340154-464e5304-acd3-11e7-90e1-02a8f436bd05.png)

[2017-10-09 13:56] yegor256 commented on #1330
@chbrown13 it's `state`, not `status`: https://developer.github.com/v3/pulls/#list-pull-requests

[2017-10-09 16:02] chbrown13 commented on #1330
Thanks @yegor256

[2017-10-09 16:02] #1330 closed

[2017-10-09 16:02] 0crat commented on #1330
Oops! Job `gh:jcabi/jcabi-github#1330` was not in scope

[2017-10-09 18:51] g4s8 opened #1331 "Issue object for webhook json payload"
Github webhook's payload may contains `issue` json. https://developer.github.com/v3/activity/events/types/#issuesevent
It would be great to create `Issue` object from webhook's json (if it is possible).

[2017-10-09 18:51] 0crat commented on #1331
@yegor256 please, pay attention to this issue

[2017-10-10 08:43] yegor256 commented on #1331
@g4s8 GitHub webhook functionality is outside of scope of this library. We only cover GitHub API.

[2017-10-10 08:43] 0crat commented on #1331
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-10 08:43] #1331 closed

[2017-10-10 09:44] 0crat commented on #1331
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-10 10:44] 0crat commented on #1331
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-10 11:44] 0crat commented on #1331
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-10 12:44] 0crat commented on #1331
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-10 13:44] 0crat commented on #1331
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-10 14:44] 0crat commented on #1331
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-10 15:44] 0crat commented on #1331
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-10 16:45] 0crat commented on #1331
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-10 17:45] 0crat commented on #1331
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-10 18:45] 0crat commented on #1331
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-10 19:45] 0crat commented on #1331
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-10 20:45] 0crat commented on #1331
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-10 21:46] 0crat commented on #1331
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-10 22:46] 0crat commented on #1331
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-10 23:46] 0crat commented on #1331
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-11 00:46] 0crat commented on #1331
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-11 01:46] 0crat commented on #1331
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-11 02:46] 0crat commented on #1331
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-11 03:46] 0crat commented on #1331
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-11 04:46] 0crat commented on #1331
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-11 05:46] 0crat commented on #1331
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-11 06:46] 0crat commented on #1331
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-11 07:47] 0crat commented on #1331
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-11 08:47] 0crat commented on #1331
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-11 09:47] 0crat commented on #1331
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-11 10:47] 0crat commented on #1331
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-17 15:26] oliviercailloux commented on #1326
(Just wondering) Should I open a new bug report about this?

[2017-10-27 06:34] amihaiemil commented on #1326
@oliviercailloux Can't you exclude any transitive dependency that comes via jcabi-github, and pull in your own? I think you should be able to do that. See [here](https://maven.apache.org/guides/introduction/introduction-to-optional-and-excludes-dependencies.html).

[2017-10-27 06:36] amihaiemil commented on #1326
@oliviercailloux Also, there is an annoying bug about Manifest.mf (jcabi-github reads some values from there at runtime...). See [here](https://github.com/jcabi/jcabi-github/issues/1246). The fix/workaround is rather simple.

Other than that, The library works fine, and the mock version of it is really very useful when testing.

[2017-10-27 11:26] oliviercailloux commented on #1326
I must say I didn’t try that but used another workaround. Even if manual exclusion worked, I still believe this bug would benefit from a fix so that other users do not face the issue. Also, the fix is simple, assuming it really suffices to update the dependency. (And if this is not enough, then anyway manual exclusion using Maven most probably would not work around the problem either.) And having

[2017-11-05 03:51] edson-freitas commented on #1326
@oliviercailloux I had the same issue about the ActiveDescriptorBuilder method, trying to use jersey 2.26. Turns out was the hk2 libs version used (was 2.4.0). After upgrading to 2.5.0-b42, the issue vanished. Maybe this can help you.

[2017-11-06 05:34] inah opened #1332 "How are you?"
Please tell me...

[2017-11-06 05:34] inah commented on #1332
My first comment!

[2017-11-06 05:34] 0crat commented on #1332
@yegor256 please, pay attention to this issue

[2017-11-06 07:29] #1332 closed

[2017-11-06 07:29] 0crat commented on #1332
Oops! There is no order for job `gh:jcabi/jcabi-github#1332`.

[2017-11-06 07:29] 0crat commented on #1332
Oops! Job `gh:jcabi/jcabi-github#1332` is not in scope.

[2017-11-17 11:10] amihaiemil commented on #1326
@oliviercailloux Was your problem related to Jersey 1.x and 2.x versions? I am confused as to why those 2 versions should conflict. Maybe you can answer my SO question? https://stackoverflow.com/questions/47347072/why-should-jersey-1-x-conflitct-with-jersey-2-x?

[2017-11-21 07:59] 619851705 opened #1333 "How are you?"
Please tell me...

[2017-11-21 07:59] 619851705 commented on #1333
My first comment!

[2017-11-21 07:59] 0crat commented on #1333
@yegor256 please, pay attention to this issue

[2017-11-21 08:02] 619851705 opened #1334 "How are you?"
Please tell me...

[2017-11-21 08:03] 0crat commented on #1334
@yegor256 please, pay attention to this issue

[2017-11-22 14:56] pgressa opened #1335 "Remove reference doesn't work natively with Reference.ref()"
When trying to remove reference by using Reference.ref() then it fails:
[code]
Error message:
[code]
Root cause:
The uri is not correctly constructed as it contains two `refs` key words:
[code]

[2017-11-22 14:57] 0crat commented on #1335
@yegor256 please, pay attention to this issue

[2017-11-22 16:10] RoisinM opened #1336 "How are you?"
Please tell me...

[2017-11-22 16:10] RoisinM commented on #1336
My first comment!

[2017-11-22 16:10] 0crat commented on #1336
@yegor256 please, pay attention to this issue

[2017-11-22 16:19] aydincalikoglu opened #1337 "How are you?"
Please tell me...

[2017-11-22 16:19] aydincalikoglu commented on #1337
My first comment!

[2017-11-22 16:20] 0crat commented on #1337
@yegor256 please, pay attention to this issue

[2017-11-22 16:27] aydincalikoglu opened #1338 "How are you?"
Please tell me...

[2017-11-22 16:27] aydincalikoglu commented on #1338
My first comment!

[2017-11-22 16:27] 0crat commented on #1338
@yegor256 please, pay attention to this issue

[2017-11-22 16:27] aydincalikoglu opened #1339 "How are you?"
Please tell me...

[2017-11-22 16:27] aydincalikoglu commented on #1339
My first comment!

[2017-11-22 16:27] 0crat commented on #1339
@yegor256 please, pay attention to this issue

[2017-11-22 16:30] aydincalikoglu opened #1340 "How are you?"
Please tell me...

[2017-11-22 16:30] aydincalikoglu commented on #1340
My first comment!

[2017-11-22 16:30] 0crat commented on #1340
@yegor256 please, pay attention to this issue

[2017-11-22 16:54] aydincalikoglu opened #1341 "How are you?"
Please tell me...

[2017-11-22 16:54] aydincalikoglu commented on #1341
My first comment!

[2017-11-22 16:54] 0crat commented on #1341
@yegor256 please, pay attention to this issue

[2017-11-22 17:05] aydincalikoglu opened #1342 "How are you?"
Please tell me...

[2017-11-22 17:05] aydincalikoglu commented on #1342
My first comment!

[2017-11-22 17:05] 0crat commented on #1342
@yegor256 please, pay attention to this issue

[2017-11-22 17:05] aydincalikoglu opened #1343 "How are you?"
Please tell me...

[2017-11-22 17:05] aydincalikoglu commented on #1343
My first comment!

[2017-11-22 17:05] 0crat commented on #1343
@yegor256 please, pay attention to this issue

[2017-11-23 12:34] #1334 closed

[2017-11-23 12:35] #1342 closed

[2017-11-23 12:47] #1333 closed

[2017-11-23 12:47] #1341 closed

[2017-11-23 12:48] #1340 closed

[2017-11-23 12:48] #1338 closed

[2017-11-23 12:48] #1339 closed

[2017-11-23 12:55] #1337 closed

[2017-11-23 12:56] yegor256 commented on #1335
@pgressa would you be interested to contribute a fix in a pull request please?

[2017-11-23 12:59] #1343 closed

[2017-11-23 12:59] #1336 closed

[2017-11-23 13:18] 0crat commented on #1333
Oops! There is no order for job `gh:jcabi/jcabi-github#1333`.

[2017-11-23 13:21] 0crat commented on #1333
Oops! Job `gh:jcabi/jcabi-github#1333` is not in scope.

[2017-11-24 10:04] goldmann commented on #1198
Seeing this still with `0.33.1`, used with `@Grape` in a Jenkins Groovy file.

Usage:

[code]

Error:

[code]

[2017-11-28 15:32] pgressa commented on #1335
Ok, I'll prepare one

[2017-12-05 15:30] pgressa opened #1344 "MkTrees.create() buggy format of storage"
I don't know whether I understand the usage of Mk* objects correctly, but I chose this library because it allows me to write tests instead of real interaction with GitHub. But the MK* objects are behaving oddly although the idea behind is smart.

Mine use case is that I would like to prepare some state of a repo and interact with it. For this I need to create Tree and Commits and Blobs.

While I'm

[2017-12-05 15:31] 0crat commented on #1344
@yegor256 please, pay attention to this issue

[2017-12-07 07:43] rusnasonov opened #1345 "How are you?"
Please tell me...

[2017-12-07 07:43] rusnasonov commented on #1345
My first comment!

[2017-12-07 07:43] #1345 closed

[2017-12-07 09:56] yegor256 commented on #1344
@pgressa can you please show the code so that we can reproduce the bug and fix?

[2018-01-13 01:41] ChoiByungWook opened #1346 "Support for PR Reviews?"
Is there any support for PR reviews?

https://developer.github.com/v3/pulls/reviews/

[2018-01-13 01:41] 0crat commented on #1346
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-13 02:43] 0crat commented on #1346
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-13 03:43] 0crat commented on #1346
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-13 04:44] 0crat commented on #1346
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-13 06:47] 0crat commented on #1346
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-13 07:48] 0crat commented on #1346
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-13 08:49] 0crat commented on #1346
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-13 09:49] 0crat commented on #1346
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-15 12:51] yegor256 commented on #1346
@ChoiByungWook not yet, but we need to add it

[2018-01-15 12:53] 0crat commented on #1346
Job [#1346](https://github.com/jcabi/jcabi-github/issues/1346) is now in scope, role is `DEV`

[2018-02-02 15:08] oliviercailloux commented on #1326
@amihaiemil Thanks: excluding `org.glassfish.hk2:hk2-api`, `org.glassfish.hk2.external:javax.inject` and `org.glassfish.hk2:hk2-locator` from `com.jcabijcabi-github:0.33.1` indeed solves the problem. However this is probably not the cleanest solution as this leaves old dependencies (that are selected by Maven dependency selection mechanism).

I rather finally opted for including explicit dependenc

[2018-02-04 16:26] oliviercailloux commented on #1326
@amihaiemil about your remark that “Other than that, The library works fine”: I omitted to write this, but you are right to underline it. The library is pleasant to use and very useful. Those (relatively minor and correctable) glitches do not modify that fact.

[2018-02-04 23:41] oliviercailloux opened #1347 "validation.xml ?"
Hi,

What’s the file [validation.xml](https://github.com/jcabi/jcabi-aspects/blob/master/src/main/resources/META-INF/validation.xml) for in `META-INF` in `jcabi-aspects-0.22.5.jar`?

That file makes Glassfish refuse to deploy my application (which includes jcabi-github, hence, jcabi-aspects by transitive dependency mechanisms).

Glassfish complains when deploying (in its log file), as follows (par

[2018-02-04 23:41] 0crat commented on #1347
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-05 15:06] yegor256 commented on #1347
@oliviercailloux this file is coming from Hibernate, I believe. I think you should just add Hibernate Validator to classpath and the problem will disappear. We can't remove the file...

[2018-02-06 17:49] oliviercailloux commented on #1347
Sorry to insist, but are you sure you can’t remove the file? According to `jcabi-aspects` [pom](https://github.com/jcabi/jcabi-aspects/blob/master/pom.xml), `hibernate-validator` is used only as a test dependency. Thus, I suspect that the `validator.xml` file is required only for the tests. Would you perhaps consider moving it from `src/main/resources/META-INF` to `src/test/resources/META-INF`?

I

[2018-02-09 10:13] pgressa opened #1348 "bug when obtaining Smart.Commit#message()"
Code says:
[code]

But the truth is that the message is not part of the commit element. I'm able to obtain the message when calling:
[code]

[2018-02-09 10:13] 0crat commented on #1348
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-14 10:12] biboran opened #1349 "Ambiguous or missing domain logic for fetching User repositories"
`User` interface doesn't support fetching its `Repos`.

Is there any workaround for getting `Repos` for `github.users().self()` or does `Repos` currently mean `AllGithubRepos`?

[2018-02-14 10:12] 0crat commented on #1349
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-15 17:40] ashtonhogan opened #1350 "jdk9 failing"
[code]

Full log [here](https://ci.appveyor.com/api/buildjobs/lbw58i2uf4tf54uy/log)

Potential solution here: https://stackoverflow.com/questions/26422259/maven-missing-artifact-com-suntoolsjar1-6-0-compile-time-exception-in-pom-x

@appveyor

[2018-02-15 18:41] 0crat commented on #1350
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-20 20:05] ashtonhogan commented on #1350
bump

[2018-02-23 08:40] ctolib opened #1351 "How are you?"
Please tell me...

[2018-02-23 08:40] ctolib commented on #1351
My first comment!

[2018-02-23 08:41] 0crat commented on #1351
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-23 15:18] #1350 closed

[2018-02-24 10:05] g4s8 commented on #1065
@yegor256 please, look at this issue. I need it for https://github.com/zerocracy/farm/issues/575

[2018-03-03 10:49] g4s8 opened #1352 "Issue.Smart doesn't have closedAt()"
There is `closed_at` issue attribute in issue json-object: https://developer.github.com/v3/issues/#get-a-single-issue
which can say when exactly this issue was closed. Example: https://api.github.com/repos/jcabi/jcabi-github/issues/1
I think it can be included into `Issue.Smart` class

[2018-03-03 10:49] 0crat commented on #1352
@yegor256[/z](https://www.0crat.com/u/yegor256) please, charge attention to this issue

[2018-03-05 11:23] yegor256 commented on #1065
@0crat assign @g4s8

[2018-03-05 11:23] 0crat commented on #1065
@yegor256 Thanks for your contribution, @cvrebert[/z](https://www.0crat.com/u/cvrebert)! If you would be a member of [the project](https://www.0crat.com/p/C3RUBL5H9), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-03-05 11:23] 0crat commented on #1065
@yegor256 The job [#1065](https://github.com/jcabi/jcabi-github/issues/1065) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3RUBL5H9/641123212). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not

[2018-03-05 11:24] yegor256 commented on #1065
@g4s8 will you do that for free (this project is not funded) or I should re-assign?

[2018-03-05 11:24] 0crat commented on #1065
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-05 11:48] g4s8 commented on #1065
@yegor256 yes, I'll fix it

[2018-03-08 09:56] SandroLinder opened #1354 "How are you?"
Please tell me...

[2018-03-08 09:56] SandroLinder commented on #1354
My first comment!

[2018-03-08 09:57] 0crat commented on #1354
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-08 10:02] SandroLinder opened #1355 "How are you?"
Please tell me...

[2018-03-08 10:02] SandroLinder commented on #1355
My first comment!

[2018-03-08 10:02] 0crat commented on #1355
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-08 10:03] SandroLinder opened #1356 "How are you?"
Please tell me...

[2018-03-08 10:03] SandroLinder commented on #1356
My first comment!

[2018-03-08 10:03] 0crat commented on #1356
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-08 10:08] SandroLinder opened #1357 "How are you?"
Please tell me...

[2018-03-08 10:08] SandroLinder commented on #1357
My first comment!

[2018-03-08 10:08] 0crat commented on #1357
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-08 10:08] SandroLinder opened #1358 "How are you?"
Please tell me...

[2018-03-08 10:09] SandroLinder commented on #1358
My first comment!

[2018-03-08 10:09] 0crat commented on #1358
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-08 13:49] g4s8 opened #1359 "Can't check user existance"
It's not possible to check whether exist user or not, now I need to fetch some data from user and check exception if user does not exist:
[code]

[2018-03-08 13:49] 0crat commented on #1359
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-10 11:24] 0crat commented on #1065
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-10 16:57] g4s8 commented on #1065
@0crat waiting PR review #1353

[2018-03-10 16:57] 0crat commented on #1065
@g4s8 The impediment for [#1065](https://github.com/jcabi/jcabi-github/issues/1065) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-12 20:51] #1358 closed

[2018-03-12 20:52] #1356 closed

[2018-03-13 06:55] yegor256 opened #1360 "com.jcabi.github.safe"
Let's create a package with "safe" classes that never fail

[2018-03-13 06:55] #1354 closed

[2018-03-13 06:55] #1355 closed

[2018-03-13 06:55] #1357 closed

[2018-03-13 06:55] #1351 closed

[2018-03-13 07:28] yegor256 commented on #1348
@pgressa we had it the way you are suggesting, but fixed in a9b7000f2044f8b6872bfcb7153ef91a4eba3041

[2018-03-13 07:29] yegor256 commented on #1348
@pgressa what do you think? Which one is right?)

[2018-03-13 07:35] yegor256 commented on #1360
@rultor release, tag is `0.34`

[2018-03-13 07:36] rultor commented on #1360
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14122-372573140)

[2018-03-13 07:44] rultor commented on #1360
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14122-372573140) (spent 8min)

[code]

[2018-03-13 09:17] 0crat commented on #1359
The job [#1359](https://github.com/jcabi/jcabi-github/issues/1359) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3RUBL5H9/720919735). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not c

[2018-03-13 09:18] 0crat commented on #1359
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-13 09:18] 0crat commented on #1359
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-13 09:40] g4s8 opened #1361 "API to list user repos is missed"
There is no method to [list user repos](https://developer.github.com/v3/repos/#list-user-repositories). Public user repos can be accessed by url: `/users/:username/repos`

[2018-03-13 09:46] yegor256 commented on #1360
@rultor release, tag is `0.34`

[2018-03-13 09:47] rultor commented on #1360
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14122-372606261)

[2018-03-13 09:58] rultor commented on #1360
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14122-372606261) (spent 10min)

[code]

[2018-03-13 10:24] 0crat commented on #1352
The job [#1352](https://github.com/jcabi/jcabi-github/issues/1352) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3RUBL5H9/721023682). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not c

[2018-03-13 10:24] 0crat commented on #1352
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-13 10:24] 0crat commented on #1352
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-13 10:28] yegor256 commented on #1360
@rultor release, tag is `0.34`

[2018-03-13 10:28] rultor commented on #1360
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14122-372618296)

[2018-03-13 10:35] rultor commented on #1360
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14122-372618296) (spent 7min)

[code]

[2018-03-13 11:04] yegor256 commented on #1360
@rultor release, tag is `0.34`

[2018-03-13 11:05] rultor commented on #1360
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14122-372628077)

[2018-03-13 11:27] yegor256 commented on #1360
@rultor release, tag is `0.34`

[2018-03-13 11:28] rultor commented on #1360
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14122-372633591)

[2018-03-13 12:42] rultor commented on #1360
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14122-372633591) (took me 1hr)

[2018-03-13 12:47] #1360 closed

[2018-03-13 12:47] yegor256 commented on #1359
@g4s8 implemented in 32650b10 and released as 0.34

[2018-03-13 12:47] #1359 closed

[2018-03-13 12:47] yegor256 commented on #1352
@g4s8 fixed in 5ee94841 and released as 0.34

[2018-03-13 12:47] #1352 closed

[2018-03-13 12:51] g4s8 commented on #1359
@yegor256 thanks!

[2018-03-13 12:51] g4s8 commented on #1352
@yegor256 thanks!

[2018-03-13 15:20] g4s8 commented on #1065
@cvrebert it was implemented in #1353 PR, can we close then?

[2018-03-13 15:45] llorllale opened #1362 "MkReleases.create(String tag) should not prepopulate optional release attributes"
This method is prepopulating all/a bunch of attributes of the fake release. This leads to surprises when used for tests because I do not expect the fake release to already have a body. I would expect the body to be `null` or maybe a blank string. The same thing goes for the release's title, etc.

This method should not prepopulate any optional attributes.

[2018-03-13 18:01] llorllale opened #1363 "Unable to mark an MkRelease with prerelease=true"
Encountered this issue while writing tests in a separate project.

`Release.Smart#prerelease(boolean)` is not tested. I added the following in `MkReleaseTest` and notice that it fails as well:

[code]

Error is:

[code]

[2018-03-13 18:09] yegor256 opened #1364 "SfIssue"
Let's create it

[2018-03-13 18:15] yegor256 commented on #1364
@rultor release, tag is `0.36`

[2018-03-13 18:16] rultor commented on #1364
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14129-372766510)

[2018-03-13 18:21] #1065 closed

[2018-03-13 19:24] rultor commented on #1364
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14129-372766510) (took me 1hr)

[2018-03-14 16:07] 0crat commented on #1362
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-15 07:57] yegor256 commented on #1363
@llorllale do you want to contribute with a PR? This project has no funds, but we will appreciate your help.

[2018-03-15 07:57] yegor256 commented on #1362
@llorllale do you want to contribute with a PR? This project has no funds, but we will appreciate your help.

[2018-03-15 07:57] yegor256 commented on #1361
@g4s8  do you want to contribute with a PR? This project has no funds, but we will appreciate your help.

[2018-03-15 07:57] yegor256 commented on #1349
@biboran dup of #1361

[2018-03-15 07:58] #1349 closed

[2018-03-15 08:00] yegor256 opened #1365 "MkUser with a type"
Let's add "type" there.

[2018-03-15 08:20] yegor256 commented on #1365
@rultor release, tag is `0.36.1`

[2018-03-15 08:21] rultor commented on #1365
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14133-373296291)

[2018-03-15 08:40] amihaiemil commented on #1347
@oliviercailloux I will also have a look over this, soon. It's strange, I never had issues with jcabi-github on Glassfish. I have 2 JavaEE apps using it. I only had issues with that Manifest.MF stuff (not sure if you know about that bug)

[2018-03-15 08:47] g4s8 commented on #1361
@yegor256 yes, I can do it

[2018-03-15 09:33] rultor commented on #1365
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14133-373296291) (took me 1hr)

[2018-03-15 09:47] #1365 closed

[2018-03-15 10:15] 0crat commented on #1349
The job is not in WBS, won't close the order

[2018-03-15 10:57] llorllale commented on #1363
@yegor256 sure, I'll give it a shot

[2018-03-15 10:58] llorllale commented on #1362
@yegor256 sure, I'll give it a shot

[2018-03-16 03:22] llorllale opened #1366 "Bug: asymetrical processing of asset contents between MkReleaseAssets.upload() and MkReleaseAsset.raw()"
**Context**
`MkReleaseAssets.upload()` stores the bytes as-is (in string form), while `MkReleaseAsset.raw()` will process the string with [DatatypeConverter.parseBase64Binary()](https://docs.oracle.com/javase/8/docs/api/javax/xml/bind/DatatypeConverter.html#parseBase64Binary-java.lang.String-). This despite the fact that `MkReleaseAssets` never encoded the bytes to base64 in the first place.

**Pr

[2018-03-16 03:22] 0crat commented on #1366
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-16 18:18] oliviercailloux commented on #1347
Thanks. But, TBH, I switched to Graph QL in the meantime, for most of my queries, and use a home backed fetcher for the rest. So don’t feel compelled to look into this bug for me…

[2018-03-19 13:57] g4s8 opened #1369 "Github responses json is not used efficiently"
Github API json responses may contain a lot of information, e.g. issue response has all issue labels and milestones (https://api.github.com/repos/jcabi/jcabi-github/issues/1), but instead of read it from json `RtIssue` make additional requests to Github API to fetch labels or milestones. It may be a cause of https://github.com/zerocracy/farm/issues/813 bug

[2018-03-19 13:57] 0crat commented on #1369
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-19 14:01] amihaiemil commented on #1369
@g4s8 I think Issue has ``json()`` method or something, to get the whole json?

[2018-03-19 14:03] amihaiemil commented on #1369
@g4s8 well, apparently not, it doesn't seem to have it. Issue should definetely be able to return the whole json representation.

[2018-03-19 14:07] g4s8 commented on #1369
@amihaiemil yes, but it is not used in `labels()` and `milestone()`

[2018-03-19 14:09] amihaiemil commented on #1369
@g4s8 Yes, we could improve the library somehow. But right now, simply returning ``this.json.getArray("labels")`` from method ``labels()`` turns the whole architecture upside down :D

[2018-03-19 14:58] yegor256 commented on #1369
@g4s8 @amihaiemil I guess we just need to introduce a new method `Issue.Smart.listLabels()`, which will simply do `this.jsn.getArray("labels")' and iterate them. Correct?

[2018-03-19 15:09] amihaiemil commented on #1369
@yegor256 Yes we could do that to make it easier. But I looked closer and actually Issue already has the method

[code]

[2018-03-19 17:10] yegor256 commented on #1369
@amihaiemil yes, we have `json()`, but we don't have any code that would help us turn JSON into labels. I'm suggesting `listLabels()`

[2018-03-20 10:59] g4s8 commented on #1369
@yegor256 I have same problem here: https://github.com/jcabi/jcabi-github/issues/1361
I can't return `Repo` for `/user/:user/repos` because `RtRepo` fetches repo json from network:
[code]
but `/user/:user/repos` has full repo json already.

[2018-03-20 13:11] g4s8 opened #1370 "NullPointerException for MkUser exists()"
This code throws `NullPointerException`:
[code]
I think it should return `false` for `MkUser`

[2018-03-20 13:11] 0crat commented on #1370
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-20 13:37] llorllale commented on #1362
Closing as solution was merged in PR #1368

[2018-03-20 13:37] #1362 closed

[2018-03-20 13:52] 0crat commented on #1362
The job is not in WBS, won't close the order

[2018-03-21 08:38] yegor256 commented on #1370
@g4s8 seems to be a bug. Can you contribute with a PR?

[2018-03-21 08:39] 0crat commented on #1370
Job [#1370](https://github.com/jcabi/jcabi-github/issues/1370) is now in scope, role is `DEV`

[2018-03-21 08:39] 0crat commented on #1370
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-22 07:32] g4s8 commented on #1369
@yegor256 I mean that I have all user repos json after call to `/user/:user/repos`, but I can't wrap it with `RtRepo` because it fetches repo json by coordinates. Maybe we can introduce `RepoJson` which can wrap json-object and implements `Repo` interface?

[2018-03-22 08:19] amihaiemil commented on #1369
@g4s8 well, I personally think that such model wrappers (e.g. your ``RepoJson``) should not be the job of the API wrapper, the API wrapper should return the ``JsonObject`` and let the client wrap it in whatever animating model.

Because the API may change, the Json response may change, so the library shouldn't have the worry of always updating the models. That's how I design ``docker-java-api`` :)

[2018-03-22 19:09] 0crat commented on #1366
Job [#1366](https://github.com/jcabi/jcabi-github/issues/1366) is now in scope, role is `DEV`

[2018-03-22 19:09] 0crat commented on #1366
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-03-22 19:10] 0crat commented on #1363
Job [#1363](https://github.com/jcabi/jcabi-github/issues/1363) is now in scope, role is `DEV`

[2018-03-22 19:10] 0crat commented on #1363
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-03-22 19:23] #883 closed, assigned to nobody

[2018-03-22 19:29] amihaiemil commented on #1006
@voitau Hey, I am the new architect/maintainer of this repo. If, by any chance, you are still interested, we'd appreciate a PR :)

[2018-03-22 19:38] 0crat commented on #883
The job is not in WBS, won't close the order

[2018-03-22 19:40] amihaiemil commented on #1097
@cvrebert I took over as architect these days and cleaning some Issues now.

Unfortunately, I do not agree with this Issue. Whenever possible, I would let the user supply a JsonObject or in general the raw payload. The reason is simple:

1. Users have to learn the API (at least the endpoints they are using) anyway, to know how to build the input properly (e.g. even if we supply model objects, they

[2018-03-22 19:40] #1097 closed

[2018-03-22 19:44] amihaiemil commented on #1099
@cvrebert The blog post is from 2006 and the findbugs page from when? Honestly, I tend to trust that any issue with such a used class has been solved in the JDK since :)

[2018-03-22 19:44] #1099 closed

[2018-03-22 19:48] #1144 closed

[2018-03-22 19:49] amihaiemil commented on #1144
Latest version as of March 2018 is ``0.36.1``: https://mvnrepository.com/artifact/com.jcabi/jcabi-github/0.36.1

[2018-03-22 19:55] 0crat commented on #1097
The job is not in WBS, won't close the order

[2018-03-22 19:56] #1150 closed

[2018-03-22 19:57] #1149 closed

[2018-03-22 19:58] #1151 closed

[2018-03-22 19:59] 0crat commented on #1099
The job is not in WBS, won't close the order

[2018-03-22 20:01] amihaiemil commented on #1167
Closing for now; will reopen if we see it reproduce

[2018-03-22 20:01] #1167 closed

[2018-03-22 20:03] 0crat commented on #1144
The job is not in WBS, won't close the order

[2018-03-22 20:04] #1171 closed

[2018-03-22 20:11] 0crat commented on #1150
The job is not in WBS, won't close the order

[2018-03-22 20:12] 0crat commented on #1149
The job is not in WBS, won't close the order

[2018-03-22 20:13] 0crat commented on #1151
The job is not in WBS, won't close the order

[2018-03-22 20:16] 0crat commented on #1167
The job is not in WBS, won't close the order

[2018-03-22 20:19] 0crat commented on #1171
The job is not in WBS, won't close the order

[2018-03-23 23:31] llorllale commented on #1366
@amihaiemil this was fixed in PR #1367.

I opened this issue; can I just close it then?

[2018-03-24 08:04] amihaiemil commented on #1366
@llorllale yes, sure

[2018-03-24 10:08] #1366 closed

[2018-03-24 10:24] 0crat commented on #1366
The job [#1366](https://github.com/jcabi/jcabi-github/issues/1366) is now out of scope

[2018-03-28 01:15] PandaBoy444 opened #1371 "test"

[2018-03-28 01:15] 0crat commented on #1371
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-03-28 01:15] 0crat commented on #1371
@pandaboy444[/z](https://www.0crat.com/u/pandaboy444) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-03-28 01:17] #1371 closed

[2018-03-28 01:32] 0crat commented on #1371
The job is not in WBS, won't close the order

[2018-03-29 17:38] 0crat commented on #1359
The job [#1359](https://github.com/jcabi/jcabi-github/issues/1359) is now out of scope

[2018-03-29 17:38] 0crat commented on #1352
The job [#1352](https://github.com/jcabi/jcabi-github/issues/1352) is now out of scope

[2018-03-29 17:39] 0crat commented on #1359
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-29 17:40] 0crat commented on #1352
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-30 15:13] 0crat commented on #1348
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-03-30 18:34] 0crat commented on #1348
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-02 11:07] #1237 closed

[2018-04-02 11:12] 0crat commented on #1305
Job [#1305](https://github.com/jcabi/jcabi-github/issues/1305) is now in scope, role is `DEV`

[2018-04-02 11:13] 0crat commented on #1306
Job [#1306](https://github.com/jcabi/jcabi-github/issues/1306) is now in scope, role is `DEV`

[2018-04-02 11:13] 0crat commented on #1304
Job [#1304](https://github.com/jcabi/jcabi-github/issues/1304) is now in scope, role is `DEV`

[2018-04-02 11:22] 0crat commented on #1237
The job is not in WBS, won't close the order

[2018-04-03 11:16] 0crat commented on #1246
The job [#1246](https://github.com/jcabi/jcabi-github/issues/1246) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C9R53K5JA/931141144); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is n

[2018-04-03 11:16] 0crat commented on #1246
Job `gh:jcabi/jcabi-github#1246` already assigned to @amihaiemil, can't assign to @amihaiemil

[2018-04-03 11:17] 0crat commented on #1246
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-04-03 11:17] 0crat commented on #1246
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-04-03 11:17] 0crat commented on #1246
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-04-03 21:16] #1246 closed

[2018-04-03 21:27] 0crat commented on #1304
The job [#1304](https://github.com/jcabi/jcabi-github/issues/1304) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C9R53K5JA/932135853); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-04-03 21:28] amihaiemil commented on #1304
@llorllale Some of the puzzles in this project are even > 2-3 years old. So it pays to have a look, maybe they are not applicable anymore :-?

[2018-04-03 21:32] 0crat commented on #1246
Order was finished: +30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-04-03 21:32] 0crat commented on #1246
The job [#1246](https://github.com/jcabi/jcabi-github/issues/1246) is now out of scope

[2018-04-04 09:16] amihaiemil opened #1373 "Release 0.37"
Let's release ``0.37``, it has a few bug fixes, including a major change: user agent data is now read from properties file instead of Manifest.MF: https://github.com/jcabi/jcabi-github/issues/1246

[2018-04-04 09:16] amihaiemil commented on #1373
@rultor release, tag is `0.37`

[2018-04-04 09:17] rultor commented on #1373
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14245-378535504)

[2018-04-04 14:35] llorllale commented on #1306
@amihaiemil some advice please:

This task is simple and thus within 12 minutes I've already modified 8 files. Is it already too much?

[2018-04-04 14:37] amihaiemil commented on #1306
@llorllale I would leave a puzzle to modify the others in a future task. I see it as follows:

It's better if a project pays you more than you worked, in some tasks like this ones, than risk to introduce bugs and that are very hard to track, since they will eventually find a PR with 50 changed files.

[2018-04-04 14:39] llorllale commented on #1306
@amihaiemil I'll leave it at 8 files then.

As a rule of thumb, what's the max number of changed files for a PR for you (ideally)?

[2018-04-04 14:41] amihaiemil commented on #1306
@llorllale In general, 5 to 10; 10 is exceptional, however.

In ZC's model, I would say as little as possible; I would accept even 1 line of code changed if it moves the project forward. 30min/task is very little any way you look at it. So, the smaller and faster the PR, the better.  In this model, there is one more reason why I don't accept big PRs: because they clearly worked more than 30min and

[2018-04-04 14:45] 0pdd opened #1375 "MkUser.java:56-57: Implement markAsRead(final Date..."
The puzzle `1305-b50fad21` from #1305 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/42c24f097a546761d2df560928c9457d275c8df1/src/main/java/com/jcabi/github/mock/MkUser.java#L56-L57

The puzzle was created by George Aristy on 04-Apr-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the

[2018-04-04 14:45] 0pdd commented on #913
@GUIpsp 9 puzzles [#unknown](), [#unknown](), [#unknown](), [#unknown](), [#unknown](), [#unknown](), [#unknown](), [#unknown](), [#unknown]() are still not solved; solved: [#920](https://github.com/jcabi/jcabi-github/issues/920).

[2018-04-04 14:45] 0pdd commented on #1305
@0pdd the puzzle [#1375](https://github.com/jcabi/jcabi-github/issues/1375) is still not solved.

[2018-04-04 14:45] 0crat commented on #1375
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-04-04 14:45] 0crat commented on #1375
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-04 14:49] #1305 closed

[2018-04-04 15:04] 0crat commented on #1305
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-04 15:04] 0crat commented on #1305
The job [#1305](https://github.com/jcabi/jcabi-github/issues/1305) is now out of scope

[2018-04-04 15:07] 0crat commented on #1375
The job [#1375](https://github.com/jcabi/jcabi-github/issues/1375) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C9R53K5JA/941542015); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-04-04 15:29] llorllale commented on #1304
@amihaiemil I think with this onewe can start that refactor you were mentioning earlier. We already have `Notifications`, so we'd just need to add `User.notifications()` and being fleshing out `RtNotifications`

[2018-04-04 15:33] llorllale commented on #1304
@amihaiemil it doesn't make sense to me that `Repo` should have a `notifications()` attribute.

[2018-04-04 16:06] llorllale commented on #1304
@0crat waiting

[2018-04-04 16:06] 0crat commented on #1304
@llorllale The impediment for [#1304](https://github.com/jcabi/jcabi-github/issues/1304) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-04 18:55] 0crat commented on #1348
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-05 08:02] 0crat commented on #1373
Job [#1373](https://github.com/jcabi/jcabi-github/issues/1373) is now in scope, role is `DEV`

[2018-04-05 08:02] amihaiemil commented on #1373
That test has to be fixed and only check for ``startsWith("jcabi-github ")``, since the version will always be different, at least at release time.

[2018-04-05 08:02] 0crat commented on #1373
The job [#1373](https://github.com/jcabi/jcabi-github/issues/1373) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C9R53K5JA/950825901); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is n

[2018-04-05 08:02] 0crat commented on #1373
Job `gh:jcabi/jcabi-github#1373` already assigned to @amihaiemil, can't assign to @amihaiemil

[2018-04-05 08:02] 0crat commented on #1373
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-04-05 08:02] 0crat commented on #1373
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-04-05 08:03] 0crat commented on #1373
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-04-05 08:10] 0pdd commented on #1320
The puzzle `1017-59643c80` has disappeared from the source code, that's why I closed this issue.

[2018-04-05 08:10] #1320 closed

[2018-04-05 08:10] 0pdd opened #1377 "RtGistCommentTest.java:57-59: Apply this rule to all..."
The puzzle `1306-59643c80` from #1306 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/cf3c5acb8a87c549250735e64398ff219237b198/src/test/java/com/jcabi/github/RtGistCommentTest.java#L57-L59

The puzzle was created by rultor on 05-Apr-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the

[2018-04-05 08:10] 0pdd commented on #989
@dpisarenko all 2 puzzles are solved here: [#1017](https://github.com/jcabi/jcabi-github/issues/1017), [#1320](https://github.com/jcabi/jcabi-github/issues/1320).

[2018-04-05 08:10] 0pdd commented on #1017
@dmarkov the only puzzle [#1320](https://github.com/jcabi/jcabi-github/issues/1320) is solved here.

[2018-04-05 08:10] 0pdd commented on #1306
@0pdd the puzzle [#1377](https://github.com/jcabi/jcabi-github/issues/1377) is still not solved.

[2018-04-05 08:10] 0crat commented on #1377
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-04-05 08:10] 0crat commented on #1377
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-05 08:10] 0crat commented on #1377
Job [#1377](https://github.com/jcabi/jcabi-github/issues/1377) is now in scope, role is `DEV`

[2018-04-05 08:25] 0crat commented on #1320
The job is not in WBS, won't close the order

[2018-04-06 05:31] mrpeplin opened #1378 "How are you?"
Please tell me...

[2018-04-06 05:31] mrpeplin commented on #1378
My first comment!

[2018-04-06 05:32] 0crat commented on #1378
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-04-06 05:32] 0crat commented on #1378
@mrpeplin[/z](https://www.0crat.com/u/mrpeplin) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-06 06:56] #1378 closed

[2018-04-06 07:11] 0crat commented on #1378
The job is not in WBS, won't close the order

[2018-04-07 06:29] yegor256 opened #1379 "Repo.Smart#exists()"
Let's add a method `exists()` to `Repo.Smart` to check whether the repository exists or not.

[2018-04-07 06:29] 0crat commented on #1379
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-04-07 06:31] yegor256 commented on #1379
@amihaiemil I would do it similar to `RtIssue.exists()`. Also, I would move `RtIssue.exists()` to `Issue.Smart`. Can't understand why it's in the `Issue` interface :(

[2018-04-07 06:35] yegor256 commented on #1379
@amihaiemil also, `User.Smart#exists()` is very similar. I don't understand why those methods are different in implementation. Maybe we should introduce something like `Existence` and use it everywhere?

[code]

[2018-04-07 06:39] yegor256 commented on #1379
@amihaiemil I guess, we need those `exists()` methods here:

  * `Blob.Smart`
  * `Branch.Smart`
  * `Comment.Smart`
  * `Commit.Smart`
  * `Event.Smart`
  * `Fork.Smart`
  * `Gist.Smart`
  * `GistComment.Smart`
  * `Hook.Smart`
  * `Issue.Smart`
  * `Label.Smart`
  * `Milestone.Smart`
  * `Organization.Smart`
  * `PublicKey.Smart`
  * `Pull.Smart`
  * `Release.Smart`
  * `Repo.Smart`
  * `Tag.Sma

[2018-04-07 09:06] amihaiemil commented on #1379
@yegor256 yes, sounds like a good idea; do you want to do it?

[2018-04-07 09:07] 0crat commented on #1379
Job [#1379](https://github.com/jcabi/jcabi-github/issues/1379) is now in scope, role is `DEV`

[2018-04-07 09:07] 0crat commented on #1379
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-07 09:34] amihaiemil commented on #1373
@rultor release, tag is `0.37`

[2018-04-07 09:35] rultor commented on #1373
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14245-379456730)

[2018-04-07 10:44] rultor commented on #1373
@amihaiemil Done! FYI, the full log is [here](http://www.rultor.com/t/14245-379456730) (took me 1hr)

[2018-04-07 10:49] amihaiemil commented on #1373
@llorllale 0.37 is out :)

[2018-04-07 10:49] #1373 closed

[2018-04-07 10:49] amihaiemil commented on #1379
@llorllale want to do this one?

[2018-04-07 11:04] 0crat commented on #1373
Order was finished: +30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-04-07 11:04] 0crat commented on #1373
The job [#1373](https://github.com/jcabi/jcabi-github/issues/1373) is now out of scope

[2018-04-07 13:33] 0crat commented on #1379
The job [#1379](https://github.com/jcabi/jcabi-github/issues/1379) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C9R53K5JA/971345746); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is n

[2018-04-07 13:33] 0crat commented on #1379
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-04-07 13:43] 0pdd opened #1382 "Existence.java:43-44: Use this class to implement..."
The puzzle `1379-ca8e6892` from #1379 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/da1f79f30a3326ff43c1249f9955ac6d786928af/src/main/java/com/jcabi/github/Existence.java#L43-L44

The puzzle was created by amihaiemil on 07-Apr-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the prob

[2018-04-07 13:44] 0pdd commented on #1379
@yegor256 the puzzle [#1382](https://github.com/jcabi/jcabi-github/issues/1382) is still not solved.

[2018-04-07 13:44] 0crat commented on #1382
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-04-07 13:44] 0crat commented on #1382
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-07 13:44] 0crat commented on #1382
Job [#1382](https://github.com/jcabi/jcabi-github/issues/1382) is now in scope, role is `DEV`

[2018-04-07 13:45] 0crat commented on #1382
The job [#1382](https://github.com/jcabi/jcabi-github/issues/1382) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C9R53K5JA/971344144); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is n

[2018-04-07 13:45] 0crat commented on #1382
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-04-07 14:21] 0pdd opened #1384 "Existence.java:43-45: Use this class to implement..."
The puzzle `1382-3526ef36` from #1382 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/851fa039335aa886b99e58f066371bbb19ad9f16/src/main/java/com/jcabi/github/Existence.java#L43-L45

The puzzle was created by amihaiemil on 07-Apr-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the prob

[2018-04-07 14:34] amihaiemil commented on #1379
@yegor256 I think this can be closed

[2018-04-07 14:35] amihaiemil opened #1385 "Release 0.38"
Let's release 0.38, it contains Repo.Smart.exists()

[2018-04-07 14:36] amihaiemil commented on #1385
@rultor release it, tag is `0.38`

[2018-04-07 14:37] 0crat commented on #1382
Order was finished: +30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-04-07 14:37] 0crat commented on #1382
The job [#1382](https://github.com/jcabi/jcabi-github/issues/1382) is now out of scope

[2018-04-07 14:38] rultor commented on #1385
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14262-379473907)

[2018-04-07 15:47] rultor commented on #1385
@amihaiemil Done! FYI, the full log is [here](http://www.rultor.com/t/14262-379473907) (took me 1hr)

[2018-04-07 16:05] amihaiemil commented on #1385
@yegor256 ``Repo.Smart.exists()`` is released

[2018-04-07 16:05] #1385 closed

[2018-04-08 05:02] yegor256 commented on #1379
@amihaiemil can you please release it?

[2018-04-08 07:58] amihaiemil commented on #1379
@yegor256 it is released since yesterday, version 0.38 :)

[2018-04-09 08:36] #1379 closed

[2018-04-09 08:56] 0crat commented on #1379
Order was finished: +30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-04-09 08:56] 0crat commented on #1379
The job [#1379](https://github.com/jcabi/jcabi-github/issues/1379) is now out of scope

[2018-04-09 15:34] 0crat commented on #1375
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-12 01:35] 0crat commented on #1363
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-12 05:36] 0crat commented on #1346
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-12 07:36] 0crat commented on #1370
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-12 12:50] llorllale commented on #1306
@amihaiemil can we close this?

`0pdd` didn't close this puzzle. I thought it would have considering I changed the ticket # in the puzzle (see diff on PR #1376) but it didn't. It works for me in my own projects so I'm not sure why it didn't work here.

[2018-04-12 12:52] amihaiemil commented on #1306
@llorllale should be ok, yes :)

[2018-04-12 12:52] #1306 closed

[2018-04-12 13:08] 0crat commented on #1306
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-12 13:08] 0crat commented on #1306
The job [#1306](https://github.com/jcabi/jcabi-github/issues/1306) is now out of scope

[2018-04-12 13:10] 0crat commented on #1377
The job [#1377](https://github.com/jcabi/jcabi-github/issues/1377) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C9R53K5JA/1021328395); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-04-12 14:50] llorllale commented on #1375
@amihaiemil quick question: does this method have to mark as read *starting* at the given date, or *up to* the given date?

[code]

[2018-04-13 02:30] llorllale commented on #1363
@amihaiemil Seems like I can't work on this issue but I'm interested in its resolution so:

I've figured out the problem. The `Mk` implementations store the `prerelease` value *as a string*.

Therefore, this method in `Release.Smart` fails:

[code]

The part `this.json().get(name)` will return a `JsonString`, not a `JsonValue.TRUE`, and hence it will never be equal. That `JsonString`'s value will

[2018-04-13 11:37] llorllale commented on #1363
@amihaiemil I think this simple hack should be ok:

[code]

[2018-04-13 11:59] amihaiemil commented on #1363
@llorllale I think the simplest way is:

[code]

I will have a look over it this weekend, maybe I can solve it :)

[2018-04-13 12:00] 0crat commented on #1363
The job [#1363](https://github.com/jcabi/jcabi-github/issues/1363) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C9R53K5JA/1031160063); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-04-13 12:00] 0crat commented on #1363
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-04-14 14:49] llorllale commented on #1304
@amihaiemil ping

[2018-04-14 14:51] llorllale commented on #1375
@amihaiemil ping

[2018-04-14 15:25] llorllale commented on #1377
@0crat waiting on review for PR #1387

[2018-04-14 15:25] 0crat commented on #1377
@llorllale The impediment for [#1377](https://github.com/jcabi/jcabi-github/issues/1377) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-14 17:07] amihaiemil commented on #1375
@llorllale according to the API description, it is *up to that point*: https://developer.github.com/v3/activity/notifications/#mark-as-read

[2018-04-14 18:14] 0pdd commented on #1377
The puzzle `1306-59643c80` has disappeared from the source code, that's why I closed this issue.

[2018-04-14 18:14] #1377 closed

[2018-04-14 18:14] 0pdd opened #1388 "RtGistCommentTest.java:57-59: Apply this rule to all..."
The puzzle `1377-59643c80` from #1377 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/1e903e59a027304a2c8270182a7f5c0687fc3d25/src/test/java/com/jcabi/github/RtGistCommentTest.java#L57-L59

The puzzle was created by George Aristy on 14-Apr-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" wh

[2018-04-14 18:14] 0pdd commented on #1306
@0pdd the puzzle [#1388](https://github.com/jcabi/jcabi-github/issues/1388) is still not solved; solved: [#1377](https://github.com/jcabi/jcabi-github/issues/1377).

[2018-04-14 18:14] 0pdd commented on #1377
@0pdd the puzzle [#1388](https://github.com/jcabi/jcabi-github/issues/1388) is still not solved.

[2018-04-14 18:14] 0crat commented on #1388
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-04-14 18:14] 0crat commented on #1388
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-14 18:15] 0crat commented on #1388
Job [#1388](https://github.com/jcabi/jcabi-github/issues/1388) is now in scope, role is `DEV`

[2018-04-14 18:15] 0crat commented on #1388
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-14 18:31] 0crat commented on #1377
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-14 18:31] 0crat commented on #1377
The job [#1377](https://github.com/jcabi/jcabi-github/issues/1377) is now out of scope

[2018-04-16 17:27] llorllale commented on #1304
@0crat waiting for merge of PR #1389

[2018-04-16 18:13] 0crat commented on #1304
@llorllale Job [#1304](https://github.com/jcabi/jcabi-github/issues/1304) is already on hold

[2018-04-17 06:36] 0crat commented on #1346
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-17 08:36] 0crat commented on #1370
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-18 13:24] 0crat commented on #1346
@yegor256 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1346](https://github.com/jcabi/jcabi-github/issues/1346) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C9R53K5JA?q=%7Bjob%3A%27gh%3Ajcabi%2Fjcabi-github%231346%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2018-04-18 20:09] #1375 closed

[2018-04-18 20:09] 0pdd commented on #1375
The puzzle `1305-b50fad21` has disappeared from the source code, that's why I closed this issue.

[2018-04-18 20:09] 0pdd commented on #1305
@0pdd the only puzzle [#1375](https://github.com/jcabi/jcabi-github/issues/1375) is solved here.

[2018-04-18 20:10] 0pdd opened #1390 "MkReleaseTest.java:197-199: Release.Smart().prerelease()..."
The puzzle `1363-762aa75e` from #1363 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/939d24d94a900936560157d1d137f5f793e411ac/src/test/java/com/jcabi/github/mock/MkReleaseTest.java#L197-L199

The puzzle was created by amihaiemil on 18-Apr-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" wh

[2018-04-18 20:10] 0pdd commented on #1363
@llorllale the puzzle [#1390](https://github.com/jcabi/jcabi-github/issues/1390) is still not solved.

[2018-04-18 20:10] 0crat commented on #1390
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-04-18 20:10] 0crat commented on #1390
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-18 20:10] #1363 closed

[2018-04-18 20:11] 0crat commented on #1390
Job [#1390](https://github.com/jcabi/jcabi-github/issues/1390) is now in scope, role is `DEV`

[2018-04-18 20:26] 0crat commented on #1375
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-18 20:26] 0crat commented on #1375
The job [#1375](https://github.com/jcabi/jcabi-github/issues/1375) is now out of scope

[2018-04-18 20:28] 0crat commented on #1363
Order was finished: +30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-04-18 20:28] 0crat commented on #1363
The job [#1363](https://github.com/jcabi/jcabi-github/issues/1363) is now out of scope

[2018-04-18 20:32] 0crat commented on #1384
The job [#1384](https://github.com/jcabi/jcabi-github/issues/1384) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C9R53K5JA/1082045634); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-04-18 20:37] 0crat commented on #1388
The job [#1388](https://github.com/jcabi/jcabi-github/issues/1388) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C9R53K5JA/1082049776); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-04-19 18:10] llorllale commented on #1384
@0crat waiting on review for PR #1392

[2018-04-19 18:12] 0crat commented on #1384
@llorllale The impediment for [#1384](https://github.com/jcabi/jcabi-github/issues/1384) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-19 18:56] #1384 closed

[2018-04-19 18:56] 0pdd commented on #1384
The puzzle `1382-3526ef36` has disappeared from the source code, that's why I closed this issue.

[2018-04-19 18:56] 0pdd commented on #1379
@yegor256 all 2 puzzles are solved here: [#1382](https://github.com/jcabi/jcabi-github/issues/1382), [#1384](https://github.com/jcabi/jcabi-github/issues/1384).

[2018-04-19 18:56] 0pdd commented on #1382
@0pdd the only puzzle [#1384](https://github.com/jcabi/jcabi-github/issues/1384) is solved here.

[2018-04-19 18:56] 0pdd commented on #1388
The puzzle `1377-59643c80` has disappeared from the source code, that's why I closed this issue.

[2018-04-19 18:56] #1388 closed

[2018-04-19 18:57] 0pdd opened #1394 "RtGistCommentTest.java:57-59: Apply this rule to all..."
The puzzle `1388-59643c80` from #1388 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/5d8c7e6c904e1d46efcb2eb2d438df8366156353/src/test/java/com/jcabi/github/RtGistCommentTest.java#L57-L59

The puzzle was created by George Aristy on 19-Apr-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" wh

[2018-04-19 18:57] 0pdd commented on #1306
@0pdd the puzzle [#1394](https://github.com/jcabi/jcabi-github/issues/1394) is still not solved; solved: [#1377](https://github.com/jcabi/jcabi-github/issues/1377), [#1388](https://github.com/jcabi/jcabi-github/issues/1388).

[2018-04-19 18:57] 0pdd commented on #1377
@0pdd the puzzle [#1394](https://github.com/jcabi/jcabi-github/issues/1394) is still not solved; solved: [#1388](https://github.com/jcabi/jcabi-github/issues/1388).

[2018-04-19 18:57] 0pdd commented on #1388
@0pdd the puzzle [#1394](https://github.com/jcabi/jcabi-github/issues/1394) is still not solved.

[2018-04-19 18:57] 0crat commented on #1394
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-04-19 18:57] 0crat commented on #1394
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-19 18:57] llorllale opened #1395 "Checkstyle issues"
Fix checkstyle issues that are breaking the build as reported by rultor [here](https://github.com/jcabi/jcabi-github/pull/1392#issuecomment-382835439).

[2018-04-19 18:57] 0crat commented on #1395
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-04-19 18:58] amihaiemil commented on #1395
@0crat assign @llorllale

[2018-04-19 19:15] 0crat commented on #1384
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-19 19:15] 0crat commented on #1384
The job [#1384](https://github.com/jcabi/jcabi-github/issues/1384) is now out of scope

[2018-04-19 19:17] 0crat commented on #1388
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-19 19:17] 0crat commented on #1388
The job [#1388](https://github.com/jcabi/jcabi-github/issues/1388) is now out of scope

[2018-04-19 19:29] 0crat commented on #1394
The job [#1394](https://github.com/jcabi/jcabi-github/issues/1394) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C9R53K5JA/1091933408); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-04-22 07:36] 0crat commented on #1346
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-22 10:36] 0crat commented on #1370
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-23 10:55] yegor256 commented on #1346
@0crat out

[2018-04-23 10:56] 0crat commented on #1346
@yegor256 The job is not in WBS, won't close the order

[2018-04-23 10:57] yegor256 commented on #1370
@g4s8 do you want to contribute? Please, do.

[2018-04-23 10:57] yegor256 commented on #1370
@0crat out

[2018-04-23 10:57] 0crat commented on #1370
@yegor256 The job is not in WBS, won't close the order

[2018-04-23 14:25] llorllale commented on #1390
@0crat waiting on merge of #1397

[2018-04-23 14:26] 0crat commented on #1390
@llorllale The impediment for [#1390](https://github.com/jcabi/jcabi-github/issues/1390) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-23 15:02] 0pdd commented on #1390
The puzzle `1363-762aa75e` has disappeared from the source code, that's why I closed this issue.

[2018-04-23 15:02] #1390 closed

[2018-04-23 15:02] 0pdd commented on #1363
@llorllale the only puzzle [#1390](https://github.com/jcabi/jcabi-github/issues/1390) is solved here.

[2018-04-23 15:02] #1394 closed

[2018-04-23 15:02] 0pdd commented on #1394
The puzzle `1388-59643c80` has disappeared from the source code, that's why I closed this issue.

[2018-04-23 15:02] 0pdd opened #1399 "RtGistCommentTest.java:57-59: Apply this rule to all..."
The puzzle `1394-59643c80` from #1394 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/485406ec4da1581ec962e943adaa729d2d226766/src/test/java/com/jcabi/github/RtGistCommentTest.java#L57-L59

The puzzle was created by George Aristy on 23-Apr-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" wh

[2018-04-23 15:03] 0pdd commented on #1306
@0pdd the puzzle [#1399](https://github.com/jcabi/jcabi-github/issues/1399) is still not solved; solved: [#1377](https://github.com/jcabi/jcabi-github/issues/1377), [#1388](https://github.com/jcabi/jcabi-github/issues/1388), [#1394](https://github.com/jcabi/jcabi-github/issues/1394).

[2018-04-23 15:03] 0pdd commented on #1377
@0pdd the puzzle [#1399](https://github.com/jcabi/jcabi-github/issues/1399) is still not solved; solved: [#1388](https://github.com/jcabi/jcabi-github/issues/1388), [#1394](https://github.com/jcabi/jcabi-github/issues/1394).

[2018-04-23 15:03] 0crat commented on #1399
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-04-23 15:03] 0pdd commented on #1388
@0pdd the puzzle [#1399](https://github.com/jcabi/jcabi-github/issues/1399) is still not solved; solved: [#1394](https://github.com/jcabi/jcabi-github/issues/1394).

[2018-04-23 15:03] 0pdd commented on #1394
@0pdd the puzzle [#1399](https://github.com/jcabi/jcabi-github/issues/1399) is still not solved.

[2018-04-23 15:03] 0crat commented on #1399
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-23 15:03] 0crat commented on #1399
Job [#1399](https://github.com/jcabi/jcabi-github/issues/1399) is now in scope, role is `DEV`

[2018-04-23 15:11] llorllale commented on #1395
@amihaiemil I guess we can close this?

[2018-04-23 15:17] 0crat commented on #1390
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-23 15:17] 0crat commented on #1390
The job [#1390](https://github.com/jcabi/jcabi-github/issues/1390) is now out of scope

[2018-04-23 15:18] 0crat commented on #1394
The job [#1394](https://github.com/jcabi/jcabi-github/issues/1394) is now out of scope

[2018-04-23 15:20] 0crat commented on #1399
The job [#1399](https://github.com/jcabi/jcabi-github/issues/1399) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C9R53K5JA/1131527228); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-04-24 19:38] 0crat commented on #1395
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-24 19:39] llorllale commented on #1395
@0crat waiting for ticket reporter to close the issue

[2018-04-24 19:39] llorllale commented on #1395
@amihaiemil can we close this?

[2018-04-24 19:42] 0crat commented on #1395
@llorllale The impediment for [#1395](https://github.com/jcabi/jcabi-github/issues/1395) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-24 19:42] #1395 closed

[2018-04-24 19:58] 0crat commented on #1395
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-24 19:58] 0crat commented on #1395
The job [#1395](https://github.com/jcabi/jcabi-github/issues/1395) is now out of scope

[2018-04-25 08:07] 0pdd opened #1400 "User.java:97-98: Refactor so that this returns a..."
The puzzle `1304-bb172082` from #1304 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/5ded5a2945840694fc106994de7a374ee8968c8c/src/main/java/com/jcabi/github/User.java#L97-L98

The puzzle was created by Mihai A on 25-Apr-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is f

[2018-04-25 08:08] 0crat commented on #1400
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-04-25 08:08] 0crat commented on #1400
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-25 08:08] 0crat commented on #1400
Job [#1400](https://github.com/jcabi/jcabi-github/issues/1400) is now in scope, role is `DEV`

[2018-04-25 08:08] 0pdd opened #1401 "RtUserTest.java:484-488: Un-ignore this test and..."
The puzzle `1304-efe7c280` from #1304 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/5ded5a2945840694fc106994de7a374ee8968c8c/src/test/java/com/jcabi/github/RtUserTest.java#L484-L488

The puzzle was created by Mihai A on 25-Apr-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the prob

[2018-04-25 08:08] 0pdd commented on #913
@GUIpsp 8 puzzles [#unknown](), [#unknown](), [#unknown](), [#unknown](), [#unknown](), [#unknown](), [#unknown](), [#unknown]() are still not solved; solved: [#920](https://github.com/jcabi/jcabi-github/issues/920).

[2018-04-25 08:08] 0pdd commented on #1304
@0pdd 2 puzzles [#1400](https://github.com/jcabi/jcabi-github/issues/1400), [#1401](https://github.com/jcabi/jcabi-github/issues/1401) are still not solved.

[2018-04-25 08:08] 0crat commented on #1401
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-04-25 08:08] 0crat commented on #1401
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-25 08:08] 0crat commented on #1401
Job [#1401](https://github.com/jcabi/jcabi-github/issues/1401) is now in scope, role is `DEV`

[2018-04-25 08:10] 0crat commented on #1400
The job [#1400](https://github.com/jcabi/jcabi-github/issues/1400) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C9R53K5JA/1150821099); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-04-27 14:35] 0crat commented on #1346
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.htm

[2018-04-27 14:36] 0crat commented on #1370
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.htm

[2018-04-28 18:38] 0crat commented on #1399
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-30 08:38] 0crat commented on #1400
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-30 21:46] llorllale commented on #1399
@0crat waiting on review for PR #1402

[2018-04-30 21:49] 0crat commented on #1399
@llorllale The impediment for [#1399](https://github.com/jcabi/jcabi-github/issues/1399) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-01 16:01] llorllale commented on #1390
@amihaiemil any idea when this one will be released?

[2018-05-03 03:35] 0crat commented on #1346
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.htm

[2018-05-03 03:36] 0crat commented on #1370
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.htm

[2018-05-04 08:27] rultor commented on #1363
@amihaiemil @llorllale Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14434-386534259) (spent 8min)

[code]

[2018-05-04 08:37] 0crat commented on #1304
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-04 08:37] 0crat commented on #1304
The job [#1304](https://github.com/jcabi/jcabi-github/issues/1304) is now out of scope

[2018-05-04 08:46] amihaiemil opened #1403 "Checkstyle failures again"
Qulice seems to complain again about some checkstyle rules, see [here](https://github.com/jcabi/jcabi-github/issues/1363#issuecomment-386536107)

[2018-05-04 08:46] 0crat commented on #1403
Job [#1403](https://github.com/jcabi/jcabi-github/issues/1403) is now in scope, role is `DEV`

[2018-05-04 08:48] 0crat commented on #1403
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-05 20:56] llorllale commented on #1400
@0crat waiting

[2018-05-05 20:57] 0crat commented on #1400
@llorllale The impediment for [#1400](https://github.com/jcabi/jcabi-github/issues/1400) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-06 08:32] 0pdd commented on #1399
The puzzle `1394-59643c80` has disappeared from the source code, that's why I closed this issue.

[2018-05-06 08:32] #1399 closed

[2018-05-06 08:32] 0pdd opened #1404 "RtGistCommentTest.java:57-59: Apply this rule to all..."
The puzzle `1399-59643c80` from #1399 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/d0240c18e0c8601fd8921e20e5f5465ddf004ba2/src/test/java/com/jcabi/github/RtGistCommentTest.java#L57-L59

The puzzle was created by George Aristy on 30-Apr-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the prob

[2018-05-06 08:32] 0pdd commented on #1306
@0pdd the puzzle [#1404](https://github.com/jcabi/jcabi-github/issues/1404) is still not solved; solved: [#1377](https://github.com/jcabi/jcabi-github/issues/1377), [#1388](https://github.com/jcabi/jcabi-github/issues/1388), [#1394](https://github.com/jcabi/jcabi-github/issues/1394), [#1399](https://github.com/jcabi/jcabi-github/issues/1399).

[2018-05-06 08:32] 0pdd commented on #1377
@0pdd the puzzle [#1404](https://github.com/jcabi/jcabi-github/issues/1404) is still not solved; solved: [#1388](https://github.com/jcabi/jcabi-github/issues/1388), [#1394](https://github.com/jcabi/jcabi-github/issues/1394), [#1399](https://github.com/jcabi/jcabi-github/issues/1399).

[2018-05-06 08:32] 0pdd commented on #1388
@0pdd the puzzle [#1404](https://github.com/jcabi/jcabi-github/issues/1404) is still not solved; solved: [#1394](https://github.com/jcabi/jcabi-github/issues/1394), [#1399](https://github.com/jcabi/jcabi-github/issues/1399).

[2018-05-06 08:32] 0pdd commented on #1394
@0pdd the puzzle [#1404](https://github.com/jcabi/jcabi-github/issues/1404) is still not solved; solved: [#1399](https://github.com/jcabi/jcabi-github/issues/1399).

[2018-05-06 08:32] 0pdd commented on #1399
@0pdd the puzzle [#1404](https://github.com/jcabi/jcabi-github/issues/1404) is still not solved.

[2018-05-06 08:32] 0crat commented on #1404
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-05-06 08:32] 0crat commented on #1404
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-06 08:34] 0crat commented on #1404
Job [#1404](https://github.com/jcabi/jcabi-github/issues/1404) is now in scope, role is `DEV`

[2018-05-06 08:51] 0crat commented on #1399
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-06 08:51] 0crat commented on #1399
The job [#1399](https://github.com/jcabi/jcabi-github/issues/1399) is now out of scope

[2018-05-06 08:57] 0crat commented on #1401
The job [#1401](https://github.com/jcabi/jcabi-github/issues/1401) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C9R53K5JA/1260896007); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-05-06 12:28] llorllale commented on #1400
@0crat waiting on review for #1405

[2018-05-06 12:30] 0crat commented on #1400
@llorllale Job [#1400](https://github.com/jcabi/jcabi-github/issues/1400) is already on hold

[2018-05-07 06:26] 0pdd commented on #1400
The puzzle `1304-bb172082` has disappeared from the source code, that's why I closed this issue.

[2018-05-07 06:26] #1400 closed

[2018-05-07 06:26] 0pdd opened #1406 "RtRepo.java:187-189: Need to instantiate this..."
The puzzle `1400-f2b1cfe2` from #1400 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/c6b49d93ca55fe54ddf73f881ef7bb033135aa62/src/main/java/com/jcabi/github/RtRepo.java#L187-L189

The puzzle was created by George Aristy on 06-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fi

[2018-05-07 06:26] 0crat commented on #1406
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-05-07 06:26] 0crat commented on #1406
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-07 06:27] 0pdd opened #1407 "MkUser.java:134-135: Properly instantiate this..."
The puzzle `1400-0e160381` from #1400 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/c6b49d93ca55fe54ddf73f881ef7bb033135aa62/src/main/java/com/jcabi/github/mock/MkUser.java#L134-L135

The puzzle was created by George Aristy on 06-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem

[2018-05-07 06:27] 0pdd commented on #1304
@0pdd 3 puzzles [#1401](https://github.com/jcabi/jcabi-github/issues/1401), [#1406](https://github.com/jcabi/jcabi-github/issues/1406), [#1407](https://github.com/jcabi/jcabi-github/issues/1407) are still not solved; solved: [#1400](https://github.com/jcabi/jcabi-github/issues/1400).

[2018-05-07 06:27] 0pdd commented on #1400
@0pdd 2 puzzles [#1406](https://github.com/jcabi/jcabi-github/issues/1406), [#1407](https://github.com/jcabi/jcabi-github/issues/1407) are still not solved.

[2018-05-07 06:27] 0crat commented on #1407
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-05-07 06:27] 0crat commented on #1407
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-07 06:27] 0crat commented on #1406
Job [#1406](https://github.com/jcabi/jcabi-github/issues/1406) is now in scope, role is `DEV`

[2018-05-07 06:27] 0crat commented on #1407
Job [#1407](https://github.com/jcabi/jcabi-github/issues/1407) is now in scope, role is `DEV`

[2018-05-07 06:42] 0crat commented on #1400
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-07 06:42] 0crat commented on #1400
The job [#1400](https://github.com/jcabi/jcabi-github/issues/1400) is now out of scope

[2018-05-07 06:45] 0crat commented on #1403
The job [#1403](https://github.com/jcabi/jcabi-github/issues/1403) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C9R53K5JA/1270675877); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-05-08 05:35] 0crat commented on #1346
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.htm

[2018-05-08 05:36] 0crat commented on #1370
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.htm

[2018-05-08 17:28] llorllale commented on #1401
@amihaiemil what's wrong with using `FkRequest`?

[2018-05-08 17:39] llorllale commented on #1403
@amihaiemil I believe I fixed these in #1405

[2018-05-08 17:40] llorllale commented on #1403
@0crat waiting

[2018-05-08 17:43] amihaiemil commented on #1403
@llorllale I see, ok :)

[2018-05-08 17:43] #1403 closed

[2018-05-08 17:46] 0crat commented on #1403
@llorllale The impediment for [#1403](https://github.com/jcabi/jcabi-github/issues/1403) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-08 17:47] amihaiemil commented on #1401
@llorllale I think ``FkRequest`` does not give you the option to specify the URI, it just calls ``localhost:80``, I believe. But if you use MkGrizzly http server, then you can mock URIs and their responses, and just use ``ApacheRequest`` with ``localhost:{grizzly_port}/mock/path`` to fake the request and get the response.

This task originated from [this](https://github.com/jcabi/jcabi-github/pull

[2018-05-08 17:48] amihaiemil commented on #1401
@llorllale nevertheless, do it as simple as possible. If you find a way of using ``FkRequest`` and don't need the mock server, do it like that, I have no problem :D Just don't forget about PDD. This can be a research task as well, if you must study how ``MkGrizzly`` works in other tests.

[2018-05-08 18:06] 0crat commented on #1403
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-08 18:07] 0crat commented on #1403
The job [#1403](https://github.com/jcabi/jcabi-github/issues/1403) is now out of scope

[2018-05-08 18:17] 0crat commented on #1404
The job [#1404](https://github.com/jcabi/jcabi-github/issues/1404) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C9R53K5JA/1281817584); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-05-10 17:38] andrachiorcea opened #1408 "How are you?"
Please tell me...

[2018-05-10 17:38] andrachiorcea commented on #1408
My first comment!

[2018-05-10 17:39] 0crat commented on #1408
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-05-10 17:39] 0crat commented on #1408
@andrachiorcea[/z](https://www.0crat.com/u/andrachiorcea) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-10 17:42] andrachiorcea opened #1409 "How are you?"
Please tell me...

[2018-05-10 17:42] andrachiorcea commented on #1409
My first comment!

[2018-05-10 17:42] 0crat commented on #1409
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-05-10 17:42] 0crat commented on #1409
@andrachiorcea[/z](https://www.0crat.com/u/andrachiorcea) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-10 17:58] andrachiorcea opened #1410 "How are you?"
Please tell me...

[2018-05-10 17:58] andrachiorcea commented on #1410
My first comment!

[2018-05-10 17:58] 0crat commented on #1410
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-05-10 17:58] 0crat commented on #1410
@andrachiorcea[/z](https://www.0crat.com/u/andrachiorcea) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-10 18:09] #1410 closed

[2018-05-10 18:09] #1408 closed

[2018-05-10 18:25] 0crat commented on #1409
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): CID: 1301817849, Type: 'Close job', Author: amihaiemil

[2018-05-11 09:36] 0crat commented on #1401
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-12 21:08] llorllale commented on #1363
@amihaiemil maybe try releasing again? #1405 was merged after this release attempt

[2018-05-12 21:09] amihaiemil commented on #1363
@rultor release it, tag is `0.39`

[2018-05-12 21:11] rultor commented on #1363
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14434-388583091)

[2018-05-13 06:36] 0crat commented on #1346
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.htm

[2018-05-13 06:36] 0crat commented on #1370
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.htm

[2018-05-13 12:38] llorllale commented on #1363
@amihaiemil thanks!

[2018-05-13 19:37] 0crat commented on #1404
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-14 13:25] 0crat commented on #1370
@yegor256 The job is not in WBS, won't close the order

[2018-05-14 20:06] llorllale commented on #1401
@0crat waiting on review/merge for #1411

[2018-05-14 20:12] 0crat commented on #1401
@llorllale The impediment for [#1401](https://github.com/jcabi/jcabi-github/issues/1401) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-14 20:17] llorllale commented on #1404
@0crat waiting on review/merge of #1412

[2018-05-14 20:19] 0crat commented on #1404
@llorllale The impediment for [#1404](https://github.com/jcabi/jcabi-github/issues/1404) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-14 20:27] 0crat commented on #1406
The job [#1406](https://github.com/jcabi/jcabi-github/issues/1406) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C9R53K5JA/1342026514); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-05-14 20:35] 0crat commented on #1407
The job [#1407](https://github.com/jcabi/jcabi-github/issues/1407) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C9R53K5JA/1342034689); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-05-15 08:50] #1404 closed

[2018-05-15 08:50] 0pdd commented on #1404
The puzzle `1399-59643c80` has disappeared from the source code, that's why I closed this issue.

[2018-05-15 08:50] 0pdd commented on #1306
@0pdd all 5 puzzles are solved here: [#1377](https://github.com/jcabi/jcabi-github/issues/1377), [#1388](https://github.com/jcabi/jcabi-github/issues/1388), [#1394](https://github.com/jcabi/jcabi-github/issues/1394), [#1399](https://github.com/jcabi/jcabi-github/issues/1399), [#1404](https://github.com/jcabi/jcabi-github/issues/1404).

[2018-05-15 08:50] 0pdd commented on #1377
@0pdd all 4 puzzles are solved here: [#1388](https://github.com/jcabi/jcabi-github/issues/1388), [#1394](https://github.com/jcabi/jcabi-github/issues/1394), [#1399](https://github.com/jcabi/jcabi-github/issues/1399), [#1404](https://github.com/jcabi/jcabi-github/issues/1404).

[2018-05-15 08:50] 0pdd commented on #1388
@0pdd all 3 puzzles are solved here: [#1394](https://github.com/jcabi/jcabi-github/issues/1394), [#1399](https://github.com/jcabi/jcabi-github/issues/1399), [#1404](https://github.com/jcabi/jcabi-github/issues/1404).

[2018-05-15 08:50] 0pdd commented on #1394
@0pdd all 2 puzzles are solved here: [#1399](https://github.com/jcabi/jcabi-github/issues/1399), [#1404](https://github.com/jcabi/jcabi-github/issues/1404).

[2018-05-15 08:50] 0pdd commented on #1399
@0pdd the only puzzle [#1404](https://github.com/jcabi/jcabi-github/issues/1404) is solved here.

[2018-05-15 09:04] 0pdd commented on #1401
The puzzle `1304-efe7c280` has disappeared from the source code, that's why I closed this issue.

[2018-05-15 09:04] #1401 closed

[2018-05-15 09:04] 0pdd commented on #1304
@0pdd 2 puzzles [#1406](https://github.com/jcabi/jcabi-github/issues/1406), [#1407](https://github.com/jcabi/jcabi-github/issues/1407) are still not solved; solved: [#1400](https://github.com/jcabi/jcabi-github/issues/1400), [#1401](https://github.com/jcabi/jcabi-github/issues/1401).

[2018-05-15 09:10] 0crat commented on #1404
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-15 09:10] 0crat commented on #1404
The job [#1404](https://github.com/jcabi/jcabi-github/issues/1404) is now out of scope

[2018-05-16 17:50] tarunngc opened #1413 "Github Enterprise Support?"
Does this library have the ability to support enterprise hosted GitHub and its api?

Looking at the code briefly it seems that the public GitHub URL is hard coded in RtGithub.java

[2018-05-16 17:50] 0crat commented on #1413
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-05-16 17:50] 0crat commented on #1413
@tarunngc[/z](https://www.0crat.com/u/tarunngc) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-16 20:02] amihaiemil commented on #1413
@tarunngc If Github Enterprise offers the same API as the normal Github then yes, you should be able to use it.

``RtGithub`` has a ctor where you can pass a ``Request``, see [here](https://github.com/jcabi/jcabi-github/blob/04e0bb106c2b183e971f23fc046027e1898a60ba/src/main/java/com/jcabi/github/RtGithub.java#L147). Just study ``RtGithub``'s constructors to see how to build that jcabi-http Request

[2018-05-18 07:35] 0crat commented on #1346
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at [#1346](https://github.com/jcabi/jcabi-github/issues/1346); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scop

[2018-05-18 07:35] 0crat commented on #1370
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at [#1370](https://github.com/jcabi/jcabi-github/issues/1370); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scop

[2018-05-18 17:31] collinpeters opened #1414 "Cannot return mock response with MkGitHub.entry"
Since `MkGitHub` is a final class it cannot be extended and since the `entry` method returns an immutable `FakeRequest` it can't be changed. I don't see any recourse here, how are you supposed to mock `entry()`?

For the record, I need `entry()` in order to use the endpoints for Apps. See here: https://developer.github.com/apps/building-github-apps/authenticating-with-github-apps/#authenticating-a

[2018-05-18 17:31] 0crat commented on #1414
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-05-18 17:31] 0crat commented on #1414
@collinpeters[/z](https://www.0crat.com/u/collinpeters) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-18 18:09] amihaiemil commented on #1414
@collinpeters The ``Mk*`` classes are basically an out-of-the-box mock of the Github API, you do not mock those classes. They are final because they are not supposed to be extended (we believe that implementation inheritance is a bad practice in OOP).

If you need them to have some other behaviour, you can always decorate them (all the classes are implementing interfaces). Or, if you can't change

[2018-05-18 20:37] collinpeters commented on #1414
Understood @amihaiemil. Was hoping there was a `MkEntry` which would allow for mocking of the json returned by the `FakeRequest` currently returned by `MkGitHub.entry()`.

Something like
[code]

[2018-05-18 20:37] #1414 closed

[2018-05-18 20:52] 0crat commented on #1414
The job is not in WBS, won't close the order

[2018-05-20 00:35] 0crat commented on #1406
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-20 00:36] 0crat commented on #1407
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-23 09:36] 0crat commented on #1346
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1346](https://github.com/jcabi/jcabi-github/issues/1346); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2018-05-23 09:36] 0crat commented on #1370
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1370](https://github.com/jcabi/jcabi-github/issues/1370); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2018-05-23 14:42] 0crat commented on #1406
@llorllale The impediment for [#1406](https://github.com/jcabi/jcabi-github/issues/1406) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-23 15:03] #1406 closed

[2018-05-23 15:03] 0pdd commented on #1406
The puzzle `1400-f2b1cfe2` has disappeared from the source code, that's why I closed this issue.

[2018-05-23 15:03] 0pdd commented on #1304
@0pdd the puzzle [#1407](https://github.com/jcabi/jcabi-github/issues/1407) is still not solved; solved: [#1400](https://github.com/jcabi/jcabi-github/issues/1400), [#1401](https://github.com/jcabi/jcabi-github/issues/1401), [#1406](https://github.com/jcabi/jcabi-github/issues/1406).

[2018-05-23 15:03] 0pdd commented on #1400
@0pdd the puzzle [#1407](https://github.com/jcabi/jcabi-github/issues/1407) is still not solved; solved: [#1406](https://github.com/jcabi/jcabi-github/issues/1406).

[2018-05-23 15:20] 0crat commented on #1406
The job [#1406](https://github.com/jcabi/jcabi-github/issues/1406) is now out of scope

[2018-05-23 15:21] llorllale commented on #1407
@0crat waiting on review/merge for #1416

[2018-05-23 15:22] 0crat commented on #1407
@llorllale The impediment for [#1407](https://github.com/jcabi/jcabi-github/issues/1407) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-28 10:36] 0crat commented on #1346
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1346](https://github.com/jcabi/jcabi-github/issues/1346); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2018-05-28 10:36] 0crat commented on #1370
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1370](https://github.com/jcabi/jcabi-github/issues/1370); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2018-05-30 15:37] 0pdd opened #1417 "MkNotificationsTest.java:43-44: Implement more tests for..."
The puzzle `1407-c6bf1da3` from #1407 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/dfe7f7cf3d5bfc6318ff2b284e9f04c66afe32cd/src/test/java/com/jcabi/github/mock/MkNotificationsTest.java#L43-L44

The puzzle was created by George Aristy on 23-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when t

[2018-05-30 15:38] 0pdd opened #1418 "MkNotification.java:43: Implement tests for..."
The puzzle `1407-bd218f2f` from #1407 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/dfe7f7cf3d5bfc6318ff2b284e9f04c66afe32cd/src/main/java/com/jcabi/github/mock/MkNotification.java#L43-L43

The puzzle was created by George Aristy on 23-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the pr

[2018-05-30 15:38] 0crat commented on #1418
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-05-30 15:38] 0pdd commented on #1304
@0pdd 2 puzzles [#1417](https://github.com/jcabi/jcabi-github/issues/1417), [#1418](https://github.com/jcabi/jcabi-github/issues/1418) are still not solved; solved: [#1400](https://github.com/jcabi/jcabi-github/issues/1400), [#1401](https://github.com/jcabi/jcabi-github/issues/1401), [#1406](https://github.com/jcabi/jcabi-github/issues/1406), [#1407](https://github.com/jcabi/jcabi-github/issues/14

[2018-05-30 15:38] 0pdd commented on #1400
@0pdd 2 puzzles [#1417](https://github.com/jcabi/jcabi-github/issues/1417), [#1418](https://github.com/jcabi/jcabi-github/issues/1418) are still not solved; solved: [#1406](https://github.com/jcabi/jcabi-github/issues/1406), [#1407](https://github.com/jcabi/jcabi-github/issues/1407).

[2018-05-30 15:38] 0pdd commented on #1407
@0pdd 2 puzzles [#1417](https://github.com/jcabi/jcabi-github/issues/1417), [#1418](https://github.com/jcabi/jcabi-github/issues/1418) are still not solved.

[2018-05-30 15:40] 0crat commented on #1417
Job [#1417](https://github.com/jcabi/jcabi-github/issues/1417) is now in scope, role is `DEV`

[2018-05-30 15:40] 0crat commented on #1418
Job [#1418](https://github.com/jcabi/jcabi-github/issues/1418) is now in scope, role is `DEV`

[2018-05-30 15:43] 0crat commented on #1417
The job [#1417](https://github.com/jcabi/jcabi-github/issues/1417) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C9R53K5JA/1501560020); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-05-30 15:45] 0crat commented on #1418
The job [#1418](https://github.com/jcabi/jcabi-github/issues/1418) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C9R53K5JA/1501563106); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-06-02 11:36] 0crat commented on #1346
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1346](https://github.com/jcabi/jcabi-github/issues/1346); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2018-06-02 11:36] 0crat commented on #1370
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1370](https://github.com/jcabi/jcabi-github/issues/1370); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2018-06-04 16:37] 0crat commented on #1417
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-04 16:39] 0crat commented on #1418
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-06 13:31] llorllale commented on #1417
@0crat waiting on review/merge of PR #1419

[2018-06-06 13:32] 0crat commented on #1417
@llorllale The impediment for [#1417](https://github.com/jcabi/jcabi-github/issues/1417) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-06-06 13:59] llorllale commented on #1418
@0crat waiting on review/merge of PR #1420

[2018-06-06 13:59] 0crat commented on #1418
@llorllale The impediment for [#1418](https://github.com/jcabi/jcabi-github/issues/1418) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-06-07 12:36] 0crat commented on #1346
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1346](https://github.com/jcabi/jcabi-github/issues/1346); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2018-06-07 12:36] 0crat commented on #1370
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1370](https://github.com/jcabi/jcabi-github/issues/1370); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2018-06-08 14:37] g4s8 opened #1421 "Can't create private repo with MkGihub"
`MkGithub.repos.create()` ignores `private` flag and always create public repository.
Here is test to reproduce:
[code]

[2018-06-08 14:37] 0crat commented on #1421
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-06-08 14:37] 0crat commented on #1421
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-12 16:58] #1417 closed

[2018-06-12 16:58] 0pdd commented on #1417
The puzzle `1407-c6bf1da3` has disappeared from the source code, that's why I closed this issue.

[2018-06-12 16:58] 0pdd commented on #1304
@0pdd the puzzle [#1418](https://github.com/jcabi/jcabi-github/issues/1418) is still not solved; solved: [#1400](https://github.com/jcabi/jcabi-github/issues/1400), [#1401](https://github.com/jcabi/jcabi-github/issues/1401), [#1406](https://github.com/jcabi/jcabi-github/issues/1406), [#1407](https://github.com/jcabi/jcabi-github/issues/1407), [#1417](https://github.com/jcabi/jcabi-github/issues/14

[2018-06-12 16:58] 0pdd commented on #1400
@0pdd the puzzle [#1418](https://github.com/jcabi/jcabi-github/issues/1418) is still not solved; solved: [#1406](https://github.com/jcabi/jcabi-github/issues/1406), [#1407](https://github.com/jcabi/jcabi-github/issues/1407), [#1417](https://github.com/jcabi/jcabi-github/issues/1417).

[2018-06-12 16:58] 0pdd commented on #1407
@0pdd the puzzle [#1418](https://github.com/jcabi/jcabi-github/issues/1418) is still not solved; solved: [#1417](https://github.com/jcabi/jcabi-github/issues/1417).

[2018-06-12 16:58] 0pdd commented on #1418
The puzzle `1407-bd218f2f` has disappeared from the source code, that's why I closed this issue.

[2018-06-12 16:58] #1418 closed

[2018-06-12 16:59] 0pdd commented on #1304
@0pdd all 6 puzzles are solved here: [#1400](https://github.com/jcabi/jcabi-github/issues/1400), [#1401](https://github.com/jcabi/jcabi-github/issues/1401), [#1406](https://github.com/jcabi/jcabi-github/issues/1406), [#1407](https://github.com/jcabi/jcabi-github/issues/1407), [#1417](https://github.com/jcabi/jcabi-github/issues/1417), [#1418](https://github.com/jcabi/jcabi-github/issues/1418).

[2018-06-12 16:59] 0pdd commented on #1400
@0pdd all 4 puzzles are solved here: [#1406](https://github.com/jcabi/jcabi-github/issues/1406), [#1407](https://github.com/jcabi/jcabi-github/issues/1407), [#1417](https://github.com/jcabi/jcabi-github/issues/1417), [#1418](https://github.com/jcabi/jcabi-github/issues/1418).

[2018-06-12 16:59] 0pdd commented on #1407
@0pdd all 2 puzzles are solved here: [#1417](https://github.com/jcabi/jcabi-github/issues/1417), [#1418](https://github.com/jcabi/jcabi-github/issues/1418).

[2018-06-12 17:05] amihaiemil commented on #1421
@g4s8 thanks, we'll look into it

[2018-06-12 17:07] 0crat commented on #1421
Job [#1421](https://github.com/jcabi/jcabi-github/issues/1421) is now in scope, role is `DEV`

[2018-06-12 17:09] 0crat commented on #1421
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-12 17:14] 0crat commented on #1421
The job [#1421](https://github.com/jcabi/jcabi-github/issues/1421) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C9R53K5JA/1631712607); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-06-12 17:27] 0crat commented on #1418
Order was finished: +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-06-12 17:27] 0crat commented on #1418
The job [#1418](https://github.com/jcabi/jcabi-github/issues/1418) is now out of scope

[2018-06-12 17:39] 0crat commented on #1346
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1346](https://github.com/jcabi/jcabi-github/issues/1346); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2018-06-12 17:39] 0crat commented on #1370
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1370](https://github.com/jcabi/jcabi-github/issues/1370); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2018-06-15 01:24] fanmeilexiu opened #1422 "How are you?"
Please tell me...

[2018-06-17 17:36] 0crat commented on #1421
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-18 00:37] 0crat commented on #1346
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1346](https://github.com/jcabi/jcabi-github/issues/1346); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2018-06-18 00:37] 0crat commented on #1370
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1370](https://github.com/jcabi/jcabi-github/issues/1370); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2018-06-19 13:36] llorllale commented on #1421
@0crat waiting on review/merge of PR #1423

[2018-06-19 13:47] 0crat commented on #1421
@llorllale The impediment for [#1421](https://github.com/jcabi/jcabi-github/issues/1421) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-06-19 14:04] amihaiemil commented on #1421
@0crat boost x4

[2018-06-20 07:40] amihaiemil commented on #1421
@0crat boost 4x

[2018-06-20 07:40] 0crat commented on #1421
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.6](https://github.com/zerocracy/farm): Issue: jcabi/jcabi-github#1421, Comment: 398410675

[2018-06-20 07:40] 0crat commented on #1421
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.6](https://github.com/zerocracy/farm): Issue: jcabi/jcabi-github#1421, Action: `created`

[2018-06-20 07:41] 0crat commented on #1421
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.6](https://github.com/zerocracy/farm): Issue: jcabi/jcabi-github#1421, Comment: 398655016

[2018-06-20 07:41] 0crat commented on #1421
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.6](https://github.com/zerocracy/farm): Issue: jcabi/jcabi-github#1421, Action: `created`

[2018-06-20 07:41] 0crat commented on #1421
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.6](https://github.com/zerocracy/farm): Issue: jcabi/jcabi-github#1421, Action: `created`

[2018-06-20 07:43] 0crat commented on #1421
@amihaiemil Argument "x4" doesn't match regex `\d+x`

[2018-06-20 07:50] amihaiemil commented on #1421
@0crat boost 4x

[2018-06-20 07:51] 0crat commented on #1421
@amihaiemil Boost 4x was set for [#1421](https://github.com/jcabi/jcabi-github/issues/1421)

[2018-06-20 07:51] g4s8 commented on #1421
@0crat status

[2018-06-20 07:51] 0crat commented on #1421
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-06-20 07:52] 0crat commented on #1421
@g4s8 This is what I know about this job in [C9R53K5JA](https://www.0crat.com/p/C9R53K5JA), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1421](https://github.com/jcabi/jcabi-github/issues/1421) is [in scope](http://www.zerocracy.com/policy.html#14) for 8days
  * The role is `DEV`
  * The job is assigned to @llorllale[/z](https://www.0crat.com/u/llorllale) for [8days](http:/

[2018-06-20 08:09] amihaiemil commented on #1421
@rultor release it, tag is `0.40`

[2018-06-20 08:12] rultor commented on #1421
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15007-398662512)

[2018-06-20 08:35] rultor commented on #1421
@amihaiemil @g4s8 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15007-398662512) (spent 23min)

[code]

[2018-06-20 10:02] #1422 closed

[2018-06-20 10:02] amihaiemil commented on #1421
@rultor try to release again, tag is `0.40`

[2018-06-20 10:05] rultor commented on #1421
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15007-398695375)

[2018-06-20 10:34] 0crat commented on #1422
Job `gh:jcabi/jcabi-github#1422` is not assigned, can't get performer

[2018-06-20 10:37] 0crat commented on #1422
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.7](https://github.com/zerocracy/farm): CID: [1711006599](https://www.0crat.com/C9R53K5JA/1711006599), Type: "Close job", Author: "amihaiemil"

[2018-06-20 10:50] llorllale commented on #1421
@amihaiemil relevant part of error:

[2018-06-20 10:52] amihaiemil commented on #1421
@llorllale I know, but I have no idea what that means. Maybe the release to maven central has been performed on the first trial (there, it seems to have been a timeout issue), and now it won't allow overriding. let's try ``0.41``....

[2018-06-20 10:57] amihaiemil commented on #1421
@rultor release, tag is `0.41`

[2018-06-20 10:59] rultor commented on #1421
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15007-398709529)

[2018-06-20 12:29] amihaiemil commented on #1421
@g4s8 Version ``0.41``, containing the fix, is now released. Can you close this?

[2018-06-23 01:36] 0crat commented on #1346
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1346](https://github.com/jcabi/jcabi-github/issues/1346); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2018-06-23 01:36] 0crat commented on #1370
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1370](https://github.com/jcabi/jcabi-github/issues/1370); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2018-06-28 02:37] 0crat commented on #1346
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1346](https://github.com/jcabi/jcabi-github/issues/1346); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2018-06-28 02:37] 0crat commented on #1370
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1370](https://github.com/jcabi/jcabi-github/issues/1370); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2018-06-29 07:07] g4s8 commented on #1421
@amihaiemil yes, thanks

[2018-06-29 07:07] #1421 closed

[2018-06-29 07:22] 0crat commented on #1421
Order was finished: +60 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-06-29 07:22] 0crat commented on #1421
The job [#1421](https://github.com/jcabi/jcabi-github/issues/1421) is now out of scope

[2018-07-03 03:37] 0crat commented on #1346
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1346](https://github.com/jcabi/jcabi-github/issues/1346); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2018-07-03 03:37] 0crat commented on #1370
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1370](https://github.com/jcabi/jcabi-github/issues/1370); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2018-07-08 04:37] 0crat commented on #1346
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#1346](https://github.com/jcabi/jcabi-github/issues/1346); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope

[2018-07-09 09:44] krzyk opened #1424 "MkPull should return json with json patches"
MkPull doesn't incorporate json patch into the result of `json()` method.

Example failing test, that should pass:
[code]

[2018-07-09 09:44] 0crat commented on #1424
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-07-09 09:44] 0crat commented on #1424
@krzyk[/z](https://www.0crat.com/u/krzyk) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-09 09:49] amihaiemil commented on #1424
@krzyk looks like a bug. Care to contribute with a PR? There is only me and one DEV on this project (which has no funds), so I doubt we'll be able to fix it soon : D

[2018-07-09 09:56] krzyk commented on #1424
@amihaiemil I'll try :)

[2018-07-09 09:57] amihaiemil commented on #1424
@0crat assign @krzyk

[2018-07-09 09:57] amihaiemil commented on #1424
@krzyk you should at least get rep points, I think

[2018-07-09 09:59] 0crat commented on #1424
Job [#1424](https://github.com/jcabi/jcabi-github/issues/1424) is now in scope, role is `DEV`

[2018-07-09 10:00] 0crat commented on #1424
@amihaiemil The job [#1424](https://github.com/jcabi/jcabi-github/issues/1424) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C9R53K5JA/1900974068); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-07-09 10:00] 0crat commented on #1424
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-09 10:01] 0crat commented on #1424
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-07-09 10:01] 0crat commented on #1424
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-07-14 12:41] 0crat commented on #1424
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-23 10:03] 0crat commented on #1424
The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#1424](https://github.com/jcabi/jcabi-github/issues/1424), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-23 10:03] 0crat commented on #1424
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-23 10:08] 0crat commented on #1424
The job [#1424](https://github.com/jcabi/jcabi-github/issues/1424) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C9R53K5JA/2041019468); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-07-28 10:44] 0crat commented on #1424
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-31 18:03] llorllale commented on #1424
@amihaiemil the problem is inside `MkPull.json()`. It looks for specific xpaths - including the patches - to include in the JSON object. Right now, unless the user applies a patch with the key `"patch"`, then it won't be picked up by the implementation.

Any idea why this is? What should be the proper behavior?

Btw, this was introduced all the way back in PR #1125 (note this foreboding comment!:

[2018-07-31 18:03] llorllale commented on #1424
@0crat waiting for feedback [here](https://github.com/jcabi/jcabi-github/issues/1424#issuecomment-409313715)

[2018-07-31 18:04] 0crat commented on #1424
@llorllale The impediment for [#1424](https://github.com/jcabi/jcabi-github/issues/1424) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-07-31 21:09] paulodamaso opened #1425 "Finish implementation of MkHook"
`MkHook` does not implement all `Hook` interface methods; it throws an `UnsupportedOperationException` when the method `json() ` is called. Please implement this method accordingly and cover `MkHook` with tests.

[2018-07-31 21:09] 0crat commented on #1425
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-07-31 21:09] 0crat commented on #1425
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-08-03 20:44] llorllale commented on #1424
@amihaiemil ping

[2018-08-03 20:47] amihaiemil commented on #1424
@llorllale I am on holiday, with a questionable sobriety, for 2 more weeks. Will have a look afterwards :)

[2018-08-10 07:42] zhangxianweihebei commented on #932
请问现在安卓可以使用吗 @dmarkov

[2018-08-21 00:01] mdfass opened #1426 "How are you?"
Please tell me...

[2018-08-21 00:01] 0crat commented on #1426
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-08-21 00:01] 0crat commented on #1426
@mdfass[/z](https://www.0crat.com/u/mdfass) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-08-21 00:05] mdfass opened #1427 "How are you?"
Please tell me...

[2018-08-21 00:05] 0crat commented on #1427
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-08-21 00:05] 0crat commented on #1427
@mdfass[/z](https://www.0crat.com/u/mdfass) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9R53K5JA) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-08-21 00:05] mdfass commented on #1427
My name is mattF!

[2018-08-21 06:32] #1427 closed

[2018-08-21 06:32] #1426 closed

[2018-08-21 06:42] amihaiemil commented on #1424
@llorllale I'm back.

Well, I think either we leave it like this and user is obliged to use the hardcoded key when patching, or we change the implementation of ``MkPull.json()`` to parse the ``Pull`` xml ([this one](https://github.com/jcabi/jcabi-github/blob/master/src/main/java/com/jcabi/github/mock/MkPull.java#L211) into a JsonObject somehow.

[2018-08-21 06:43] amihaiemil commented on #1425
@paulodamaso thanks for reporting. Interested in contributing with a PR? It's just me, the ARC, and one other DEV on this project which, unfortunately, is not funded :(

[2018-08-21 06:48] 0crat commented on #1427
Job `gh:jcabi/jcabi-github#1427` is not assigned, can't get performer

[2018-08-21 06:48] 0crat commented on #1427
The job is not in WBS, won't close the order

[2018-08-21 06:48] 0crat commented on #1426
Job `gh:jcabi/jcabi-github#1426` is not assigned, can't get performer

[2018-08-21 06:48] 0crat commented on #1426
The job is not in WBS, won't close the order

[2018-08-22 06:47] 0crat commented on #1425
Job [#1425](https://github.com/jcabi/jcabi-github/issues/1425) is now in scope, role is `DEV`

[2018-08-22 06:47] 0crat commented on #1425
The job [#1425](https://github.com/jcabi/jcabi-github/issues/1425) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C9R53K5JA/2340648201); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2018-08-22 06:51] 0crat commented on #1425
Job `gh:jcabi/jcabi-github#1425` already assigned to @paulodamaso, can't assign to @paulodamaso

[2018-08-22 07:15] 0crat commented on #1425
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-22 07:15] 0crat commented on #1425
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-08-22 07:17] 0crat commented on #1425
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-08-27 07:40] 0crat commented on #1425
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-28 06:11] amihaiemil commented on #1425
@paulodamaso feel free to put this task on hold until the CR replies

[2018-08-29 12:10] paulodamaso opened #1429 "Outdated copyright info"
A lot of files have outdated copyright info:
[code]
We should correct this to 2018.

[2018-08-29 12:11] 0crat commented on #1429
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-08-29 12:13] amihaiemil commented on #1429
@paulodamaso If you want to fix it, I will assign it to you. Of course, use grep/sed, don't manually edit all of them :D

[2018-08-29 12:13] 0crat commented on #1429
Job [#1429](https://github.com/jcabi/jcabi-github/issues/1429) is now in scope, role is `DEV`

[2018-08-29 12:18] 0crat commented on #1429
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-29 12:27] 0crat commented on #1429
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-08-29 12:53] 0pdd opened #1430 "MkHook.java:48-52: Implement MkHook#json() method so it..."
The puzzle `1425-24428e93` from #1425 has to be resolved:

https://github.com/jcabi/jcabi-github/blob/10e9ae3c056c58c9e5fa4beaab88631754d704cd/src/main/java/com/jcabi/github/mock/MkHook.java#L48-L52

The puzzle was created by Paulo Lobo on 29-Aug-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fi

[2018-08-29 12:53] 0pdd commented on #1425
@paulodamaso the puzzle [#1430](https://github.com/jcabi/jcabi-github/issues/1430) is still not solved.

[2018-08-29 12:53] 0crat commented on #1430
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2018-08-29 12:57] #1425 closed

[2018-08-29 12:58] paulodamaso commented on #1425
@0crat status

[2018-08-29 13:05] 0crat commented on #1430
Job [#1430](https://github.com/jcabi/jcabi-github/issues/1430) is now in scope, role is `DEV`

[2018-08-29 13:20] 0crat commented on #1425
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-29 13:21] 0crat commented on #1425
The job [#1425](https://github.com/jcabi/jcabi-github/issues/1425) is now out of scope

[2018-08-31 03:38] paulodamaso commented on #1429
@0crat wait for #1431 review

[2018-08-31 03:47] 0crat commented on #1429
@paulodamaso The impediment for [#1429](https://github.com/jcabi/jcabi-github/issues/1429) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-31 06:38] amihaiemil commented on #1424
@0crat assign @paulodamaso

[2018-08-31 06:38] amihaiemil commented on #1370
@0crat assign @paulodamaso

[2018-08-31 06:57] 0crat commented on #1424
@amihaiemil The job [#1424](https://github.com/jcabi/jcabi-github/issues/1424) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C9R53K5JA/2430640155); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2018-08-31 06:57] 0crat commented on #1370
@amihaiemil The job [#1370](https://github.com/jcabi/jcabi-github/issues/1370) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C9R53K5JA/2430640166); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2018-08-31 07:01] 0crat commented on #1424
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-08-31 07:01] 0crat commented on #1370
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-08-31 07:01] 0crat commented on #1370
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-08-31 07:02] 0crat commented on #1430
The job [#1430](https://github.com/jcabi/jcabi-github/issues/1430) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C9R53K5JA/2430701574); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-08-31 12:10] paulodamaso commented on #1429
@0crat out

[2018-08-31 12:11] 0crat commented on #1429
@paulodamaso GitHub issue is still open, won't close

[2018-08-31 12:12] #1429 closed

[2018-08-31 12:29] 0crat commented on #1429
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.32.1](https://github.com/zerocracy/farm): CID: [2431217221](https://www.0crat.com/C9R53K5JA/2431217221), Type: "Close job", Author: "paulodamaso"

[2018-08-31 12:30] 0crat commented on #1429
Job was finished in 47 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-08-31 12:33] paulodamaso commented on #1429
@amihaiemil Looks like something went wrong, please take a look.

[2018-08-31 12:34] 0crat commented on #1429
Order was finished: +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-08-31 12:34] 0crat commented on #1429
The job [#1429](https://github.com/jcabi/jcabi-github/issues/1429) is now out of scope

[2018-08-31 13:06] paulodamaso commented on #1424
@amihaiemil Well, how about returning to the previous implementation (mentioned by @llorllale in https://github.com/jcabi/jcabi-github/pull/1125#discussion_r32560891)? The tests are passing because they have an error too (it'll always pass if we check for a `patch` attribute). WDYT?